<robot name = "robot">
    <link name="0">
        <inertial>
            <origin xyz="0 0 0.7412466640541786" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.7412466640541786" rpy="0 0 0"/>
            <geometry>
                <box size="1.5942589143702381 1.4555774085127737 1.4824933281083572" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.7412466640541786" rpy="0 0 0"/>
            <geometry>
                <box size="1.5942589143702381 1.4555774085127737 1.4824933281083572" />
            </geometry>
        </collision>
    </link>
    <link name="1">
        <inertial>
            <origin xyz="0 0 0.8888691362511636" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.8888691362511636" rpy="0 0 0"/>
            <geometry>
                <box size="1.5919681311582905 1.6691175201362705 1.7777382725023272" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.8888691362511636" rpy="0 0 0"/>
            <geometry>
                <box size="1.5919681311582905 1.6691175201362705 1.7777382725023272" />
            </geometry>
        </collision>
    </link>
    <joint name="0_1" type="revolute">
       <parent link="0"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="0 0 1.4824933281083572" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="2">
        <inertial>
            <origin xyz="0 0 0.7139452956964307" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.7139452956964307" rpy="0 0 0"/>
            <geometry>
                <box size="1.754615082937687 1.8118451567874496 1.4278905913928615" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.7139452956964307" rpy="0 0 0"/>
            <geometry>
                <box size="1.754615082937687 1.8118451567874496 1.4278905913928615" />
            </geometry>
        </collision>
    </link>
    <joint name="1_2" type="revolute">
       <parent link="1"/>
       <child  link="2"/>
       <origin rpy="0 0 0" xyz="0 0 1.7777382725023272" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="3">
        <inertial>
            <origin xyz="-0.775404199574769 0 0.7232455625535688" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.775404199574769 0 0.7232455625535688" rpy="0 0 0"/>
            <geometry>
                <box size="1.550808399149538 1.0988471447674804 1.4464911251071375" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.775404199574769 0 0.7232455625535688" rpy="0 0 0"/>
            <geometry>
                <box size="1.550808399149538 1.0988471447674804 1.4464911251071375" />
            </geometry>
        </collision>
    </link>
    <joint name="2_3" type="revolute">
       <parent link="2"/>
       <child  link="3"/>
       <origin rpy="0 0 0" xyz="-0.8773075414688435 0 0" />
     <axis xyz="0 -1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="4">
        <inertial>
            <origin xyz="-0.6596058345931266 0 0.7675908978509121" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.6596058345931266 0 0.7675908978509121" rpy="0 0 0"/>
            <geometry>
                <box size="1.3192116691862532 1.0624527491798126 1.5351817957018241" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.6596058345931266 0 0.7675908978509121" rpy="0 0 0"/>
            <geometry>
                <box size="1.3192116691862532 1.0624527491798126 1.5351817957018241" />
            </geometry>
        </collision>
    </link>
    <joint name="3_4" type="revolute">
       <parent link="3"/>
       <child  link="4"/>
       <origin rpy="0 0 0" xyz="-1.550808399149538 0 0" />
     <axis xyz="0 -1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="5">
        <inertial>
            <origin xyz="-0.9131548953307814 0 0.911895050104453" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.9131548953307814 0 0.911895050104453" rpy="0 0 0"/>
            <geometry>
                <box size="1.8263097906615628 1.645508778595652 1.823790100208906" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.9131548953307814 0 0.911895050104453" rpy="0 0 0"/>
            <geometry>
                <box size="1.8263097906615628 1.645508778595652 1.823790100208906" />
            </geometry>
        </collision>
    </link>
    <joint name="4_5" type="revolute">
       <parent link="4"/>
       <child  link="5"/>
       <origin rpy="0 0 0" xyz="-1.3192116691862532 0 0" />
     <axis xyz="0 -1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="6">
        <inertial>
            <origin xyz="0.9234803054165321 0 0.5964230311618235" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.9234803054165321 0 0.5964230311618235" rpy="0 0 0"/>
            <geometry>
                <box size="1.8469606108330643 1.0312305217736788 1.192846062323647" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.9234803054165321 0 0.5964230311618235" rpy="0 0 0"/>
            <geometry>
                <box size="1.8469606108330643 1.0312305217736788 1.192846062323647" />
            </geometry>
        </collision>
    </link>
    <joint name="2_6" type="revolute">
       <parent link="2"/>
       <child  link="6"/>
       <origin rpy="0 0 0" xyz="0.8773075414688435 0 0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="7">
        <inertial>
            <origin xyz="0.9529333618269205 0 0.5035433363215545" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.9529333618269205 0 0.5035433363215545" rpy="0 0 0"/>
            <geometry>
                <box size="1.905866723653841 1.2452856301724764 1.007086672643109" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.9529333618269205 0 0.5035433363215545" rpy="0 0 0"/>
            <geometry>
                <box size="1.905866723653841 1.2452856301724764 1.007086672643109" />
            </geometry>
        </collision>
    </link>
    <joint name="6_7" type="revolute">
       <parent link="6"/>
       <child  link="7"/>
       <origin rpy="0 0 0" xyz="1.8469606108330643 0 0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="8">
        <inertial>
            <origin xyz="0.7290167012117533 0 0.6390598035725812" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.7290167012117533 0 0.6390598035725812" rpy="0 0 0"/>
            <geometry>
                <box size="1.4580334024235067 1.313143979309389 1.2781196071451624" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.7290167012117533 0 0.6390598035725812" rpy="0 0 0"/>
            <geometry>
                <box size="1.4580334024235067 1.313143979309389 1.2781196071451624" />
            </geometry>
        </collision>
    </link>
    <joint name="7_8" type="revolute">
       <parent link="7"/>
       <child  link="8"/>
       <origin rpy="0 0 0" xyz="1.905866723653841 0 0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="9">
        <inertial>
            <origin xyz="0 -0.7142045678115181 0.8055018657974042" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.7142045678115181 0.8055018657974042" rpy="0 0 0"/>
            <geometry>
                <box size="1.2422309671482654 1.4284091356230362 1.6110037315948085" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.7142045678115181 0.8055018657974042" rpy="0 0 0"/>
            <geometry>
                <box size="1.2422309671482654 1.4284091356230362 1.6110037315948085" />
            </geometry>
        </collision>
    </link>
    <joint name="2_9" type="revolute">
       <parent link="2"/>
       <child  link="9"/>
       <origin rpy="0 0 0" xyz="0 -0.9059225783937248 0" />
     <axis xyz="-1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="10">
        <inertial>
            <origin xyz="0 -0.7197960458118531 0.8068841746446513" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.7197960458118531 0.8068841746446513" rpy="0 0 0"/>
            <geometry>
                <box size="1.4717680782622566 1.4395920916237062 1.6137683492893027" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.7197960458118531 0.8068841746446513" rpy="0 0 0"/>
            <geometry>
                <box size="1.4717680782622566 1.4395920916237062 1.6137683492893027" />
            </geometry>
        </collision>
    </link>
    <joint name="9_10" type="revolute">
       <parent link="9"/>
       <child  link="10"/>
       <origin rpy="0 0 0" xyz="0 -1.4284091356230362 0" />
     <axis xyz="-1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="11">
        <inertial>
            <origin xyz="0 -0.9501771238110182 0.849218115343814" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.9501771238110182 0.849218115343814" rpy="0 0 0"/>
            <geometry>
                <box size="1.8490702276940323 1.9003542476220363 1.698436230687628" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.9501771238110182 0.849218115343814" rpy="0 0 0"/>
            <geometry>
                <box size="1.8490702276940323 1.9003542476220363 1.698436230687628" />
            </geometry>
        </collision>
    </link>
    <joint name="10_11" type="revolute">
       <parent link="10"/>
       <child  link="11"/>
       <origin rpy="0 0 0" xyz="0 -1.4395920916237062 0" />
     <axis xyz="-1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="12">
        <inertial>
            <origin xyz="0 0.7135567649450103 0.9155918751587325" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.7135567649450103 0.9155918751587325" rpy="0 0 0"/>
            <geometry>
                <box size="1.2764252590174814 1.4271135298900206 1.831183750317465" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.7135567649450103 0.9155918751587325" rpy="0 0 0"/>
            <geometry>
                <box size="1.2764252590174814 1.4271135298900206 1.831183750317465" />
            </geometry>
        </collision>
    </link>
    <joint name="2_12" type="revolute">
       <parent link="2"/>
       <child  link="12"/>
       <origin rpy="0 0 0" xyz="0 0.9059225783937248 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="13">
        <inertial>
            <origin xyz="0 0.6166092170175104 0.6349848095448007" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.6166092170175104 0.6349848095448007" rpy="0 0 0"/>
            <geometry>
                <box size="1.6825979925716639 1.2332184340350207 1.2699696190896015" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.6166092170175104 0.6349848095448007" rpy="0 0 0"/>
            <geometry>
                <box size="1.6825979925716639 1.2332184340350207 1.2699696190896015" />
            </geometry>
        </collision>
    </link>
    <joint name="12_13" type="revolute">
       <parent link="12"/>
       <child  link="13"/>
       <origin rpy="0 0 0" xyz="0 1.4271135298900206 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="14">
        <inertial>
            <origin xyz="0 0.976059715456703 0.9972593456490255" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.976059715456703 0.9972593456490255" rpy="0 0 0"/>
            <geometry>
                <box size="1.3670908299998332 1.952119430913406 1.994518691298051" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.976059715456703 0.9972593456490255" rpy="0 0 0"/>
            <geometry>
                <box size="1.3670908299998332 1.952119430913406 1.994518691298051" />
            </geometry>
        </collision>
    </link>
    <joint name="13_14" type="revolute">
       <parent link="13"/>
       <child  link="14"/>
       <origin rpy="0 0 0" xyz="0 1.2332184340350207 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>