<robot name = "robot">
    <link name="0">
        <inertial>
            <origin xyz="0 0 0.2810804655218868" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.2810804655218868" rpy="0 0 0"/>
            <geometry>
                <box size="1.2107610924439514 0.9685202090795253 0.5621609310437736" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.2810804655218868" rpy="0 0 0"/>
            <geometry>
                <box size="1.2107610924439514 0.9685202090795253 0.5621609310437736" />
            </geometry>
        </collision>
    </link>
    <link name="1">
        <inertial>
            <origin xyz="0 0 0.4047597867372953" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.4047597867372953" rpy="0 0 0"/>
            <geometry>
                <box size="1.2574921881585925 1.0014201741044573 0.8095195734745906" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.4047597867372953" rpy="0 0 0"/>
            <geometry>
                <box size="1.2574921881585925 1.0014201741044573 0.8095195734745906" />
            </geometry>
        </collision>
    </link>
    <joint name="0_1" type="revolute">
       <parent link="0"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="0 0 0.5621609310437736" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="2">
        <inertial>
            <origin xyz="-0.477167079591969 0 0.6834061560064939" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.477167079591969 0 0.6834061560064939" rpy="0 0 0"/>
            <geometry>
                <box size="0.954334159183938 1.1308143548785852 1.3668123120129878" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.477167079591969 0 0.6834061560064939" rpy="0 0 0"/>
            <geometry>
                <box size="0.954334159183938 1.1308143548785852 1.3668123120129878" />
            </geometry>
        </collision>
    </link>
    <joint name="1_2" type="revolute">
       <parent link="1"/>
       <child  link="2"/>
       <origin rpy="0 0 0" xyz="-0.6287460940792963 0 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="3">
        <inertial>
            <origin xyz="-0.6755975771104816 0 0.40125155028136517" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.6755975771104816 0 0.40125155028136517" rpy="0 0 0"/>
            <geometry>
                <box size="1.3511951542209633 1.0537935626940613 0.8025031005627303" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.6755975771104816 0 0.40125155028136517" rpy="0 0 0"/>
            <geometry>
                <box size="1.3511951542209633 1.0537935626940613 0.8025031005627303" />
            </geometry>
        </collision>
    </link>
    <joint name="2_3" type="revolute">
       <parent link="2"/>
       <child  link="3"/>
       <origin rpy="0 0 0" xyz="-0.954334159183938 0 0" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="4">
        <inertial>
            <origin xyz="-0.43238852383119597 0 0.3024947065222619" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.43238852383119597 0 0.3024947065222619" rpy="0 0 0"/>
            <geometry>
                <box size="0.8647770476623919 1.0762116520377185 0.6049894130445238" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.43238852383119597 0 0.3024947065222619" rpy="0 0 0"/>
            <geometry>
                <box size="0.8647770476623919 1.0762116520377185 0.6049894130445238" />
            </geometry>
        </collision>
    </link>
    <joint name="3_4" type="revolute">
       <parent link="3"/>
       <child  link="4"/>
       <origin rpy="0 0 0" xyz="-1.3511951542209633 0 0" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="5">
        <inertial>
            <origin xyz="-0.2808488829962117 0 0.5352285504039718" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.2808488829962117 0 0.5352285504039718" rpy="0 0 0"/>
            <geometry>
                <box size="0.5616977659924234 1.3810326330709608 1.0704571008079435" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.2808488829962117 0 0.5352285504039718" rpy="0 0 0"/>
            <geometry>
                <box size="0.5616977659924234 1.3810326330709608 1.0704571008079435" />
            </geometry>
        </collision>
    </link>
    <joint name="4_5" type="revolute">
       <parent link="4"/>
       <child  link="5"/>
       <origin rpy="0 0 0" xyz="-0.8647770476623919 0 0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="6">
        <inertial>
            <origin xyz="0.7063388984594128 0 0.39681743500420974" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.7063388984594128 0 0.39681743500420974" rpy="0 0 0"/>
            <geometry>
                <box size="1.4126777969188256 1.3159870213302391 0.7936348700084195" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.7063388984594128 0 0.39681743500420974" rpy="0 0 0"/>
            <geometry>
                <box size="1.4126777969188256 1.3159870213302391 0.7936348700084195" />
            </geometry>
        </collision>
    </link>
    <joint name="1_6" type="revolute">
       <parent link="1"/>
       <child  link="6"/>
       <origin rpy="0 0 0" xyz="0.6287460940792963 0 0" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="7">
        <inertial>
            <origin xyz="0.5552204055528279 0 0.7087558243822332" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.5552204055528279 0 0.7087558243822332" rpy="0 0 0"/>
            <geometry>
                <box size="1.1104408111056558 1.2775610405989402 1.4175116487644663" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.5552204055528279 0 0.7087558243822332" rpy="0 0 0"/>
            <geometry>
                <box size="1.1104408111056558 1.2775610405989402 1.4175116487644663" />
            </geometry>
        </collision>
    </link>
    <joint name="6_7" type="revolute">
       <parent link="6"/>
       <child  link="7"/>
       <origin rpy="0 0 0" xyz="1.4126777969188256 0 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="8">
        <inertial>
            <origin xyz="0.5131585209463894 0 0.6210461440218213" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.5131585209463894 0 0.6210461440218213" rpy="0 0 0"/>
            <geometry>
                <box size="1.0263170418927787 1.362806712902867 1.2420922880436427" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.5131585209463894 0 0.6210461440218213" rpy="0 0 0"/>
            <geometry>
                <box size="1.0263170418927787 1.362806712902867 1.2420922880436427" />
            </geometry>
        </collision>
    </link>
    <joint name="7_8" type="revolute">
       <parent link="7"/>
       <child  link="8"/>
       <origin rpy="0 0 0" xyz="1.1104408111056558 0 0" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="9">
        <inertial>
            <origin xyz="0.3899804758595703 0 0.5155025133578548" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.3899804758595703 0 0.5155025133578548" rpy="0 0 0"/>
            <geometry>
                <box size="0.7799609517191406 1.2046145115039986 1.0310050267157096" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.3899804758595703 0 0.5155025133578548" rpy="0 0 0"/>
            <geometry>
                <box size="0.7799609517191406 1.2046145115039986 1.0310050267157096" />
            </geometry>
        </collision>
    </link>
    <joint name="8_9" type="revolute">
       <parent link="8"/>
       <child  link="9"/>
       <origin rpy="0 0 0" xyz="1.0263170418927787 0 0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="10">
        <inertial>
            <origin xyz="0 -0.5557396552880184 0.45017259156865425" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.5557396552880184 0.45017259156865425" rpy="0 0 0"/>
            <geometry>
                <box size="0.5120607568685289 1.1114793105760368 0.9003451831373085" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.5557396552880184 0.45017259156865425" rpy="0 0 0"/>
            <geometry>
                <box size="0.5120607568685289 1.1114793105760368 0.9003451831373085" />
            </geometry>
        </collision>
    </link>
    <joint name="1_10" type="revolute">
       <parent link="1"/>
       <child  link="10"/>
       <origin rpy="0 0 0" xyz="0 -0.5007100870522286 0" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="11">
        <inertial>
            <origin xyz="0 -0.636804802894096 0.3348782566479996" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.636804802894096 0.3348782566479996" rpy="0 0 0"/>
            <geometry>
                <box size="0.5977918168827363 1.273609605788192 0.6697565132959992" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.636804802894096 0.3348782566479996" rpy="0 0 0"/>
            <geometry>
                <box size="0.5977918168827363 1.273609605788192 0.6697565132959992" />
            </geometry>
        </collision>
    </link>
    <joint name="10_11" type="revolute">
       <parent link="10"/>
       <child  link="11"/>
       <origin rpy="0 0 0" xyz="0 -1.1114793105760368 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="12">
        <inertial>
            <origin xyz="0 -0.6255426693709716 0.3697871152097793" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.6255426693709716 0.3697871152097793" rpy="0 0 0"/>
            <geometry>
                <box size="0.5268750301179007 1.2510853387419432 0.7395742304195586" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.6255426693709716 0.3697871152097793" rpy="0 0 0"/>
            <geometry>
                <box size="0.5268750301179007 1.2510853387419432 0.7395742304195586" />
            </geometry>
        </collision>
    </link>
    <joint name="11_12" type="revolute">
       <parent link="11"/>
       <child  link="12"/>
       <origin rpy="0 0 0" xyz="0 -1.273609605788192 0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="13">
        <inertial>
            <origin xyz="0 -0.36559021865532343 0.43111575682973186" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.36559021865532343 0.43111575682973186" rpy="0 0 0"/>
            <geometry>
                <box size="0.5097891966069225 0.7311804373106469 0.8622315136594637" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.36559021865532343 0.43111575682973186" rpy="0 0 0"/>
            <geometry>
                <box size="0.5097891966069225 0.7311804373106469 0.8622315136594637" />
            </geometry>
        </collision>
    </link>
    <joint name="12_13" type="revolute">
       <parent link="12"/>
       <child  link="13"/>
       <origin rpy="0 0 0" xyz="0 -1.2510853387419432 0" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="14">
        <inertial>
            <origin xyz="0 0.3983327763526323 0.6689371075889012" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.3983327763526323 0.6689371075889012" rpy="0 0 0"/>
            <geometry>
                <box size="1.1599428568423045 0.7966655527052646 1.3378742151778025" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.3983327763526323 0.6689371075889012" rpy="0 0 0"/>
            <geometry>
                <box size="1.1599428568423045 0.7966655527052646 1.3378742151778025" />
            </geometry>
        </collision>
    </link>
    <joint name="1_14" type="revolute">
       <parent link="1"/>
       <child  link="14"/>
       <origin rpy="0 0 0" xyz="0 0.5007100870522286 0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="15">
        <inertial>
            <origin xyz="0 0.6920918284515263 0.27404507364123754" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.6920918284515263 0.27404507364123754" rpy="0 0 0"/>
            <geometry>
                <box size="1.2983372130989717 1.3841836569030526 0.5480901472824751" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.6920918284515263 0.27404507364123754" rpy="0 0 0"/>
            <geometry>
                <box size="1.2983372130989717 1.3841836569030526 0.5480901472824751" />
            </geometry>
        </collision>
    </link>
    <joint name="14_15" type="revolute">
       <parent link="14"/>
       <child  link="15"/>
       <origin rpy="0 0 0" xyz="0 0.7966655527052646 0" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="16">
        <inertial>
            <origin xyz="0 0.28618425124949354 0.49405302876980284" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.28618425124949354 0.49405302876980284" rpy="0 0 0"/>
            <geometry>
                <box size="1.2914864073634909 0.5723685024989871 0.9881060575396057" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.28618425124949354 0.49405302876980284" rpy="0 0 0"/>
            <geometry>
                <box size="1.2914864073634909 0.5723685024989871 0.9881060575396057" />
            </geometry>
        </collision>
    </link>
    <joint name="15_16" type="revolute">
       <parent link="15"/>
       <child  link="16"/>
       <origin rpy="0 0 0" xyz="0 1.3841836569030526 0" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="17">
        <inertial>
            <origin xyz="0 0.5719212121852055 0.5647775925293461" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.5719212121852055 0.5647775925293461" rpy="0 0 0"/>
            <geometry>
                <box size="1.3156565064558925 1.143842424370411 1.1295551850586922" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.5719212121852055 0.5647775925293461" rpy="0 0 0"/>
            <geometry>
                <box size="1.3156565064558925 1.143842424370411 1.1295551850586922" />
            </geometry>
        </collision>
    </link>
    <joint name="16_17" type="revolute">
       <parent link="16"/>
       <child  link="17"/>
       <origin rpy="0 0 0" xyz="0 0.5723685024989871 0" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>