<robot name = "robot">
    <link name="0">
        <inertial>
            <origin xyz="0 0 3" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 3" rpy="0 0 0"/>
            <geometry>
                <box size="1.5 1.5 0.8" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 3" rpy="0 0 0"/>
            <geometry>
                <box size="1.5 1.5 0.8" />
            </geometry>
        </collision>
    </link>
    <link name="1">
        <inertial>
            <origin xyz="-0.40598557768598337 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.40598557768598337 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8119711553719667 0.4220328459103778 0.4974105519240679" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.40598557768598337 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8119711553719667 0.4220328459103778 0.4974105519240679" />
            </geometry>
        </collision>
    </link>
    <joint name="0_1" type="revolute">
       <parent link="0"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="-0.75 0 3" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="2">
        <inertial>
            <origin xyz="-0.48065661597374715 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.48065661597374715 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9613132319474943 0.0633329718862865 0.4806646252387766" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.48065661597374715 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9613132319474943 0.0633329718862865 0.4806646252387766" />
            </geometry>
        </collision>
    </link>
    <joint name="1_2" type="revolute">
       <parent link="1"/>
       <child  link="2"/>
       <origin rpy="0 0 0" xyz="-0.8119711553719667 0 0" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="3">
        <inertial>
            <origin xyz="-0.4676972864975415 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.4676972864975415 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.935394572995083 0.6108803516525205 0.17655198156348384" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.4676972864975415 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.935394572995083 0.6108803516525205 0.17655198156348384" />
            </geometry>
        </collision>
    </link>
    <joint name="2_3" type="revolute">
       <parent link="2"/>
       <child  link="3"/>
       <origin rpy="0 0 0" xyz="-0.9613132319474943 0 0" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="4">
        <inertial>
            <origin xyz="-0.4503953959365984 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.4503953959365984 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9007907918731968 0.16495866824796945 0.5799380474383766" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.4503953959365984 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9007907918731968 0.16495866824796945 0.5799380474383766" />
            </geometry>
        </collision>
    </link>
    <joint name="3_4" type="revolute">
       <parent link="3"/>
       <child  link="4"/>
       <origin rpy="0 0 0" xyz="-0.935394572995083 0 0" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="5">
        <inertial>
            <origin xyz="0 0 -0.8369772077120269" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.8369772077120269" rpy="0 0 0"/>
            <geometry>
                <box size="0.23145987972304405 0.9662075657179113 1.6739544154240538" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.8369772077120269" rpy="0 0 0"/>
            <geometry>
                <box size="0.23145987972304405 0.9662075657179113 1.6739544154240538" />
            </geometry>
        </collision>
    </link>
    <joint name="4_5" type="revolute">
       <parent link="4"/>
       <child  link="5"/>
       <origin rpy="0 0 0" xyz="-0.4503953959365984 0 -0.2899690237191883" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="6">
        <inertial>
            <origin xyz="0 0 -0.2135217093848081" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.2135217093848081" rpy="0 0 0"/>
            <geometry>
                <box size="0.7587941468080414 0.24649179305670665 0.4270434187696162" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.2135217093848081" rpy="0 0 0"/>
            <geometry>
                <box size="0.7587941468080414 0.24649179305670665 0.4270434187696162" />
            </geometry>
        </collision>
    </link>
    <joint name="5_6" type="revolute">
       <parent link="5"/>
       <child  link="6"/>
       <origin rpy="0 0 0" xyz="0 0 -1.6739544154240538" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="7">
        <inertial>
            <origin xyz="0 0 -0.24950108290316506" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.24950108290316506" rpy="0 0 0"/>
            <geometry>
                <box size="0.4496037554962957 0.3873339845668098 0.4990021658063301" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.24950108290316506" rpy="0 0 0"/>
            <geometry>
                <box size="0.4496037554962957 0.3873339845668098 0.4990021658063301" />
            </geometry>
        </collision>
    </link>
    <joint name="6_7" type="revolute">
       <parent link="6"/>
       <child  link="7"/>
       <origin rpy="0 0 0" xyz="0 0 -0.4270434187696162" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="8">
        <inertial>
            <origin xyz="0.31511775088675154 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.31511775088675154 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6302355017735031 0.2679548065148447 0.9843004768885814" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.31511775088675154 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6302355017735031 0.2679548065148447 0.9843004768885814" />
            </geometry>
        </collision>
    </link>
    <joint name="0_8" type="revolute">
       <parent link="0"/>
       <child  link="8"/>
       <origin rpy="0 0 0" xyz="0.75 0 3" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="9">
        <inertial>
            <origin xyz="0.23547342500627633 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.23547342500627633 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.47094685001255265 0.7603984175582393 0.020486854701023627" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.23547342500627633 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.47094685001255265 0.7603984175582393 0.020486854701023627" />
            </geometry>
        </collision>
    </link>
    <joint name="8_9" type="revolute">
       <parent link="8"/>
       <child  link="9"/>
       <origin rpy="0 0 0" xyz="0.6302355017735031 0 0" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="10">
        <inertial>
            <origin xyz="0.13954493262377066 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.13954493262377066 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2790898652475413 0.9591272455633472 0.3407204182950827" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.13954493262377066 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2790898652475413 0.9591272455633472 0.3407204182950827" />
            </geometry>
        </collision>
    </link>
    <joint name="9_10" type="revolute">
       <parent link="9"/>
       <child  link="10"/>
       <origin rpy="0 0 0" xyz="0.47094685001255265 0 0" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="11">
        <inertial>
            <origin xyz="0.024063346161827037 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.024063346161827037 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.048126692323654074 0.420794052763107 0.09152877222349598" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.024063346161827037 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.048126692323654074 0.420794052763107 0.09152877222349598" />
            </geometry>
        </collision>
    </link>
    <joint name="10_11" type="revolute">
       <parent link="10"/>
       <child  link="11"/>
       <origin rpy="0 0 0" xyz="0.2790898652475413 0 0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="12">
        <inertial>
            <origin xyz="0 0 -0.549837664765611" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.549837664765611" rpy="0 0 0"/>
            <geometry>
                <box size="0.31878622965594716 0.37086335625475053 1.099675329531222" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.549837664765611" rpy="0 0 0"/>
            <geometry>
                <box size="0.31878622965594716 0.37086335625475053 1.099675329531222" />
            </geometry>
        </collision>
    </link>
    <joint name="11_12" type="revolute">
       <parent link="11"/>
       <child  link="12"/>
       <origin rpy="0 0 0" xyz="0.024063346161827037 0 -0.04576438611174799" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="13">
        <inertial>
            <origin xyz="0 0 -0.21832852902756797" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.21832852902756797" rpy="0 0 0"/>
            <geometry>
                <box size="0.5214381598100488 0.9455832504879828 0.43665705805513594" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.21832852902756797" rpy="0 0 0"/>
            <geometry>
                <box size="0.5214381598100488 0.9455832504879828 0.43665705805513594" />
            </geometry>
        </collision>
    </link>
    <joint name="12_13" type="revolute">
       <parent link="12"/>
       <child  link="13"/>
       <origin rpy="0 0 0" xyz="0 0 -1.099675329531222" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="14">
        <inertial>
            <origin xyz="0 0 -0.5318338062068211" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.5318338062068211" rpy="0 0 0"/>
            <geometry>
                <box size="0.21644800296343214 0.8808590881785122 1.0636676124136422" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.5318338062068211" rpy="0 0 0"/>
            <geometry>
                <box size="0.21644800296343214 0.8808590881785122 1.0636676124136422" />
            </geometry>
        </collision>
    </link>
    <joint name="13_14" type="revolute">
       <parent link="13"/>
       <child  link="14"/>
       <origin rpy="0 0 0" xyz="0 0 -0.43665705805513594" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="15">
        <inertial>
            <origin xyz="0 -0.34684569641586394 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.34684569641586394 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7484522490993397 0.6936913928317279 0.3841820544528778" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.34684569641586394 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7484522490993397 0.6936913928317279 0.3841820544528778" />
            </geometry>
        </collision>
    </link>
    <joint name="0_15" type="revolute">
       <parent link="0"/>
       <child  link="15"/>
       <origin rpy="0 0 0" xyz="0 -0.75 3" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="16">
        <inertial>
            <origin xyz="0 -0.09582967174644719 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.09582967174644719 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.18313759614665026 0.19165934349289437 0.7882691949753828" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.09582967174644719 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.18313759614665026 0.19165934349289437 0.7882691949753828" />
            </geometry>
        </collision>
    </link>
    <joint name="15_16" type="revolute">
       <parent link="15"/>
       <child  link="16"/>
       <origin rpy="0 0 0" xyz="0 -0.6936913928317279 0" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="17">
        <inertial>
            <origin xyz="0 -0.3692701245490055 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.3692701245490055 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.0214623157050291 0.738540249098011 0.04168436648083129" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.3692701245490055 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.0214623157050291 0.738540249098011 0.04168436648083129" />
            </geometry>
        </collision>
    </link>
    <joint name="16_17" type="revolute">
       <parent link="16"/>
       <child  link="17"/>
       <origin rpy="0 0 0" xyz="0 -0.19165934349289437 0" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="18">
        <inertial>
            <origin xyz="0 -0.4385282988656208 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.4385282988656208 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.30391613506715165 0.8770565977312416 0.16516768433071605" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.4385282988656208 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.30391613506715165 0.8770565977312416 0.16516768433071605" />
            </geometry>
        </collision>
    </link>
    <joint name="17_18" type="revolute">
       <parent link="17"/>
       <child  link="18"/>
       <origin rpy="0 0 0" xyz="0 -0.738540249098011 0" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="19">
        <inertial>
            <origin xyz="0 0 -0.1179332587562396" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.1179332587562396" rpy="0 0 0"/>
            <geometry>
                <box size="0.3143911076058291 0.5511900807090303 0.2358665175124792" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.1179332587562396" rpy="0 0 0"/>
            <geometry>
                <box size="0.3143911076058291 0.5511900807090303 0.2358665175124792" />
            </geometry>
        </collision>
    </link>
    <joint name="18_19" type="revolute">
       <parent link="18"/>
       <child  link="19"/>
       <origin rpy="0 0 0" xyz="0 -0.4385282988656208 -0.08258384216535802" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="20">
        <inertial>
            <origin xyz="0 0 -0.43547449148143613" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.43547449148143613" rpy="0 0 0"/>
            <geometry>
                <box size="0.9059485271159152 0.6110686963942981 0.8709489829628723" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.43547449148143613" rpy="0 0 0"/>
            <geometry>
                <box size="0.9059485271159152 0.6110686963942981 0.8709489829628723" />
            </geometry>
        </collision>
    </link>
    <joint name="19_20" type="revolute">
       <parent link="19"/>
       <child  link="20"/>
       <origin rpy="0 0 0" xyz="0 0 -0.2358665175124792" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="21">
        <inertial>
            <origin xyz="0 0 -0.7465922497623243" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.7465922497623243" rpy="0 0 0"/>
            <geometry>
                <box size="0.11090565134065589 0.22080067250666857 1.4931844995246486" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.7465922497623243" rpy="0 0 0"/>
            <geometry>
                <box size="0.11090565134065589 0.22080067250666857 1.4931844995246486" />
            </geometry>
        </collision>
    </link>
    <joint name="20_21" type="revolute">
       <parent link="20"/>
       <child  link="21"/>
       <origin rpy="0 0 0" xyz="0 0 -0.8709489829628723" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="22">
        <inertial>
            <origin xyz="0 0.09376970684878744 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.09376970684878744 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5160469472451246 0.18753941369757487 0.22465575557157014" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.09376970684878744 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5160469472451246 0.18753941369757487 0.22465575557157014" />
            </geometry>
        </collision>
    </link>
    <joint name="0_22" type="revolute">
       <parent link="0"/>
       <child  link="22"/>
       <origin rpy="0 0 0" xyz="0 0.75 3" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="23">
        <inertial>
            <origin xyz="0 0.12570836464679092 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.12570836464679092 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9415850582163139 0.25141672929358183 0.28177258271593475" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.12570836464679092 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9415850582163139 0.25141672929358183 0.28177258271593475" />
            </geometry>
        </collision>
    </link>
    <joint name="22_23" type="revolute">
       <parent link="22"/>
       <child  link="23"/>
       <origin rpy="0 0 0" xyz="0 0.18753941369757487 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="24">
        <inertial>
            <origin xyz="0 0.26507924909541575 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.26507924909541575 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5260266395099547 0.5301584981908315 0.1615620244344269" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.26507924909541575 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5260266395099547 0.5301584981908315 0.1615620244344269" />
            </geometry>
        </collision>
    </link>
    <joint name="23_24" type="revolute">
       <parent link="23"/>
       <child  link="24"/>
       <origin rpy="0 0 0" xyz="0 0.25141672929358183 0" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="25">
        <inertial>
            <origin xyz="0 0.46098368283233504 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.46098368283233504 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8419444469812404 0.9219673656646701 0.5516079589718189" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.46098368283233504 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8419444469812404 0.9219673656646701 0.5516079589718189" />
            </geometry>
        </collision>
    </link>
    <joint name="24_25" type="revolute">
       <parent link="24"/>
       <child  link="25"/>
       <origin rpy="0 0 0" xyz="0 0.5301584981908315 0" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="26">
        <inertial>
            <origin xyz="0 0 -0.868111553994304" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.868111553994304" rpy="0 0 0"/>
            <geometry>
                <box size="0.5112889624663788 0.5955680808232954 1.736223107988608" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.868111553994304" rpy="0 0 0"/>
            <geometry>
                <box size="0.5112889624663788 0.5955680808232954 1.736223107988608" />
            </geometry>
        </collision>
    </link>
    <joint name="25_26" type="revolute">
       <parent link="25"/>
       <child  link="26"/>
       <origin rpy="0 0 0" xyz="0 0.46098368283233504 -0.27580397948590946" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="27">
        <inertial>
            <origin xyz="0 0 -0.3067085980278247" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.3067085980278247" rpy="0 0 0"/>
            <geometry>
                <box size="0.5543890887930475 0.03565673102348332 0.6134171960556494" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.3067085980278247" rpy="0 0 0"/>
            <geometry>
                <box size="0.5543890887930475 0.03565673102348332 0.6134171960556494" />
            </geometry>
        </collision>
    </link>
    <joint name="26_27" type="revolute">
       <parent link="26"/>
       <child  link="27"/>
       <origin rpy="0 0 0" xyz="0 0 -1.736223107988608" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="28">
        <inertial>
            <origin xyz="0 0 -0.1251798479778714" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.1251798479778714" rpy="0 0 0"/>
            <geometry>
                <box size="0.018380679416772794 0.5996759612039998 0.2503596959557428" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.1251798479778714" rpy="0 0 0"/>
            <geometry>
                <box size="0.018380679416772794 0.5996759612039998 0.2503596959557428" />
            </geometry>
        </collision>
    </link>
    <joint name="27_28" type="revolute">
       <parent link="27"/>
       <child  link="28"/>
       <origin rpy="0 0 0" xyz="0 0 -0.6134171960556494" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>