<robot name = "robot">
    <link name="0">
        <inertial>
            <origin xyz="0 0 0.35" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.35" rpy="0 0 0"/>
            <geometry>
                <box size="0.7 0.7 0.7" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.35" rpy="0 0 0"/>
            <geometry>
                <box size="0.7 0.7 0.7" />
            </geometry>
        </collision>
    </link>
    <link name="1">
        <inertial>
            <origin xyz="-0.23658434682075707 0 0.2855396422747499" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.23658434682075707 0 0.2855396422747499" rpy="0 0 0"/>
            <geometry>
                <box size="0.47316869364151415 0.7131159257322927 0.5710792845494999" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.23658434682075707 0 0.2855396422747499" rpy="0 0 0"/>
            <geometry>
                <box size="0.47316869364151415 0.7131159257322927 0.5710792845494999" />
            </geometry>
        </collision>
    </link>
    <joint name="0_1" type="revolute">
       <parent link="0"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="-0.35 0 0.7" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="2">
        <inertial>
            <origin xyz="-0.014850132018305817 0 0.12320109560775422" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.014850132018305817 0 0.12320109560775422" rpy="0 0 0"/>
            <geometry>
                <box size="0.029700264036611634 0.17728930650553731 0.24640219121550844" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.014850132018305817 0 0.12320109560775422" rpy="0 0 0"/>
            <geometry>
                <box size="0.029700264036611634 0.17728930650553731 0.24640219121550844" />
            </geometry>
        </collision>
    </link>
    <joint name="1_2" type="revolute">
       <parent link="1"/>
       <child  link="2"/>
       <origin rpy="0 0 0" xyz="-0.47316869364151415 0 0.5710792845494999" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="3">
        <inertial>
            <origin xyz="0.2604734342357507 0 0.469021204416981" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.2604734342357507 0 0.469021204416981" rpy="0 0 0"/>
            <geometry>
                <box size="0.5209468684715014 0.42824015161216566 0.938042408833962" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.2604734342357507 0 0.469021204416981" rpy="0 0 0"/>
            <geometry>
                <box size="0.5209468684715014 0.42824015161216566 0.938042408833962" />
            </geometry>
        </collision>
    </link>
    <joint name="0_3" type="revolute">
       <parent link="0"/>
       <child  link="3"/>
       <origin rpy="0 0 0" xyz="0.35 0 0.7" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="4">
        <inertial>
            <origin xyz="0.4156216872194101 0 0.11100849223009762" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.4156216872194101 0 0.11100849223009762" rpy="0 0 0"/>
            <geometry>
                <box size="0.8312433744388202 0.5640386158804004 0.22201698446019524" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.4156216872194101 0 0.11100849223009762" rpy="0 0 0"/>
            <geometry>
                <box size="0.8312433744388202 0.5640386158804004 0.22201698446019524" />
            </geometry>
        </collision>
    </link>
    <joint name="3_4" type="revolute">
       <parent link="3"/>
       <child  link="4"/>
       <origin rpy="0 0 0" xyz="0.5209468684715014 0 0.938042408833962" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="5">
        <inertial>
            <origin xyz="0.3296327806321131 0 0.05272177480410811" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.3296327806321131 0 0.05272177480410811" rpy="0 0 0"/>
            <geometry>
                <box size="0.6592655612642262 0.6185902082436519 0.10544354960821622" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.3296327806321131 0 0.05272177480410811" rpy="0 0 0"/>
            <geometry>
                <box size="0.6592655612642262 0.6185902082436519 0.10544354960821622" />
            </geometry>
        </collision>
    </link>
    <joint name="4_5" type="revolute">
       <parent link="4"/>
       <child  link="5"/>
       <origin rpy="0 0 0" xyz="0.8312433744388202 0 0.22201698446019524" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="6">
        <inertial>
            <origin xyz="0.18768350294369623 0 0.3818876909617452" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.18768350294369623 0 0.3818876909617452" rpy="0 0 0"/>
            <geometry>
                <box size="0.37536700588739247 0.2838779832101366 0.7637753819234904" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.18768350294369623 0 0.3818876909617452" rpy="0 0 0"/>
            <geometry>
                <box size="0.37536700588739247 0.2838779832101366 0.7637753819234904" />
            </geometry>
        </collision>
    </link>
    <joint name="5_6" type="revolute">
       <parent link="5"/>
       <child  link="6"/>
       <origin rpy="0 0 0" xyz="0.6592655612642262 0 0.10544354960821622" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="7">
        <inertial>
            <origin xyz="0.4151819349913424 0 0.26625424910826523" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.4151819349913424 0 0.26625424910826523" rpy="0 0 0"/>
            <geometry>
                <box size="0.8303638699826849 0.31799469981790895 0.5325084982165305" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.4151819349913424 0 0.26625424910826523" rpy="0 0 0"/>
            <geometry>
                <box size="0.8303638699826849 0.31799469981790895 0.5325084982165305" />
            </geometry>
        </collision>
    </link>
    <joint name="6_7" type="revolute">
       <parent link="6"/>
       <child  link="7"/>
       <origin rpy="0 0 0" xyz="0.37536700588739247 0 0.7637753819234904" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="8">
        <inertial>
            <origin xyz="0 -0.06330800315010221 0.29737547126373953" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.06330800315010221 0.29737547126373953" rpy="0 0 0"/>
            <geometry>
                <box size="0.9729118973138285 0.12661600630020442 0.5947509425274791" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.06330800315010221 0.29737547126373953" rpy="0 0 0"/>
            <geometry>
                <box size="0.9729118973138285 0.12661600630020442 0.5947509425274791" />
            </geometry>
        </collision>
    </link>
    <joint name="0_8" type="revolute">
       <parent link="0"/>
       <child  link="8"/>
       <origin rpy="0 0 0" xyz="0 -0.35 0.7" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="9">
        <inertial>
            <origin xyz="0 0.3062418587637751 0.21493053667329193" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.3062418587637751 0.21493053667329193" rpy="0 0 0"/>
            <geometry>
                <box size="0.14308863805547278 0.6124837175275502 0.42986107334658386" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.3062418587637751 0.21493053667329193" rpy="0 0 0"/>
            <geometry>
                <box size="0.14308863805547278 0.6124837175275502 0.42986107334658386" />
            </geometry>
        </collision>
    </link>
    <joint name="0_9" type="revolute">
       <parent link="0"/>
       <child  link="9"/>
       <origin rpy="0 0 0" xyz="0 0.35 0.7" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="10">
        <inertial>
            <origin xyz="0 0.17197352564945234 0.3379466925370982" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.17197352564945234 0.3379466925370982" rpy="0 0 0"/>
            <geometry>
                <box size="0.961709794022472 0.3439470512989047 0.6758933850741964" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.17197352564945234 0.3379466925370982" rpy="0 0 0"/>
            <geometry>
                <box size="0.961709794022472 0.3439470512989047 0.6758933850741964" />
            </geometry>
        </collision>
    </link>
    <joint name="9_10" type="revolute">
       <parent link="9"/>
       <child  link="10"/>
       <origin rpy="0 0 0" xyz="0 0.6124837175275502 0.42986107334658386" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="11">
        <inertial>
            <origin xyz="0 0.28912302114631155 0.34614970977520215" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.28912302114631155 0.34614970977520215" rpy="0 0 0"/>
            <geometry>
                <box size="0.906445014241569 0.5782460422926231 0.6922994195504043" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.28912302114631155 0.34614970977520215" rpy="0 0 0"/>
            <geometry>
                <box size="0.906445014241569 0.5782460422926231 0.6922994195504043" />
            </geometry>
        </collision>
    </link>
    <joint name="10_11" type="revolute">
       <parent link="10"/>
       <child  link="11"/>
       <origin rpy="0 0 0" xyz="0 0.3439470512989047 0.6758933850741964" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>