<robot name = "robot">
    <link name="0">
        <inertial>
            <origin xyz="0 0 3" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 3" rpy="0 0 0"/>
            <geometry>
                <box size="1.5 1.5 0.8" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 3" rpy="0 0 0"/>
            <geometry>
                <box size="1.5 1.5 0.8" />
            </geometry>
        </collision>
    </link>
    <link name="1">
        <inertial>
            <origin xyz="-0.1557687673396233 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.1557687673396233 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3115375346792466 0.04597403826328439 0.47445789182670595" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.1557687673396233 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3115375346792466 0.04597403826328439 0.47445789182670595" />
            </geometry>
        </collision>
    </link>
    <joint name="0_1" type="revolute">
       <parent link="0"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="-0.75 0 3" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="2">
        <inertial>
            <origin xyz="-0.1178043626421959 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.1178043626421959 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2356087252843918 0.47654409941993436 0.29157655678265837" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.1178043626421959 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2356087252843918 0.47654409941993436 0.29157655678265837" />
            </geometry>
        </collision>
    </link>
    <joint name="1_2" type="revolute">
       <parent link="1"/>
       <child  link="2"/>
       <origin rpy="0 0 0" xyz="-0.3115375346792466 0 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="3">
        <inertial>
            <origin xyz="0 0 -0.5225604286084093" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.5225604286084093" rpy="0 0 0"/>
            <geometry>
                <box size="0.4761922422683096 0.8685821190703973 1.0451208572168187" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.5225604286084093" rpy="0 0 0"/>
            <geometry>
                <box size="0.4761922422683096 0.8685821190703973 1.0451208572168187" />
            </geometry>
        </collision>
    </link>
    <joint name="2_3" type="revolute">
       <parent link="2"/>
       <child  link="3"/>
       <origin rpy="0 0 0" xyz="-0.1178043626421959 0 -0.14578827839132918" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="4">
        <inertial>
            <origin xyz="0 0 -0.7312862122228735" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.7312862122228735" rpy="0 0 0"/>
            <geometry>
                <box size="0.25941453893481137 0.11425199674511632 1.462572424445747" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.7312862122228735" rpy="0 0 0"/>
            <geometry>
                <box size="0.25941453893481137 0.11425199674511632 1.462572424445747" />
            </geometry>
        </collision>
    </link>
    <joint name="3_4" type="revolute">
       <parent link="3"/>
       <child  link="4"/>
       <origin rpy="0 0 0" xyz="0 0 -1.0451208572168187" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="5">
        <inertial>
            <origin xyz="0 0 -0.04615335916871721" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.04615335916871721" rpy="0 0 0"/>
            <geometry>
                <box size="0.735341500613035 0.15620539665394906 0.09230671833743442" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.04615335916871721" rpy="0 0 0"/>
            <geometry>
                <box size="0.735341500613035 0.15620539665394906 0.09230671833743442" />
            </geometry>
        </collision>
    </link>
    <joint name="4_5" type="revolute">
       <parent link="4"/>
       <child  link="5"/>
       <origin rpy="0 0 0" xyz="0 0 -1.462572424445747" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="6">
        <inertial>
            <origin xyz="0.234191157376413 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.234191157376413 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.468382314752826 0.06306807413823312 0.20797347810631261" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.234191157376413 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.468382314752826 0.06306807413823312 0.20797347810631261" />
            </geometry>
        </collision>
    </link>
    <joint name="0_6" type="revolute">
       <parent link="0"/>
       <child  link="6"/>
       <origin rpy="0 0 0" xyz="0.75 0 3" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="7">
        <inertial>
            <origin xyz="0.34809893147546256 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.34809893147546256 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6961978629509251 0.9874762843293892 0.9277667042397088" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.34809893147546256 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6961978629509251 0.9874762843293892 0.9277667042397088" />
            </geometry>
        </collision>
    </link>
    <joint name="6_7" type="revolute">
       <parent link="6"/>
       <child  link="7"/>
       <origin rpy="0 0 0" xyz="0.468382314752826 0 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="8">
        <inertial>
            <origin xyz="0 0 -0.40022600916666323" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.40022600916666323" rpy="0 0 0"/>
            <geometry>
                <box size="0.3204636423757169 0.06428142147363936 0.8004520183333265" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.40022600916666323" rpy="0 0 0"/>
            <geometry>
                <box size="0.3204636423757169 0.06428142147363936 0.8004520183333265" />
            </geometry>
        </collision>
    </link>
    <joint name="7_8" type="revolute">
       <parent link="7"/>
       <child  link="8"/>
       <origin rpy="0 0 0" xyz="0.34809893147546256 0 -0.4638833521198544" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="9">
        <inertial>
            <origin xyz="0 0 -0.8983392142302842" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.8983392142302842" rpy="0 0 0"/>
            <geometry>
                <box size="0.08159633871179006 0.18634554508920875 1.7966784284605684" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.8983392142302842" rpy="0 0 0"/>
            <geometry>
                <box size="0.08159633871179006 0.18634554508920875 1.7966784284605684" />
            </geometry>
        </collision>
    </link>
    <joint name="8_9" type="revolute">
       <parent link="8"/>
       <child  link="9"/>
       <origin rpy="0 0 0" xyz="0 0 -0.8004520183333265" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="10">
        <inertial>
            <origin xyz="0 0 -0.0014347766030526898" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.0014347766030526898" rpy="0 0 0"/>
            <geometry>
                <box size="0.35058582095613655 0.5271489642974935 0.0028695532061053797" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.0014347766030526898" rpy="0 0 0"/>
            <geometry>
                <box size="0.35058582095613655 0.5271489642974935 0.0028695532061053797" />
            </geometry>
        </collision>
    </link>
    <joint name="9_10" type="revolute">
       <parent link="9"/>
       <child  link="10"/>
       <origin rpy="0 0 0" xyz="0 0 -1.7966784284605684" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="11">
        <inertial>
            <origin xyz="0 -0.08192936655285787 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.08192936655285787 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.67922939493605 0.16385873310571575 0.6450262284312708" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.08192936655285787 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.67922939493605 0.16385873310571575 0.6450262284312708" />
            </geometry>
        </collision>
    </link>
    <joint name="0_11" type="revolute">
       <parent link="0"/>
       <child  link="11"/>
       <origin rpy="0 0 0" xyz="0 -0.75 3" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="12">
        <inertial>
            <origin xyz="0 -0.17220055557109226 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.17220055557109226 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3801224825213214 0.3444011111421845 0.8926743007767447" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.17220055557109226 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3801224825213214 0.3444011111421845 0.8926743007767447" />
            </geometry>
        </collision>
    </link>
    <joint name="11_12" type="revolute">
       <parent link="11"/>
       <child  link="12"/>
       <origin rpy="0 0 0" xyz="0 -0.16385873310571575 0" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="13">
        <inertial>
            <origin xyz="0 0 -0.5580792001197161" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.5580792001197161" rpy="0 0 0"/>
            <geometry>
                <box size="0.02015872455339962 0.18474312193469578 1.1161584002394322" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.5580792001197161" rpy="0 0 0"/>
            <geometry>
                <box size="0.02015872455339962 0.18474312193469578 1.1161584002394322" />
            </geometry>
        </collision>
    </link>
    <joint name="12_13" type="revolute">
       <parent link="12"/>
       <child  link="13"/>
       <origin rpy="0 0 0" xyz="0 -0.17220055557109226 -0.44633715038837235" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="14">
        <inertial>
            <origin xyz="0 0 -0.6476271411143987" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.6476271411143987" rpy="0 0 0"/>
            <geometry>
                <box size="0.8662983087762839 0.49716962175814683 1.2952542822287973" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.6476271411143987" rpy="0 0 0"/>
            <geometry>
                <box size="0.8662983087762839 0.49716962175814683 1.2952542822287973" />
            </geometry>
        </collision>
    </link>
    <joint name="13_14" type="revolute">
       <parent link="13"/>
       <child  link="14"/>
       <origin rpy="0 0 0" xyz="0 0 -1.1161584002394322" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="15">
        <inertial>
            <origin xyz="0 0 -0.09429365876588525" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.09429365876588525" rpy="0 0 0"/>
            <geometry>
                <box size="0.22440823557417344 0.6287655764297629 0.1885873175317705" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.09429365876588525" rpy="0 0 0"/>
            <geometry>
                <box size="0.22440823557417344 0.6287655764297629 0.1885873175317705" />
            </geometry>
        </collision>
    </link>
    <joint name="14_15" type="revolute">
       <parent link="14"/>
       <child  link="15"/>
       <origin rpy="0 0 0" xyz="0 0 -1.2952542822287973" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="16">
        <inertial>
            <origin xyz="0 0.08439297519685429 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.08439297519685429 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7931699128658303 0.16878595039370858 0.6233463442379121" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.08439297519685429 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7931699128658303 0.16878595039370858 0.6233463442379121" />
            </geometry>
        </collision>
    </link>
    <joint name="0_16" type="revolute">
       <parent link="0"/>
       <child  link="16"/>
       <origin rpy="0 0 0" xyz="0 0.75 3" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="17">
        <inertial>
            <origin xyz="0 0.1208324389399077 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.1208324389399077 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2033979365625309 0.2416648778798154 0.7457281493128903" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.1208324389399077 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2033979365625309 0.2416648778798154 0.7457281493128903" />
            </geometry>
        </collision>
    </link>
    <joint name="16_17" type="revolute">
       <parent link="16"/>
       <child  link="17"/>
       <origin rpy="0 0 0" xyz="0 0.16878595039370858 0" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="18">
        <inertial>
            <origin xyz="0 0 -0.5927469529696212" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.5927469529696212" rpy="0 0 0"/>
            <geometry>
                <box size="0.5057248838529839 0.7224717001892155 1.1854939059392424" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.5927469529696212" rpy="0 0 0"/>
            <geometry>
                <box size="0.5057248838529839 0.7224717001892155 1.1854939059392424" />
            </geometry>
        </collision>
    </link>
    <joint name="17_18" type="revolute">
       <parent link="17"/>
       <child  link="18"/>
       <origin rpy="0 0 0" xyz="0 0.1208324389399077 -0.37286407465644517" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="19">
        <inertial>
            <origin xyz="0 0 -0.3607949847460248" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.3607949847460248" rpy="0 0 0"/>
            <geometry>
                <box size="0.6444539117939556 0.8071476263970032 0.7215899694920496" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.3607949847460248" rpy="0 0 0"/>
            <geometry>
                <box size="0.6444539117939556 0.8071476263970032 0.7215899694920496" />
            </geometry>
        </collision>
    </link>
    <joint name="18_19" type="revolute">
       <parent link="18"/>
       <child  link="19"/>
       <origin rpy="0 0 0" xyz="0 0 -1.1854939059392424" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="20">
        <inertial>
            <origin xyz="0 0 -0.34645806228435405" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.34645806228435405" rpy="0 0 0"/>
            <geometry>
                <box size="0.20155459524372732 0.7370471930821709 0.6929161245687081" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.34645806228435405" rpy="0 0 0"/>
            <geometry>
                <box size="0.20155459524372732 0.7370471930821709 0.6929161245687081" />
            </geometry>
        </collision>
    </link>
    <joint name="19_20" type="revolute">
       <parent link="19"/>
       <child  link="20"/>
       <origin rpy="0 0 0" xyz="0 0 -0.7215899694920496" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>