<robot name = "robot">
    <link name="0">
        <inertial>
            <origin xyz="0 0 3" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 3" rpy="0 0 0"/>
            <geometry>
                <box size="1.5 1.5 0.8" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 3" rpy="0 0 0"/>
            <geometry>
                <box size="1.5 1.5 0.8" />
            </geometry>
        </collision>
    </link>
    <link name="1">
        <inertial>
            <origin xyz="-0.033837312797318164 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.033837312797318164 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.06767462559463633 0.11977445849970259 0.9652005914966406" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.033837312797318164 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.06767462559463633 0.11977445849970259 0.9652005914966406" />
            </geometry>
        </collision>
    </link>
    <joint name="0_1" type="revolute">
       <parent link="0"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="-0.75 0 3" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="2">
        <inertial>
            <origin xyz="-0.008520663642064441 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.008520663642064441 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.017041327284128882 0.731669498241847 0.9072620112108664" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.008520663642064441 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.017041327284128882 0.731669498241847 0.9072620112108664" />
            </geometry>
        </collision>
    </link>
    <joint name="1_2" type="revolute">
       <parent link="1"/>
       <child  link="2"/>
       <origin rpy="0 0 0" xyz="-0.06767462559463633 0 0" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="3">
        <inertial>
            <origin xyz="-0.3117223169401748 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.3117223169401748 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6234446338803497 0.7724429435488531 0.8419259561606982" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.3117223169401748 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6234446338803497 0.7724429435488531 0.8419259561606982" />
            </geometry>
        </collision>
    </link>
    <joint name="2_3" type="revolute">
       <parent link="2"/>
       <child  link="3"/>
       <origin rpy="0 0 0" xyz="-0.017041327284128882 0 0" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="4">
        <inertial>
            <origin xyz="0 0 -0.3354633793930011" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.3354633793930011" rpy="0 0 0"/>
            <geometry>
                <box size="0.23495362378937779 0.21296707437731555 0.6709267587860022" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.3354633793930011" rpy="0 0 0"/>
            <geometry>
                <box size="0.23495362378937779 0.21296707437731555 0.6709267587860022" />
            </geometry>
        </collision>
    </link>
    <joint name="3_4" type="revolute">
       <parent link="3"/>
       <child  link="4"/>
       <origin rpy="0 0 0" xyz="-0.3117223169401748 0 -0.4209629780803491" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="5">
        <inertial>
            <origin xyz="0 0 -0.0387017619874086" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.0387017619874086" rpy="0 0 0"/>
            <geometry>
                <box size="0.8625424016725112 0.3462020235364546 0.0774035239748172" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.0387017619874086" rpy="0 0 0"/>
            <geometry>
                <box size="0.8625424016725112 0.3462020235364546 0.0774035239748172" />
            </geometry>
        </collision>
    </link>
    <joint name="4_5" type="revolute">
       <parent link="4"/>
       <child  link="5"/>
       <origin rpy="0 0 0" xyz="0 0 -0.6709267587860022" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="6">
        <inertial>
            <origin xyz="0 0 -0.9258348586195904" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.9258348586195904" rpy="0 0 0"/>
            <geometry>
                <box size="0.26085495443737483 0.4227758135591968 1.8516697172391807" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.9258348586195904" rpy="0 0 0"/>
            <geometry>
                <box size="0.26085495443737483 0.4227758135591968 1.8516697172391807" />
            </geometry>
        </collision>
    </link>
    <joint name="5_6" type="revolute">
       <parent link="5"/>
       <child  link="6"/>
       <origin rpy="0 0 0" xyz="0 0 -0.0774035239748172" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="7">
        <inertial>
            <origin xyz="0.37121586611789675 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.37121586611789675 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7424317322357935 0.960343497968653 0.2579393652567007" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.37121586611789675 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7424317322357935 0.960343497968653 0.2579393652567007" />
            </geometry>
        </collision>
    </link>
    <joint name="0_7" type="revolute">
       <parent link="0"/>
       <child  link="7"/>
       <origin rpy="0 0 0" xyz="0.75 0 3" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="8">
        <inertial>
            <origin xyz="0.15493361395750804 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.15493361395750804 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3098672279150161 0.6351159674453043 0.663141072577725" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.15493361395750804 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3098672279150161 0.6351159674453043 0.663141072577725" />
            </geometry>
        </collision>
    </link>
    <joint name="7_8" type="revolute">
       <parent link="7"/>
       <child  link="8"/>
       <origin rpy="0 0 0" xyz="0.7424317322357935 0 0" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="9">
        <inertial>
            <origin xyz="0.27801220648837277 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.27801220648837277 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5560244129767455 0.3701219798631852 0.8905582949153699" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.27801220648837277 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5560244129767455 0.3701219798631852 0.8905582949153699" />
            </geometry>
        </collision>
    </link>
    <joint name="8_9" type="revolute">
       <parent link="8"/>
       <child  link="9"/>
       <origin rpy="0 0 0" xyz="0.3098672279150161 0 0" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="10">
        <inertial>
            <origin xyz="0 0 -0.7878511714402838" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.7878511714402838" rpy="0 0 0"/>
            <geometry>
                <box size="0.8963354896031083 0.8471959952921372 1.5757023428805677" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.7878511714402838" rpy="0 0 0"/>
            <geometry>
                <box size="0.8963354896031083 0.8471959952921372 1.5757023428805677" />
            </geometry>
        </collision>
    </link>
    <joint name="9_10" type="revolute">
       <parent link="9"/>
       <child  link="10"/>
       <origin rpy="0 0 0" xyz="0.27801220648837277 0 -0.44527914745768493" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="11">
        <inertial>
            <origin xyz="0 0 -0.4358431913210955" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.4358431913210955" rpy="0 0 0"/>
            <geometry>
                <box size="0.3554550140639666 0.42017261116120896 0.871686382642191" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.4358431913210955" rpy="0 0 0"/>
            <geometry>
                <box size="0.3554550140639666 0.42017261116120896 0.871686382642191" />
            </geometry>
        </collision>
    </link>
    <joint name="10_11" type="revolute">
       <parent link="10"/>
       <child  link="11"/>
       <origin rpy="0 0 0" xyz="0 0 -1.5757023428805677" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="12">
        <inertial>
            <origin xyz="0 0 -0.07630563723862072" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.07630563723862072" rpy="0 0 0"/>
            <geometry>
                <box size="0.5089877068738785 0.5455406718702279 0.15261127447724143" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.07630563723862072" rpy="0 0 0"/>
            <geometry>
                <box size="0.5089877068738785 0.5455406718702279 0.15261127447724143" />
            </geometry>
        </collision>
    </link>
    <joint name="11_12" type="revolute">
       <parent link="11"/>
       <child  link="12"/>
       <origin rpy="0 0 0" xyz="0 0 -0.871686382642191" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="13">
        <inertial>
            <origin xyz="0 -0.4642185537768644 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.4642185537768644 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.03582847838765135 0.9284371075537288 0.2656946826492663" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.4642185537768644 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.03582847838765135 0.9284371075537288 0.2656946826492663" />
            </geometry>
        </collision>
    </link>
    <joint name="0_13" type="revolute">
       <parent link="0"/>
       <child  link="13"/>
       <origin rpy="0 0 0" xyz="0 -0.75 3" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="14">
        <inertial>
            <origin xyz="0 -0.24542005990628168 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.24542005990628168 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.836297768873161 0.49084011981256337 0.37127103465591027" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.24542005990628168 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.836297768873161 0.49084011981256337 0.37127103465591027" />
            </geometry>
        </collision>
    </link>
    <joint name="13_14" type="revolute">
       <parent link="13"/>
       <child  link="14"/>
       <origin rpy="0 0 0" xyz="0 -0.9284371075537288 0" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="15">
        <inertial>
            <origin xyz="0 -0.31163137793818824 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.31163137793818824 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7775749742766959 0.6232627558763765 0.52452405903562" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.31163137793818824 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7775749742766959 0.6232627558763765 0.52452405903562" />
            </geometry>
        </collision>
    </link>
    <joint name="14_15" type="revolute">
       <parent link="14"/>
       <child  link="15"/>
       <origin rpy="0 0 0" xyz="0 -0.49084011981256337 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="16">
        <inertial>
            <origin xyz="0 0 -1.1570150433581685" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -1.1570150433581685" rpy="0 0 0"/>
            <geometry>
                <box size="0.489037604377095 0.6436604286985829 2.314030086716337" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -1.1570150433581685" rpy="0 0 0"/>
            <geometry>
                <box size="0.489037604377095 0.6436604286985829 2.314030086716337" />
            </geometry>
        </collision>
    </link>
    <joint name="15_16" type="revolute">
       <parent link="15"/>
       <child  link="16"/>
       <origin rpy="0 0 0" xyz="0 -0.31163137793818824 -0.26226202951781" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="17">
        <inertial>
            <origin xyz="0 0 -0.04111346192086604" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.04111346192086604" rpy="0 0 0"/>
            <geometry>
                <box size="0.5219049431468757 0.6631413144302925 0.08222692384173208" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.04111346192086604" rpy="0 0 0"/>
            <geometry>
                <box size="0.5219049431468757 0.6631413144302925 0.08222692384173208" />
            </geometry>
        </collision>
    </link>
    <joint name="16_17" type="revolute">
       <parent link="16"/>
       <child  link="17"/>
       <origin rpy="0 0 0" xyz="0 0 -2.314030086716337" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="18">
        <inertial>
            <origin xyz="0 0 -0.10187149472096549" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.10187149472096549" rpy="0 0 0"/>
            <geometry>
                <box size="0.11328750231942974 0.9352863851287023 0.20374298944193098" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.10187149472096549" rpy="0 0 0"/>
            <geometry>
                <box size="0.11328750231942974 0.9352863851287023 0.20374298944193098" />
            </geometry>
        </collision>
    </link>
    <joint name="17_18" type="revolute">
       <parent link="17"/>
       <child  link="18"/>
       <origin rpy="0 0 0" xyz="0 0 -0.08222692384173208" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="19">
        <inertial>
            <origin xyz="0 0.39021682240895766 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.39021682240895766 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7246015300172965 0.7804336448179153 0.6739053203033433" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.39021682240895766 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7246015300172965 0.7804336448179153 0.6739053203033433" />
            </geometry>
        </collision>
    </link>
    <joint name="0_19" type="revolute">
       <parent link="0"/>
       <child  link="19"/>
       <origin rpy="0 0 0" xyz="0 0.75 3" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="20">
        <inertial>
            <origin xyz="0 0.34980669056404007 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.34980669056404007 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.37989359718821347 0.6996133811280801 0.031109175992180993" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.34980669056404007 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.37989359718821347 0.6996133811280801 0.031109175992180993" />
            </geometry>
        </collision>
    </link>
    <joint name="19_20" type="revolute">
       <parent link="19"/>
       <child  link="20"/>
       <origin rpy="0 0 0" xyz="0 0.7804336448179153 0" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="21">
        <inertial>
            <origin xyz="0 0.34403625845764674 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.34403625845764674 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9533090805593664 0.6880725169152935 0.20963992370616102" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.34403625845764674 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9533090805593664 0.6880725169152935 0.20963992370616102" />
            </geometry>
        </collision>
    </link>
    <joint name="20_21" type="revolute">
       <parent link="20"/>
       <child  link="21"/>
       <origin rpy="0 0 0" xyz="0 0.6996133811280801 0" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="22">
        <inertial>
            <origin xyz="0 0 -0.16135739609241437" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.16135739609241437" rpy="0 0 0"/>
            <geometry>
                <box size="0.6411081998674797 0.3809407543954383 0.32271479218482874" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.16135739609241437" rpy="0 0 0"/>
            <geometry>
                <box size="0.6411081998674797 0.3809407543954383 0.32271479218482874" />
            </geometry>
        </collision>
    </link>
    <joint name="21_22" type="revolute">
       <parent link="21"/>
       <child  link="22"/>
       <origin rpy="0 0 0" xyz="0 0.34403625845764674 -0.10481996185308051" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="23">
        <inertial>
            <origin xyz="0 0 -0.7569513543496502" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.7569513543496502" rpy="0 0 0"/>
            <geometry>
                <box size="0.9858213081787044 0.40740840491628616 1.5139027086993004" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.7569513543496502" rpy="0 0 0"/>
            <geometry>
                <box size="0.9858213081787044 0.40740840491628616 1.5139027086993004" />
            </geometry>
        </collision>
    </link>
    <joint name="22_23" type="revolute">
       <parent link="22"/>
       <child  link="23"/>
       <origin rpy="0 0 0" xyz="0 0 -0.32271479218482874" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="24">
        <inertial>
            <origin xyz="0 0 -0.38169124955793543" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.38169124955793543" rpy="0 0 0"/>
            <geometry>
                <box size="0.03265537500004323 0.5365085187638866 0.7633824991158709" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.38169124955793543" rpy="0 0 0"/>
            <geometry>
                <box size="0.03265537500004323 0.5365085187638866 0.7633824991158709" />
            </geometry>
        </collision>
    </link>
    <joint name="23_24" type="revolute">
       <parent link="23"/>
       <child  link="24"/>
       <origin rpy="0 0 0" xyz="0 0 -1.5139027086993004" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>