<robot name = "robot">
    <link name="0">
        <inertial>
            <origin xyz="0 0 0.35" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.35" rpy="0 0 0"/>
            <geometry>
                <box size="0.7 0.7 0.7" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.35" rpy="0 0 0"/>
            <geometry>
                <box size="0.7 0.7 0.7" />
            </geometry>
        </collision>
    </link>
    <link name="1">
        <inertial>
            <origin xyz="0.34358053574347075 0 0.018935266556932784" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.34358053574347075 0 0.018935266556932784" rpy="0 0 0"/>
            <geometry>
                <box size="0.6871610714869415 0.7399416576606512 0.03787053311386557" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.34358053574347075 0 0.018935266556932784" rpy="0 0 0"/>
            <geometry>
                <box size="0.6871610714869415 0.7399416576606512 0.03787053311386557" />
            </geometry>
        </collision>
    </link>
    <joint name="0_1" type="revolute">
       <parent link="0"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="0.35 0 0.7" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="2">
        <inertial>
            <origin xyz="0.4010211775920434 0 0.46614614510445346" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.4010211775920434 0 0.46614614510445346" rpy="0 0 0"/>
            <geometry>
                <box size="0.8020423551840868 0.2146675970091878 0.9322922902089069" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.4010211775920434 0 0.46614614510445346" rpy="0 0 0"/>
            <geometry>
                <box size="0.8020423551840868 0.2146675970091878 0.9322922902089069" />
            </geometry>
        </collision>
    </link>
    <joint name="1_2" type="revolute">
       <parent link="1"/>
       <child  link="2"/>
       <origin rpy="0 0 0" xyz="0.6871610714869415 0 0.03787053311386557" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="3">
        <inertial>
            <origin xyz="0.18580429657143516 0 0.0715095324646115" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.18580429657143516 0 0.0715095324646115" rpy="0 0 0"/>
            <geometry>
                <box size="0.3716085931428703 0.8362199406692983 0.143019064929223" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.18580429657143516 0 0.0715095324646115" rpy="0 0 0"/>
            <geometry>
                <box size="0.3716085931428703 0.8362199406692983 0.143019064929223" />
            </geometry>
        </collision>
    </link>
    <joint name="2_3" type="revolute">
       <parent link="2"/>
       <child  link="3"/>
       <origin rpy="0 0 0" xyz="0.8020423551840868 0 0.9322922902089069" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="4">
        <inertial>
            <origin xyz="0.012259230356236772 0 0.1650975229023537" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.012259230356236772 0 0.1650975229023537" rpy="0 0 0"/>
            <geometry>
                <box size="0.024518460712473544 0.9591212011470631 0.3301950458047074" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.012259230356236772 0 0.1650975229023537" rpy="0 0 0"/>
            <geometry>
                <box size="0.024518460712473544 0.9591212011470631 0.3301950458047074" />
            </geometry>
        </collision>
    </link>
    <joint name="3_4" type="revolute">
       <parent link="3"/>
       <child  link="4"/>
       <origin rpy="0 0 0" xyz="0.3716085931428703 0 0.143019064929223" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="5">
        <inertial>
            <origin xyz="0 -0.12898554133162415 0.49376671455607796" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.12898554133162415 0.49376671455607796" rpy="0 0 0"/>
            <geometry>
                <box size="0.8730551124046906 0.2579710826632483 0.9875334291121559" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.12898554133162415 0.49376671455607796" rpy="0 0 0"/>
            <geometry>
                <box size="0.8730551124046906 0.2579710826632483 0.9875334291121559" />
            </geometry>
        </collision>
    </link>
    <joint name="0_5" type="revolute">
       <parent link="0"/>
       <child  link="5"/>
       <origin rpy="0 0 0" xyz="0 -0.35 0.7" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="6">
        <inertial>
            <origin xyz="0 -0.35129805288326305 0.38787605311036744" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.35129805288326305 0.38787605311036744" rpy="0 0 0"/>
            <geometry>
                <box size="0.17353625927774796 0.7025961057665261 0.7757521062207349" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.35129805288326305 0.38787605311036744" rpy="0 0 0"/>
            <geometry>
                <box size="0.17353625927774796 0.7025961057665261 0.7757521062207349" />
            </geometry>
        </collision>
    </link>
    <joint name="5_6" type="revolute">
       <parent link="5"/>
       <child  link="6"/>
       <origin rpy="0 0 0" xyz="0 -0.2579710826632483 0.9875334291121559" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="7">
        <inertial>
            <origin xyz="0 -0.0330614021651926 0.039872238070646715" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.0330614021651926 0.039872238070646715" rpy="0 0 0"/>
            <geometry>
                <box size="0.2054206796579766 0.0661228043303852 0.07974447614129343" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.0330614021651926 0.039872238070646715" rpy="0 0 0"/>
            <geometry>
                <box size="0.2054206796579766 0.0661228043303852 0.07974447614129343" />
            </geometry>
        </collision>
    </link>
    <joint name="6_7" type="revolute">
       <parent link="6"/>
       <child  link="7"/>
       <origin rpy="0 0 0" xyz="0 -0.7025961057665261 0.7757521062207349" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="8">
        <inertial>
            <origin xyz="0 -0.18601622839980747 0.4255303130605576" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.18601622839980747 0.4255303130605576" rpy="0 0 0"/>
            <geometry>
                <box size="0.07712214101602677 0.37203245679961494 0.8510606261211152" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.18601622839980747 0.4255303130605576" rpy="0 0 0"/>
            <geometry>
                <box size="0.07712214101602677 0.37203245679961494 0.8510606261211152" />
            </geometry>
        </collision>
    </link>
    <joint name="7_8" type="revolute">
       <parent link="7"/>
       <child  link="8"/>
       <origin rpy="0 0 0" xyz="0 -0.0661228043303852 0.07974447614129343" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="9">
        <inertial>
            <origin xyz="0 0.43664134457360254 0.2819966462491877" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.43664134457360254 0.2819966462491877" rpy="0 0 0"/>
            <geometry>
                <box size="0.7128321999403593 0.8732826891472051 0.5639932924983754" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.43664134457360254 0.2819966462491877" rpy="0 0 0"/>
            <geometry>
                <box size="0.7128321999403593 0.8732826891472051 0.5639932924983754" />
            </geometry>
        </collision>
    </link>
    <joint name="0_9" type="revolute">
       <parent link="0"/>
       <child  link="9"/>
       <origin rpy="0 0 0" xyz="0 0.35 0.7" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="10">
        <inertial>
            <origin xyz="0 0.49706699567633583 0.39338681088229427" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.49706699567633583 0.39338681088229427" rpy="0 0 0"/>
            <geometry>
                <box size="0.6608134786389915 0.9941339913526717 0.7867736217645885" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.49706699567633583 0.39338681088229427" rpy="0 0 0"/>
            <geometry>
                <box size="0.6608134786389915 0.9941339913526717 0.7867736217645885" />
            </geometry>
        </collision>
    </link>
    <joint name="9_10" type="revolute">
       <parent link="9"/>
       <child  link="10"/>
       <origin rpy="0 0 0" xyz="0 0.8732826891472051 0.5639932924983754" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>