<robot name = "robot">
    <link name="0">
        <inertial>
            <origin xyz="0 0 0.35" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.35" rpy="0 0 0"/>
            <geometry>
                <box size="0.7 0.7 0.7" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.35" rpy="0 0 0"/>
            <geometry>
                <box size="0.7 0.7 0.7" />
            </geometry>
        </collision>
    </link>
    <link name="1">
        <inertial>
            <origin xyz="0.12408430844015722 0 0.4789528620683139" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.12408430844015722 0 0.4789528620683139" rpy="0 0 0"/>
            <geometry>
                <box size="0.24816861688031444 0.5062869119000986 0.9579057241366278" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.12408430844015722 0 0.4789528620683139" rpy="0 0 0"/>
            <geometry>
                <box size="0.24816861688031444 0.5062869119000986 0.9579057241366278" />
            </geometry>
        </collision>
    </link>
    <joint name="0_1" type="revolute">
       <parent link="0"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="0.35 0 0.7" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="2">
        <inertial>
            <origin xyz="0.480455420336579 0 0.28690774156880505" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.480455420336579 0 0.28690774156880505" rpy="0 0 0"/>
            <geometry>
                <box size="0.960910840673158 0.1585276610165225 0.5738154831376101" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.480455420336579 0 0.28690774156880505" rpy="0 0 0"/>
            <geometry>
                <box size="0.960910840673158 0.1585276610165225 0.5738154831376101" />
            </geometry>
        </collision>
    </link>
    <joint name="1_2" type="revolute">
       <parent link="1"/>
       <child  link="2"/>
       <origin rpy="0 0 0" xyz="0.24816861688031444 0 0.9579057241366278" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="3">
        <inertial>
            <origin xyz="0.3437535473382924 0 0.48369970554822717" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.3437535473382924 0 0.48369970554822717" rpy="0 0 0"/>
            <geometry>
                <box size="0.6875070946765848 0.2782329524862325 0.9673994110964543" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.3437535473382924 0 0.48369970554822717" rpy="0 0 0"/>
            <geometry>
                <box size="0.6875070946765848 0.2782329524862325 0.9673994110964543" />
            </geometry>
        </collision>
    </link>
    <joint name="2_3" type="revolute">
       <parent link="2"/>
       <child  link="3"/>
       <origin rpy="0 0 0" xyz="0.960910840673158 0 0.5738154831376101" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="4">
        <inertial>
            <origin xyz="0.36553080931003384 0 0.06787441941371897" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.36553080931003384 0 0.06787441941371897" rpy="0 0 0"/>
            <geometry>
                <box size="0.7310616186200677 0.25181517410717436 0.13574883882743793" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.36553080931003384 0 0.06787441941371897" rpy="0 0 0"/>
            <geometry>
                <box size="0.7310616186200677 0.25181517410717436 0.13574883882743793" />
            </geometry>
        </collision>
    </link>
    <joint name="3_4" type="revolute">
       <parent link="3"/>
       <child  link="4"/>
       <origin rpy="0 0 0" xyz="0.6875070946765848 0 0.9673994110964543" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="5">
        <inertial>
            <origin xyz="0 -0.2707311431027403 0.13261860286277977" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.2707311431027403 0.13261860286277977" rpy="0 0 0"/>
            <geometry>
                <box size="0.36429895778095533 0.5414622862054806 0.26523720572555953" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.2707311431027403 0.13261860286277977" rpy="0 0 0"/>
            <geometry>
                <box size="0.36429895778095533 0.5414622862054806 0.26523720572555953" />
            </geometry>
        </collision>
    </link>
    <joint name="0_5" type="revolute">
       <parent link="0"/>
       <child  link="5"/>
       <origin rpy="0 0 0" xyz="0 -0.35 0.7" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="6">
        <inertial>
            <origin xyz="0 -0.4542812027925073 0.22176632038848315" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.4542812027925073 0.22176632038848315" rpy="0 0 0"/>
            <geometry>
                <box size="0.4811470575040059 0.9085624055850146 0.4435326407769663" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.4542812027925073 0.22176632038848315" rpy="0 0 0"/>
            <geometry>
                <box size="0.4811470575040059 0.9085624055850146 0.4435326407769663" />
            </geometry>
        </collision>
    </link>
    <joint name="5_6" type="revolute">
       <parent link="5"/>
       <child  link="6"/>
       <origin rpy="0 0 0" xyz="0 -0.5414622862054806 0.26523720572555953" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="7">
        <inertial>
            <origin xyz="0 -0.19908648369624293 0.19268129913901783" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.19908648369624293 0.19268129913901783" rpy="0 0 0"/>
            <geometry>
                <box size="0.6683556550731438 0.39817296739248587 0.38536259827803565" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.19908648369624293 0.19268129913901783" rpy="0 0 0"/>
            <geometry>
                <box size="0.6683556550731438 0.39817296739248587 0.38536259827803565" />
            </geometry>
        </collision>
    </link>
    <joint name="6_7" type="revolute">
       <parent link="6"/>
       <child  link="7"/>
       <origin rpy="0 0 0" xyz="0 -0.9085624055850146 0.4435326407769663" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="8">
        <inertial>
            <origin xyz="0 -0.2448801472321802 0.14613535698911556" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.2448801472321802 0.14613535698911556" rpy="0 0 0"/>
            <geometry>
                <box size="0.21243138878226708 0.4897602944643604 0.2922707139782311" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.2448801472321802 0.14613535698911556" rpy="0 0 0"/>
            <geometry>
                <box size="0.21243138878226708 0.4897602944643604 0.2922707139782311" />
            </geometry>
        </collision>
    </link>
    <joint name="7_8" type="revolute">
       <parent link="7"/>
       <child  link="8"/>
       <origin rpy="0 0 0" xyz="0 -0.39817296739248587 0.38536259827803565" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="9">
        <inertial>
            <origin xyz="0 -0.44612185720257835 0.11196826677282917" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.44612185720257835 0.11196826677282917" rpy="0 0 0"/>
            <geometry>
                <box size="0.8830703109447854 0.8922437144051567 0.22393653354565835" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.44612185720257835 0.11196826677282917" rpy="0 0 0"/>
            <geometry>
                <box size="0.8830703109447854 0.8922437144051567 0.22393653354565835" />
            </geometry>
        </collision>
    </link>
    <joint name="8_9" type="revolute">
       <parent link="8"/>
       <child  link="9"/>
       <origin rpy="0 0 0" xyz="0 -0.4897602944643604 0.2922707139782311" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>