<robot name = "robot">
    <link name="0">
        <inertial>
            <origin xyz="0 0 3" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 3" rpy="0 0 0"/>
            <geometry>
                <box size="1.5 1.5 0.8" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 3" rpy="0 0 0"/>
            <geometry>
                <box size="1.5 1.5 0.8" />
            </geometry>
        </collision>
    </link>
    <link name="1">
        <inertial>
            <origin xyz="-0.152855917099245 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.152855917099245 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.30571183419849 0.9518451775198629 0.430645712709801" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.152855917099245 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.30571183419849 0.9518451775198629 0.430645712709801" />
            </geometry>
        </collision>
    </link>
    <joint name="0_1" type="revolute">
       <parent link="0"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="-0.75 0 3" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="2">
        <inertial>
            <origin xyz="-0.3543989110657981 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.3543989110657981 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7087978221315961 0.8993476481357638 0.9819960834461671" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.3543989110657981 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7087978221315961 0.8993476481357638 0.9819960834461671" />
            </geometry>
        </collision>
    </link>
    <joint name="1_2" type="revolute">
       <parent link="1"/>
       <child  link="2"/>
       <origin rpy="0 0 0" xyz="-0.30571183419849 0 0" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="3">
        <inertial>
            <origin xyz="0 0 -0.6939373490451334" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.6939373490451334" rpy="0 0 0"/>
            <geometry>
                <box size="0.957256514577043 0.9962892434844276 1.3878746980902668" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.6939373490451334" rpy="0 0 0"/>
            <geometry>
                <box size="0.957256514577043 0.9962892434844276 1.3878746980902668" />
            </geometry>
        </collision>
    </link>
    <joint name="2_3" type="revolute">
       <parent link="2"/>
       <child  link="3"/>
       <origin rpy="0 0 0" xyz="-0.3543989110657981 0 -0.49099804172308353" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="4">
        <inertial>
            <origin xyz="0 0 -0.4057707622660398" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.4057707622660398" rpy="0 0 0"/>
            <geometry>
                <box size="0.5860407142805089 0.6599843870223701 0.8115415245320796" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.4057707622660398" rpy="0 0 0"/>
            <geometry>
                <box size="0.5860407142805089 0.6599843870223701 0.8115415245320796" />
            </geometry>
        </collision>
    </link>
    <joint name="3_4" type="revolute">
       <parent link="3"/>
       <child  link="4"/>
       <origin rpy="0 0 0" xyz="0 0 -1.3878746980902668" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="5">
        <inertial>
            <origin xyz="0 0 -0.20029188868882686" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.20029188868882686" rpy="0 0 0"/>
            <geometry>
                <box size="0.517554738723176 0.9848365014396936 0.4005837773776537" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.20029188868882686" rpy="0 0 0"/>
            <geometry>
                <box size="0.517554738723176 0.9848365014396936 0.4005837773776537" />
            </geometry>
        </collision>
    </link>
    <joint name="4_5" type="revolute">
       <parent link="4"/>
       <child  link="5"/>
       <origin rpy="0 0 0" xyz="0 0 -0.8115415245320796" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="6">
        <inertial>
            <origin xyz="0.168257400903786 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.168257400903786 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.336514801807572 0.8899855165922288 0.7730780062243229" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.168257400903786 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.336514801807572 0.8899855165922288 0.7730780062243229" />
            </geometry>
        </collision>
    </link>
    <joint name="0_6" type="revolute">
       <parent link="0"/>
       <child  link="6"/>
       <origin rpy="0 0 0" xyz="0.75 0 3" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="7">
        <inertial>
            <origin xyz="0.49485170896157926 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.49485170896157926 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9897034179231585 0.6734352609284452 0.9122577956944016" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.49485170896157926 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9897034179231585 0.6734352609284452 0.9122577956944016" />
            </geometry>
        </collision>
    </link>
    <joint name="6_7" type="revolute">
       <parent link="6"/>
       <child  link="7"/>
       <origin rpy="0 0 0" xyz="0.336514801807572 0 0" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="8">
        <inertial>
            <origin xyz="0 0 -1.0651309193635379" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -1.0651309193635379" rpy="0 0 0"/>
            <geometry>
                <box size="0.10262179079323996 0.06740629054249048 2.1302618387270758" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -1.0651309193635379" rpy="0 0 0"/>
            <geometry>
                <box size="0.10262179079323996 0.06740629054249048 2.1302618387270758" />
            </geometry>
        </collision>
    </link>
    <joint name="7_8" type="revolute">
       <parent link="7"/>
       <child  link="8"/>
       <origin rpy="0 0 0" xyz="0.49485170896157926 0 -0.4561288978472008" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="9">
        <inertial>
            <origin xyz="0 0 -0.13781636471595649" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.13781636471595649" rpy="0 0 0"/>
            <geometry>
                <box size="0.8552776274289405 0.6386450768753394 0.27563272943191297" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.13781636471595649" rpy="0 0 0"/>
            <geometry>
                <box size="0.8552776274289405 0.6386450768753394 0.27563272943191297" />
            </geometry>
        </collision>
    </link>
    <joint name="8_9" type="revolute">
       <parent link="8"/>
       <child  link="9"/>
       <origin rpy="0 0 0" xyz="0 0 -2.1302618387270758" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="10">
        <inertial>
            <origin xyz="0 0 -0.09705271592050568" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.09705271592050568" rpy="0 0 0"/>
            <geometry>
                <box size="0.654704885167519 0.13498266345016618 0.19410543184101137" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.09705271592050568" rpy="0 0 0"/>
            <geometry>
                <box size="0.654704885167519 0.13498266345016618 0.19410543184101137" />
            </geometry>
        </collision>
    </link>
    <joint name="9_10" type="revolute">
       <parent link="9"/>
       <child  link="10"/>
       <origin rpy="0 0 0" xyz="0 0 -0.27563272943191297" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="11">
        <inertial>
            <origin xyz="0 -0.4477608602637101 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.4477608602637101 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7178056178729165 0.8955217205274202 0.6091563229059456" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.4477608602637101 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7178056178729165 0.8955217205274202 0.6091563229059456" />
            </geometry>
        </collision>
    </link>
    <joint name="0_11" type="revolute">
       <parent link="0"/>
       <child  link="11"/>
       <origin rpy="0 0 0" xyz="0 -0.75 3" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="12">
        <inertial>
            <origin xyz="0 -0.27175886356044243 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.27175886356044243 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6235610557561488 0.5435177271208849 0.41190253804559185" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.27175886356044243 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6235610557561488 0.5435177271208849 0.41190253804559185" />
            </geometry>
        </collision>
    </link>
    <joint name="11_12" type="revolute">
       <parent link="11"/>
       <child  link="12"/>
       <origin rpy="0 0 0" xyz="0 -0.8955217205274202 0" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="13">
        <inertial>
            <origin xyz="0 0 -0.5103969718923579" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.5103969718923579" rpy="0 0 0"/>
            <geometry>
                <box size="0.8085617403681463 0.36682346653751574 1.0207939437847158" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.5103969718923579" rpy="0 0 0"/>
            <geometry>
                <box size="0.8085617403681463 0.36682346653751574 1.0207939437847158" />
            </geometry>
        </collision>
    </link>
    <joint name="12_13" type="revolute">
       <parent link="12"/>
       <child  link="13"/>
       <origin rpy="0 0 0" xyz="0 -0.27175886356044243 -0.20595126902279592" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="14">
        <inertial>
            <origin xyz="0 0 -0.5116461480437395" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.5116461480437395" rpy="0 0 0"/>
            <geometry>
                <box size="0.4942984826725031 0.17543724607043498 1.023292296087479" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.5116461480437395" rpy="0 0 0"/>
            <geometry>
                <box size="0.4942984826725031 0.17543724607043498 1.023292296087479" />
            </geometry>
        </collision>
    </link>
    <joint name="13_14" type="revolute">
       <parent link="13"/>
       <child  link="14"/>
       <origin rpy="0 0 0" xyz="0 0 -1.0207939437847158" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="15">
        <inertial>
            <origin xyz="0 0 -0.2779568800639026" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.2779568800639026" rpy="0 0 0"/>
            <geometry>
                <box size="0.6453422873204909 0.8716982681740401 0.5559137601278052" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.2779568800639026" rpy="0 0 0"/>
            <geometry>
                <box size="0.6453422873204909 0.8716982681740401 0.5559137601278052" />
            </geometry>
        </collision>
    </link>
    <joint name="14_15" type="revolute">
       <parent link="14"/>
       <child  link="15"/>
       <origin rpy="0 0 0" xyz="0 0 -1.023292296087479" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="16">
        <inertial>
            <origin xyz="0 0.04413967525119761 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.04413967525119761 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9736558724294753 0.08827935050239522 0.5995649447772741" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.04413967525119761 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9736558724294753 0.08827935050239522 0.5995649447772741" />
            </geometry>
        </collision>
    </link>
    <joint name="0_16" type="revolute">
       <parent link="0"/>
       <child  link="16"/>
       <origin rpy="0 0 0" xyz="0 0.75 3" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="17">
        <inertial>
            <origin xyz="0 0.3212894700192117 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.3212894700192117 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.40185354003412654 0.6425789400384234 0.7109981904750138" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.3212894700192117 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.40185354003412654 0.6425789400384234 0.7109981904750138" />
            </geometry>
        </collision>
    </link>
    <joint name="16_17" type="revolute">
       <parent link="16"/>
       <child  link="17"/>
       <origin rpy="0 0 0" xyz="0 0.08827935050239522 0" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="18">
        <inertial>
            <origin xyz="0 0 -0.03855946526248993" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.03855946526248993" rpy="0 0 0"/>
            <geometry>
                <box size="0.8955412931178947 0.21067553989531707 0.07711893052497985" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.03855946526248993" rpy="0 0 0"/>
            <geometry>
                <box size="0.8955412931178947 0.21067553989531707 0.07711893052497985" />
            </geometry>
        </collision>
    </link>
    <joint name="17_18" type="revolute">
       <parent link="17"/>
       <child  link="18"/>
       <origin rpy="0 0 0" xyz="0 0.3212894700192117 -0.3554990952375069" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="19">
        <inertial>
            <origin xyz="0 0 -0.13927183202303384" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.13927183202303384" rpy="0 0 0"/>
            <geometry>
                <box size="0.5253662487622186 0.5286880059949645 0.2785436640460677" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.13927183202303384" rpy="0 0 0"/>
            <geometry>
                <box size="0.5253662487622186 0.5286880059949645 0.2785436640460677" />
            </geometry>
        </collision>
    </link>
    <joint name="18_19" type="revolute">
       <parent link="18"/>
       <child  link="19"/>
       <origin rpy="0 0 0" xyz="0 0 -0.07711893052497985" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="20">
        <inertial>
            <origin xyz="0 0 -1.1221687027144762" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -1.1221687027144762" rpy="0 0 0"/>
            <geometry>
                <box size="0.5527478040524022 0.054712483065720297 2.2443374054289524" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -1.1221687027144762" rpy="0 0 0"/>
            <geometry>
                <box size="0.5527478040524022 0.054712483065720297 2.2443374054289524" />
            </geometry>
        </collision>
    </link>
    <joint name="19_20" type="revolute">
       <parent link="19"/>
       <child  link="20"/>
       <origin rpy="0 0 0" xyz="0 0 -0.2785436640460677" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>