<robot name = "robot">
    <link name="0">
        <inertial>
            <origin xyz="0 0 0.35" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.35" rpy="0 0 0"/>
            <geometry>
                <box size="0.7 0.7 0.7" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.35" rpy="0 0 0"/>
            <geometry>
                <box size="0.7 0.7 0.7" />
            </geometry>
        </collision>
    </link>
    <link name="1">
        <inertial>
            <origin xyz="-0.15046957719470822 0 0.09395542070447949" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.15046957719470822 0 0.09395542070447949" rpy="0 0 0"/>
            <geometry>
                <box size="0.30093915438941643 0.4813001264012431 0.18791084140895897" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.15046957719470822 0 0.09395542070447949" rpy="0 0 0"/>
            <geometry>
                <box size="0.30093915438941643 0.4813001264012431 0.18791084140895897" />
            </geometry>
        </collision>
    </link>
    <joint name="0_1" type="revolute">
       <parent link="0"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="-0.35 0 0.7" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="2">
        <inertial>
            <origin xyz="-0.4156273734314398 0 0.41964471435202894" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.4156273734314398 0 0.41964471435202894" rpy="0 0 0"/>
            <geometry>
                <box size="0.8312547468628796 0.5135328082829885 0.8392894287040579" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.4156273734314398 0 0.41964471435202894" rpy="0 0 0"/>
            <geometry>
                <box size="0.8312547468628796 0.5135328082829885 0.8392894287040579" />
            </geometry>
        </collision>
    </link>
    <joint name="1_2" type="revolute">
       <parent link="1"/>
       <child  link="2"/>
       <origin rpy="0 0 0" xyz="-0.30093915438941643 0 0.18791084140895897" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="3">
        <inertial>
            <origin xyz="-0.3705919027231888 0 0.07697342879166097" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.3705919027231888 0 0.07697342879166097" rpy="0 0 0"/>
            <geometry>
                <box size="0.7411838054463776 0.5540689846488677 0.15394685758332194" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.3705919027231888 0 0.07697342879166097" rpy="0 0 0"/>
            <geometry>
                <box size="0.7411838054463776 0.5540689846488677 0.15394685758332194" />
            </geometry>
        </collision>
    </link>
    <joint name="2_3" type="revolute">
       <parent link="2"/>
       <child  link="3"/>
       <origin rpy="0 0 0" xyz="-0.8312547468628796 0 0.8392894287040579" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="4">
        <inertial>
            <origin xyz="-0.4302521611343568 0 0.30194515041123215" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.4302521611343568 0 0.30194515041123215" rpy="0 0 0"/>
            <geometry>
                <box size="0.8605043222687137 0.6584145374731099 0.6038903008224643" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.4302521611343568 0 0.30194515041123215" rpy="0 0 0"/>
            <geometry>
                <box size="0.8605043222687137 0.6584145374731099 0.6038903008224643" />
            </geometry>
        </collision>
    </link>
    <joint name="3_4" type="revolute">
       <parent link="3"/>
       <child  link="4"/>
       <origin rpy="0 0 0" xyz="-0.7411838054463776 0 0.15394685758332194" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="5">
        <inertial>
            <origin xyz="0.08534898476970015 0 0.09675246865922871" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.08534898476970015 0 0.09675246865922871" rpy="0 0 0"/>
            <geometry>
                <box size="0.1706979695394003 0.3604812204887835 0.19350493731845742" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.08534898476970015 0 0.09675246865922871" rpy="0 0 0"/>
            <geometry>
                <box size="0.1706979695394003 0.3604812204887835 0.19350493731845742" />
            </geometry>
        </collision>
    </link>
    <joint name="0_5" type="revolute">
       <parent link="0"/>
       <child  link="5"/>
       <origin rpy="0 0 0" xyz="0.35 0 0.7" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="6">
        <inertial>
            <origin xyz="0.3961850052390919 0 8.600711520795334e-05" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.3961850052390919 0 8.600711520795334e-05" rpy="0 0 0"/>
            <geometry>
                <box size="0.7923700104781838 0.8184672352040017 0.0001720142304159067" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.3961850052390919 0 8.600711520795334e-05" rpy="0 0 0"/>
            <geometry>
                <box size="0.7923700104781838 0.8184672352040017 0.0001720142304159067" />
            </geometry>
        </collision>
    </link>
    <joint name="5_6" type="revolute">
       <parent link="5"/>
       <child  link="6"/>
       <origin rpy="0 0 0" xyz="0.1706979695394003 0 0.19350493731845742" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="7">
        <inertial>
            <origin xyz="0 -0.10738031891575417 0.04608729228426961" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.10738031891575417 0.04608729228426961" rpy="0 0 0"/>
            <geometry>
                <box size="0.6871135641427606 0.21476063783150834 0.09217458456853922" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.10738031891575417 0.04608729228426961" rpy="0 0 0"/>
            <geometry>
                <box size="0.6871135641427606 0.21476063783150834 0.09217458456853922" />
            </geometry>
        </collision>
    </link>
    <joint name="0_7" type="revolute">
       <parent link="0"/>
       <child  link="7"/>
       <origin rpy="0 0 0" xyz="0 -0.35 0.7" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="8">
        <inertial>
            <origin xyz="0 -0.4871690018463044 0.4104580147844763" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.4871690018463044 0.4104580147844763" rpy="0 0 0"/>
            <geometry>
                <box size="0.13610451161293025 0.9743380036926088 0.8209160295689526" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.4871690018463044 0.4104580147844763" rpy="0 0 0"/>
            <geometry>
                <box size="0.13610451161293025 0.9743380036926088 0.8209160295689526" />
            </geometry>
        </collision>
    </link>
    <joint name="7_8" type="revolute">
       <parent link="7"/>
       <child  link="8"/>
       <origin rpy="0 0 0" xyz="0 -0.21476063783150834 0.09217458456853922" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="9">
        <inertial>
            <origin xyz="0 -0.24272329034444468 0.06219965082504586" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.24272329034444468 0.06219965082504586" rpy="0 0 0"/>
            <geometry>
                <box size="0.22147367000633478 0.48544658068888935 0.12439930165009172" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.24272329034444468 0.06219965082504586" rpy="0 0 0"/>
            <geometry>
                <box size="0.22147367000633478 0.48544658068888935 0.12439930165009172" />
            </geometry>
        </collision>
    </link>
    <joint name="8_9" type="revolute">
       <parent link="8"/>
       <child  link="9"/>
       <origin rpy="0 0 0" xyz="0 -0.9743380036926088 0.8209160295689526" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="10">
        <inertial>
            <origin xyz="0 0.18923757205065944 0.1614516833650501" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.18923757205065944 0.1614516833650501" rpy="0 0 0"/>
            <geometry>
                <box size="0.9860682378923298 0.3784751441013189 0.3229033667301002" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.18923757205065944 0.1614516833650501" rpy="0 0 0"/>
            <geometry>
                <box size="0.9860682378923298 0.3784751441013189 0.3229033667301002" />
            </geometry>
        </collision>
    </link>
    <joint name="0_10" type="revolute">
       <parent link="0"/>
       <child  link="10"/>
       <origin rpy="0 0 0" xyz="0 0.35 0.7" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="11">
        <inertial>
            <origin xyz="0 0.01740164578045328 0.15500749663700686" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.01740164578045328 0.15500749663700686" rpy="0 0 0"/>
            <geometry>
                <box size="0.569147433788731 0.03480329156090656 0.3100149932740137" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.01740164578045328 0.15500749663700686" rpy="0 0 0"/>
            <geometry>
                <box size="0.569147433788731 0.03480329156090656 0.3100149932740137" />
            </geometry>
        </collision>
    </link>
    <joint name="10_11" type="revolute">
       <parent link="10"/>
       <child  link="11"/>
       <origin rpy="0 0 0" xyz="0 0.3784751441013189 0.3229033667301002" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="12">
        <inertial>
            <origin xyz="0 0.26673296447899697 0.1290353015216416" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.26673296447899697 0.1290353015216416" rpy="0 0 0"/>
            <geometry>
                <box size="0.41562287795544217 0.5334659289579939 0.2580706030432832" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.26673296447899697 0.1290353015216416" rpy="0 0 0"/>
            <geometry>
                <box size="0.41562287795544217 0.5334659289579939 0.2580706030432832" />
            </geometry>
        </collision>
    </link>
    <joint name="11_12" type="revolute">
       <parent link="11"/>
       <child  link="12"/>
       <origin rpy="0 0 0" xyz="0 0.03480329156090656 0.3100149932740137" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>