<robot name = "robot">
    <link name="0">
        <inertial>
            <origin xyz="0 0 0.35" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.35" rpy="0 0 0"/>
            <geometry>
                <box size="0.7 0.7 0.7" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.35" rpy="0 0 0"/>
            <geometry>
                <box size="0.7 0.7 0.7" />
            </geometry>
        </collision>
    </link>
    <link name="1">
        <inertial>
            <origin xyz="0.25116392076368305 0 0.21758670561650778" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.25116392076368305 0 0.21758670561650778" rpy="0 0 0"/>
            <geometry>
                <box size="0.5023278415273661 0.5715388520084901 0.43517341123301556" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.25116392076368305 0 0.21758670561650778" rpy="0 0 0"/>
            <geometry>
                <box size="0.5023278415273661 0.5715388520084901 0.43517341123301556" />
            </geometry>
        </collision>
    </link>
    <joint name="0_1" type="revolute">
       <parent link="0"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="0.35 0 0.7" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="2">
        <inertial>
            <origin xyz="0 -0.2857634617313145 0.4484892911722489" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.2857634617313145 0.4484892911722489" rpy="0 0 0"/>
            <geometry>
                <box size="0.1452101584752411 0.571526923462629 0.8969785823444978" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.2857634617313145 0.4484892911722489" rpy="0 0 0"/>
            <geometry>
                <box size="0.1452101584752411 0.571526923462629 0.8969785823444978" />
            </geometry>
        </collision>
    </link>
    <joint name="0_2" type="revolute">
       <parent link="0"/>
       <child  link="2"/>
       <origin rpy="0 0 0" xyz="0 -0.35 0.7" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="3">
        <inertial>
            <origin xyz="0 -0.359126842272856 0.11280815633926466" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.359126842272856 0.11280815633926466" rpy="0 0 0"/>
            <geometry>
                <box size="0.1400323562294793 0.718253684545712 0.22561631267852933" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.359126842272856 0.11280815633926466" rpy="0 0 0"/>
            <geometry>
                <box size="0.1400323562294793 0.718253684545712 0.22561631267852933" />
            </geometry>
        </collision>
    </link>
    <joint name="2_3" type="revolute">
       <parent link="2"/>
       <child  link="3"/>
       <origin rpy="0 0 0" xyz="0 -0.571526923462629 0.8969785823444978" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="4">
        <inertial>
            <origin xyz="0 -0.3818390648439506 0.2159404509757905" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.3818390648439506 0.2159404509757905" rpy="0 0 0"/>
            <geometry>
                <box size="0.7962254154913417 0.7636781296879012 0.431880901951581" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.3818390648439506 0.2159404509757905" rpy="0 0 0"/>
            <geometry>
                <box size="0.7962254154913417 0.7636781296879012 0.431880901951581" />
            </geometry>
        </collision>
    </link>
    <joint name="3_4" type="revolute">
       <parent link="3"/>
       <child  link="4"/>
       <origin rpy="0 0 0" xyz="0 -0.718253684545712 0.22561631267852933" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="5">
        <inertial>
            <origin xyz="0 0.2996526725411361 0.43825272111321095" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.2996526725411361 0.43825272111321095" rpy="0 0 0"/>
            <geometry>
                <box size="0.3109418074137944 0.5993053450822722 0.8765054422264219" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.2996526725411361 0.43825272111321095" rpy="0 0 0"/>
            <geometry>
                <box size="0.3109418074137944 0.5993053450822722 0.8765054422264219" />
            </geometry>
        </collision>
    </link>
    <joint name="0_5" type="revolute">
       <parent link="0"/>
       <child  link="5"/>
       <origin rpy="0 0 0" xyz="0 0.35 0.7" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="6">
        <inertial>
            <origin xyz="0 0.3081269876405475 0.058688719273973844" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.3081269876405475 0.058688719273973844" rpy="0 0 0"/>
            <geometry>
                <box size="0.9255718444806788 0.616253975281095 0.11737743854794769" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.3081269876405475 0.058688719273973844" rpy="0 0 0"/>
            <geometry>
                <box size="0.9255718444806788 0.616253975281095 0.11737743854794769" />
            </geometry>
        </collision>
    </link>
    <joint name="5_6" type="revolute">
       <parent link="5"/>
       <child  link="6"/>
       <origin rpy="0 0 0" xyz="0 0.5993053450822722 0.8765054422264219" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>