<robot name = "robot">
    <link name="0">
        <inertial>
            <origin xyz="0 0 0.3054219278562557" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.3054219278562557" rpy="0 0 0"/>
            <geometry>
                <box size="1.097796023114777 0.5859567671084641 0.6108438557125114" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.3054219278562557" rpy="0 0 0"/>
            <geometry>
                <box size="1.097796023114777 0.5859567671084641 0.6108438557125114" />
            </geometry>
        </collision>
    </link>
    <link name="1">
        <inertial>
            <origin xyz="0 0 0.3015844020854846" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.3015844020854846" rpy="0 0 0"/>
            <geometry>
                <box size="1.4391159409160732 1.1882374866284167 0.6031688041709692" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.3015844020854846" rpy="0 0 0"/>
            <geometry>
                <box size="1.4391159409160732 1.1882374866284167 0.6031688041709692" />
            </geometry>
        </collision>
    </link>
    <joint name="0_1" type="revolute">
       <parent link="0"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="0 0 0.6108438557125114" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="2">
        <inertial>
            <origin xyz="0 0 0.7385061367140812" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.7385061367140812" rpy="0 0 0"/>
            <geometry>
                <box size="0.8847865099509097 1.258679055165456 1.4770122734281623" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.7385061367140812" rpy="0 0 0"/>
            <geometry>
                <box size="0.8847865099509097 1.258679055165456 1.4770122734281623" />
            </geometry>
        </collision>
    </link>
    <joint name="1_2" type="revolute">
       <parent link="1"/>
       <child  link="2"/>
       <origin rpy="0 0 0" xyz="0 0 0.6031688041709692" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="3">
        <inertial>
            <origin xyz="-0.6723636207371027 0 0.40008314714349485" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.6723636207371027 0 0.40008314714349485" rpy="0 0 0"/>
            <geometry>
                <box size="1.3447272414742053 1.2302860720385485 0.8001662942869897" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.6723636207371027 0 0.40008314714349485" rpy="0 0 0"/>
            <geometry>
                <box size="1.3447272414742053 1.2302860720385485 0.8001662942869897" />
            </geometry>
        </collision>
    </link>
    <joint name="2_3" type="revolute">
       <parent link="2"/>
       <child  link="3"/>
       <origin rpy="0 0 0" xyz="-0.44239325497545484 0 0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="4">
        <inertial>
            <origin xyz="-0.7218669258971182 0 0.5338980962880142" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.7218669258971182 0 0.5338980962880142" rpy="0 0 0"/>
            <geometry>
                <box size="1.4437338517942364 0.7490462978152495 1.0677961925760284" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.7218669258971182 0 0.5338980962880142" rpy="0 0 0"/>
            <geometry>
                <box size="1.4437338517942364 0.7490462978152495 1.0677961925760284" />
            </geometry>
        </collision>
    </link>
    <joint name="3_4" type="revolute">
       <parent link="3"/>
       <child  link="4"/>
       <origin rpy="0 0 0" xyz="-1.3447272414742053 0 0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="5">
        <inertial>
            <origin xyz="-0.3948881801324243 0 0.3327307532795406" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.3948881801324243 0 0.3327307532795406" rpy="0 0 0"/>
            <geometry>
                <box size="0.7897763602648487 1.391720295470517 0.6654615065590812" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.3948881801324243 0 0.3327307532795406" rpy="0 0 0"/>
            <geometry>
                <box size="0.7897763602648487 1.391720295470517 0.6654615065590812" />
            </geometry>
        </collision>
    </link>
    <joint name="4_5" type="revolute">
       <parent link="4"/>
       <child  link="5"/>
       <origin rpy="0 0 0" xyz="-1.4437338517942364 0 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="6">
        <inertial>
            <origin xyz="-0.2521009393479737 0 0.410836705902898" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.2521009393479737 0 0.410836705902898" rpy="0 0 0"/>
            <geometry>
                <box size="0.5042018786959473 0.6025886182739314 0.821673411805796" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.2521009393479737 0 0.410836705902898" rpy="0 0 0"/>
            <geometry>
                <box size="0.5042018786959473 0.6025886182739314 0.821673411805796" />
            </geometry>
        </collision>
    </link>
    <joint name="5_6" type="revolute">
       <parent link="5"/>
       <child  link="6"/>
       <origin rpy="0 0 0" xyz="-0.7897763602648487 0 0" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="7">
        <inertial>
            <origin xyz="-0.5427548076601142 0 0.31779507647370525" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.5427548076601142 0 0.31779507647370525" rpy="0 0 0"/>
            <geometry>
                <box size="1.0855096153202284 1.4384977115763617 0.6355901529474105" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.5427548076601142 0 0.31779507647370525" rpy="0 0 0"/>
            <geometry>
                <box size="1.0855096153202284 1.4384977115763617 0.6355901529474105" />
            </geometry>
        </collision>
    </link>
    <joint name="6_7" type="revolute">
       <parent link="6"/>
       <child  link="7"/>
       <origin rpy="0 0 0" xyz="-0.5042018786959473 0 0" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="8">
        <inertial>
            <origin xyz="0 0 -1.1702652596601664" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -1.1702652596601664" rpy="0 0 0"/>
            <geometry>
                <box size="1.1391713194514141 0.9166759076861518 2.3405305193203327" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -1.1702652596601664" rpy="0 0 0"/>
            <geometry>
                <box size="1.1391713194514141 0.9166759076861518 2.3405305193203327" />
            </geometry>
        </collision>
    </link>
    <joint name="7_8" type="revolute">
       <parent link="7"/>
       <child  link="8"/>
       <origin rpy="0 0 0" xyz="-0.5427548076601142 0 0" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="9">
        <inertial>
            <origin xyz="0 0 -0.25686889124479934" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.25686889124479934" rpy="0 0 0"/>
            <geometry>
                <box size="0.7280144149286384 1.066938296270544 0.5137377824895987" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.25686889124479934" rpy="0 0 0"/>
            <geometry>
                <box size="0.7280144149286384 1.066938296270544 0.5137377824895987" />
            </geometry>
        </collision>
    </link>
    <joint name="8_9" type="revolute">
       <parent link="8"/>
       <child  link="9"/>
       <origin rpy="0 0 0" xyz="0 0 -2.3405305193203327" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="10">
        <inertial>
            <origin xyz="0 0 -0.20361278073799377" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.20361278073799377" rpy="0 0 0"/>
            <geometry>
                <box size="0.9803840984872539 0.5218582547179323 0.40722556147598754" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.20361278073799377" rpy="0 0 0"/>
            <geometry>
                <box size="0.9803840984872539 0.5218582547179323 0.40722556147598754" />
            </geometry>
        </collision>
    </link>
    <joint name="9_10" type="revolute">
       <parent link="9"/>
       <child  link="10"/>
       <origin rpy="0 0 0" xyz="0 0 -0.5137377824895987" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="11">
        <inertial>
            <origin xyz="0.280951528344078 0 0.5363313659859361" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.280951528344078 0 0.5363313659859361" rpy="0 0 0"/>
            <geometry>
                <box size="0.561903056688156 0.584276088527815 1.0726627319718722" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.280951528344078 0 0.5363313659859361" rpy="0 0 0"/>
            <geometry>
                <box size="0.561903056688156 0.584276088527815 1.0726627319718722" />
            </geometry>
        </collision>
    </link>
    <joint name="2_11" type="revolute">
       <parent link="2"/>
       <child  link="11"/>
       <origin rpy="0 0 0" xyz="0.44239325497545484 0 0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="12">
        <inertial>
            <origin xyz="0.48507852574940813 0 0.3508893475088536" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.48507852574940813 0 0.3508893475088536" rpy="0 0 0"/>
            <geometry>
                <box size="0.9701570514988163 1.2128775528544022 0.7017786950177072" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.48507852574940813 0 0.3508893475088536" rpy="0 0 0"/>
            <geometry>
                <box size="0.9701570514988163 1.2128775528544022 0.7017786950177072" />
            </geometry>
        </collision>
    </link>
    <joint name="11_12" type="revolute">
       <parent link="11"/>
       <child  link="12"/>
       <origin rpy="0 0 0" xyz="0.561903056688156 0 0" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="13">
        <inertial>
            <origin xyz="0.3000071214748733 0 0.36436692253827035" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.3000071214748733 0 0.36436692253827035" rpy="0 0 0"/>
            <geometry>
                <box size="0.6000142429497466 0.9209397267643891 0.7287338450765407" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.3000071214748733 0 0.36436692253827035" rpy="0 0 0"/>
            <geometry>
                <box size="0.6000142429497466 0.9209397267643891 0.7287338450765407" />
            </geometry>
        </collision>
    </link>
    <joint name="12_13" type="revolute">
       <parent link="12"/>
       <child  link="13"/>
       <origin rpy="0 0 0" xyz="0.9701570514988163 0 0" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="14">
        <inertial>
            <origin xyz="0.6347972703484033 0 0.4559358872867859" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.6347972703484033 0 0.4559358872867859" rpy="0 0 0"/>
            <geometry>
                <box size="1.2695945406968066 1.400908230642992 0.9118717745735718" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.6347972703484033 0 0.4559358872867859" rpy="0 0 0"/>
            <geometry>
                <box size="1.2695945406968066 1.400908230642992 0.9118717745735718" />
            </geometry>
        </collision>
    </link>
    <joint name="13_14" type="revolute">
       <parent link="13"/>
       <child  link="14"/>
       <origin rpy="0 0 0" xyz="0.6000142429497466 0 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="15">
        <inertial>
            <origin xyz="0.7275115312352912 0 0.3283595972529454" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.7275115312352912 0 0.3283595972529454" rpy="0 0 0"/>
            <geometry>
                <box size="1.4550230624705824 0.5282389660452532 0.6567191945058908" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.7275115312352912 0 0.3283595972529454" rpy="0 0 0"/>
            <geometry>
                <box size="1.4550230624705824 0.5282389660452532 0.6567191945058908" />
            </geometry>
        </collision>
    </link>
    <joint name="14_15" type="revolute">
       <parent link="14"/>
       <child  link="15"/>
       <origin rpy="0 0 0" xyz="1.2695945406968066 0 0" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="16">
        <inertial>
            <origin xyz="0 0 -0.870612587320104" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.870612587320104" rpy="0 0 0"/>
            <geometry>
                <box size="0.5572107606097125 0.5705330406661334 1.741225174640208" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.870612587320104" rpy="0 0 0"/>
            <geometry>
                <box size="0.5572107606097125 0.5705330406661334 1.741225174640208" />
            </geometry>
        </collision>
    </link>
    <joint name="15_16" type="revolute">
       <parent link="15"/>
       <child  link="16"/>
       <origin rpy="0 0 0" xyz="0.7275115312352912 0 0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="17">
        <inertial>
            <origin xyz="0 0 -0.30674119315457243" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.30674119315457243" rpy="0 0 0"/>
            <geometry>
                <box size="0.968746358226846 1.2488915788860746 0.6134823863091449" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.30674119315457243" rpy="0 0 0"/>
            <geometry>
                <box size="0.968746358226846 1.2488915788860746 0.6134823863091449" />
            </geometry>
        </collision>
    </link>
    <joint name="16_17" type="revolute">
       <parent link="16"/>
       <child  link="17"/>
       <origin rpy="0 0 0" xyz="0 0 -1.741225174640208" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="18">
        <inertial>
            <origin xyz="0 0 -0.453393151168283" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.453393151168283" rpy="0 0 0"/>
            <geometry>
                <box size="1.3748473086943651 0.7306509092401547 0.906786302336566" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.453393151168283" rpy="0 0 0"/>
            <geometry>
                <box size="1.3748473086943651 0.7306509092401547 0.906786302336566" />
            </geometry>
        </collision>
    </link>
    <joint name="17_18" type="revolute">
       <parent link="17"/>
       <child  link="18"/>
       <origin rpy="0 0 0" xyz="0 0 -0.6134823863091449" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="19">
        <inertial>
            <origin xyz="0 -0.6648049442392856 0.4430751348179182" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.6648049442392856 0.4430751348179182" rpy="0 0 0"/>
            <geometry>
                <box size="1.0631641544601849 1.3296098884785712 0.8861502696358364" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.6648049442392856 0.4430751348179182" rpy="0 0 0"/>
            <geometry>
                <box size="1.0631641544601849 1.3296098884785712 0.8861502696358364" />
            </geometry>
        </collision>
    </link>
    <joint name="2_19" type="revolute">
       <parent link="2"/>
       <child  link="19"/>
       <origin rpy="0 0 0" xyz="0 -0.629339527582728 0" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="20">
        <inertial>
            <origin xyz="0 -0.4932450550576618 0.3936602576437727" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.4932450550576618 0.3936602576437727" rpy="0 0 0"/>
            <geometry>
                <box size="1.318745153631083 0.9864901101153236 0.7873205152875454" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.4932450550576618 0.3936602576437727" rpy="0 0 0"/>
            <geometry>
                <box size="1.318745153631083 0.9864901101153236 0.7873205152875454" />
            </geometry>
        </collision>
    </link>
    <joint name="19_20" type="revolute">
       <parent link="19"/>
       <child  link="20"/>
       <origin rpy="0 0 0" xyz="0 -1.3296098884785712 0" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="21">
        <inertial>
            <origin xyz="0 -0.47080382542182203 0.28986534257607816" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.47080382542182203 0.28986534257607816" rpy="0 0 0"/>
            <geometry>
                <box size="0.6728305411976414 0.9416076508436441 0.5797306851521563" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.47080382542182203 0.28986534257607816" rpy="0 0 0"/>
            <geometry>
                <box size="0.6728305411976414 0.9416076508436441 0.5797306851521563" />
            </geometry>
        </collision>
    </link>
    <joint name="20_21" type="revolute">
       <parent link="20"/>
       <child  link="21"/>
       <origin rpy="0 0 0" xyz="0 -0.9864901101153236 0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="22">
        <inertial>
            <origin xyz="0 -0.5475824216360284 0.4516614396032816" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.5475824216360284 0.4516614396032816" rpy="0 0 0"/>
            <geometry>
                <box size="1.2385852935710493 1.0951648432720569 0.9033228792065632" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.5475824216360284 0.4516614396032816" rpy="0 0 0"/>
            <geometry>
                <box size="1.2385852935710493 1.0951648432720569 0.9033228792065632" />
            </geometry>
        </collision>
    </link>
    <joint name="21_22" type="revolute">
       <parent link="21"/>
       <child  link="22"/>
       <origin rpy="0 0 0" xyz="0 -0.9416076508436441 0" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="23">
        <inertial>
            <origin xyz="0 -0.41060471986191904 0.30003653748450637" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.41060471986191904 0.30003653748450637" rpy="0 0 0"/>
            <geometry>
                <box size="0.6084600765828165 0.8212094397238381 0.6000730749690127" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.41060471986191904 0.30003653748450637" rpy="0 0 0"/>
            <geometry>
                <box size="0.6084600765828165 0.8212094397238381 0.6000730749690127" />
            </geometry>
        </collision>
    </link>
    <joint name="22_23" type="revolute">
       <parent link="22"/>
       <child  link="23"/>
       <origin rpy="0 0 0" xyz="0 -1.0951648432720569 0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="24">
        <inertial>
            <origin xyz="0 0 -0.39152746948693234" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.39152746948693234" rpy="0 0 0"/>
            <geometry>
                <box size="0.6434480281396506 0.5651008642766554 0.7830549389738647" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.39152746948693234" rpy="0 0 0"/>
            <geometry>
                <box size="0.6434480281396506 0.5651008642766554 0.7830549389738647" />
            </geometry>
        </collision>
    </link>
    <joint name="23_24" type="revolute">
       <parent link="23"/>
       <child  link="24"/>
       <origin rpy="0 0 0" xyz="0 -0.41060471986191904 0" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="25">
        <inertial>
            <origin xyz="0 0 -0.05071251596313382" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.05071251596313382" rpy="0 0 0"/>
            <geometry>
                <box size="1.0541882700484293 0.8786565096201683 0.10142503192626764" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.05071251596313382" rpy="0 0 0"/>
            <geometry>
                <box size="1.0541882700484293 0.8786565096201683 0.10142503192626764" />
            </geometry>
        </collision>
    </link>
    <joint name="24_25" type="revolute">
       <parent link="24"/>
       <child  link="25"/>
       <origin rpy="0 0 0" xyz="0 0 -0.7830549389738647" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="26">
        <inertial>
            <origin xyz="0 0 -1.1885069461928932" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -1.1885069461928932" rpy="0 0 0"/>
            <geometry>
                <box size="0.704402325305095 0.8789435553637451 2.3770138923857864" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -1.1885069461928932" rpy="0 0 0"/>
            <geometry>
                <box size="0.704402325305095 0.8789435553637451 2.3770138923857864" />
            </geometry>
        </collision>
    </link>
    <joint name="25_26" type="revolute">
       <parent link="25"/>
       <child  link="26"/>
       <origin rpy="0 0 0" xyz="0 0 -0.10142503192626764" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="27">
        <inertial>
            <origin xyz="0 0.5711322013703467 0.455610885976553" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.5711322013703467 0.455610885976553" rpy="0 0 0"/>
            <geometry>
                <box size="0.8313992723209396 1.1422644027406934 0.911221771953106" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.5711322013703467 0.455610885976553" rpy="0 0 0"/>
            <geometry>
                <box size="0.8313992723209396 1.1422644027406934 0.911221771953106" />
            </geometry>
        </collision>
    </link>
    <joint name="2_27" type="revolute">
       <parent link="2"/>
       <child  link="27"/>
       <origin rpy="0 0 0" xyz="0 0.629339527582728 0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="28">
        <inertial>
            <origin xyz="0 0.7473430371721284 0.6869818022719556" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.7473430371721284 0.6869818022719556" rpy="0 0 0"/>
            <geometry>
                <box size="0.6956648424183185 1.4946860743442567 1.3739636045439112" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.7473430371721284 0.6869818022719556" rpy="0 0 0"/>
            <geometry>
                <box size="0.6956648424183185 1.4946860743442567 1.3739636045439112" />
            </geometry>
        </collision>
    </link>
    <joint name="27_28" type="revolute">
       <parent link="27"/>
       <child  link="28"/>
       <origin rpy="0 0 0" xyz="0 1.1422644027406934 0" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="29">
        <inertial>
            <origin xyz="0 0.7485600568314841 0.5858106550138084" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.7485600568314841 0.5858106550138084" rpy="0 0 0"/>
            <geometry>
                <box size="1.48328988244847 1.4971201136629682 1.1716213100276167" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.7485600568314841 0.5858106550138084" rpy="0 0 0"/>
            <geometry>
                <box size="1.48328988244847 1.4971201136629682 1.1716213100276167" />
            </geometry>
        </collision>
    </link>
    <joint name="28_29" type="revolute">
       <parent link="28"/>
       <child  link="29"/>
       <origin rpy="0 0 0" xyz="0 1.4946860743442567 0" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="30">
        <inertial>
            <origin xyz="0 0.549251625339126 0.5165902058397545" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.549251625339126 0.5165902058397545" rpy="0 0 0"/>
            <geometry>
                <box size="0.5822586428626225 1.098503250678252 1.033180411679509" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.549251625339126 0.5165902058397545" rpy="0 0 0"/>
            <geometry>
                <box size="0.5822586428626225 1.098503250678252 1.033180411679509" />
            </geometry>
        </collision>
    </link>
    <joint name="29_30" type="revolute">
       <parent link="29"/>
       <child  link="30"/>
       <origin rpy="0 0 0" xyz="0 1.4971201136629682 0" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="31">
        <inertial>
            <origin xyz="0 0.36145463540320194 0.2879710121955194" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.36145463540320194 0.2879710121955194" rpy="0 0 0"/>
            <geometry>
                <box size="1.0472078538032004 0.7229092708064039 0.5759420243910388" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.36145463540320194 0.2879710121955194" rpy="0 0 0"/>
            <geometry>
                <box size="1.0472078538032004 0.7229092708064039 0.5759420243910388" />
            </geometry>
        </collision>
    </link>
    <joint name="30_31" type="revolute">
       <parent link="30"/>
       <child  link="31"/>
       <origin rpy="0 0 0" xyz="0 1.098503250678252 0" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="32">
        <inertial>
            <origin xyz="0 0 -1.5008962134577062" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -1.5008962134577062" rpy="0 0 0"/>
            <geometry>
                <box size="1.3442356046949349 1.2781159430062035 3.0017924269154124" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -1.5008962134577062" rpy="0 0 0"/>
            <geometry>
                <box size="1.3442356046949349 1.2781159430062035 3.0017924269154124" />
            </geometry>
        </collision>
    </link>
    <joint name="31_32" type="revolute">
       <parent link="31"/>
       <child  link="32"/>
       <origin rpy="0 0 0" xyz="0 0.36145463540320194 0" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="33">
        <inertial>
            <origin xyz="0 0 -0.10211973157940697" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.10211973157940697" rpy="0 0 0"/>
            <geometry>
                <box size="1.0874369273126354 1.242864664404769 0.20423946315881394" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.10211973157940697" rpy="0 0 0"/>
            <geometry>
                <box size="1.0874369273126354 1.242864664404769 0.20423946315881394" />
            </geometry>
        </collision>
    </link>
    <joint name="32_33" type="revolute">
       <parent link="32"/>
       <child  link="33"/>
       <origin rpy="0 0 0" xyz="0 0 -3.0017924269154124" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="34">
        <inertial>
            <origin xyz="0 0 -0.027730986605846317" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.027730986605846317" rpy="0 0 0"/>
            <geometry>
                <box size="0.9770792858496526 1.4277728834215209 0.05546197321169263" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.027730986605846317" rpy="0 0 0"/>
            <geometry>
                <box size="0.9770792858496526 1.4277728834215209 0.05546197321169263" />
            </geometry>
        </collision>
    </link>
    <joint name="33_34" type="revolute">
       <parent link="33"/>
       <child  link="34"/>
       <origin rpy="0 0 0" xyz="0 0 -0.20423946315881394" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>