<robot name = "robot">
    <link name="0">
        <inertial>
            <origin xyz="0 0 0.35" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.35" rpy="0 0 0"/>
            <geometry>
                <box size="0.7 0.7 0.7" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.35" rpy="0 0 0"/>
            <geometry>
                <box size="0.7 0.7 0.7" />
            </geometry>
        </collision>
    </link>
    <link name="1">
        <inertial>
            <origin xyz="-0.333741112331166 0 0.1530149013842037" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.333741112331166 0 0.1530149013842037" rpy="0 0 0"/>
            <geometry>
                <box size="0.667482224662332 0.6307955585166464 0.3060298027684074" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.333741112331166 0 0.1530149013842037" rpy="0 0 0"/>
            <geometry>
                <box size="0.667482224662332 0.6307955585166464 0.3060298027684074" />
            </geometry>
        </collision>
    </link>
    <joint name="0_1" type="revolute">
       <parent link="0"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="-0.35 0 0.7" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="2">
        <inertial>
            <origin xyz="-0.4391876038369419 0 0.3677395202679125" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.4391876038369419 0 0.3677395202679125" rpy="0 0 0"/>
            <geometry>
                <box size="0.8783752076738838 0.30263985267027016 0.735479040535825" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.4391876038369419 0 0.3677395202679125" rpy="0 0 0"/>
            <geometry>
                <box size="0.8783752076738838 0.30263985267027016 0.735479040535825" />
            </geometry>
        </collision>
    </link>
    <joint name="1_2" type="revolute">
       <parent link="1"/>
       <child  link="2"/>
       <origin rpy="0 0 0" xyz="-0.667482224662332 0 0.3060298027684074" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="3">
        <inertial>
            <origin xyz="-0.23981612536389413 0 0.028744354576519027" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.23981612536389413 0 0.028744354576519027" rpy="0 0 0"/>
            <geometry>
                <box size="0.47963225072778826 0.26963028503271946 0.05748870915303805" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.23981612536389413 0 0.028744354576519027" rpy="0 0 0"/>
            <geometry>
                <box size="0.47963225072778826 0.26963028503271946 0.05748870915303805" />
            </geometry>
        </collision>
    </link>
    <joint name="2_3" type="revolute">
       <parent link="2"/>
       <child  link="3"/>
       <origin rpy="0 0 0" xyz="-0.8783752076738838 0 0.735479040535825" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="4">
        <inertial>
            <origin xyz="0 0.12011431941342104 0.15067023184382056" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.12011431941342104 0.15067023184382056" rpy="0 0 0"/>
            <geometry>
                <box size="0.8660910481530475 0.2402286388268421 0.3013404636876411" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.12011431941342104 0.15067023184382056" rpy="0 0 0"/>
            <geometry>
                <box size="0.8660910481530475 0.2402286388268421 0.3013404636876411" />
            </geometry>
        </collision>
    </link>
    <joint name="0_4" type="revolute">
       <parent link="0"/>
       <child  link="4"/>
       <origin rpy="0 0 0" xyz="0 0.35 0.7" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="5">
        <inertial>
            <origin xyz="0 0.4638613410092252 0.30155126021083906" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.4638613410092252 0.30155126021083906" rpy="0 0 0"/>
            <geometry>
                <box size="0.5857286381164295 0.9277226820184504 0.6031025204216781" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.4638613410092252 0.30155126021083906" rpy="0 0 0"/>
            <geometry>
                <box size="0.5857286381164295 0.9277226820184504 0.6031025204216781" />
            </geometry>
        </collision>
    </link>
    <joint name="4_5" type="revolute">
       <parent link="4"/>
       <child  link="5"/>
       <origin rpy="0 0 0" xyz="0 0.2402286388268421 0.3013404636876411" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="6">
        <inertial>
            <origin xyz="0 0.3644916344002163 0.016742205007374777" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.3644916344002163 0.016742205007374777" rpy="0 0 0"/>
            <geometry>
                <box size="0.5121269935047882 0.7289832688004326 0.033484410014749555" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.3644916344002163 0.016742205007374777" rpy="0 0 0"/>
            <geometry>
                <box size="0.5121269935047882 0.7289832688004326 0.033484410014749555" />
            </geometry>
        </collision>
    </link>
    <joint name="5_6" type="revolute">
       <parent link="5"/>
       <child  link="6"/>
       <origin rpy="0 0 0" xyz="0 0.9277226820184504 0.6031025204216781" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="7">
        <inertial>
            <origin xyz="0 0.283395828969558 0.06504483812219153" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.283395828969558 0.06504483812219153" rpy="0 0 0"/>
            <geometry>
                <box size="0.6235313369429772 0.566791657939116 0.13008967624438306" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.283395828969558 0.06504483812219153" rpy="0 0 0"/>
            <geometry>
                <box size="0.6235313369429772 0.566791657939116 0.13008967624438306" />
            </geometry>
        </collision>
    </link>
    <joint name="6_7" type="revolute">
       <parent link="6"/>
       <child  link="7"/>
       <origin rpy="0 0 0" xyz="0 0.7289832688004326 0.033484410014749555" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>