<robot name = "robot">
    <link name="0">
        <inertial>
            <origin xyz="0 0 0.35" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.35" rpy="0 0 0"/>
            <geometry>
                <box size="0.7 0.7 0.7" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.35" rpy="0 0 0"/>
            <geometry>
                <box size="0.7 0.7 0.7" />
            </geometry>
        </collision>
    </link>
    <link name="1">
        <inertial>
            <origin xyz="-0.1921799899406269 0 0.11355643500403084" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.1921799899406269 0 0.11355643500403084" rpy="0 0 0"/>
            <geometry>
                <box size="0.3843599798812538 0.6989493665967952 0.22711287000806168" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.1921799899406269 0 0.11355643500403084" rpy="0 0 0"/>
            <geometry>
                <box size="0.3843599798812538 0.6989493665967952 0.22711287000806168" />
            </geometry>
        </collision>
    </link>
    <joint name="0_1" type="revolute">
       <parent link="0"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="-0.35 0 0.7" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="2">
        <inertial>
            <origin xyz="0.34979727703354524 0 0.43887316626669837" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.34979727703354524 0 0.43887316626669837" rpy="0 0 0"/>
            <geometry>
                <box size="0.6995945540670905 0.6852278439250424 0.8777463325333967" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.34979727703354524 0 0.43887316626669837" rpy="0 0 0"/>
            <geometry>
                <box size="0.6995945540670905 0.6852278439250424 0.8777463325333967" />
            </geometry>
        </collision>
    </link>
    <joint name="0_2" type="revolute">
       <parent link="0"/>
       <child  link="2"/>
       <origin rpy="0 0 0" xyz="0.35 0 0.7" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="3">
        <inertial>
            <origin xyz="0.27169487015943605 0 0.3111677598047299" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.27169487015943605 0 0.3111677598047299" rpy="0 0 0"/>
            <geometry>
                <box size="0.5433897403188721 0.409754644733783 0.6223355196094598" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.27169487015943605 0 0.3111677598047299" rpy="0 0 0"/>
            <geometry>
                <box size="0.5433897403188721 0.409754644733783 0.6223355196094598" />
            </geometry>
        </collision>
    </link>
    <joint name="2_3" type="revolute">
       <parent link="2"/>
       <child  link="3"/>
       <origin rpy="0 0 0" xyz="0.6995945540670905 0 0.8777463325333967" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="4">
        <inertial>
            <origin xyz="0.25266070593946066 0 0.25753743516897953" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.25266070593946066 0 0.25753743516897953" rpy="0 0 0"/>
            <geometry>
                <box size="0.5053214118789213 0.7622914484109303 0.5150748703379591" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.25266070593946066 0 0.25753743516897953" rpy="0 0 0"/>
            <geometry>
                <box size="0.5053214118789213 0.7622914484109303 0.5150748703379591" />
            </geometry>
        </collision>
    </link>
    <joint name="3_4" type="revolute">
       <parent link="3"/>
       <child  link="4"/>
       <origin rpy="0 0 0" xyz="0.5433897403188721 0 0.6223355196094598" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="5">
        <inertial>
            <origin xyz="0.0552569457935036 0 0.14528713315255698" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0552569457935036 0 0.14528713315255698" rpy="0 0 0"/>
            <geometry>
                <box size="0.1105138915870072 0.9598942797001132 0.29057426630511396" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0552569457935036 0 0.14528713315255698" rpy="0 0 0"/>
            <geometry>
                <box size="0.1105138915870072 0.9598942797001132 0.29057426630511396" />
            </geometry>
        </collision>
    </link>
    <joint name="4_5" type="revolute">
       <parent link="4"/>
       <child  link="5"/>
       <origin rpy="0 0 0" xyz="0.5053214118789213 0 0.5150748703379591" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="6">
        <inertial>
            <origin xyz="0.26089738997266976 0 0.035275385843028806" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.26089738997266976 0 0.035275385843028806" rpy="0 0 0"/>
            <geometry>
                <box size="0.5217947799453395 0.6623958755179652 0.07055077168605761" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.26089738997266976 0 0.035275385843028806" rpy="0 0 0"/>
            <geometry>
                <box size="0.5217947799453395 0.6623958755179652 0.07055077168605761" />
            </geometry>
        </collision>
    </link>
    <joint name="5_6" type="revolute">
       <parent link="5"/>
       <child  link="6"/>
       <origin rpy="0 0 0" xyz="0.1105138915870072 0 0.29057426630511396" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="7">
        <inertial>
            <origin xyz="0 -0.2964393619274097 0.21425640460766648" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.2964393619274097 0.21425640460766648" rpy="0 0 0"/>
            <geometry>
                <box size="0.5121734567535597 0.5928787238548194 0.42851280921533297" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.2964393619274097 0.21425640460766648" rpy="0 0 0"/>
            <geometry>
                <box size="0.5121734567535597 0.5928787238548194 0.42851280921533297" />
            </geometry>
        </collision>
    </link>
    <joint name="0_7" type="revolute">
       <parent link="0"/>
       <child  link="7"/>
       <origin rpy="0 0 0" xyz="0 -0.35 0.7" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="8">
        <inertial>
            <origin xyz="0 -0.4077867693044865 0.17115606755052243" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.4077867693044865 0.17115606755052243" rpy="0 0 0"/>
            <geometry>
                <box size="0.2896396822049848 0.815573538608973 0.34231213510104486" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.4077867693044865 0.17115606755052243" rpy="0 0 0"/>
            <geometry>
                <box size="0.2896396822049848 0.815573538608973 0.34231213510104486" />
            </geometry>
        </collision>
    </link>
    <joint name="7_8" type="revolute">
       <parent link="7"/>
       <child  link="8"/>
       <origin rpy="0 0 0" xyz="0 -0.5928787238548194 0.42851280921533297" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="9">
        <inertial>
            <origin xyz="0 -0.49937650826955565 0.21309624280250067" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.49937650826955565 0.21309624280250067" rpy="0 0 0"/>
            <geometry>
                <box size="0.8936984998960023 0.9987530165391113 0.42619248560500134" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.49937650826955565 0.21309624280250067" rpy="0 0 0"/>
            <geometry>
                <box size="0.8936984998960023 0.9987530165391113 0.42619248560500134" />
            </geometry>
        </collision>
    </link>
    <joint name="8_9" type="revolute">
       <parent link="8"/>
       <child  link="9"/>
       <origin rpy="0 0 0" xyz="0 -0.815573538608973 0.34231213510104486" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="10">
        <inertial>
            <origin xyz="0 -0.11685187133528235 0.05701408820777304" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.11685187133528235 0.05701408820777304" rpy="0 0 0"/>
            <geometry>
                <box size="0.17627372964192844 0.2337037426705647 0.11402817641554608" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.11685187133528235 0.05701408820777304" rpy="0 0 0"/>
            <geometry>
                <box size="0.17627372964192844 0.2337037426705647 0.11402817641554608" />
            </geometry>
        </collision>
    </link>
    <joint name="9_10" type="revolute">
       <parent link="9"/>
       <child  link="10"/>
       <origin rpy="0 0 0" xyz="0 -0.9987530165391113 0.42619248560500134" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>