<robot name = "robot">
    <link name="0">
        <inertial>
            <origin xyz="0 0 3" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 3" rpy="0 0 0"/>
            <geometry>
                <box size="1.5 1.5 0.8" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 3" rpy="0 0 0"/>
            <geometry>
                <box size="1.5 1.5 0.8" />
            </geometry>
        </collision>
    </link>
    <link name="1">
        <inertial>
            <origin xyz="-0.4214079686807203 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.4214079686807203 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8428159373614406 0.5689704682867756 0.12832619343489426" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.4214079686807203 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8428159373614406 0.5689704682867756 0.12832619343489426" />
            </geometry>
        </collision>
    </link>
    <joint name="0_1" type="revolute">
       <parent link="0"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="-0.75 0 3" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="2">
        <inertial>
            <origin xyz="-0.3440926964625731 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.3440926964625731 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6881853929251462 0.808502961911579 0.7786889180667349" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.3440926964625731 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6881853929251462 0.808502961911579 0.7786889180667349" />
            </geometry>
        </collision>
    </link>
    <joint name="1_2" type="revolute">
       <parent link="1"/>
       <child  link="2"/>
       <origin rpy="0 0 0" xyz="-0.8428159373614406 0 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="3">
        <inertial>
            <origin xyz="0 0 -0.26289924072616877" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.26289924072616877" rpy="0 0 0"/>
            <geometry>
                <box size="0.08249008417863823 0.9382345598495152 0.5257984814523375" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.26289924072616877" rpy="0 0 0"/>
            <geometry>
                <box size="0.08249008417863823 0.9382345598495152 0.5257984814523375" />
            </geometry>
        </collision>
    </link>
    <joint name="2_3" type="revolute">
       <parent link="2"/>
       <child  link="3"/>
       <origin rpy="0 0 0" xyz="-0.3440926964625731 0 -0.38934445903336745" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="4">
        <inertial>
            <origin xyz="0 0 -0.08080515570809631" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.08080515570809631" rpy="0 0 0"/>
            <geometry>
                <box size="0.06831646748445408 0.1991835841055274 0.16161031141619261" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.08080515570809631" rpy="0 0 0"/>
            <geometry>
                <box size="0.06831646748445408 0.1991835841055274 0.16161031141619261" />
            </geometry>
        </collision>
    </link>
    <joint name="3_4" type="revolute">
       <parent link="3"/>
       <child  link="4"/>
       <origin rpy="0 0 0" xyz="0 0 -0.5257984814523375" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="5">
        <inertial>
            <origin xyz="0 0 -0.956295603565735" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.956295603565735" rpy="0 0 0"/>
            <geometry>
                <box size="0.5178258198795903 0.0030788612973788876 1.91259120713147" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.956295603565735" rpy="0 0 0"/>
            <geometry>
                <box size="0.5178258198795903 0.0030788612973788876 1.91259120713147" />
            </geometry>
        </collision>
    </link>
    <joint name="4_5" type="revolute">
       <parent link="4"/>
       <child  link="5"/>
       <origin rpy="0 0 0" xyz="0 0 -0.16161031141619261" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="6">
        <inertial>
            <origin xyz="0.009545189772368345 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.009545189772368345 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.01909037954473669 0.18798188563262497 0.3404868594775392" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.009545189772368345 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.01909037954473669 0.18798188563262497 0.3404868594775392" />
            </geometry>
        </collision>
    </link>
    <joint name="0_6" type="revolute">
       <parent link="0"/>
       <child  link="6"/>
       <origin rpy="0 0 0" xyz="0.75 0 3" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="7">
        <inertial>
            <origin xyz="0.4096833157056743 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.4096833157056743 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8193666314113486 0.5821924004630878 0.43789977445610906" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.4096833157056743 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8193666314113486 0.5821924004630878 0.43789977445610906" />
            </geometry>
        </collision>
    </link>
    <joint name="6_7" type="revolute">
       <parent link="6"/>
       <child  link="7"/>
       <origin rpy="0 0 0" xyz="0.01909037954473669 0 0" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="8">
        <inertial>
            <origin xyz="0 0 -0.9840464014667079" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.9840464014667079" rpy="0 0 0"/>
            <geometry>
                <box size="0.7290880053341018 0.9352622370436161 1.9680928029334157" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.9840464014667079" rpy="0 0 0"/>
            <geometry>
                <box size="0.7290880053341018 0.9352622370436161 1.9680928029334157" />
            </geometry>
        </collision>
    </link>
    <joint name="7_8" type="revolute">
       <parent link="7"/>
       <child  link="8"/>
       <origin rpy="0 0 0" xyz="0.4096833157056743 0 -0.21894988722805453" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="9">
        <inertial>
            <origin xyz="0 0 -0.21948938170334775" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.21948938170334775" rpy="0 0 0"/>
            <geometry>
                <box size="0.20684289140165613 0.7470355873528415 0.4389787634066955" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.21948938170334775" rpy="0 0 0"/>
            <geometry>
                <box size="0.20684289140165613 0.7470355873528415 0.4389787634066955" />
            </geometry>
        </collision>
    </link>
    <joint name="8_9" type="revolute">
       <parent link="8"/>
       <child  link="9"/>
       <origin rpy="0 0 0" xyz="0 0 -1.9680928029334157" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="10">
        <inertial>
            <origin xyz="0 0 -0.09646421682994444" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.09646421682994444" rpy="0 0 0"/>
            <geometry>
                <box size="0.8154950809891751 0.892311275887566 0.19292843365988888" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.09646421682994444" rpy="0 0 0"/>
            <geometry>
                <box size="0.8154950809891751 0.892311275887566 0.19292843365988888" />
            </geometry>
        </collision>
    </link>
    <joint name="9_10" type="revolute">
       <parent link="9"/>
       <child  link="10"/>
       <origin rpy="0 0 0" xyz="0 0 -0.4389787634066955" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="11">
        <inertial>
            <origin xyz="0 -0.08841670354053133 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.08841670354053133 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7611348988907481 0.17683340708106265 0.6545688096633298" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.08841670354053133 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7611348988907481 0.17683340708106265 0.6545688096633298" />
            </geometry>
        </collision>
    </link>
    <joint name="0_11" type="revolute">
       <parent link="0"/>
       <child  link="11"/>
       <origin rpy="0 0 0" xyz="0 -0.75 3" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="12">
        <inertial>
            <origin xyz="0 -0.47782028114185315 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.47782028114185315 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3360424163496869 0.9556405622837063 0.5181027507784258" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.47782028114185315 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3360424163496869 0.9556405622837063 0.5181027507784258" />
            </geometry>
        </collision>
    </link>
    <joint name="11_12" type="revolute">
       <parent link="11"/>
       <child  link="12"/>
       <origin rpy="0 0 0" xyz="0 -0.17683340708106265 0" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="13">
        <inertial>
            <origin xyz="0 0 -0.8147808436306585" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.8147808436306585" rpy="0 0 0"/>
            <geometry>
                <box size="0.3509458805173973 0.09942609361167487 1.629561687261317" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.8147808436306585" rpy="0 0 0"/>
            <geometry>
                <box size="0.3509458805173973 0.09942609361167487 1.629561687261317" />
            </geometry>
        </collision>
    </link>
    <joint name="12_13" type="revolute">
       <parent link="12"/>
       <child  link="13"/>
       <origin rpy="0 0 0" xyz="0 -0.47782028114185315 -0.2590513753892129" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="14">
        <inertial>
            <origin xyz="0 0 -0.21715280585798818" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.21715280585798818" rpy="0 0 0"/>
            <geometry>
                <box size="0.910850435661964 0.2768807327547611 0.43430561171597637" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.21715280585798818" rpy="0 0 0"/>
            <geometry>
                <box size="0.910850435661964 0.2768807327547611 0.43430561171597637" />
            </geometry>
        </collision>
    </link>
    <joint name="13_14" type="revolute">
       <parent link="13"/>
       <child  link="14"/>
       <origin rpy="0 0 0" xyz="0 0 -1.629561687261317" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="15">
        <inertial>
            <origin xyz="0 0 -0.26806635051135336" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.26806635051135336" rpy="0 0 0"/>
            <geometry>
                <box size="0.97394390455318 0.3858872876085373 0.5361327010227067" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.26806635051135336" rpy="0 0 0"/>
            <geometry>
                <box size="0.97394390455318 0.3858872876085373 0.5361327010227067" />
            </geometry>
        </collision>
    </link>
    <joint name="14_15" type="revolute">
       <parent link="14"/>
       <child  link="15"/>
       <origin rpy="0 0 0" xyz="0 0 -0.43430561171597637" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="16">
        <inertial>
            <origin xyz="0 0.4112362320498634 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.4112362320498634 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3023749941847135 0.8224724640997269 0.7739904136327178" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.4112362320498634 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3023749941847135 0.8224724640997269 0.7739904136327178" />
            </geometry>
        </collision>
    </link>
    <joint name="0_16" type="revolute">
       <parent link="0"/>
       <child  link="16"/>
       <origin rpy="0 0 0" xyz="0 0.75 3" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="17">
        <inertial>
            <origin xyz="0 0.2610241795882919 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.2610241795882919 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.613297518378767 0.5220483591765838 0.24749817371698457" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.2610241795882919 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.613297518378767 0.5220483591765838 0.24749817371698457" />
            </geometry>
        </collision>
    </link>
    <joint name="16_17" type="revolute">
       <parent link="16"/>
       <child  link="17"/>
       <origin rpy="0 0 0" xyz="0 0.8224724640997269 0" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="18">
        <inertial>
            <origin xyz="0 0 -0.864936289310477" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.864936289310477" rpy="0 0 0"/>
            <geometry>
                <box size="0.30963420756387894 0.42517313003418133 1.729872578620954" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.864936289310477" rpy="0 0 0"/>
            <geometry>
                <box size="0.30963420756387894 0.42517313003418133 1.729872578620954" />
            </geometry>
        </collision>
    </link>
    <joint name="17_18" type="revolute">
       <parent link="17"/>
       <child  link="18"/>
       <origin rpy="0 0 0" xyz="0 0.2610241795882919 -0.12374908685849229" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="19">
        <inertial>
            <origin xyz="0 0 -0.21311495450063098" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.21311495450063098" rpy="0 0 0"/>
            <geometry>
                <box size="0.3902265715866887 0.4494907779522924 0.42622990900126195" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.21311495450063098" rpy="0 0 0"/>
            <geometry>
                <box size="0.3902265715866887 0.4494907779522924 0.42622990900126195" />
            </geometry>
        </collision>
    </link>
    <joint name="18_19" type="revolute">
       <parent link="18"/>
       <child  link="19"/>
       <origin rpy="0 0 0" xyz="0 0 -1.729872578620954" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="20">
        <inertial>
            <origin xyz="0 0 -0.22194875618889212" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.22194875618889212" rpy="0 0 0"/>
            <geometry>
                <box size="0.6069681563274816 0.2166652755440518 0.44389751237778424" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.22194875618889212" rpy="0 0 0"/>
            <geometry>
                <box size="0.6069681563274816 0.2166652755440518 0.44389751237778424" />
            </geometry>
        </collision>
    </link>
    <joint name="19_20" type="revolute">
       <parent link="19"/>
       <child  link="20"/>
       <origin rpy="0 0 0" xyz="0 0 -0.42622990900126195" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>