<robot name = "robot">
    <link name="0">
        <inertial>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="1.5 1.5 0.8" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="1.5 1.5 0.8" />
            </geometry>
        </collision>
    </link>
    <link name="1">
        <inertial>
            <origin xyz="-0.44995700553527784 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.44995700553527784 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8999140110705557 0.08017892780520675 0.059565988769425315" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.44995700553527784 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8999140110705557 0.08017892780520675 0.059565988769425315" />
            </geometry>
        </collision>
    </link>
    <joint name="0_1" type="revolute">
       <parent link="0"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="-0.75 0 1" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="2">
        <inertial>
            <origin xyz="-0.25153895715862357 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.25153895715862357 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5030779143172471 0.22735050809401525 0.4363268405147399" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.25153895715862357 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5030779143172471 0.22735050809401525 0.4363268405147399" />
            </geometry>
        </collision>
    </link>
    <joint name="1_2" type="revolute">
       <parent link="1"/>
       <child  link="2"/>
       <origin rpy="0 0 0" xyz="-0.8999140110705557 0 0" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="3">
        <inertial>
            <origin xyz="-0.06122783781730168 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.06122783781730168 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.12245567563460336 0.8784051640885066 0.8757041525028094" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.06122783781730168 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.12245567563460336 0.8784051640885066 0.8757041525028094" />
            </geometry>
        </collision>
    </link>
    <joint name="2_3" type="revolute">
       <parent link="2"/>
       <child  link="3"/>
       <origin rpy="0 0 0" xyz="-0.5030779143172471 0 0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="4">
        <inertial>
            <origin xyz="-0.34823922091472503 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.34823922091472503 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6964784418294501 0.44066275911385167 0.7216864074846613" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.34823922091472503 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6964784418294501 0.44066275911385167 0.7216864074846613" />
            </geometry>
        </collision>
    </link>
    <joint name="3_4" type="revolute">
       <parent link="3"/>
       <child  link="4"/>
       <origin rpy="0 0 0" xyz="-0.12245567563460336 0 0" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="5">
        <inertial>
            <origin xyz="0 0 -0.09999999999999999" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.09999999999999999" rpy="0 0 0"/>
            <geometry>
                <box size="0.3276630699755252 0.6096064477795554 0.19999999999999998" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.09999999999999999" rpy="0 0 0"/>
            <geometry>
                <box size="0.3276630699755252 0.6096064477795554 0.19999999999999998" />
            </geometry>
        </collision>
    </link>
    <joint name="4_5" type="revolute">
       <parent link="4"/>
       <child  link="5"/>
       <origin rpy="0 0 0" xyz="-0.34823922091472503 0 -0.36084320374233064" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="6">
        <inertial>
            <origin xyz="0 0 -0.09999999999999999" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.09999999999999999" rpy="0 0 0"/>
            <geometry>
                <box size="0.6933120309213404 0.044646520373612164 0.19999999999999998" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.09999999999999999" rpy="0 0 0"/>
            <geometry>
                <box size="0.6933120309213404 0.044646520373612164 0.19999999999999998" />
            </geometry>
        </collision>
    </link>
    <joint name="5_6" type="revolute">
       <parent link="5"/>
       <child  link="6"/>
       <origin rpy="0 0 0" xyz="0 0 -0.19999999999999998" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="7">
        <inertial>
            <origin xyz="0 0 -0.09999999999999999" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.09999999999999999" rpy="0 0 0"/>
            <geometry>
                <box size="0.28337333566385303 0.5819407884751324 0.19999999999999998" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.09999999999999999" rpy="0 0 0"/>
            <geometry>
                <box size="0.28337333566385303 0.5819407884751324 0.19999999999999998" />
            </geometry>
        </collision>
    </link>
    <joint name="6_7" type="revolute">
       <parent link="6"/>
       <child  link="7"/>
       <origin rpy="0 0 0" xyz="0 0 -0.19999999999999998" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="8">
        <inertial>
            <origin xyz="0.34145509409959374 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.34145509409959374 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6829101881991875 0.052498313452988166 0.4995408709427752" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.34145509409959374 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6829101881991875 0.052498313452988166 0.4995408709427752" />
            </geometry>
        </collision>
    </link>
    <joint name="0_8" type="revolute">
       <parent link="0"/>
       <child  link="8"/>
       <origin rpy="0 0 0" xyz="0.75 0 1" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="9">
        <inertial>
            <origin xyz="0.2694588384930369 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.2694588384930369 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5389176769860738 0.46142926480024105 0.014454532846090107" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.2694588384930369 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5389176769860738 0.46142926480024105 0.014454532846090107" />
            </geometry>
        </collision>
    </link>
    <joint name="8_9" type="revolute">
       <parent link="8"/>
       <child  link="9"/>
       <origin rpy="0 0 0" xyz="0.6829101881991875 0 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="10">
        <inertial>
            <origin xyz="0.30453553663648775 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.30453553663648775 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6090710732729755 0.7372562172458023 0.6880169711493676" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.30453553663648775 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6090710732729755 0.7372562172458023 0.6880169711493676" />
            </geometry>
        </collision>
    </link>
    <joint name="9_10" type="revolute">
       <parent link="9"/>
       <child  link="10"/>
       <origin rpy="0 0 0" xyz="0.5389176769860738 0 0" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="11">
        <inertial>
            <origin xyz="0.2033071791796791 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.2033071791796791 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4066143583593582 0.9263350855413174 0.7190550007984851" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.2033071791796791 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4066143583593582 0.9263350855413174 0.7190550007984851" />
            </geometry>
        </collision>
    </link>
    <joint name="10_11" type="revolute">
       <parent link="10"/>
       <child  link="11"/>
       <origin rpy="0 0 0" xyz="0.6090710732729755 0 0" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="12">
        <inertial>
            <origin xyz="0 0 -0.09999999999999999" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.09999999999999999" rpy="0 0 0"/>
            <geometry>
                <box size="0.17540524806257185 0.43664496126906627 0.19999999999999998" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.09999999999999999" rpy="0 0 0"/>
            <geometry>
                <box size="0.17540524806257185 0.43664496126906627 0.19999999999999998" />
            </geometry>
        </collision>
    </link>
    <joint name="11_12" type="revolute">
       <parent link="11"/>
       <child  link="12"/>
       <origin rpy="0 0 0" xyz="0.2033071791796791 0 -0.35952750039924253" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="13">
        <inertial>
            <origin xyz="0 0 -0.09999999999999999" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.09999999999999999" rpy="0 0 0"/>
            <geometry>
                <box size="0.2530880158693808 0.42986571144080266 0.19999999999999998" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.09999999999999999" rpy="0 0 0"/>
            <geometry>
                <box size="0.2530880158693808 0.42986571144080266 0.19999999999999998" />
            </geometry>
        </collision>
    </link>
    <joint name="12_13" type="revolute">
       <parent link="12"/>
       <child  link="13"/>
       <origin rpy="0 0 0" xyz="0 0 -0.19999999999999998" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="14">
        <inertial>
            <origin xyz="0 0 -0.09999999999999999" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.09999999999999999" rpy="0 0 0"/>
            <geometry>
                <box size="0.12755043126761723 0.9171372160762157 0.19999999999999998" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.09999999999999999" rpy="0 0 0"/>
            <geometry>
                <box size="0.12755043126761723 0.9171372160762157 0.19999999999999998" />
            </geometry>
        </collision>
    </link>
    <joint name="13_14" type="revolute">
       <parent link="13"/>
       <child  link="14"/>
       <origin rpy="0 0 0" xyz="0 0 -0.19999999999999998" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="15">
        <inertial>
            <origin xyz="0 -0.137401350686786 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.137401350686786 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9154249506579325 0.274802701373572 0.48304546376418356" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.137401350686786 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9154249506579325 0.274802701373572 0.48304546376418356" />
            </geometry>
        </collision>
    </link>
    <joint name="0_15" type="revolute">
       <parent link="0"/>
       <child  link="15"/>
       <origin rpy="0 0 0" xyz="0 -0.75 1" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="16">
        <inertial>
            <origin xyz="0 -0.24254130787328104 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.24254130787328104 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5427632909087426 0.4850826157465621 0.6451206719033276" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.24254130787328104 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5427632909087426 0.4850826157465621 0.6451206719033276" />
            </geometry>
        </collision>
    </link>
    <joint name="15_16" type="revolute">
       <parent link="15"/>
       <child  link="16"/>
       <origin rpy="0 0 0" xyz="0 -0.274802701373572 0" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="17">
        <inertial>
            <origin xyz="0 -0.11496933471075677 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.11496933471075677 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3133733481025516 0.22993866942151353 0.4875348125084662" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.11496933471075677 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3133733481025516 0.22993866942151353 0.4875348125084662" />
            </geometry>
        </collision>
    </link>
    <joint name="16_17" type="revolute">
       <parent link="16"/>
       <child  link="17"/>
       <origin rpy="0 0 0" xyz="0 -0.4850826157465621 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="18">
        <inertial>
            <origin xyz="0 -0.011418803147720091 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.011418803147720091 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2414485743697251 0.022837606295440183 0.46580443258190585" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.011418803147720091 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2414485743697251 0.022837606295440183 0.46580443258190585" />
            </geometry>
        </collision>
    </link>
    <joint name="17_18" type="revolute">
       <parent link="17"/>
       <child  link="18"/>
       <origin rpy="0 0 0" xyz="0 -0.22993866942151353 0" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="19">
        <inertial>
            <origin xyz="0 0 -0.09999999999999999" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.09999999999999999" rpy="0 0 0"/>
            <geometry>
                <box size="0.4949179201166978 0.6327031539427234 0.19999999999999998" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.09999999999999999" rpy="0 0 0"/>
            <geometry>
                <box size="0.4949179201166978 0.6327031539427234 0.19999999999999998" />
            </geometry>
        </collision>
    </link>
    <joint name="18_19" type="revolute">
       <parent link="18"/>
       <child  link="19"/>
       <origin rpy="0 0 0" xyz="0 -0.011418803147720091 -0.23290221629095292" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="20">
        <inertial>
            <origin xyz="0 0 -0.09999999999999999" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.09999999999999999" rpy="0 0 0"/>
            <geometry>
                <box size="0.5378448014319971 0.39687158382203136 0.19999999999999998" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.09999999999999999" rpy="0 0 0"/>
            <geometry>
                <box size="0.5378448014319971 0.39687158382203136 0.19999999999999998" />
            </geometry>
        </collision>
    </link>
    <joint name="19_20" type="revolute">
       <parent link="19"/>
       <child  link="20"/>
       <origin rpy="0 0 0" xyz="0 0 -0.19999999999999998" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="21">
        <inertial>
            <origin xyz="0 0 -0.09999999999999999" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.09999999999999999" rpy="0 0 0"/>
            <geometry>
                <box size="0.8920091221613613 0.7479606318181394 0.19999999999999998" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.09999999999999999" rpy="0 0 0"/>
            <geometry>
                <box size="0.8920091221613613 0.7479606318181394 0.19999999999999998" />
            </geometry>
        </collision>
    </link>
    <joint name="20_21" type="revolute">
       <parent link="20"/>
       <child  link="21"/>
       <origin rpy="0 0 0" xyz="0 0 -0.19999999999999998" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="22">
        <inertial>
            <origin xyz="0 0.2097683316940948 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.2097683316940948 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.950148464123002 0.4195366633881896 0.13333364882472398" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.2097683316940948 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.950148464123002 0.4195366633881896 0.13333364882472398" />
            </geometry>
        </collision>
    </link>
    <joint name="0_22" type="revolute">
       <parent link="0"/>
       <child  link="22"/>
       <origin rpy="0 0 0" xyz="0 0.75 1" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="23">
        <inertial>
            <origin xyz="0 0.42808706608398384 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.42808706608398384 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.06577010168918818 0.8561741321679677 0.8112922062309907" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.42808706608398384 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.06577010168918818 0.8561741321679677 0.8112922062309907" />
            </geometry>
        </collision>
    </link>
    <joint name="22_23" type="revolute">
       <parent link="22"/>
       <child  link="23"/>
       <origin rpy="0 0 0" xyz="0 0.4195366633881896 0" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="24">
        <inertial>
            <origin xyz="0 0.14353693884078506 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.14353693884078506 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.35911462009041717 0.2870738776815701 0.14360650189210833" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.14353693884078506 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.35911462009041717 0.2870738776815701 0.14360650189210833" />
            </geometry>
        </collision>
    </link>
    <joint name="23_24" type="revolute">
       <parent link="23"/>
       <child  link="24"/>
       <origin rpy="0 0 0" xyz="0 0.8561741321679677 0" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="25">
        <inertial>
            <origin xyz="0 0.36966758748007417 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.36966758748007417 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6061012203735426 0.7393351749601483 0.8157628995134635" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.36966758748007417 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6061012203735426 0.7393351749601483 0.8157628995134635" />
            </geometry>
        </collision>
    </link>
    <joint name="24_25" type="revolute">
       <parent link="24"/>
       <child  link="25"/>
       <origin rpy="0 0 0" xyz="0 0.2870738776815701 0" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="26">
        <inertial>
            <origin xyz="0 0 -0.09999999999999999" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.09999999999999999" rpy="0 0 0"/>
            <geometry>
                <box size="0.4427837468114524 0.41335802140996336 0.19999999999999998" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.09999999999999999" rpy="0 0 0"/>
            <geometry>
                <box size="0.4427837468114524 0.41335802140996336 0.19999999999999998" />
            </geometry>
        </collision>
    </link>
    <joint name="25_26" type="revolute">
       <parent link="25"/>
       <child  link="26"/>
       <origin rpy="0 0 0" xyz="0 0.36966758748007417 -0.40788144975673174" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="27">
        <inertial>
            <origin xyz="0 0 -0.09999999999999999" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.09999999999999999" rpy="0 0 0"/>
            <geometry>
                <box size="0.09686372692911527 0.10489905555655998 0.19999999999999998" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.09999999999999999" rpy="0 0 0"/>
            <geometry>
                <box size="0.09686372692911527 0.10489905555655998 0.19999999999999998" />
            </geometry>
        </collision>
    </link>
    <joint name="26_27" type="revolute">
       <parent link="26"/>
       <child  link="27"/>
       <origin rpy="0 0 0" xyz="0 0 -0.19999999999999998" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="28">
        <inertial>
            <origin xyz="0 0 -0.09999999999999999" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.09999999999999999" rpy="0 0 0"/>
            <geometry>
                <box size="0.8378817903061385 0.5075791032045215 0.19999999999999998" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.09999999999999999" rpy="0 0 0"/>
            <geometry>
                <box size="0.8378817903061385 0.5075791032045215 0.19999999999999998" />
            </geometry>
        </collision>
    </link>
    <joint name="27_28" type="revolute">
       <parent link="27"/>
       <child  link="28"/>
       <origin rpy="0 0 0" xyz="0 0 -0.19999999999999998" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>