<robot name = "robot">
    <link name="0">
        <inertial>
            <origin xyz="0 0 0.35" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.35" rpy="0 0 0"/>
            <geometry>
                <box size="0.7 0.7 0.7" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.35" rpy="0 0 0"/>
            <geometry>
                <box size="0.7 0.7 0.7" />
            </geometry>
        </collision>
    </link>
    <link name="1">
        <inertial>
            <origin xyz="-0.2028163535821466 0 0.38195701356234224" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.2028163535821466 0 0.38195701356234224" rpy="0 0 0"/>
            <geometry>
                <box size="0.4056327071642932 0.5667648974640638 0.7639140271246845" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.2028163535821466 0 0.38195701356234224" rpy="0 0 0"/>
            <geometry>
                <box size="0.4056327071642932 0.5667648974640638 0.7639140271246845" />
            </geometry>
        </collision>
    </link>
    <joint name="0_1" type="revolute">
       <parent link="0"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="-0.35 0 0.7" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="2">
        <inertial>
            <origin xyz="-0.11046653505992438 0 0.41964471435202894" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.11046653505992438 0 0.41964471435202894" rpy="0 0 0"/>
            <geometry>
                <box size="0.22093307011984875 0.5135328082829885 0.8392894287040579" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.11046653505992438 0 0.41964471435202894" rpy="0 0 0"/>
            <geometry>
                <box size="0.22093307011984875 0.5135328082829885 0.8392894287040579" />
            </geometry>
        </collision>
    </link>
    <joint name="1_2" type="revolute">
       <parent link="1"/>
       <child  link="2"/>
       <origin rpy="0 0 0" xyz="-0.4056327071642932 0 0.7639140271246845" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="3">
        <inertial>
            <origin xyz="-0.2692631269997961 0 0.048457807526262775" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.2692631269997961 0 0.048457807526262775" rpy="0 0 0"/>
            <geometry>
                <box size="0.5385262539995922 0.5540689846488677 0.09691561505252555" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.2692631269997961 0 0.048457807526262775" rpy="0 0 0"/>
            <geometry>
                <box size="0.5385262539995922 0.5540689846488677 0.09691561505252555" />
            </geometry>
        </collision>
    </link>
    <joint name="2_3" type="revolute">
       <parent link="2"/>
       <child  link="3"/>
       <origin rpy="0 0 0" xyz="-0.22093307011984875 0 0.8392894287040579" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="4">
        <inertial>
            <origin xyz="-0.4302521611343568 0 0.07445807891484368" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.4302521611343568 0 0.07445807891484368" rpy="0 0 0"/>
            <geometry>
                <box size="0.8605043222687137 0.6584145374731099 0.14891615782968737" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.4302521611343568 0 0.07445807891484368" rpy="0 0 0"/>
            <geometry>
                <box size="0.8605043222687137 0.6584145374731099 0.14891615782968737" />
            </geometry>
        </collision>
    </link>
    <joint name="3_4" type="revolute">
       <parent link="3"/>
       <child  link="4"/>
       <origin rpy="0 0 0" xyz="-0.5385262539995922 0 0.09691561505252555" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="5">
        <inertial>
            <origin xyz="0.08534898476970015 0 0.052844072909381035" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.08534898476970015 0 0.052844072909381035" rpy="0 0 0"/>
            <geometry>
                <box size="0.1706979695394003 0.3604812204887835 0.10568814581876207" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.08534898476970015 0 0.052844072909381035" rpy="0 0 0"/>
            <geometry>
                <box size="0.1706979695394003 0.3604812204887835 0.10568814581876207" />
            </geometry>
        </collision>
    </link>
    <joint name="0_5" type="revolute">
       <parent link="0"/>
       <child  link="5"/>
       <origin rpy="0 0 0" xyz="0.35 0 0.7" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="6">
        <inertial>
            <origin xyz="0.12271891036234112 0 0.04608729228426961" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.12271891036234112 0 0.04608729228426961" rpy="0 0 0"/>
            <geometry>
                <box size="0.24543782072468223 0.21476063783150834 0.09217458456853922" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.12271891036234112 0 0.04608729228426961" rpy="0 0 0"/>
            <geometry>
                <box size="0.24543782072468223 0.21476063783150834 0.09217458456853922" />
            </geometry>
        </collision>
    </link>
    <joint name="5_6" type="revolute">
       <parent link="5"/>
       <child  link="6"/>
       <origin rpy="0 0 0" xyz="0.1706979695394003 0 0.10568814581876207" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="7">
        <inertial>
            <origin xyz="0 -0.4871690018463044 0.4104580147844763" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.4871690018463044 0.4104580147844763" rpy="0 0 0"/>
            <geometry>
                <box size="0.13610451161293025 0.9743380036926088 0.8209160295689526" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.4871690018463044 0.4104580147844763" rpy="0 0 0"/>
            <geometry>
                <box size="0.13610451161293025 0.9743380036926088 0.8209160295689526" />
            </geometry>
        </collision>
    </link>
    <joint name="0_7" type="revolute">
       <parent link="0"/>
       <child  link="7"/>
       <origin rpy="0 0 0" xyz="0 -0.35 0.7" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="8">
        <inertial>
            <origin xyz="0 -0.24272329034444468 0.06219965082504586" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.24272329034444468 0.06219965082504586" rpy="0 0 0"/>
            <geometry>
                <box size="0.22147367000633478 0.48544658068888935 0.12439930165009172" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.24272329034444468 0.06219965082504586" rpy="0 0 0"/>
            <geometry>
                <box size="0.22147367000633478 0.48544658068888935 0.12439930165009172" />
            </geometry>
        </collision>
    </link>
    <joint name="7_8" type="revolute">
       <parent link="7"/>
       <child  link="8"/>
       <origin rpy="0 0 0" xyz="0 -0.9743380036926088 0.8209160295689526" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="9">
        <inertial>
            <origin xyz="0 -0.18923757205065944 0.1614516833650501" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.18923757205065944 0.1614516833650501" rpy="0 0 0"/>
            <geometry>
                <box size="0.9860682378923298 0.3784751441013189 0.3229033667301002" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.18923757205065944 0.1614516833650501" rpy="0 0 0"/>
            <geometry>
                <box size="0.9860682378923298 0.3784751441013189 0.3229033667301002" />
            </geometry>
        </collision>
    </link>
    <joint name="8_9" type="revolute">
       <parent link="8"/>
       <child  link="9"/>
       <origin rpy="0 0 0" xyz="0 -0.48544658068888935 0.12439930165009172" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="10">
        <inertial>
            <origin xyz="0 0.08715307577641312 0.1874536225575555" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.08715307577641312 0.1874536225575555" rpy="0 0 0"/>
            <geometry>
                <box size="0.569147433788731 0.17430615155282625 0.374907245115111" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.08715307577641312 0.1874536225575555" rpy="0 0 0"/>
            <geometry>
                <box size="0.569147433788731 0.17430615155282625 0.374907245115111" />
            </geometry>
        </collision>
    </link>
    <joint name="0_10" type="revolute">
       <parent link="0"/>
       <child  link="10"/>
       <origin rpy="0 0 0" xyz="0 0.35 0.7" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>