<robot name = "robot">
    <link name="0">
        <inertial>
            <origin xyz="0 0 3" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 3" rpy="0 0 0"/>
            <geometry>
                <box size="1.5 1.5 0.8" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 3" rpy="0 0 0"/>
            <geometry>
                <box size="1.5 1.5 0.8" />
            </geometry>
        </collision>
    </link>
    <link name="1">
        <inertial>
            <origin xyz="-0.24860999504690123 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.24860999504690123 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.49721999009380247 0.28548342956442885 0.5303495842226897" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.24860999504690123 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.49721999009380247 0.28548342956442885 0.5303495842226897" />
            </geometry>
        </collision>
    </link>
    <joint name="0_1" type="revolute">
       <parent link="0"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="-0.75 0 3" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="2">
        <inertial>
            <origin xyz="0 0 -1.074478606131222" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -1.074478606131222" rpy="0 0 0"/>
            <geometry>
                <box size="0.7040716180082373 0.595961470904298 2.148957212262444" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -1.074478606131222" rpy="0 0 0"/>
            <geometry>
                <box size="0.7040716180082373 0.595961470904298 2.148957212262444" />
            </geometry>
        </collision>
    </link>
    <joint name="1_2" type="revolute">
       <parent link="1"/>
       <child  link="2"/>
       <origin rpy="0 0 0" xyz="-0.24860999504690123 0 -0.26517479211134487" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="3">
        <inertial>
            <origin xyz="0 0 -0.035558616498910914" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.035558616498910914" rpy="0 0 0"/>
            <geometry>
                <box size="0.6765029107026835 0.6662355205495795 0.07111723299782183" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.035558616498910914" rpy="0 0 0"/>
            <geometry>
                <box size="0.6765029107026835 0.6662355205495795 0.07111723299782183" />
            </geometry>
        </collision>
    </link>
    <joint name="2_3" type="revolute">
       <parent link="2"/>
       <child  link="3"/>
       <origin rpy="0 0 0" xyz="0 0 -2.148957212262444" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="4">
        <inertial>
            <origin xyz="0 0 -0.18996277736986722" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.18996277736986722" rpy="0 0 0"/>
            <geometry>
                <box size="0.9317765518232458 0.45558066446555734 0.37992555473973444" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.18996277736986722" rpy="0 0 0"/>
            <geometry>
                <box size="0.9317765518232458 0.45558066446555734 0.37992555473973444" />
            </geometry>
        </collision>
    </link>
    <joint name="3_4" type="revolute">
       <parent link="3"/>
       <child  link="4"/>
       <origin rpy="0 0 0" xyz="0 0 -0.07111723299782183" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="5">
        <inertial>
            <origin xyz="0.4217648016124571 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.4217648016124571 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8435296032249142 0.804292047817729 0.35947268012288847" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.4217648016124571 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8435296032249142 0.804292047817729 0.35947268012288847" />
            </geometry>
        </collision>
    </link>
    <joint name="0_5" type="revolute">
       <parent link="0"/>
       <child  link="5"/>
       <origin rpy="0 0 0" xyz="0.75 0 3" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="6">
        <inertial>
            <origin xyz="0 0 -0.037836393942945225" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.037836393942945225" rpy="0 0 0"/>
            <geometry>
                <box size="0.8277790161246896 0.0775657726491038 0.07567278788589045" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.037836393942945225" rpy="0 0 0"/>
            <geometry>
                <box size="0.8277790161246896 0.0775657726491038 0.07567278788589045" />
            </geometry>
        </collision>
    </link>
    <joint name="5_6" type="revolute">
       <parent link="5"/>
       <child  link="6"/>
       <origin rpy="0 0 0" xyz="0.4217648016124571 0 -0.17973634006144423" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="7">
        <inertial>
            <origin xyz="0 0 -0.017514658642072155" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.017514658642072155" rpy="0 0 0"/>
            <geometry>
                <box size="0.7664239316728036 0.20222318914951654 0.03502931728414431" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.017514658642072155" rpy="0 0 0"/>
            <geometry>
                <box size="0.7664239316728036 0.20222318914951654 0.03502931728414431" />
            </geometry>
        </collision>
    </link>
    <joint name="6_7" type="revolute">
       <parent link="6"/>
       <child  link="7"/>
       <origin rpy="0 0 0" xyz="0 0 -0.07567278788589045" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="8">
        <inertial>
            <origin xyz="0 0 -1.2446489474149827" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -1.2446489474149827" rpy="0 0 0"/>
            <geometry>
                <box size="0.45140070671913 0.1389894360157825 2.4892978948299653" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -1.2446489474149827" rpy="0 0 0"/>
            <geometry>
                <box size="0.45140070671913 0.1389894360157825 2.4892978948299653" />
            </geometry>
        </collision>
    </link>
    <joint name="7_8" type="revolute">
       <parent link="7"/>
       <child  link="8"/>
       <origin rpy="0 0 0" xyz="0 0 -0.03502931728414431" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="9">
        <inertial>
            <origin xyz="0 -0.3927441011512669 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.3927441011512669 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7810440198962454 0.7854882023025338 0.3507312963042164" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.3927441011512669 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7810440198962454 0.7854882023025338 0.3507312963042164" />
            </geometry>
        </collision>
    </link>
    <joint name="0_9" type="revolute">
       <parent link="0"/>
       <child  link="9"/>
       <origin rpy="0 0 0" xyz="0 -0.75 3" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="10">
        <inertial>
            <origin xyz="0 0 -0.8203652297049183" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.8203652297049183" rpy="0 0 0"/>
            <geometry>
                <box size="0.1512383683263454 0.3327940168810535 1.6407304594098366" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.8203652297049183" rpy="0 0 0"/>
            <geometry>
                <box size="0.1512383683263454 0.3327940168810535 1.6407304594098366" />
            </geometry>
        </collision>
    </link>
    <joint name="9_10" type="revolute">
       <parent link="9"/>
       <child  link="10"/>
       <origin rpy="0 0 0" xyz="0 -0.3927441011512669 -0.1753656481521082" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="11">
        <inertial>
            <origin xyz="0 0 -0.2732951282596674" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.2732951282596674" rpy="0 0 0"/>
            <geometry>
                <box size="0.5484092775241035 0.3853775995512577 0.5465902565193348" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.2732951282596674" rpy="0 0 0"/>
            <geometry>
                <box size="0.5484092775241035 0.3853775995512577 0.5465902565193348" />
            </geometry>
        </collision>
    </link>
    <joint name="10_11" type="revolute">
       <parent link="10"/>
       <child  link="11"/>
       <origin rpy="0 0 0" xyz="0 0 -1.6407304594098366" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="12">
        <inertial>
            <origin xyz="0 0 -0.20633964203541433" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.20633964203541433" rpy="0 0 0"/>
            <geometry>
                <box size="0.08167225272425449 0.3000163287669487 0.41267928407082866" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.20633964203541433" rpy="0 0 0"/>
            <geometry>
                <box size="0.08167225272425449 0.3000163287669487 0.41267928407082866" />
            </geometry>
        </collision>
    </link>
    <joint name="11_12" type="revolute">
       <parent link="11"/>
       <child  link="12"/>
       <origin rpy="0 0 0" xyz="0 0 -0.5465902565193348" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="13">
        <inertial>
            <origin xyz="0 0.1389672661880872 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.1389672661880872 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.10163214555271849 0.2779345323761744 0.5205455962894644" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.1389672661880872 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.10163214555271849 0.2779345323761744 0.5205455962894644" />
            </geometry>
        </collision>
    </link>
    <joint name="0_13" type="revolute">
       <parent link="0"/>
       <child  link="13"/>
       <origin rpy="0 0 0" xyz="0 0.75 3" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="14">
        <inertial>
            <origin xyz="0 0 -1.0244910515538335" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -1.0244910515538335" rpy="0 0 0"/>
            <geometry>
                <box size="0.8966423122574925 0.8805871344932631 2.048982103107667" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -1.0244910515538335" rpy="0 0 0"/>
            <geometry>
                <box size="0.8966423122574925 0.8805871344932631 2.048982103107667" />
            </geometry>
        </collision>
    </link>
    <joint name="13_14" type="revolute">
       <parent link="13"/>
       <child  link="14"/>
       <origin rpy="0 0 0" xyz="0 0.1389672661880872 -0.2602727981447322" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="15">
        <inertial>
            <origin xyz="0 0 -0.041275838313972434" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.041275838313972434" rpy="0 0 0"/>
            <geometry>
                <box size="0.9450307900161999 0.4505012946808016 0.08255167662794487" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.041275838313972434" rpy="0 0 0"/>
            <geometry>
                <box size="0.9450307900161999 0.4505012946808016 0.08255167662794487" />
            </geometry>
        </collision>
    </link>
    <joint name="14_15" type="revolute">
       <parent link="14"/>
       <child  link="15"/>
       <origin rpy="0 0 0" xyz="0 0 -2.048982103107667" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="16">
        <inertial>
            <origin xyz="0 0 -0.23423311013219414" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.23423311013219414" rpy="0 0 0"/>
            <geometry>
                <box size="0.30413178330363433 0.24364249066961785 0.4684662202643883" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.23423311013219414" rpy="0 0 0"/>
            <geometry>
                <box size="0.30413178330363433 0.24364249066961785 0.4684662202643883" />
            </geometry>
        </collision>
    </link>
    <joint name="15_16" type="revolute">
       <parent link="15"/>
       <child  link="16"/>
       <origin rpy="0 0 0" xyz="0 0 -0.08255167662794487" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>