<robot name = "robot">
    <link name="0">
        <inertial>
            <origin xyz="0 0 3" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 3" rpy="0 0 0"/>
            <geometry>
                <box size="1.5 1.5 0.8" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 3" rpy="0 0 0"/>
            <geometry>
                <box size="1.5 1.5 0.8" />
            </geometry>
        </collision>
    </link>
    <link name="1">
        <inertial>
            <origin xyz="-0.2847001674851048 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.2847001674851048 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5694003349702096 0.37282951659278385 0.5225875419773048" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.2847001674851048 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5694003349702096 0.37282951659278385 0.5225875419773048" />
            </geometry>
        </collision>
    </link>
    <joint name="0_1" type="revolute">
       <parent link="0"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="-0.75 0 3" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="2">
        <inertial>
            <origin xyz="0 0 -1.12531838372408" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -1.12531838372408" rpy="0 0 0"/>
            <geometry>
                <box size="0.07646493498098061 0.5619517331622856 2.25063676744816" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -1.12531838372408" rpy="0 0 0"/>
            <geometry>
                <box size="0.07646493498098061 0.5619517331622856 2.25063676744816" />
            </geometry>
        </collision>
    </link>
    <joint name="1_2" type="revolute">
       <parent link="1"/>
       <child  link="2"/>
       <origin rpy="0 0 0" xyz="-0.2847001674851048 0 -0.2612937709886524" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="3">
        <inertial>
            <origin xyz="0 0 -0.05189137451605368" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.05189137451605368" rpy="0 0 0"/>
            <geometry>
                <box size="0.6501317991743696 0.5548815299771719 0.10378274903210737" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.05189137451605368" rpy="0 0 0"/>
            <geometry>
                <box size="0.6501317991743696 0.5548815299771719 0.10378274903210737" />
            </geometry>
        </collision>
    </link>
    <joint name="2_3" type="revolute">
       <parent link="2"/>
       <child  link="3"/>
       <origin rpy="0 0 0" xyz="0 0 -2.25063676744816" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="4">
        <inertial>
            <origin xyz="0 0 -0.12279024175986625" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.12279024175986625" rpy="0 0 0"/>
            <geometry>
                <box size="0.22060121896521745 0.27529101261496913 0.2455804835197325" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.12279024175986625" rpy="0 0 0"/>
            <geometry>
                <box size="0.22060121896521745 0.27529101261496913 0.2455804835197325" />
            </geometry>
        </collision>
    </link>
    <joint name="3_4" type="revolute">
       <parent link="3"/>
       <child  link="4"/>
       <origin rpy="0 0 0" xyz="0 0 -0.10378274903210737" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="5">
        <inertial>
            <origin xyz="0.22186429090437715 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.22186429090437715 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4437285818087543 0.5637518299686423 0.879441425985133" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.22186429090437715 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4437285818087543 0.5637518299686423 0.879441425985133" />
            </geometry>
        </collision>
    </link>
    <joint name="0_5" type="revolute">
       <parent link="0"/>
       <child  link="5"/>
       <origin rpy="0 0 0" xyz="0.75 0 3" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="6">
        <inertial>
            <origin xyz="0 0 -0.7987766320176414" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.7987766320176414" rpy="0 0 0"/>
            <geometry>
                <box size="0.8950320668819544 0.5079624091554197 1.5975532640352827" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.7987766320176414" rpy="0 0 0"/>
            <geometry>
                <box size="0.8950320668819544 0.5079624091554197 1.5975532640352827" />
            </geometry>
        </collision>
    </link>
    <joint name="5_6" type="revolute">
       <parent link="5"/>
       <child  link="6"/>
       <origin rpy="0 0 0" xyz="0.22186429090437715 0 -0.4397207129925665" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="7">
        <inertial>
            <origin xyz="0 0 -0.40790442522012066" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.40790442522012066" rpy="0 0 0"/>
            <geometry>
                <box size="0.6073444689870614 0.07084066909164966 0.8158088504402413" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.40790442522012066" rpy="0 0 0"/>
            <geometry>
                <box size="0.6073444689870614 0.07084066909164966 0.8158088504402413" />
            </geometry>
        </collision>
    </link>
    <joint name="6_7" type="revolute">
       <parent link="6"/>
       <child  link="7"/>
       <origin rpy="0 0 0" xyz="0 0 -1.5975532640352827" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="8">
        <inertial>
            <origin xyz="0 0 -0.09331894276223801" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.09331894276223801" rpy="0 0 0"/>
            <geometry>
                <box size="0.9430201673006121 0.9256112964642851 0.18663788552447602" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.09331894276223801" rpy="0 0 0"/>
            <geometry>
                <box size="0.9430201673006121 0.9256112964642851 0.18663788552447602" />
            </geometry>
        </collision>
    </link>
    <joint name="7_8" type="revolute">
       <parent link="7"/>
       <child  link="8"/>
       <origin rpy="0 0 0" xyz="0 0 -0.8158088504402413" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="9">
        <inertial>
            <origin xyz="0 -0.40443102826934973 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.40443102826934973 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4443542509562871 0.8088620565386995 0.10010313602868603" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.40443102826934973 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4443542509562871 0.8088620565386995 0.10010313602868603" />
            </geometry>
        </collision>
    </link>
    <joint name="0_9" type="revolute">
       <parent link="0"/>
       <child  link="9"/>
       <origin rpy="0 0 0" xyz="0 -0.75 3" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="10">
        <inertial>
            <origin xyz="0 0 -0.35706834153558137" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.35706834153558137" rpy="0 0 0"/>
            <geometry>
                <box size="0.7872717342919998 0.21017709148458052 0.7141366830711627" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.35706834153558137" rpy="0 0 0"/>
            <geometry>
                <box size="0.7872717342919998 0.21017709148458052 0.7141366830711627" />
            </geometry>
        </collision>
    </link>
    <joint name="9_10" type="revolute">
       <parent link="9"/>
       <child  link="10"/>
       <origin rpy="0 0 0" xyz="0 -0.40443102826934973 -0.05005156801434302" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="11">
        <inertial>
            <origin xyz="0 0 -0.6511859702918767" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.6511859702918767" rpy="0 0 0"/>
            <geometry>
                <box size="0.9358539172436368 0.3979115988800015 1.3023719405837535" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.6511859702918767" rpy="0 0 0"/>
            <geometry>
                <box size="0.9358539172436368 0.3979115988800015 1.3023719405837535" />
            </geometry>
        </collision>
    </link>
    <joint name="10_11" type="revolute">
       <parent link="10"/>
       <child  link="11"/>
       <origin rpy="0 0 0" xyz="0 0 -0.7141366830711627" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="12">
        <inertial>
            <origin xyz="0 0 -0.291745688172542" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.291745688172542" rpy="0 0 0"/>
            <geometry>
                <box size="0.8999398383424324 0.1021030987156114 0.583491376345084" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.291745688172542" rpy="0 0 0"/>
            <geometry>
                <box size="0.8999398383424324 0.1021030987156114 0.583491376345084" />
            </geometry>
        </collision>
    </link>
    <joint name="11_12" type="revolute">
       <parent link="11"/>
       <child  link="12"/>
       <origin rpy="0 0 0" xyz="0 0 -1.3023719405837535" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="13">
        <inertial>
            <origin xyz="0 0.37021886161476036 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.37021886161476036 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.46385348120179826 0.7404377232295207 0.4219531848409672" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.37021886161476036 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.46385348120179826 0.7404377232295207 0.4219531848409672" />
            </geometry>
        </collision>
    </link>
    <joint name="0_13" type="revolute">
       <parent link="0"/>
       <child  link="13"/>
       <origin rpy="0 0 0" xyz="0 0.75 3" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="14">
        <inertial>
            <origin xyz="0 0 -0.637430145332342" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.637430145332342" rpy="0 0 0"/>
            <geometry>
                <box size="0.24663040378141254 0.0820837195918459 1.274860290664684" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.637430145332342" rpy="0 0 0"/>
            <geometry>
                <box size="0.24663040378141254 0.0820837195918459 1.274860290664684" />
            </geometry>
        </collision>
    </link>
    <joint name="13_14" type="revolute">
       <parent link="13"/>
       <child  link="14"/>
       <origin rpy="0 0 0" xyz="0 0.37021886161476036 -0.2109765924204836" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="15">
        <inertial>
            <origin xyz="0 0 -0.03925588808296707" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.03925588808296707" rpy="0 0 0"/>
            <geometry>
                <box size="0.760276555062498 0.483597671218569 0.07851177616593415" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.03925588808296707" rpy="0 0 0"/>
            <geometry>
                <box size="0.760276555062498 0.483597671218569 0.07851177616593415" />
            </geometry>
        </collision>
    </link>
    <joint name="14_15" type="revolute">
       <parent link="14"/>
       <child  link="15"/>
       <origin rpy="0 0 0" xyz="0 0 -1.274860290664684" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="16">
        <inertial>
            <origin xyz="0 0 -0.623313966584691" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.623313966584691" rpy="0 0 0"/>
            <geometry>
                <box size="0.5289637887586551 0.003193424251562327 1.246627933169382" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.623313966584691" rpy="0 0 0"/>
            <geometry>
                <box size="0.5289637887586551 0.003193424251562327 1.246627933169382" />
            </geometry>
        </collision>
    </link>
    <joint name="15_16" type="revolute">
       <parent link="15"/>
       <child  link="16"/>
       <origin rpy="0 0 0" xyz="0 0 -0.07851177616593415" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>