<robot name = "robot">
    <link name="0">
        <inertial>
            <origin xyz="0 0 3" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 3" rpy="0 0 0"/>
            <geometry>
                <box size="1.5 1.5 0.8" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 3" rpy="0 0 0"/>
            <geometry>
                <box size="1.5 1.5 0.8" />
            </geometry>
        </collision>
    </link>
    <link name="1">
        <inertial>
            <origin xyz="-0.40021350072226813 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.40021350072226813 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8004270014445363 0.8544318893720505 0.5737788042402346" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.40021350072226813 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8004270014445363 0.8544318893720505 0.5737788042402346" />
            </geometry>
        </collision>
    </link>
    <joint name="0_1" type="revolute">
       <parent link="0"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="-0.75 0 3" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="2">
        <inertial>
            <origin xyz="-0.35912252907299036 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.35912252907299036 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7182450581459807 0.08104719177207753 0.8561159069059395" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.35912252907299036 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7182450581459807 0.08104719177207753 0.8561159069059395" />
            </geometry>
        </collision>
    </link>
    <joint name="1_2" type="revolute">
       <parent link="1"/>
       <child  link="2"/>
       <origin rpy="0 0 0" xyz="-0.8004270014445363 0 0" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="3">
        <inertial>
            <origin xyz="-0.3754431456931605 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.3754431456931605 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.750886291386321 0.7525498037632412 0.11597418420694439" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.3754431456931605 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.750886291386321 0.7525498037632412 0.11597418420694439" />
            </geometry>
        </collision>
    </link>
    <joint name="2_3" type="revolute">
       <parent link="2"/>
       <child  link="3"/>
       <origin rpy="0 0 0" xyz="-0.7182450581459807 0 0" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="4">
        <inertial>
            <origin xyz="-0.035799332447862264 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.035799332447862264 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.07159866489572453 0.25349104464381833 0.09660801281138154" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.035799332447862264 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.07159866489572453 0.25349104464381833 0.09660801281138154" />
            </geometry>
        </collision>
    </link>
    <joint name="3_4" type="revolute">
       <parent link="3"/>
       <child  link="4"/>
       <origin rpy="0 0 0" xyz="-0.750886291386321 0 0" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="5">
        <inertial>
            <origin xyz="-0.17044793739089742 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.17044793739089742 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.34089587478179484 0.6130997997580606 0.7953179422057896" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.17044793739089742 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.34089587478179484 0.6130997997580606 0.7953179422057896" />
            </geometry>
        </collision>
    </link>
    <joint name="4_5" type="revolute">
       <parent link="4"/>
       <child  link="5"/>
       <origin rpy="0 0 0" xyz="-0.07159866489572453 0 0" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="6">
        <inertial>
            <origin xyz="0 0 -0.15303957679879995" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.15303957679879995" rpy="0 0 0"/>
            <geometry>
                <box size="0.36136211297085397 0.6393063068257139 0.3060791535975999" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.15303957679879995" rpy="0 0 0"/>
            <geometry>
                <box size="0.36136211297085397 0.6393063068257139 0.3060791535975999" />
            </geometry>
        </collision>
    </link>
    <joint name="5_6" type="revolute">
       <parent link="5"/>
       <child  link="6"/>
       <origin rpy="0 0 0" xyz="-0.17044793739089742 0 -0.3976589711028948" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="7">
        <inertial>
            <origin xyz="0 0 -0.3956013857616871" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.3956013857616871" rpy="0 0 0"/>
            <geometry>
                <box size="0.11999866887485189 0.6490510187085081 0.7912027715233741" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.3956013857616871" rpy="0 0 0"/>
            <geometry>
                <box size="0.11999866887485189 0.6490510187085081 0.7912027715233741" />
            </geometry>
        </collision>
    </link>
    <joint name="6_7" type="revolute">
       <parent link="6"/>
       <child  link="7"/>
       <origin rpy="0 0 0" xyz="0 0 -0.3060791535975999" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="8">
        <inertial>
            <origin xyz="0 0 -0.7513590374395129" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.7513590374395129" rpy="0 0 0"/>
            <geometry>
                <box size="0.4134133489765076 0.9934267389315551 1.5027180748790259" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.7513590374395129" rpy="0 0 0"/>
            <geometry>
                <box size="0.4134133489765076 0.9934267389315551 1.5027180748790259" />
            </geometry>
        </collision>
    </link>
    <joint name="7_8" type="revolute">
       <parent link="7"/>
       <child  link="8"/>
       <origin rpy="0 0 0" xyz="0 0 -0.7912027715233741" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="9">
        <inertial>
            <origin xyz="0.4167155691732804 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.4167155691732804 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8334311383465608 0.3038249169247563 0.37354380973845813" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.4167155691732804 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8334311383465608 0.3038249169247563 0.37354380973845813" />
            </geometry>
        </collision>
    </link>
    <joint name="0_9" type="revolute">
       <parent link="0"/>
       <child  link="9"/>
       <origin rpy="0 0 0" xyz="0.75 0 3" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="10">
        <inertial>
            <origin xyz="0.31824050381153896 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.31824050381153896 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6364810076230779 0.36535237890955863 0.006845099085839967" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.31824050381153896 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6364810076230779 0.36535237890955863 0.006845099085839967" />
            </geometry>
        </collision>
    </link>
    <joint name="9_10" type="revolute">
       <parent link="9"/>
       <child  link="10"/>
       <origin rpy="0 0 0" xyz="0.8334311383465608 0 0" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="11">
        <inertial>
            <origin xyz="0.4035629748146937 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.4035629748146937 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8071259496293874 0.05044718225758216 0.6760602143553974" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.4035629748146937 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8071259496293874 0.05044718225758216 0.6760602143553974" />
            </geometry>
        </collision>
    </link>
    <joint name="10_11" type="revolute">
       <parent link="10"/>
       <child  link="11"/>
       <origin rpy="0 0 0" xyz="0.6364810076230779 0 0" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="12">
        <inertial>
            <origin xyz="0.451589525701584 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.451589525701584 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.903179051403168 0.49021770457720426 0.9902349002631974" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.451589525701584 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.903179051403168 0.49021770457720426 0.9902349002631974" />
            </geometry>
        </collision>
    </link>
    <joint name="11_12" type="revolute">
       <parent link="11"/>
       <child  link="12"/>
       <origin rpy="0 0 0" xyz="0.8071259496293874 0 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="13">
        <inertial>
            <origin xyz="0.4278016344692487 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.4278016344692487 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8556032689384974 0.6944990323559637 0.09314697857015874" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.4278016344692487 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8556032689384974 0.6944990323559637 0.09314697857015874" />
            </geometry>
        </collision>
    </link>
    <joint name="12_13" type="revolute">
       <parent link="12"/>
       <child  link="13"/>
       <origin rpy="0 0 0" xyz="0.903179051403168 0 0" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="14">
        <inertial>
            <origin xyz="0 0 -1.2055465831904728" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -1.2055465831904728" rpy="0 0 0"/>
            <geometry>
                <box size="0.03405157465824704 0.9139194352567729 2.4110931663809456" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -1.2055465831904728" rpy="0 0 0"/>
            <geometry>
                <box size="0.03405157465824704 0.9139194352567729 2.4110931663809456" />
            </geometry>
        </collision>
    </link>
    <joint name="13_14" type="revolute">
       <parent link="13"/>
       <child  link="14"/>
       <origin rpy="0 0 0" xyz="0.4278016344692487 0 -0.04657348928507937" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="15">
        <inertial>
            <origin xyz="0 0 -0.05182846885917789" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.05182846885917789" rpy="0 0 0"/>
            <geometry>
                <box size="0.46292125079225765 0.06730232183613283 0.10365693771835578" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.05182846885917789" rpy="0 0 0"/>
            <geometry>
                <box size="0.46292125079225765 0.06730232183613283 0.10365693771835578" />
            </geometry>
        </collision>
    </link>
    <joint name="14_15" type="revolute">
       <parent link="14"/>
       <child  link="15"/>
       <origin rpy="0 0 0" xyz="0 0 -2.4110931663809456" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="16">
        <inertial>
            <origin xyz="0 0 -0.042624947950349344" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.042624947950349344" rpy="0 0 0"/>
            <geometry>
                <box size="0.26554858339732623 0.2155399847804904 0.08524989590069869" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.042624947950349344" rpy="0 0 0"/>
            <geometry>
                <box size="0.26554858339732623 0.2155399847804904 0.08524989590069869" />
            </geometry>
        </collision>
    </link>
    <joint name="15_16" type="revolute">
       <parent link="15"/>
       <child  link="16"/>
       <origin rpy="0 0 0" xyz="0 0 -0.10365693771835578" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="17">
        <inertial>
            <origin xyz="0 -0.1554423948292633 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.1554423948292633 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.06886199576370888 0.3108847896585266 0.9305458906270692" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.1554423948292633 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.06886199576370888 0.3108847896585266 0.9305458906270692" />
            </geometry>
        </collision>
    </link>
    <joint name="0_17" type="revolute">
       <parent link="0"/>
       <child  link="17"/>
       <origin rpy="0 0 0" xyz="0 -0.75 3" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="18">
        <inertial>
            <origin xyz="0 -0.29563624407683736 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.29563624407683736 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.07200504212103775 0.5912724881536747 0.5123871293262381" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.29563624407683736 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.07200504212103775 0.5912724881536747 0.5123871293262381" />
            </geometry>
        </collision>
    </link>
    <joint name="17_18" type="revolute">
       <parent link="17"/>
       <child  link="18"/>
       <origin rpy="0 0 0" xyz="0 -0.3108847896585266 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="19">
        <inertial>
            <origin xyz="0 -0.19023812772229043 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.19023812772229043 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.33502637261787604 0.38047625544458086 0.8100903530298842" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.19023812772229043 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.33502637261787604 0.38047625544458086 0.8100903530298842" />
            </geometry>
        </collision>
    </link>
    <joint name="18_19" type="revolute">
       <parent link="18"/>
       <child  link="19"/>
       <origin rpy="0 0 0" xyz="0 -0.5912724881536747 0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="20">
        <inertial>
            <origin xyz="0 -0.40226558629963693 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.40226558629963693 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6652395562716374 0.8045311725992739 0.43241339914413013" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.40226558629963693 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6652395562716374 0.8045311725992739 0.43241339914413013" />
            </geometry>
        </collision>
    </link>
    <joint name="19_20" type="revolute">
       <parent link="19"/>
       <child  link="20"/>
       <origin rpy="0 0 0" xyz="0 -0.38047625544458086 0" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="21">
        <inertial>
            <origin xyz="0 -0.48007460694030585 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.48007460694030585 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.21480061128797057 0.9601492138806117 0.21980547598022715" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.48007460694030585 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.21480061128797057 0.9601492138806117 0.21980547598022715" />
            </geometry>
        </collision>
    </link>
    <joint name="20_21" type="revolute">
       <parent link="20"/>
       <child  link="21"/>
       <origin rpy="0 0 0" xyz="0 -0.8045311725992739 0" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="22">
        <inertial>
            <origin xyz="0 0 -0.8813927228249087" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.8813927228249087" rpy="0 0 0"/>
            <geometry>
                <box size="0.2621315259592336 0.8865579889454004 1.7627854456498173" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.8813927228249087" rpy="0 0 0"/>
            <geometry>
                <box size="0.2621315259592336 0.8865579889454004 1.7627854456498173" />
            </geometry>
        </collision>
    </link>
    <joint name="21_22" type="revolute">
       <parent link="21"/>
       <child  link="22"/>
       <origin rpy="0 0 0" xyz="0 -0.48007460694030585 -0.10990273799011357" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="23">
        <inertial>
            <origin xyz="0 0 -0.18183679980437653" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.18183679980437653" rpy="0 0 0"/>
            <geometry>
                <box size="0.07679284583581603 0.2693852307833857 0.36367359960875306" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.18183679980437653" rpy="0 0 0"/>
            <geometry>
                <box size="0.07679284583581603 0.2693852307833857 0.36367359960875306" />
            </geometry>
        </collision>
    </link>
    <joint name="22_23" type="revolute">
       <parent link="22"/>
       <child  link="23"/>
       <origin rpy="0 0 0" xyz="0 0 -1.7627854456498173" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="24">
        <inertial>
            <origin xyz="0 0 -0.23677047737071485" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.23677047737071485" rpy="0 0 0"/>
            <geometry>
                <box size="0.40170194943110893 0.27294243493229775 0.4735409547414297" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.23677047737071485" rpy="0 0 0"/>
            <geometry>
                <box size="0.40170194943110893 0.27294243493229775 0.4735409547414297" />
            </geometry>
        </collision>
    </link>
    <joint name="23_24" type="revolute">
       <parent link="23"/>
       <child  link="24"/>
       <origin rpy="0 0 0" xyz="0 0 -0.36367359960875306" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="25">
        <inertial>
            <origin xyz="0 0.08135023421655907 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.08135023421655907 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.033551963800517504 0.16270046843311814 0.6881471547229424" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.08135023421655907 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.033551963800517504 0.16270046843311814 0.6881471547229424" />
            </geometry>
        </collision>
    </link>
    <joint name="0_25" type="revolute">
       <parent link="0"/>
       <child  link="25"/>
       <origin rpy="0 0 0" xyz="0 0.75 3" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="26">
        <inertial>
            <origin xyz="0 0.17941899666242772 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.17941899666242772 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6526315106881179 0.35883799332485544 0.7812828909151416" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.17941899666242772 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6526315106881179 0.35883799332485544 0.7812828909151416" />
            </geometry>
        </collision>
    </link>
    <joint name="25_26" type="revolute">
       <parent link="25"/>
       <child  link="26"/>
       <origin rpy="0 0 0" xyz="0 0.16270046843311814 0" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="27">
        <inertial>
            <origin xyz="0 0.4255978056504055 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.4255978056504055 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.33876425649913455 0.851195611300811 0.7779931107854818" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.4255978056504055 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.33876425649913455 0.851195611300811 0.7779931107854818" />
            </geometry>
        </collision>
    </link>
    <joint name="26_27" type="revolute">
       <parent link="26"/>
       <child  link="27"/>
       <origin rpy="0 0 0" xyz="0 0.35883799332485544 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="28">
        <inertial>
            <origin xyz="0 0.29227510994854033 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.29227510994854033 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5195645090375719 0.5845502198970807 0.8543007871276913" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.29227510994854033 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5195645090375719 0.5845502198970807 0.8543007871276913" />
            </geometry>
        </collision>
    </link>
    <joint name="27_28" type="revolute">
       <parent link="27"/>
       <child  link="28"/>
       <origin rpy="0 0 0" xyz="0 0.851195611300811 0" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="29">
        <inertial>
            <origin xyz="0 0.3779149655234192 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.3779149655234192 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.041569522287241756 0.7558299310468384 0.7148185743166406" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.3779149655234192 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.041569522287241756 0.7558299310468384 0.7148185743166406" />
            </geometry>
        </collision>
    </link>
    <joint name="28_29" type="revolute">
       <parent link="28"/>
       <child  link="29"/>
       <origin rpy="0 0 0" xyz="0 0.5845502198970807 0" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="30">
        <inertial>
            <origin xyz="0 0 -0.25426119696511623" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.25426119696511623" rpy="0 0 0"/>
            <geometry>
                <box size="0.4283967742972159 0.05923381788950455 0.5085223939302325" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.25426119696511623" rpy="0 0 0"/>
            <geometry>
                <box size="0.4283967742972159 0.05923381788950455 0.5085223939302325" />
            </geometry>
        </collision>
    </link>
    <joint name="29_30" type="revolute">
       <parent link="29"/>
       <child  link="30"/>
       <origin rpy="0 0 0" xyz="0 0.3779149655234192 -0.3574092871583203" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="31">
        <inertial>
            <origin xyz="0 0 -0.37000279520869256" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.37000279520869256" rpy="0 0 0"/>
            <geometry>
                <box size="0.9295448865591491 0.23125147108740207 0.7400055904173851" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.37000279520869256" rpy="0 0 0"/>
            <geometry>
                <box size="0.9295448865591491 0.23125147108740207 0.7400055904173851" />
            </geometry>
        </collision>
    </link>
    <joint name="30_31" type="revolute">
       <parent link="30"/>
       <child  link="31"/>
       <origin rpy="0 0 0" xyz="0 0 -0.5085223939302325" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="32">
        <inertial>
            <origin xyz="0 0 -0.6757360078261911" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.6757360078261911" rpy="0 0 0"/>
            <geometry>
                <box size="0.5534330178111141 0.05292440829430012 1.3514720156523823" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.6757360078261911" rpy="0 0 0"/>
            <geometry>
                <box size="0.5534330178111141 0.05292440829430012 1.3514720156523823" />
            </geometry>
        </collision>
    </link>
    <joint name="31_32" type="revolute">
       <parent link="31"/>
       <child  link="32"/>
       <origin rpy="0 0 0" xyz="0 0 -0.7400055904173851" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>