<robot name = "robot">
    <link name="0">
        <inertial>
            <origin xyz="0 0 0.35" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.35" rpy="0 0 0"/>
            <geometry>
                <box size="0.7 0.7 0.7" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.35" rpy="0 0 0"/>
            <geometry>
                <box size="0.7 0.7 0.7" />
            </geometry>
        </collision>
    </link>
    <link name="1">
        <inertial>
            <origin xyz="-0.3491171673560509 0 0.08807435847300232" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.3491171673560509 0 0.08807435847300232" rpy="0 0 0"/>
            <geometry>
                <box size="0.6982343347121018 0.8333042701855585 0.17614871694600465" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.3491171673560509 0 0.08807435847300232" rpy="0 0 0"/>
            <geometry>
                <box size="0.6982343347121018 0.8333042701855585 0.17614871694600465" />
            </geometry>
        </collision>
    </link>
    <joint name="0_1" type="revolute">
       <parent link="0"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="-0.35 0 0.7" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="2">
        <inertial>
            <origin xyz="-0.07917228518094382 0 0.41564654285336183" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.07917228518094382 0 0.41564654285336183" rpy="0 0 0"/>
            <geometry>
                <box size="0.15834457036188765 0.7650299094992964 0.8312930857067237" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.07917228518094382 0 0.41564654285336183" rpy="0 0 0"/>
            <geometry>
                <box size="0.15834457036188765 0.7650299094992964 0.8312930857067237" />
            </geometry>
        </collision>
    </link>
    <joint name="1_2" type="revolute">
       <parent link="1"/>
       <child  link="2"/>
       <origin rpy="0 0 0" xyz="-0.6982343347121018 0 0.17614871694600465" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="3">
        <inertial>
            <origin xyz="-0.21006364168758473 0 0.1733085212785221" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.21006364168758473 0 0.1733085212785221" rpy="0 0 0"/>
            <geometry>
                <box size="0.42012728337516947 0.3751537455837153 0.3466170425570442" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.21006364168758473 0 0.1733085212785221" rpy="0 0 0"/>
            <geometry>
                <box size="0.42012728337516947 0.3751537455837153 0.3466170425570442" />
            </geometry>
        </collision>
    </link>
    <joint name="2_3" type="revolute">
       <parent link="2"/>
       <child  link="3"/>
       <origin rpy="0 0 0" xyz="-0.15834457036188765 0 0.8312930857067237" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="4">
        <inertial>
            <origin xyz="0.34236656040693 0 0.38115598892464203" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.34236656040693 0 0.38115598892464203" rpy="0 0 0"/>
            <geometry>
                <box size="0.68473312081386 0.39722714151054783 0.7623119778492841" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.34236656040693 0 0.38115598892464203" rpy="0 0 0"/>
            <geometry>
                <box size="0.68473312081386 0.39722714151054783 0.7623119778492841" />
            </geometry>
        </collision>
    </link>
    <joint name="0_4" type="revolute">
       <parent link="0"/>
       <child  link="4"/>
       <origin rpy="0 0 0" xyz="0.35 0 0.7" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="5">
        <inertial>
            <origin xyz="0.09181900768176399 0 0.08495213521226352" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.09181900768176399 0 0.08495213521226352" rpy="0 0 0"/>
            <geometry>
                <box size="0.18363801536352797 0.7271047180128565 0.16990427042452705" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.09181900768176399 0 0.08495213521226352" rpy="0 0 0"/>
            <geometry>
                <box size="0.18363801536352797 0.7271047180128565 0.16990427042452705" />
            </geometry>
        </collision>
    </link>
    <joint name="4_5" type="revolute">
       <parent link="4"/>
       <child  link="5"/>
       <origin rpy="0 0 0" xyz="0.68473312081386 0 0.7623119778492841" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="6">
        <inertial>
            <origin xyz="0.06157865765608006 0 0.0442808540452988" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.06157865765608006 0 0.0442808540452988" rpy="0 0 0"/>
            <geometry>
                <box size="0.12315731531216012 0.885431451437786 0.0885617080905976" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.06157865765608006 0 0.0442808540452988" rpy="0 0 0"/>
            <geometry>
                <box size="0.12315731531216012 0.885431451437786 0.0885617080905976" />
            </geometry>
        </collision>
    </link>
    <joint name="5_6" type="revolute">
       <parent link="5"/>
       <child  link="6"/>
       <origin rpy="0 0 0" xyz="0.18363801536352797 0 0.16990427042452705" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="7">
        <inertial>
            <origin xyz="0.3922372244168807 0 0.2866586413256165" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.3922372244168807 0 0.2866586413256165" rpy="0 0 0"/>
            <geometry>
                <box size="0.7844744488337614 0.5134607013618161 0.573317282651233" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.3922372244168807 0 0.2866586413256165" rpy="0 0 0"/>
            <geometry>
                <box size="0.7844744488337614 0.5134607013618161 0.573317282651233" />
            </geometry>
        </collision>
    </link>
    <joint name="6_7" type="revolute">
       <parent link="6"/>
       <child  link="7"/>
       <origin rpy="0 0 0" xyz="0.12315731531216012 0 0.0885617080905976" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="8">
        <inertial>
            <origin xyz="0 -0.3603949661891402 0.45990685121423763" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.3603949661891402 0.45990685121423763" rpy="0 0 0"/>
            <geometry>
                <box size="0.6776130257750627 0.7207899323782804 0.9198137024284753" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.3603949661891402 0.45990685121423763" rpy="0 0 0"/>
            <geometry>
                <box size="0.6776130257750627 0.7207899323782804 0.9198137024284753" />
            </geometry>
        </collision>
    </link>
    <joint name="0_8" type="revolute">
       <parent link="0"/>
       <child  link="8"/>
       <origin rpy="0 0 0" xyz="0 -0.35 0.7" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="9">
        <inertial>
            <origin xyz="0 -0.05105822528184223 0.1113090561190242" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.05105822528184223 0.1113090561190242" rpy="0 0 0"/>
            <geometry>
                <box size="0.17589962877700005 0.10211645056368446 0.2226181122380484" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.05105822528184223 0.1113090561190242" rpy="0 0 0"/>
            <geometry>
                <box size="0.17589962877700005 0.10211645056368446 0.2226181122380484" />
            </geometry>
        </collision>
    </link>
    <joint name="8_9" type="revolute">
       <parent link="8"/>
       <child  link="9"/>
       <origin rpy="0 0 0" xyz="0 -0.7207899323782804 0.9198137024284753" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="10">
        <inertial>
            <origin xyz="0 0.13993323407195318 0.379052421308919" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.13993323407195318 0.379052421308919" rpy="0 0 0"/>
            <geometry>
                <box size="0.5825112540511627 0.27986646814390637 0.758104842617838" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.13993323407195318 0.379052421308919" rpy="0 0 0"/>
            <geometry>
                <box size="0.5825112540511627 0.27986646814390637 0.758104842617838" />
            </geometry>
        </collision>
    </link>
    <joint name="0_10" type="revolute">
       <parent link="0"/>
       <child  link="10"/>
       <origin rpy="0 0 0" xyz="0 0.35 0.7" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="11">
        <inertial>
            <origin xyz="0 0.39578830886634286 0.110715263733631" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.39578830886634286 0.110715263733631" rpy="0 0 0"/>
            <geometry>
                <box size="0.8852822045175979 0.7915766177326857 0.221430527467262" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.39578830886634286 0.110715263733631" rpy="0 0 0"/>
            <geometry>
                <box size="0.8852822045175979 0.7915766177326857 0.221430527467262" />
            </geometry>
        </collision>
    </link>
    <joint name="10_11" type="revolute">
       <parent link="10"/>
       <child  link="11"/>
       <origin rpy="0 0 0" xyz="0 0.27986646814390637 0.758104842617838" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="12">
        <inertial>
            <origin xyz="0 0.39040337320833457 0.3316489843751338" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.39040337320833457 0.3316489843751338" rpy="0 0 0"/>
            <geometry>
                <box size="0.5437301668397744 0.7808067464166691 0.6632979687502676" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.39040337320833457 0.3316489843751338" rpy="0 0 0"/>
            <geometry>
                <box size="0.5437301668397744 0.7808067464166691 0.6632979687502676" />
            </geometry>
        </collision>
    </link>
    <joint name="11_12" type="revolute">
       <parent link="11"/>
       <child  link="12"/>
       <origin rpy="0 0 0" xyz="0 0.7915766177326857 0.221430527467262" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>