<robot name = "robot">
    <link name="0">
        <inertial>
            <origin xyz="0 0 0.35" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.35" rpy="0 0 0"/>
            <geometry>
                <box size="0.7 0.7 0.7" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.35" rpy="0 0 0"/>
            <geometry>
                <box size="0.7 0.7 0.7" />
            </geometry>
        </collision>
    </link>
    <link name="1">
        <inertial>
            <origin xyz="-0.23485811160359582 0 0.30461093885404406" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.23485811160359582 0 0.30461093885404406" rpy="0 0 0"/>
            <geometry>
                <box size="0.46971622320719164 0.9238101580584073 0.6092218777080881" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.23485811160359582 0 0.30461093885404406" rpy="0 0 0"/>
            <geometry>
                <box size="0.46971622320719164 0.9238101580584073 0.6092218777080881" />
            </geometry>
        </collision>
    </link>
    <joint name="0_1" type="revolute">
       <parent link="0"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="-0.35 0 0.7" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="2">
        <inertial>
            <origin xyz="0.05857189236315846 0 0.38412009080726095" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.05857189236315846 0 0.38412009080726095" rpy="0 0 0"/>
            <geometry>
                <box size="0.11714378472631692 0.3301241868998701 0.7682401816145219" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.05857189236315846 0 0.38412009080726095" rpy="0 0 0"/>
            <geometry>
                <box size="0.11714378472631692 0.3301241868998701 0.7682401816145219" />
            </geometry>
        </collision>
    </link>
    <joint name="0_2" type="revolute">
       <parent link="0"/>
       <child  link="2"/>
       <origin rpy="0 0 0" xyz="0.35 0 0.7" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="3">
        <inertial>
            <origin xyz="0 -0.4769554941269656 0.17106711580283507" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.4769554941269656 0.17106711580283507" rpy="0 0 0"/>
            <geometry>
                <box size="0.19166957458663003 0.9539109882539312 0.34213423160567014" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.4769554941269656 0.17106711580283507" rpy="0 0 0"/>
            <geometry>
                <box size="0.19166957458663003 0.9539109882539312 0.34213423160567014" />
            </geometry>
        </collision>
    </link>
    <joint name="0_3" type="revolute">
       <parent link="0"/>
       <child  link="3"/>
       <origin rpy="0 0 0" xyz="0 -0.35 0.7" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="4">
        <inertial>
            <origin xyz="0 -0.22332016993837944 0.16536808721910623" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.22332016993837944 0.16536808721910623" rpy="0 0 0"/>
            <geometry>
                <box size="0.7614997011457104 0.4466403398767589 0.33073617443821246" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.22332016993837944 0.16536808721910623" rpy="0 0 0"/>
            <geometry>
                <box size="0.7614997011457104 0.4466403398767589 0.33073617443821246" />
            </geometry>
        </collision>
    </link>
    <joint name="3_4" type="revolute">
       <parent link="3"/>
       <child  link="4"/>
       <origin rpy="0 0 0" xyz="0 -0.9539109882539312 0.34213423160567014" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="5">
        <inertial>
            <origin xyz="0 -0.06292517331973502 0.4743715086260265" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.06292517331973502 0.4743715086260265" rpy="0 0 0"/>
            <geometry>
                <box size="0.20719437516870853 0.12585034663947003 0.948743017252053" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.06292517331973502 0.4743715086260265" rpy="0 0 0"/>
            <geometry>
                <box size="0.20719437516870853 0.12585034663947003 0.948743017252053" />
            </geometry>
        </collision>
    </link>
    <joint name="4_5" type="revolute">
       <parent link="4"/>
       <child  link="5"/>
       <origin rpy="0 0 0" xyz="0 -0.4466403398767589 0.33073617443821246" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="6">
        <inertial>
            <origin xyz="0 -0.17386226194770815 0.29743793904255794" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.17386226194770815 0.29743793904255794" rpy="0 0 0"/>
            <geometry>
                <box size="0.8983642308957264 0.3477245238954163 0.5948758780851159" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.17386226194770815 0.29743793904255794" rpy="0 0 0"/>
            <geometry>
                <box size="0.8983642308957264 0.3477245238954163 0.5948758780851159" />
            </geometry>
        </collision>
    </link>
    <joint name="5_6" type="revolute">
       <parent link="5"/>
       <child  link="6"/>
       <origin rpy="0 0 0" xyz="0 -0.12585034663947003 0.948743017252053" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="7">
        <inertial>
            <origin xyz="0 -0.14973285658702623 0.15362054081516757" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.14973285658702623 0.15362054081516757" rpy="0 0 0"/>
            <geometry>
                <box size="0.9365091574426614 0.29946571317405246 0.30724108163033514" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.14973285658702623 0.15362054081516757" rpy="0 0 0"/>
            <geometry>
                <box size="0.9365091574426614 0.29946571317405246 0.30724108163033514" />
            </geometry>
        </collision>
    </link>
    <joint name="6_7" type="revolute">
       <parent link="6"/>
       <child  link="7"/>
       <origin rpy="0 0 0" xyz="0 -0.3477245238954163 0.5948758780851159" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="8">
        <inertial>
            <origin xyz="0 -0.49703492405590993 0.136850023588792" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.49703492405590993 0.136850023588792" rpy="0 0 0"/>
            <geometry>
                <box size="0.4286233824594886 0.9940698481118199 0.273700047177584" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.49703492405590993 0.136850023588792" rpy="0 0 0"/>
            <geometry>
                <box size="0.4286233824594886 0.9940698481118199 0.273700047177584" />
            </geometry>
        </collision>
    </link>
    <joint name="7_8" type="revolute">
       <parent link="7"/>
       <child  link="8"/>
       <origin rpy="0 0 0" xyz="0 -0.29946571317405246 0.30724108163033514" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>