<robot name = "robot">
    <link name="0">
        <inertial>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="1.5 1.5 0.8" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 1" rpy="0 0 0"/>
            <geometry>
                <box size="1.5 1.5 0.8" />
            </geometry>
        </collision>
    </link>
    <link name="1">
        <inertial>
            <origin xyz="-0.17074992649112164 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.17074992649112164 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3414998529822433 0.441041811996002 0.6070534978889698" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.17074992649112164 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3414998529822433 0.441041811996002 0.6070534978889698" />
            </geometry>
        </collision>
    </link>
    <joint name="0_1" type="revolute">
       <parent link="0"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="-0.75 0 1" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="2">
        <inertial>
            <origin xyz="-0.40011778797232683 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.40011778797232683 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8002355759446537 0.5830622320771154 0.10382112857167902" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.40011778797232683 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8002355759446537 0.5830622320771154 0.10382112857167902" />
            </geometry>
        </collision>
    </link>
    <joint name="1_2" type="revolute">
       <parent link="1"/>
       <child  link="2"/>
       <origin rpy="0 0 0" xyz="-0.3414998529822433 0 0" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="3">
        <inertial>
            <origin xyz="-0.3051198571625981 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.3051198571625981 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6102397143251962 0.42855152350667647 0.4448644528350859" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.3051198571625981 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6102397143251962 0.42855152350667647 0.4448644528350859" />
            </geometry>
        </collision>
    </link>
    <joint name="2_3" type="revolute">
       <parent link="2"/>
       <child  link="3"/>
       <origin rpy="0 0 0" xyz="-0.8002355759446537 0 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="4">
        <inertial>
            <origin xyz="-0.11028722939395785 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.11028722939395785 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2205744587879157 0.7247598085482694 0.17534163132372227" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.11028722939395785 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2205744587879157 0.7247598085482694 0.17534163132372227" />
            </geometry>
        </collision>
    </link>
    <joint name="3_4" type="revolute">
       <parent link="3"/>
       <child  link="4"/>
       <origin rpy="0 0 0" xyz="-0.6102397143251962 0 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="5">
        <inertial>
            <origin xyz="0 0 -0.05851755488678305" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.05851755488678305" rpy="0 0 0"/>
            <geometry>
                <box size="0.8783927416113438 0.5600969833253976 0.1170351097735661" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.05851755488678305" rpy="0 0 0"/>
            <geometry>
                <box size="0.8783927416113438 0.5600969833253976 0.1170351097735661" />
            </geometry>
        </collision>
    </link>
    <joint name="4_5" type="revolute">
       <parent link="4"/>
       <child  link="5"/>
       <origin rpy="0 0 0" xyz="-0.11028722939395785 0 -0.08767081566186113" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="6">
        <inertial>
            <origin xyz="0 0 -0.11251265851076417" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.11251265851076417" rpy="0 0 0"/>
            <geometry>
                <box size="0.04346164901326821 0.9475542068332207 0.22502531702152834" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.11251265851076417" rpy="0 0 0"/>
            <geometry>
                <box size="0.04346164901326821 0.9475542068332207 0.22502531702152834" />
            </geometry>
        </collision>
    </link>
    <joint name="5_6" type="revolute">
       <parent link="5"/>
       <child  link="6"/>
       <origin rpy="0 0 0" xyz="0 0 -0.1170351097735661" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="7">
        <inertial>
            <origin xyz="0 0 -0.12896978660245276" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.12896978660245276" rpy="0 0 0"/>
            <geometry>
                <box size="0.5801600826452283 0.15423213212327425 0.2579395732049055" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.12896978660245276" rpy="0 0 0"/>
            <geometry>
                <box size="0.5801600826452283 0.15423213212327425 0.2579395732049055" />
            </geometry>
        </collision>
    </link>
    <joint name="6_7" type="revolute">
       <parent link="6"/>
       <child  link="7"/>
       <origin rpy="0 0 0" xyz="0 0 -0.22502531702152834" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="8">
        <inertial>
            <origin xyz="0.3166502565195582 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.3166502565195582 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6333005130391164 0.4901430727848527 0.5030966985070906" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.3166502565195582 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6333005130391164 0.4901430727848527 0.5030966985070906" />
            </geometry>
        </collision>
    </link>
    <joint name="0_8" type="revolute">
       <parent link="0"/>
       <child  link="8"/>
       <origin rpy="0 0 0" xyz="0.75 0 1" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="9">
        <inertial>
            <origin xyz="0.4590681450806233 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.4590681450806233 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9181362901612466 0.16289595240765786 0.22211578558720646" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.4590681450806233 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9181362901612466 0.16289595240765786 0.22211578558720646" />
            </geometry>
        </collision>
    </link>
    <joint name="8_9" type="revolute">
       <parent link="8"/>
       <child  link="9"/>
       <origin rpy="0 0 0" xyz="0.6333005130391164 0 0" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="10">
        <inertial>
            <origin xyz="0.13974150048946 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.13974150048946 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.27948300097892 0.8378436439900221 0.244316744204928" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.13974150048946 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.27948300097892 0.8378436439900221 0.244316744204928" />
            </geometry>
        </collision>
    </link>
    <joint name="9_10" type="revolute">
       <parent link="9"/>
       <child  link="10"/>
       <origin rpy="0 0 0" xyz="0.9181362901612466 0 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="11">
        <inertial>
            <origin xyz="0.4756976482250036 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.4756976482250036 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9513952964500072 0.5037941910903795 0.3427562939096379" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.4756976482250036 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9513952964500072 0.5037941910903795 0.3427562939096379" />
            </geometry>
        </collision>
    </link>
    <joint name="10_11" type="revolute">
       <parent link="10"/>
       <child  link="11"/>
       <origin rpy="0 0 0" xyz="0.27948300097892 0 0" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="12">
        <inertial>
            <origin xyz="0 0 -0.070455043667515" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.070455043667515" rpy="0 0 0"/>
            <geometry>
                <box size="0.273159023913628 0.804834007478768 0.14091008733503" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.070455043667515" rpy="0 0 0"/>
            <geometry>
                <box size="0.273159023913628 0.804834007478768 0.14091008733503" />
            </geometry>
        </collision>
    </link>
    <joint name="11_12" type="revolute">
       <parent link="11"/>
       <child  link="12"/>
       <origin rpy="0 0 0" xyz="0.4756976482250036 0 -0.17137814695481896" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="13">
        <inertial>
            <origin xyz="0 0 -0.08780473709399651" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.08780473709399651" rpy="0 0 0"/>
            <geometry>
                <box size="0.7959332086110406 0.6742891473285514 0.17560947418799303" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.08780473709399651" rpy="0 0 0"/>
            <geometry>
                <box size="0.7959332086110406 0.6742891473285514 0.17560947418799303" />
            </geometry>
        </collision>
    </link>
    <joint name="12_13" type="revolute">
       <parent link="12"/>
       <child  link="13"/>
       <origin rpy="0 0 0" xyz="0 0 -0.14091008733503" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="14">
        <inertial>
            <origin xyz="0 0 -0.1417402192384885" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.1417402192384885" rpy="0 0 0"/>
            <geometry>
                <box size="0.44146000593226675 0.32559844854266184 0.283480438476977" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.1417402192384885" rpy="0 0 0"/>
            <geometry>
                <box size="0.44146000593226675 0.32559844854266184 0.283480438476977" />
            </geometry>
        </collision>
    </link>
    <joint name="13_14" type="revolute">
       <parent link="13"/>
       <child  link="14"/>
       <origin rpy="0 0 0" xyz="0 0 -0.17560947418799303" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="15">
        <inertial>
            <origin xyz="0 -0.20153726806647548 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.20153726806647548 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5210935236582227 0.40307453613295097 0.907811885456325" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.20153726806647548 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5210935236582227 0.40307453613295097 0.907811885456325" />
            </geometry>
        </collision>
    </link>
    <joint name="0_15" type="revolute">
       <parent link="0"/>
       <child  link="15"/>
       <origin rpy="0 0 0" xyz="0 -0.75 1" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="16">
        <inertial>
            <origin xyz="0 -0.1382746140008243 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.1382746140008243 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.01933454774274257 0.2765492280016486 0.6374453051163544" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.1382746140008243 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.01933454774274257 0.2765492280016486 0.6374453051163544" />
            </geometry>
        </collision>
    </link>
    <joint name="15_16" type="revolute">
       <parent link="15"/>
       <child  link="16"/>
       <origin rpy="0 0 0" xyz="0 -0.40307453613295097 0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="17">
        <inertial>
            <origin xyz="0 -0.4409753856655683 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.4409753856655683 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.25163335073722415 0.8819507713311366 0.20383004067779764" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.4409753856655683 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.25163335073722415 0.8819507713311366 0.20383004067779764" />
            </geometry>
        </collision>
    </link>
    <joint name="16_17" type="revolute">
       <parent link="16"/>
       <child  link="17"/>
       <origin rpy="0 0 0" xyz="0 -0.2765492280016486 0" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="18">
        <inertial>
            <origin xyz="0 -0.4904651592215403 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.4904651592215403 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.1386964497923936 0.9809303184430807 0.9423317897795545" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.4904651592215403 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.1386964497923936 0.9809303184430807 0.9423317897795545" />
            </geometry>
        </collision>
    </link>
    <joint name="17_18" type="revolute">
       <parent link="17"/>
       <child  link="18"/>
       <origin rpy="0 0 0" xyz="0 -0.8819507713311366 0" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="19">
        <inertial>
            <origin xyz="0 0 -0.22900861815814663" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.22900861815814663" rpy="0 0 0"/>
            <geometry>
                <box size="0.1871468200187586 0.7208779726362174 0.45801723631629326" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.22900861815814663" rpy="0 0 0"/>
            <geometry>
                <box size="0.1871468200187586 0.7208779726362174 0.45801723631629326" />
            </geometry>
        </collision>
    </link>
    <joint name="18_19" type="revolute">
       <parent link="18"/>
       <child  link="19"/>
       <origin rpy="0 0 0" xyz="0 -0.4904651592215403 -0.4711658948897772" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="20">
        <inertial>
            <origin xyz="0 0 -0.002309843360504409" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.002309843360504409" rpy="0 0 0"/>
            <geometry>
                <box size="0.7920227533353033 0.10674154411884895 0.004619686721008818" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.002309843360504409" rpy="0 0 0"/>
            <geometry>
                <box size="0.7920227533353033 0.10674154411884895 0.004619686721008818" />
            </geometry>
        </collision>
    </link>
    <joint name="19_20" type="revolute">
       <parent link="19"/>
       <child  link="20"/>
       <origin rpy="0 0 0" xyz="0 0 -0.45801723631629326" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="21">
        <inertial>
            <origin xyz="0 0 -0.06868153848134895" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.06868153848134895" rpy="0 0 0"/>
            <geometry>
                <box size="0.7300867094993029 0.26302463167195 0.1373630769626979" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.06868153848134895" rpy="0 0 0"/>
            <geometry>
                <box size="0.7300867094993029 0.26302463167195 0.1373630769626979" />
            </geometry>
        </collision>
    </link>
    <joint name="20_21" type="revolute">
       <parent link="20"/>
       <child  link="21"/>
       <origin rpy="0 0 0" xyz="0 0 -0.004619686721008818" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="22">
        <inertial>
            <origin xyz="0 0.490457486467235 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.490457486467235 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3896498233532726 0.98091497293447 0.9150247699775319" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.490457486467235 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3896498233532726 0.98091497293447 0.9150247699775319" />
            </geometry>
        </collision>
    </link>
    <joint name="0_22" type="revolute">
       <parent link="0"/>
       <child  link="22"/>
       <origin rpy="0 0 0" xyz="0 0.75 1" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="23">
        <inertial>
            <origin xyz="0 0.27790526803657334 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.27790526803657334 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.03952023995327647 0.5558105360731467 0.01112353195677862" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.27790526803657334 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.03952023995327647 0.5558105360731467 0.01112353195677862" />
            </geometry>
        </collision>
    </link>
    <joint name="22_23" type="revolute">
       <parent link="22"/>
       <child  link="23"/>
       <origin rpy="0 0 0" xyz="0 0.98091497293447 0" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="24">
        <inertial>
            <origin xyz="0 0.49852999447848234 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.49852999447848234 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6267750107326933 0.9970599889569647 0.667213478537303" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.49852999447848234 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6267750107326933 0.9970599889569647 0.667213478537303" />
            </geometry>
        </collision>
    </link>
    <joint name="23_24" type="revolute">
       <parent link="23"/>
       <child  link="24"/>
       <origin rpy="0 0 0" xyz="0 0.5558105360731467 0" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="25">
        <inertial>
            <origin xyz="0 0.19082985358332172 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.19082985358332172 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.33119838291821924 0.38165970716664344 0.7941305954462057" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.19082985358332172 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.33119838291821924 0.38165970716664344 0.7941305954462057" />
            </geometry>
        </collision>
    </link>
    <joint name="24_25" type="revolute">
       <parent link="24"/>
       <child  link="25"/>
       <origin rpy="0 0 0" xyz="0 0.9970599889569647 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="26">
        <inertial>
            <origin xyz="0 0 -0.28002377626843855" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.28002377626843855" rpy="0 0 0"/>
            <geometry>
                <box size="0.9152539137683053 0.5922816919589735 0.5600475525368771" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.28002377626843855" rpy="0 0 0"/>
            <geometry>
                <box size="0.9152539137683053 0.5922816919589735 0.5600475525368771" />
            </geometry>
        </collision>
    </link>
    <joint name="25_26" type="revolute">
       <parent link="25"/>
       <child  link="26"/>
       <origin rpy="0 0 0" xyz="0 0.19082985358332172 -0.39706529772310284" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="27">
        <inertial>
            <origin xyz="0 0 -0.00010805602937473632" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.00010805602937473632" rpy="0 0 0"/>
            <geometry>
                <box size="0.5949797768069152 0.6690726338565967 0.00021611205874947265" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.00010805602937473632" rpy="0 0 0"/>
            <geometry>
                <box size="0.5949797768069152 0.6690726338565967 0.00021611205874947265" />
            </geometry>
        </collision>
    </link>
    <joint name="26_27" type="revolute">
       <parent link="26"/>
       <child  link="27"/>
       <origin rpy="0 0 0" xyz="0 0 -0.5600475525368771" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="28">
        <inertial>
            <origin xyz="0 0 -0.0198681677021867" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.0198681677021867" rpy="0 0 0"/>
            <geometry>
                <box size="0.7566750305085553 0.4293150180378663 0.0397363354043734" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.0198681677021867" rpy="0 0 0"/>
            <geometry>
                <box size="0.7566750305085553 0.4293150180378663 0.0397363354043734" />
            </geometry>
        </collision>
    </link>
    <joint name="27_28" type="revolute">
       <parent link="27"/>
       <child  link="28"/>
       <origin rpy="0 0 0" xyz="0 0 -0.00021611205874947265" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>