<robot name = "robot">
    <link name="0">
        <inertial>
            <origin xyz="0 0 0.35" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.35" rpy="0 0 0"/>
            <geometry>
                <box size="0.7 0.7 0.7" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.35" rpy="0 0 0"/>
            <geometry>
                <box size="0.7 0.7 0.7" />
            </geometry>
        </collision>
    </link>
    <link name="1">
        <inertial>
            <origin xyz="-0.011563066703548508 0 0.3369454882259307" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.011563066703548508 0 0.3369454882259307" rpy="0 0 0"/>
            <geometry>
                <box size="0.023126133407097016 0.21793204112805953 0.6738909764518614" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.011563066703548508 0 0.3369454882259307" rpy="0 0 0"/>
            <geometry>
                <box size="0.023126133407097016 0.21793204112805953 0.6738909764518614" />
            </geometry>
        </collision>
    </link>
    <joint name="0_1" type="revolute">
       <parent link="0"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="-0.35 0 0.7" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="2">
        <inertial>
            <origin xyz="0.07021749412587736 0 0.0258832571465355" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.07021749412587736 0 0.0258832571465355" rpy="0 0 0"/>
            <geometry>
                <box size="0.1404349882517547 0.48610337390110714 0.051766514293071" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.07021749412587736 0 0.0258832571465355" rpy="0 0 0"/>
            <geometry>
                <box size="0.1404349882517547 0.48610337390110714 0.051766514293071" />
            </geometry>
        </collision>
    </link>
    <joint name="0_2" type="revolute">
       <parent link="0"/>
       <child  link="2"/>
       <origin rpy="0 0 0" xyz="0.35 0 0.7" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="3">
        <inertial>
            <origin xyz="0 -0.14333650989775354 0.08623489228214626" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.14333650989775354 0.08623489228214626" rpy="0 0 0"/>
            <geometry>
                <box size="0.5732933344995906 0.2866730197955071 0.17246978456429252" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.14333650989775354 0.08623489228214626" rpy="0 0 0"/>
            <geometry>
                <box size="0.5732933344995906 0.2866730197955071 0.17246978456429252" />
            </geometry>
        </collision>
    </link>
    <joint name="0_3" type="revolute">
       <parent link="0"/>
       <child  link="3"/>
       <origin rpy="0 0 0" xyz="0 -0.35 0.7" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="4">
        <inertial>
            <origin xyz="0 -0.20892801192359028 0.32620655544349986" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.20892801192359028 0.32620655544349986" rpy="0 0 0"/>
            <geometry>
                <box size="0.6829666978996999 0.41785602384718057 0.6524131108869997" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.20892801192359028 0.32620655544349986" rpy="0 0 0"/>
            <geometry>
                <box size="0.6829666978996999 0.41785602384718057 0.6524131108869997" />
            </geometry>
        </collision>
    </link>
    <joint name="3_4" type="revolute">
       <parent link="3"/>
       <child  link="4"/>
       <origin rpy="0 0 0" xyz="0 -0.2866730197955071 0.17246978456429252" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="5">
        <inertial>
            <origin xyz="0 -0.07382918026735674 0.3385912915196702" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.07382918026735674 0.3385912915196702" rpy="0 0 0"/>
            <geometry>
                <box size="0.4315679565841025 0.14765836053471348 0.6771825830393404" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.07382918026735674 0.3385912915196702" rpy="0 0 0"/>
            <geometry>
                <box size="0.4315679565841025 0.14765836053471348 0.6771825830393404" />
            </geometry>
        </collision>
    </link>
    <joint name="4_5" type="revolute">
       <parent link="4"/>
       <child  link="5"/>
       <origin rpy="0 0 0" xyz="0 -0.41785602384718057 0.6524131108869997" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>