<robot name = "robot">
    <link name="0">
        <inertial>
            <origin xyz="0 0 0.5375856207909493" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.5375856207909493" rpy="0 0 0"/>
            <geometry>
                <box size="1.0938487332536433 0.7547031764436603 1.0751712415818986" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.5375856207909493" rpy="0 0 0"/>
            <geometry>
                <box size="1.0938487332536433 0.7547031764436603 1.0751712415818986" />
            </geometry>
        </collision>
    </link>
    <link name="1">
        <inertial>
            <origin xyz="0 0 0.30567883900834875" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.30567883900834875" rpy="0 0 0"/>
            <geometry>
                <box size="0.7320765575784305 1.1597294442017807 0.6113576780166975" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.30567883900834875" rpy="0 0 0"/>
            <geometry>
                <box size="0.7320765575784305 1.1597294442017807 0.6113576780166975" />
            </geometry>
        </collision>
    </link>
    <joint name="0_1" type="revolute">
       <parent link="0"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="0 0 1.0751712415818986" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="2">
        <inertial>
            <origin xyz="0 0 0.6620856112990197" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.6620856112990197" rpy="0 0 0"/>
            <geometry>
                <box size="1.0498663205998107 0.6101194885435639 1.3241712225980393" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.6620856112990197" rpy="0 0 0"/>
            <geometry>
                <box size="1.0498663205998107 0.6101194885435639 1.3241712225980393" />
            </geometry>
        </collision>
    </link>
    <joint name="1_2" type="revolute">
       <parent link="1"/>
       <child  link="2"/>
       <origin rpy="0 0 0" xyz="0 0 0.6113576780166975" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="3">
        <inertial>
            <origin xyz="-0.5843855998544587 0 0.4267963334050067" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.5843855998544587 0 0.4267963334050067" rpy="0 0 0"/>
            <geometry>
                <box size="1.1687711997089174 0.5015004798670645 0.8535926668100134" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.5843855998544587 0 0.4267963334050067" rpy="0 0 0"/>
            <geometry>
                <box size="1.1687711997089174 0.5015004798670645 0.8535926668100134" />
            </geometry>
        </collision>
    </link>
    <joint name="2_3" type="revolute">
       <parent link="2"/>
       <child  link="3"/>
       <origin rpy="0 0 0" xyz="-0.5249331602999053 0 0" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="4">
        <inertial>
            <origin xyz="-0.2834196563320987 0 0.6552300825340949" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.2834196563320987 0 0.6552300825340949" rpy="0 0 0"/>
            <geometry>
                <box size="0.5668393126641974 1.0104474034643922 1.3104601650681897" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.2834196563320987 0 0.6552300825340949" rpy="0 0 0"/>
            <geometry>
                <box size="0.5668393126641974 1.0104474034643922 1.3104601650681897" />
            </geometry>
        </collision>
    </link>
    <joint name="3_4" type="revolute">
       <parent link="3"/>
       <child  link="4"/>
       <origin rpy="0 0 0" xyz="-1.1687711997089174 0 0" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="5">
        <inertial>
            <origin xyz="-0.5122970172160728 0 0.3087921698408445" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.5122970172160728 0 0.3087921698408445" rpy="0 0 0"/>
            <geometry>
                <box size="1.0245940344321456 0.8995149917470194 0.617584339681689" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.5122970172160728 0 0.3087921698408445" rpy="0 0 0"/>
            <geometry>
                <box size="1.0245940344321456 0.8995149917470194 0.617584339681689" />
            </geometry>
        </collision>
    </link>
    <joint name="4_5" type="revolute">
       <parent link="4"/>
       <child  link="5"/>
       <origin rpy="0 0 0" xyz="-0.5668393126641974 0 0" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="6">
        <inertial>
            <origin xyz="-0.32287150617151494 0 0.5975180675020779" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.32287150617151494 0 0.5975180675020779" rpy="0 0 0"/>
            <geometry>
                <box size="0.6457430123430299 1.0718323971266606 1.1950361350041558" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.32287150617151494 0 0.5975180675020779" rpy="0 0 0"/>
            <geometry>
                <box size="0.6457430123430299 1.0718323971266606 1.1950361350041558" />
            </geometry>
        </collision>
    </link>
    <joint name="5_6" type="revolute">
       <parent link="5"/>
       <child  link="6"/>
       <origin rpy="0 0 0" xyz="-1.0245940344321456 0 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="7">
        <inertial>
            <origin xyz="0 0 -0.7677068808058523" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.7677068808058523" rpy="0 0 0"/>
            <geometry>
                <box size="0.8094098227314087 0.9672625302788923 1.5354137616117045" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.7677068808058523" rpy="0 0 0"/>
            <geometry>
                <box size="0.8094098227314087 0.9672625302788923 1.5354137616117045" />
            </geometry>
        </collision>
    </link>
    <joint name="6_7" type="revolute">
       <parent link="6"/>
       <child  link="7"/>
       <origin rpy="0 0 0" xyz="-0.32287150617151494 0 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="8">
        <inertial>
            <origin xyz="0 0 -0.4109088029532614" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.4109088029532614" rpy="0 0 0"/>
            <geometry>
                <box size="0.5660876510586155 1.012323369707155 0.8218176059065228" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.4109088029532614" rpy="0 0 0"/>
            <geometry>
                <box size="0.5660876510586155 1.012323369707155 0.8218176059065228" />
            </geometry>
        </collision>
    </link>
    <joint name="7_8" type="revolute">
       <parent link="7"/>
       <child  link="8"/>
       <origin rpy="0 0 0" xyz="0 0 -1.5354137616117045" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="9">
        <inertial>
            <origin xyz="0 0 -0.49034151059137654" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.49034151059137654" rpy="0 0 0"/>
            <geometry>
                <box size="0.899528716060933 1.2091965300089669 0.9806830211827531" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.49034151059137654" rpy="0 0 0"/>
            <geometry>
                <box size="0.899528716060933 1.2091965300089669 0.9806830211827531" />
            </geometry>
        </collision>
    </link>
    <joint name="8_9" type="revolute">
       <parent link="8"/>
       <child  link="9"/>
       <origin rpy="0 0 0" xyz="0 0 -0.8218176059065228" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="10">
        <inertial>
            <origin xyz="0.44685560347734943 0 0.5836510804183414" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.44685560347734943 0 0.5836510804183414" rpy="0 0 0"/>
            <geometry>
                <box size="0.8937112069546989 1.2919573887806437 1.1673021608366827" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.44685560347734943 0 0.5836510804183414" rpy="0 0 0"/>
            <geometry>
                <box size="0.8937112069546989 1.2919573887806437 1.1673021608366827" />
            </geometry>
        </collision>
    </link>
    <joint name="2_10" type="revolute">
       <parent link="2"/>
       <child  link="10"/>
       <origin rpy="0 0 0" xyz="0.5249331602999053 0 0" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="11">
        <inertial>
            <origin xyz="0.5307903861014014 0 0.6119134152991429" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.5307903861014014 0 0.6119134152991429" rpy="0 0 0"/>
            <geometry>
                <box size="1.0615807722028028 1.2115150573861464 1.2238268305982858" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.5307903861014014 0 0.6119134152991429" rpy="0 0 0"/>
            <geometry>
                <box size="1.0615807722028028 1.2115150573861464 1.2238268305982858" />
            </geometry>
        </collision>
    </link>
    <joint name="10_11" type="revolute">
       <parent link="10"/>
       <child  link="11"/>
       <origin rpy="0 0 0" xyz="0.8937112069546989 0 0" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="12">
        <inertial>
            <origin xyz="0.5660791525998419 0 0.5426575040524222" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.5660791525998419 0 0.5426575040524222" rpy="0 0 0"/>
            <geometry>
                <box size="1.1321583051996837 0.9234613558825842 1.0853150081048444" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.5660791525998419 0 0.5426575040524222" rpy="0 0 0"/>
            <geometry>
                <box size="1.1321583051996837 0.9234613558825842 1.0853150081048444" />
            </geometry>
        </collision>
    </link>
    <joint name="11_12" type="revolute">
       <parent link="11"/>
       <child  link="12"/>
       <origin rpy="0 0 0" xyz="1.0615807722028028 0 0" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="13">
        <inertial>
            <origin xyz="0.6973171214591314 0 0.7152467730189584" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.6973171214591314 0 0.7152467730189584" rpy="0 0 0"/>
            <geometry>
                <box size="1.3946342429182628 0.7590611261015228 1.430493546037917" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.6973171214591314 0 0.7152467730189584" rpy="0 0 0"/>
            <geometry>
                <box size="1.3946342429182628 0.7590611261015228 1.430493546037917" />
            </geometry>
        </collision>
    </link>
    <joint name="12_13" type="revolute">
       <parent link="12"/>
       <child  link="13"/>
       <origin rpy="0 0 0" xyz="1.1321583051996837 0 0" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="14">
        <inertial>
            <origin xyz="0 0 -1.286376273519019" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -1.286376273519019" rpy="0 0 0"/>
            <geometry>
                <box size="0.5717958860175087 1.43542909097184 2.572752547038038" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -1.286376273519019" rpy="0 0 0"/>
            <geometry>
                <box size="0.5717958860175087 1.43542909097184 2.572752547038038" />
            </geometry>
        </collision>
    </link>
    <joint name="13_14" type="revolute">
       <parent link="13"/>
       <child  link="14"/>
       <origin rpy="0 0 0" xyz="0.6973171214591314 0 0" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="15">
        <inertial>
            <origin xyz="0 0 -0.37723408906769623" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.37723408906769623" rpy="0 0 0"/>
            <geometry>
                <box size="0.7536551506650583 0.6850171175728599 0.7544681781353925" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.37723408906769623" rpy="0 0 0"/>
            <geometry>
                <box size="0.7536551506650583 0.6850171175728599 0.7544681781353925" />
            </geometry>
        </collision>
    </link>
    <joint name="14_15" type="revolute">
       <parent link="14"/>
       <child  link="15"/>
       <origin rpy="0 0 0" xyz="0 0 -2.572752547038038" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="16">
        <inertial>
            <origin xyz="0 0 -0.005346831763774984" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.005346831763774984" rpy="0 0 0"/>
            <geometry>
                <box size="0.8986681443477235 1.2249743637377613 0.010693663527549968" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.005346831763774984" rpy="0 0 0"/>
            <geometry>
                <box size="0.8986681443477235 1.2249743637377613 0.010693663527549968" />
            </geometry>
        </collision>
    </link>
    <joint name="15_16" type="revolute">
       <parent link="15"/>
       <child  link="16"/>
       <origin rpy="0 0 0" xyz="0 0 -0.7544681781353925" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="17">
        <inertial>
            <origin xyz="0 -0.7084673140708931 0.6642282833141451" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.7084673140708931 0.6642282833141451" rpy="0 0 0"/>
            <geometry>
                <box size="0.7392860804840525 1.4169346281417863 1.3284565666282901" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.7084673140708931 0.6642282833141451" rpy="0 0 0"/>
            <geometry>
                <box size="0.7392860804840525 1.4169346281417863 1.3284565666282901" />
            </geometry>
        </collision>
    </link>
    <joint name="2_17" type="revolute">
       <parent link="2"/>
       <child  link="17"/>
       <origin rpy="0 0 0" xyz="0 -0.30505974427178195 0" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="18">
        <inertial>
            <origin xyz="0 -0.42047608778636075 0.5188196578194909" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.42047608778636075 0.5188196578194909" rpy="0 0 0"/>
            <geometry>
                <box size="0.8611460196503393 0.8409521755727215 1.0376393156389818" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.42047608778636075 0.5188196578194909" rpy="0 0 0"/>
            <geometry>
                <box size="0.8611460196503393 0.8409521755727215 1.0376393156389818" />
            </geometry>
        </collision>
    </link>
    <joint name="17_18" type="revolute">
       <parent link="17"/>
       <child  link="18"/>
       <origin rpy="0 0 0" xyz="0 -1.4169346281417863 0" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="19">
        <inertial>
            <origin xyz="0 -0.2971607819249946 0.4119690993874827" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.2971607819249946 0.4119690993874827" rpy="0 0 0"/>
            <geometry>
                <box size="1.0278365146882766 0.5943215638499892 0.8239381987749654" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.2971607819249946 0.4119690993874827" rpy="0 0 0"/>
            <geometry>
                <box size="1.0278365146882766 0.5943215638499892 0.8239381987749654" />
            </geometry>
        </collision>
    </link>
    <joint name="18_19" type="revolute">
       <parent link="18"/>
       <child  link="19"/>
       <origin rpy="0 0 0" xyz="0 -0.8409521755727215 0" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="20">
        <inertial>
            <origin xyz="0 -0.30922394842958917 0.5663896596883982" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.30922394842958917 0.5663896596883982" rpy="0 0 0"/>
            <geometry>
                <box size="0.6580978992097235 0.6184478968591783 1.1327793193767963" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.30922394842958917 0.5663896596883982" rpy="0 0 0"/>
            <geometry>
                <box size="0.6580978992097235 0.6184478968591783 1.1327793193767963" />
            </geometry>
        </collision>
    </link>
    <joint name="19_20" type="revolute">
       <parent link="19"/>
       <child  link="20"/>
       <origin rpy="0 0 0" xyz="0 -0.5943215638499892 0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="21">
        <inertial>
            <origin xyz="0 0 -0.5491817275750737" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.5491817275750737" rpy="0 0 0"/>
            <geometry>
                <box size="0.57970187265075 0.729800981865182 1.0983634551501473" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.5491817275750737" rpy="0 0 0"/>
            <geometry>
                <box size="0.57970187265075 0.729800981865182 1.0983634551501473" />
            </geometry>
        </collision>
    </link>
    <joint name="20_21" type="revolute">
       <parent link="20"/>
       <child  link="21"/>
       <origin rpy="0 0 0" xyz="0 -0.30922394842958917 0" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="22">
        <inertial>
            <origin xyz="0 0 -0.7038433100727093" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.7038433100727093" rpy="0 0 0"/>
            <geometry>
                <box size="0.8526234968250089 1.001221357246909 1.4076866201454186" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.7038433100727093" rpy="0 0 0"/>
            <geometry>
                <box size="0.8526234968250089 1.001221357246909 1.4076866201454186" />
            </geometry>
        </collision>
    </link>
    <joint name="21_22" type="revolute">
       <parent link="21"/>
       <child  link="22"/>
       <origin rpy="0 0 0" xyz="0 0 -1.0983634551501473" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="23">
        <inertial>
            <origin xyz="0 0 -0.4159321567027072" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.4159321567027072" rpy="0 0 0"/>
            <geometry>
                <box size="1.3277943514979427 0.7956697990226919 0.8318643134054144" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.4159321567027072" rpy="0 0 0"/>
            <geometry>
                <box size="1.3277943514979427 0.7956697990226919 0.8318643134054144" />
            </geometry>
        </collision>
    </link>
    <joint name="22_23" type="revolute">
       <parent link="22"/>
       <child  link="23"/>
       <origin rpy="0 0 0" xyz="0 0 -1.4076866201454186" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="24">
        <inertial>
            <origin xyz="0 0.5271505761806207 0.3546860482364489" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.5271505761806207 0.3546860482364489" rpy="0 0 0"/>
            <geometry>
                <box size="1.3564420164241604 1.0543011523612413 0.7093720964728978" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.5271505761806207 0.3546860482364489" rpy="0 0 0"/>
            <geometry>
                <box size="1.3564420164241604 1.0543011523612413 0.7093720964728978" />
            </geometry>
        </collision>
    </link>
    <joint name="2_24" type="revolute">
       <parent link="2"/>
       <child  link="24"/>
       <origin rpy="0 0 0" xyz="0 0.30505974427178195 0" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="25">
        <inertial>
            <origin xyz="0 0.35916868121280027 0.4483989156315792" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.35916868121280027 0.4483989156315792" rpy="0 0 0"/>
            <geometry>
                <box size="1.3712512994383654 0.7183373624256005 0.8967978312631584" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.35916868121280027 0.4483989156315792" rpy="0 0 0"/>
            <geometry>
                <box size="1.3712512994383654 0.7183373624256005 0.8967978312631584" />
            </geometry>
        </collision>
    </link>
    <joint name="24_25" type="revolute">
       <parent link="24"/>
       <child  link="25"/>
       <origin rpy="0 0 0" xyz="0 1.0543011523612413 0" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="26">
        <inertial>
            <origin xyz="0 0.5938528768602861 0.46568561919202944" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.5938528768602861 0.46568561919202944" rpy="0 0 0"/>
            <geometry>
                <box size="1.0057379999032323 1.1877057537205722 0.9313712383840589" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.5938528768602861 0.46568561919202944" rpy="0 0 0"/>
            <geometry>
                <box size="1.0057379999032323 1.1877057537205722 0.9313712383840589" />
            </geometry>
        </collision>
    </link>
    <joint name="25_26" type="revolute">
       <parent link="25"/>
       <child  link="26"/>
       <origin rpy="0 0 0" xyz="0 0.7183373624256005 0" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="27">
        <inertial>
            <origin xyz="0 0.2860289372881614 0.40169664049096876" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.2860289372881614 0.40169664049096876" rpy="0 0 0"/>
            <geometry>
                <box size="1.2195138397654417 0.5720578745763228 0.8033932809819375" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.2860289372881614 0.40169664049096876" rpy="0 0 0"/>
            <geometry>
                <box size="1.2195138397654417 0.5720578745763228 0.8033932809819375" />
            </geometry>
        </collision>
    </link>
    <joint name="26_27" type="revolute">
       <parent link="26"/>
       <child  link="27"/>
       <origin rpy="0 0 0" xyz="0 1.1877057537205722 0" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="28">
        <inertial>
            <origin xyz="0 0 -1.1483346450378087" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -1.1483346450378087" rpy="0 0 0"/>
            <geometry>
                <box size="0.6439181947462894 1.0216341838628455 2.2966692900756174" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -1.1483346450378087" rpy="0 0 0"/>
            <geometry>
                <box size="0.6439181947462894 1.0216341838628455 2.2966692900756174" />
            </geometry>
        </collision>
    </link>
    <joint name="27_28" type="revolute">
       <parent link="27"/>
       <child  link="28"/>
       <origin rpy="0 0 0" xyz="0 0.2860289372881614 0" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="29">
        <inertial>
            <origin xyz="0 0 -0.0664214724487069" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.0664214724487069" rpy="0 0 0"/>
            <geometry>
                <box size="1.1543510592948403 1.1440759213272265 0.1328429448974138" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.0664214724487069" rpy="0 0 0"/>
            <geometry>
                <box size="1.1543510592948403 1.1440759213272265 0.1328429448974138" />
            </geometry>
        </collision>
    </link>
    <joint name="28_29" type="revolute">
       <parent link="28"/>
       <child  link="29"/>
       <origin rpy="0 0 0" xyz="0 0 -2.2966692900756174" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="30">
        <inertial>
            <origin xyz="0 0 -0.4542010768639746" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.4542010768639746" rpy="0 0 0"/>
            <geometry>
                <box size="0.6680548885696059 0.6928712878350488 0.9084021537279492" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.4542010768639746" rpy="0 0 0"/>
            <geometry>
                <box size="0.6680548885696059 0.6928712878350488 0.9084021537279492" />
            </geometry>
        </collision>
    </link>
    <joint name="29_30" type="revolute">
       <parent link="29"/>
       <child  link="30"/>
       <origin rpy="0 0 0" xyz="0 0 -0.1328429448974138" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>