<robot name = "robot">
    <link name="0">
        <inertial>
            <origin xyz="0 0 0.7073896613958344" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.7073896613958344" rpy="0 0 0"/>
            <geometry>
                <box size="1.103228774758064 0.6835727660691864 1.4147793227916687" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.7073896613958344" rpy="0 0 0"/>
            <geometry>
                <box size="1.103228774758064 0.6835727660691864 1.4147793227916687" />
            </geometry>
        </collision>
    </link>
    <link name="1">
        <inertial>
            <origin xyz="0 0 0.47174592214267835" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.47174592214267835" rpy="0 0 0"/>
            <geometry>
                <box size="0.9286507128156097 0.5032198998890529 0.9434918442853567" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.47174592214267835" rpy="0 0 0"/>
            <geometry>
                <box size="0.9286507128156097 0.5032198998890529 0.9434918442853567" />
            </geometry>
        </collision>
    </link>
    <joint name="0_1" type="revolute">
       <parent link="0"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="0 0 1.4147793227916687" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="2">
        <inertial>
            <origin xyz="0 0 0.4482369632725859" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.4482369632725859" rpy="0 0 0"/>
            <geometry>
                <box size="1.0951297546922103 1.4340512533410683 0.8964739265451718" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.4482369632725859" rpy="0 0 0"/>
            <geometry>
                <box size="1.0951297546922103 1.4340512533410683 0.8964739265451718" />
            </geometry>
        </collision>
    </link>
    <joint name="1_2" type="revolute">
       <parent link="1"/>
       <child  link="2"/>
       <origin rpy="0 0 0" xyz="0 0 0.9434918442853567" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="3">
        <inertial>
            <origin xyz="-0.7312771323443791 0 0.6966910960554822" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.7312771323443791 0 0.6966910960554822" rpy="0 0 0"/>
            <geometry>
                <box size="1.4625542646887582 0.5010025459053172 1.3933821921109644" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.7312771323443791 0 0.6966910960554822" rpy="0 0 0"/>
            <geometry>
                <box size="1.4625542646887582 0.5010025459053172 1.3933821921109644" />
            </geometry>
        </collision>
    </link>
    <joint name="2_3" type="revolute">
       <parent link="2"/>
       <child  link="3"/>
       <origin rpy="0 0 0" xyz="-0.5475648773461051 0 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="4">
        <inertial>
            <origin xyz="-0.4963754669668543 0 0.6174461257667385" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.4963754669668543 0 0.6174461257667385" rpy="0 0 0"/>
            <geometry>
                <box size="0.9927509339337086 1.324116605714844 1.234892251533477" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.4963754669668543 0 0.6174461257667385" rpy="0 0 0"/>
            <geometry>
                <box size="0.9927509339337086 1.324116605714844 1.234892251533477" />
            </geometry>
        </collision>
    </link>
    <joint name="3_4" type="revolute">
       <parent link="3"/>
       <child  link="4"/>
       <origin rpy="0 0 0" xyz="-1.4625542646887582 0 0" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="5">
        <inertial>
            <origin xyz="-0.4544144043026315 0 0.33196404937145885" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.4544144043026315 0 0.33196404937145885" rpy="0 0 0"/>
            <geometry>
                <box size="0.908828808605263 1.192908663462722 0.6639280987429177" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.4544144043026315 0 0.33196404937145885" rpy="0 0 0"/>
            <geometry>
                <box size="0.908828808605263 1.192908663462722 0.6639280987429177" />
            </geometry>
        </collision>
    </link>
    <joint name="4_5" type="revolute">
       <parent link="4"/>
       <child  link="5"/>
       <origin rpy="0 0 0" xyz="-0.9927509339337086 0 0" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="6">
        <inertial>
            <origin xyz="-0.7404977013582784 0 0.6129091664923078" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.7404977013582784 0 0.6129091664923078" rpy="0 0 0"/>
            <geometry>
                <box size="1.4809954027165568 0.9242354859348871 1.2258183329846155" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.7404977013582784 0 0.6129091664923078" rpy="0 0 0"/>
            <geometry>
                <box size="1.4809954027165568 0.9242354859348871 1.2258183329846155" />
            </geometry>
        </collision>
    </link>
    <joint name="5_6" type="revolute">
       <parent link="5"/>
       <child  link="6"/>
       <origin rpy="0 0 0" xyz="-0.908828808605263 0 0" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="7">
        <inertial>
            <origin xyz="-0.30258427555774253 0 0.5331010261779374" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.30258427555774253 0 0.5331010261779374" rpy="0 0 0"/>
            <geometry>
                <box size="0.6051685511154851 0.6180303492346275 1.0662020523558748" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.30258427555774253 0 0.5331010261779374" rpy="0 0 0"/>
            <geometry>
                <box size="0.6051685511154851 0.6180303492346275 1.0662020523558748" />
            </geometry>
        </collision>
    </link>
    <joint name="6_7" type="revolute">
       <parent link="6"/>
       <child  link="7"/>
       <origin rpy="0 0 0" xyz="-1.4809954027165568 0 0" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="8">
        <inertial>
            <origin xyz="-0.3757206805389231 0 0.6600501628756794" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.3757206805389231 0 0.6600501628756794" rpy="0 0 0"/>
            <geometry>
                <box size="0.7514413610778462 1.3737557713524704 1.3201003257513588" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.3757206805389231 0 0.6600501628756794" rpy="0 0 0"/>
            <geometry>
                <box size="0.7514413610778462 1.3737557713524704 1.3201003257513588" />
            </geometry>
        </collision>
    </link>
    <joint name="7_8" type="revolute">
       <parent link="7"/>
       <child  link="8"/>
       <origin rpy="0 0 0" xyz="-0.6051685511154851 0 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="9">
        <inertial>
            <origin xyz="0 0 -1.2452395827583713" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -1.2452395827583713" rpy="0 0 0"/>
            <geometry>
                <box size="1.482498735892165 0.5979443424898718 2.4904791655167426" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -1.2452395827583713" rpy="0 0 0"/>
            <geometry>
                <box size="1.482498735892165 0.5979443424898718 2.4904791655167426" />
            </geometry>
        </collision>
    </link>
    <joint name="8_9" type="revolute">
       <parent link="8"/>
       <child  link="9"/>
       <origin rpy="0 0 0" xyz="-0.3757206805389231 0 0" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="10">
        <inertial>
            <origin xyz="0 0 -0.07309344832333971" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.07309344832333971" rpy="0 0 0"/>
            <geometry>
                <box size="0.7333853841282116 1.3081699124949577 0.14618689664667942" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.07309344832333971" rpy="0 0 0"/>
            <geometry>
                <box size="0.7333853841282116 1.3081699124949577 0.14618689664667942" />
            </geometry>
        </collision>
    </link>
    <joint name="9_10" type="revolute">
       <parent link="9"/>
       <child  link="10"/>
       <origin rpy="0 0 0" xyz="0 0 -2.4904791655167426" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="11">
        <inertial>
            <origin xyz="0 0 -0.4575484872819961" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.4575484872819961" rpy="0 0 0"/>
            <geometry>
                <box size="0.503264278784863 1.2589337014635347 0.9150969745639922" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.4575484872819961" rpy="0 0 0"/>
            <geometry>
                <box size="0.503264278784863 1.2589337014635347 0.9150969745639922" />
            </geometry>
        </collision>
    </link>
    <joint name="10_11" type="revolute">
       <parent link="10"/>
       <child  link="11"/>
       <origin rpy="0 0 0" xyz="0 0 -0.14618689664667942" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="12">
        <inertial>
            <origin xyz="0.41942500736605626 0 0.2941160795550479" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.41942500736605626 0 0.2941160795550479" rpy="0 0 0"/>
            <geometry>
                <box size="0.8388500147321125 1.2005457030322169 0.5882321591100959" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.41942500736605626 0 0.2941160795550479" rpy="0 0 0"/>
            <geometry>
                <box size="0.8388500147321125 1.2005457030322169 0.5882321591100959" />
            </geometry>
        </collision>
    </link>
    <joint name="2_12" type="revolute">
       <parent link="2"/>
       <child  link="12"/>
       <origin rpy="0 0 0" xyz="0.5475648773461051 0 0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="13">
        <inertial>
            <origin xyz="0.2748639362596761 0 0.3475446343504155" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.2748639362596761 0 0.3475446343504155" rpy="0 0 0"/>
            <geometry>
                <box size="0.5497278725193522 1.0369254899621136 0.695089268700831" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.2748639362596761 0 0.3475446343504155" rpy="0 0 0"/>
            <geometry>
                <box size="0.5497278725193522 1.0369254899621136 0.695089268700831" />
            </geometry>
        </collision>
    </link>
    <joint name="12_13" type="revolute">
       <parent link="12"/>
       <child  link="13"/>
       <origin rpy="0 0 0" xyz="0.8388500147321125 0 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="14">
        <inertial>
            <origin xyz="0.2673105669361054 0 0.7196429097209827" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.2673105669361054 0 0.7196429097209827" rpy="0 0 0"/>
            <geometry>
                <box size="0.5346211338722108 1.0016359839663709 1.4392858194419653" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.2673105669361054 0 0.7196429097209827" rpy="0 0 0"/>
            <geometry>
                <box size="0.5346211338722108 1.0016359839663709 1.4392858194419653" />
            </geometry>
        </collision>
    </link>
    <joint name="13_14" type="revolute">
       <parent link="13"/>
       <child  link="14"/>
       <origin rpy="0 0 0" xyz="0.5497278725193522 0 0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="15">
        <inertial>
            <origin xyz="0.6665073168266598 0 0.5595768992278413" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.6665073168266598 0 0.5595768992278413" rpy="0 0 0"/>
            <geometry>
                <box size="1.3330146336533195 1.2983459508592414 1.1191537984556825" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.6665073168266598 0 0.5595768992278413" rpy="0 0 0"/>
            <geometry>
                <box size="1.3330146336533195 1.2983459508592414 1.1191537984556825" />
            </geometry>
        </collision>
    </link>
    <joint name="14_15" type="revolute">
       <parent link="14"/>
       <child  link="15"/>
       <origin rpy="0 0 0" xyz="0.5346211338722108 0 0" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="16">
        <inertial>
            <origin xyz="0.4744980698503189 0 0.6982484952973046" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.4744980698503189 0 0.6982484952973046" rpy="0 0 0"/>
            <geometry>
                <box size="0.9489961397006378 1.0798049133227958 1.3964969905946092" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.4744980698503189 0 0.6982484952973046" rpy="0 0 0"/>
            <geometry>
                <box size="0.9489961397006378 1.0798049133227958 1.3964969905946092" />
            </geometry>
        </collision>
    </link>
    <joint name="15_16" type="revolute">
       <parent link="15"/>
       <child  link="16"/>
       <origin rpy="0 0 0" xyz="1.3330146336533195 0 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="17">
        <inertial>
            <origin xyz="0.6188166501808283 0 0.7340238837844972" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.6188166501808283 0 0.7340238837844972" rpy="0 0 0"/>
            <geometry>
                <box size="1.2376333003616566 0.6733913910461853 1.4680477675689945" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.6188166501808283 0 0.7340238837844972" rpy="0 0 0"/>
            <geometry>
                <box size="1.2376333003616566 0.6733913910461853 1.4680477675689945" />
            </geometry>
        </collision>
    </link>
    <joint name="16_17" type="revolute">
       <parent link="16"/>
       <child  link="17"/>
       <origin rpy="0 0 0" xyz="0.9489961397006378 0 0" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="18">
        <inertial>
            <origin xyz="0 0 -0.026441672735635188" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.026441672735635188" rpy="0 0 0"/>
            <geometry>
                <box size="0.73302870119711 1.4599399409773828 0.052883345471270375" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.026441672735635188" rpy="0 0 0"/>
            <geometry>
                <box size="0.73302870119711 1.4599399409773828 0.052883345471270375" />
            </geometry>
        </collision>
    </link>
    <joint name="17_18" type="revolute">
       <parent link="17"/>
       <child  link="18"/>
       <origin rpy="0 0 0" xyz="0.6188166501808283 0 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="19">
        <inertial>
            <origin xyz="0 0 -0.5834321749599134" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.5834321749599134" rpy="0 0 0"/>
            <geometry>
                <box size="1.2391607733388628 1.0806442017740499 1.1668643499198268" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.5834321749599134" rpy="0 0 0"/>
            <geometry>
                <box size="1.2391607733388628 1.0806442017740499 1.1668643499198268" />
            </geometry>
        </collision>
    </link>
    <joint name="18_19" type="revolute">
       <parent link="18"/>
       <child  link="19"/>
       <origin rpy="0 0 0" xyz="0 0 -0.052883345471270375" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="20">
        <inertial>
            <origin xyz="0 0 -1.1660076706681586" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -1.1660076706681586" rpy="0 0 0"/>
            <geometry>
                <box size="1.397658590237746 1.1646762612241166 2.332015341336317" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -1.1660076706681586" rpy="0 0 0"/>
            <geometry>
                <box size="1.397658590237746 1.1646762612241166 2.332015341336317" />
            </geometry>
        </collision>
    </link>
    <joint name="19_20" type="revolute">
       <parent link="19"/>
       <child  link="20"/>
       <origin rpy="0 0 0" xyz="0 0 -1.1668643499198268" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="21">
        <inertial>
            <origin xyz="0 -0.5220544152209363 0.6949433816562127" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.5220544152209363 0.6949433816562127" rpy="0 0 0"/>
            <geometry>
                <box size="0.5463097940177104 1.0441088304418726 1.3898867633124254" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.5220544152209363 0.6949433816562127" rpy="0 0 0"/>
            <geometry>
                <box size="0.5463097940177104 1.0441088304418726 1.3898867633124254" />
            </geometry>
        </collision>
    </link>
    <joint name="2_21" type="revolute">
       <parent link="2"/>
       <child  link="21"/>
       <origin rpy="0 0 0" xyz="0 -0.7170256266705342 0" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="22">
        <inertial>
            <origin xyz="0 -0.5158921423928768 0.7431620996069498" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.5158921423928768 0.7431620996069498" rpy="0 0 0"/>
            <geometry>
                <box size="1.0370671654595884 1.0317842847857537 1.4863241992138996" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.5158921423928768 0.7431620996069498" rpy="0 0 0"/>
            <geometry>
                <box size="1.0370671654595884 1.0317842847857537 1.4863241992138996" />
            </geometry>
        </collision>
    </link>
    <joint name="21_22" type="revolute">
       <parent link="21"/>
       <child  link="22"/>
       <origin rpy="0 0 0" xyz="0 -1.0441088304418726 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="23">
        <inertial>
            <origin xyz="0 -0.3111298874452412 0.5405621434986788" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.3111298874452412 0.5405621434986788" rpy="0 0 0"/>
            <geometry>
                <box size="0.9286606586221061 0.6222597748904825 1.0811242869973576" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.3111298874452412 0.5405621434986788" rpy="0 0 0"/>
            <geometry>
                <box size="0.9286606586221061 0.6222597748904825 1.0811242869973576" />
            </geometry>
        </collision>
    </link>
    <joint name="22_23" type="revolute">
       <parent link="22"/>
       <child  link="23"/>
       <origin rpy="0 0 0" xyz="0 -1.0317842847857537 0" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="24">
        <inertial>
            <origin xyz="0 -0.28665499910164577 0.6570148023969692" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.28665499910164577 0.6570148023969692" rpy="0 0 0"/>
            <geometry>
                <box size="1.0278545766904084 0.5733099982032915 1.3140296047939384" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.28665499910164577 0.6570148023969692" rpy="0 0 0"/>
            <geometry>
                <box size="1.0278545766904084 0.5733099982032915 1.3140296047939384" />
            </geometry>
        </collision>
    </link>
    <joint name="23_24" type="revolute">
       <parent link="23"/>
       <child  link="24"/>
       <origin rpy="0 0 0" xyz="0 -0.6222597748904825 0" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="25">
        <inertial>
            <origin xyz="0 -0.6070508602945159 0.36986306569300254" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.6070508602945159 0.36986306569300254" rpy="0 0 0"/>
            <geometry>
                <box size="1.2790999971073305 1.2141017205890319 0.7397261313860051" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.6070508602945159 0.36986306569300254" rpy="0 0 0"/>
            <geometry>
                <box size="1.2790999971073305 1.2141017205890319 0.7397261313860051" />
            </geometry>
        </collision>
    </link>
    <joint name="24_25" type="revolute">
       <parent link="24"/>
       <child  link="25"/>
       <origin rpy="0 0 0" xyz="0 -0.5733099982032915 0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="26">
        <inertial>
            <origin xyz="0 -0.5395901588858021 0.420719655973635" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.5395901588858021 0.420719655973635" rpy="0 0 0"/>
            <geometry>
                <box size="0.6987611944018589 1.0791803177716042 0.84143931194727" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.5395901588858021 0.420719655973635" rpy="0 0 0"/>
            <geometry>
                <box size="0.6987611944018589 1.0791803177716042 0.84143931194727" />
            </geometry>
        </collision>
    </link>
    <joint name="25_26" type="revolute">
       <parent link="25"/>
       <child  link="26"/>
       <origin rpy="0 0 0" xyz="0 -1.2141017205890319 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="27">
        <inertial>
            <origin xyz="0 0 -0.27398869793247604" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.27398869793247604" rpy="0 0 0"/>
            <geometry>
                <box size="1.291229276392834 1.2437844495881767 0.5479773958649521" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.27398869793247604" rpy="0 0 0"/>
            <geometry>
                <box size="1.291229276392834 1.2437844495881767 0.5479773958649521" />
            </geometry>
        </collision>
    </link>
    <joint name="26_27" type="revolute">
       <parent link="26"/>
       <child  link="27"/>
       <origin rpy="0 0 0" xyz="0 -0.5395901588858021 0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="28">
        <inertial>
            <origin xyz="0 0 -0.605514883586296" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.605514883586296" rpy="0 0 0"/>
            <geometry>
                <box size="0.9381862030028225 0.9041906131268441 1.211029767172592" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.605514883586296" rpy="0 0 0"/>
            <geometry>
                <box size="0.9381862030028225 0.9041906131268441 1.211029767172592" />
            </geometry>
        </collision>
    </link>
    <joint name="27_28" type="revolute">
       <parent link="27"/>
       <child  link="28"/>
       <origin rpy="0 0 0" xyz="0 0 -0.5479773958649521" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="29">
        <inertial>
            <origin xyz="0 0 -0.8963779368449352" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.8963779368449352" rpy="0 0 0"/>
            <geometry>
                <box size="0.854287186375499 1.2361516998881412 1.7927558736898703" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.8963779368449352" rpy="0 0 0"/>
            <geometry>
                <box size="0.854287186375499 1.2361516998881412 1.7927558736898703" />
            </geometry>
        </collision>
    </link>
    <joint name="28_29" type="revolute">
       <parent link="28"/>
       <child  link="29"/>
       <origin rpy="0 0 0" xyz="0 0 -1.211029767172592" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="30">
        <inertial>
            <origin xyz="0 0.5035233096494968 0.2949848997134202" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.5035233096494968 0.2949848997134202" rpy="0 0 0"/>
            <geometry>
                <box size="0.7003808225797835 1.0070466192989935 0.5899697994268404" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.5035233096494968 0.2949848997134202" rpy="0 0 0"/>
            <geometry>
                <box size="0.7003808225797835 1.0070466192989935 0.5899697994268404" />
            </geometry>
        </collision>
    </link>
    <joint name="2_30" type="revolute">
       <parent link="2"/>
       <child  link="30"/>
       <origin rpy="0 0 0" xyz="0 0.7170256266705342 0" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="31">
        <inertial>
            <origin xyz="0 0.6668158441904812 0.3068306425958384" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.6668158441904812 0.3068306425958384" rpy="0 0 0"/>
            <geometry>
                <box size="0.8894327273518047 1.3336316883809625 0.6136612851916768" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.6668158441904812 0.3068306425958384" rpy="0 0 0"/>
            <geometry>
                <box size="0.8894327273518047 1.3336316883809625 0.6136612851916768" />
            </geometry>
        </collision>
    </link>
    <joint name="30_31" type="revolute">
       <parent link="30"/>
       <child  link="31"/>
       <origin rpy="0 0 0" xyz="0 1.0070466192989935 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="32">
        <inertial>
            <origin xyz="0 0.25915889648971124 0.7447887668683724" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.25915889648971124 0.7447887668683724" rpy="0 0 0"/>
            <geometry>
                <box size="1.2564351260056097 0.5183177929794225 1.4895775337367447" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.25915889648971124 0.7447887668683724" rpy="0 0 0"/>
            <geometry>
                <box size="1.2564351260056097 0.5183177929794225 1.4895775337367447" />
            </geometry>
        </collision>
    </link>
    <joint name="31_32" type="revolute">
       <parent link="31"/>
       <child  link="32"/>
       <origin rpy="0 0 0" xyz="0 1.3336316883809625 0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="33">
        <inertial>
            <origin xyz="0 0.33350334481065785 0.5841710066571125" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.33350334481065785 0.5841710066571125" rpy="0 0 0"/>
            <geometry>
                <box size="0.5554544555289812 0.6670066896213157 1.168342013314225" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.33350334481065785 0.5841710066571125" rpy="0 0 0"/>
            <geometry>
                <box size="0.5554544555289812 0.6670066896213157 1.168342013314225" />
            </geometry>
        </collision>
    </link>
    <joint name="32_33" type="revolute">
       <parent link="32"/>
       <child  link="33"/>
       <origin rpy="0 0 0" xyz="0 0.5183177929794225 0" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="34">
        <inertial>
            <origin xyz="0 0.6897226956386617 0.7367216517923494" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.6897226956386617 0.7367216517923494" rpy="0 0 0"/>
            <geometry>
                <box size="0.8350225903918254 1.3794453912773235 1.4734433035846988" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.6897226956386617 0.7367216517923494" rpy="0 0 0"/>
            <geometry>
                <box size="0.8350225903918254 1.3794453912773235 1.4734433035846988" />
            </geometry>
        </collision>
    </link>
    <joint name="33_34" type="revolute">
       <parent link="33"/>
       <child  link="34"/>
       <origin rpy="0 0 0" xyz="0 0.6670066896213157 0" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="35">
        <inertial>
            <origin xyz="0 0.42429339366007024 0.6289732216184929" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.42429339366007024 0.6289732216184929" rpy="0 0 0"/>
            <geometry>
                <box size="0.6765443521271727 0.8485867873201405 1.2579464432369858" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.42429339366007024 0.6289732216184929" rpy="0 0 0"/>
            <geometry>
                <box size="0.6765443521271727 0.8485867873201405 1.2579464432369858" />
            </geometry>
        </collision>
    </link>
    <joint name="34_35" type="revolute">
       <parent link="34"/>
       <child  link="35"/>
       <origin rpy="0 0 0" xyz="0 1.3794453912773235 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="36">
        <inertial>
            <origin xyz="0 0 -0.38558830424281765" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.38558830424281765" rpy="0 0 0"/>
            <geometry>
                <box size="0.6344246227956394 0.9976349934340729 0.7711766084856353" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.38558830424281765" rpy="0 0 0"/>
            <geometry>
                <box size="0.6344246227956394 0.9976349934340729 0.7711766084856353" />
            </geometry>
        </collision>
    </link>
    <joint name="35_36" type="revolute">
       <parent link="35"/>
       <child  link="36"/>
       <origin rpy="0 0 0" xyz="0 0.42429339366007024 0" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="37">
        <inertial>
            <origin xyz="0 0 -0.020117401085099875" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.020117401085099875" rpy="0 0 0"/>
            <geometry>
                <box size="0.825220813233945 0.9300128459509774 0.04023480217019975" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.020117401085099875" rpy="0 0 0"/>
            <geometry>
                <box size="0.825220813233945 0.9300128459509774 0.04023480217019975" />
            </geometry>
        </collision>
    </link>
    <joint name="36_37" type="revolute">
       <parent link="36"/>
       <child  link="37"/>
       <origin rpy="0 0 0" xyz="0 0 -0.7711766084856353" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="38">
        <inertial>
            <origin xyz="0 0 -1.3701758130357895" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -1.3701758130357895" rpy="0 0 0"/>
            <geometry>
                <box size="1.017939760260945 1.3630979792088351 2.740351626071579" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -1.3701758130357895" rpy="0 0 0"/>
            <geometry>
                <box size="1.017939760260945 1.3630979792088351 2.740351626071579" />
            </geometry>
        </collision>
    </link>
    <joint name="37_38" type="revolute">
       <parent link="37"/>
       <child  link="38"/>
       <origin rpy="0 0 0" xyz="0 0 -0.04023480217019975" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>