<robot name = "robot">
    <link name="0">
        <inertial>
            <origin xyz="0 0 0.35" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.35" rpy="0 0 0"/>
            <geometry>
                <box size="0.7 0.7 0.7" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.35" rpy="0 0 0"/>
            <geometry>
                <box size="0.7 0.7 0.7" />
            </geometry>
        </collision>
    </link>
    <link name="1">
        <inertial>
            <origin xyz="-0.4572090012088631 0 0.16378222619410598" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.4572090012088631 0 0.16378222619410598" rpy="0 0 0"/>
            <geometry>
                <box size="0.9144180024177262 0.32557292867233356 0.32756445238821197" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.4572090012088631 0 0.16378222619410598" rpy="0 0 0"/>
            <geometry>
                <box size="0.9144180024177262 0.32557292867233356 0.32756445238821197" />
            </geometry>
        </collision>
    </link>
    <joint name="0_1" type="revolute">
       <parent link="0"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="-0.35 0 0.7" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="2">
        <inertial>
            <origin xyz="0.3395013458156735 0 0.2638668547406256" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.3395013458156735 0 0.2638668547406256" rpy="0 0 0"/>
            <geometry>
                <box size="0.679002691631347 0.6206371614737384 0.5277337094812512" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.3395013458156735 0 0.2638668547406256" rpy="0 0 0"/>
            <geometry>
                <box size="0.679002691631347 0.6206371614737384 0.5277337094812512" />
            </geometry>
        </collision>
    </link>
    <joint name="0_2" type="revolute">
       <parent link="0"/>
       <child  link="2"/>
       <origin rpy="0 0 0" xyz="0.35 0 0.7" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="3">
        <inertial>
            <origin xyz="0.22707107258172604 0 0.3708186409240668" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.22707107258172604 0 0.3708186409240668" rpy="0 0 0"/>
            <geometry>
                <box size="0.4541421451634521 0.36416540986014334 0.7416372818481336" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.22707107258172604 0 0.3708186409240668" rpy="0 0 0"/>
            <geometry>
                <box size="0.4541421451634521 0.36416540986014334 0.7416372818481336" />
            </geometry>
        </collision>
    </link>
    <joint name="2_3" type="revolute">
       <parent link="2"/>
       <child  link="3"/>
       <origin rpy="0 0 0" xyz="0.679002691631347 0 0.5277337094812512" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="4">
        <inertial>
            <origin xyz="0.46114466182502895 0 0.06729060802134174" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.46114466182502895 0 0.06729060802134174" rpy="0 0 0"/>
            <geometry>
                <box size="0.9222893236500579 0.8013676781661853 0.13458121604268347" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.46114466182502895 0 0.06729060802134174" rpy="0 0 0"/>
            <geometry>
                <box size="0.9222893236500579 0.8013676781661853 0.13458121604268347" />
            </geometry>
        </collision>
    </link>
    <joint name="3_4" type="revolute">
       <parent link="3"/>
       <child  link="4"/>
       <origin rpy="0 0 0" xyz="0.4541421451634521 0 0.7416372818481336" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="5">
        <inertial>
            <origin xyz="0.39197427498312637 0 0.37332451842221936" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.39197427498312637 0 0.37332451842221936" rpy="0 0 0"/>
            <geometry>
                <box size="0.7839485499662527 0.7029162166549554 0.7466490368444387" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.39197427498312637 0 0.37332451842221936" rpy="0 0 0"/>
            <geometry>
                <box size="0.7839485499662527 0.7029162166549554 0.7466490368444387" />
            </geometry>
        </collision>
    </link>
    <joint name="4_5" type="revolute">
       <parent link="4"/>
       <child  link="5"/>
       <origin rpy="0 0 0" xyz="0.9222893236500579 0 0.13458121604268347" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="6">
        <inertial>
            <origin xyz="0.20128730426500835 0 0.4898774636553663" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.20128730426500835 0 0.4898774636553663" rpy="0 0 0"/>
            <geometry>
                <box size="0.4025746085300167 0.46457157729760856 0.9797549273107325" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.20128730426500835 0 0.4898774636553663" rpy="0 0 0"/>
            <geometry>
                <box size="0.4025746085300167 0.46457157729760856 0.9797549273107325" />
            </geometry>
        </collision>
    </link>
    <joint name="5_6" type="revolute">
       <parent link="5"/>
       <child  link="6"/>
       <origin rpy="0 0 0" xyz="0.7839485499662527 0 0.7466490368444387" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="7">
        <inertial>
            <origin xyz="0 0.11056604446014584 0.06670377741309352" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.11056604446014584 0.06670377741309352" rpy="0 0 0"/>
            <geometry>
                <box size="0.25012551015050855 0.22113208892029168 0.13340755482618705" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.11056604446014584 0.06670377741309352" rpy="0 0 0"/>
            <geometry>
                <box size="0.25012551015050855 0.22113208892029168 0.13340755482618705" />
            </geometry>
        </collision>
    </link>
    <joint name="0_7" type="revolute">
       <parent link="0"/>
       <child  link="7"/>
       <origin rpy="0 0 0" xyz="0 0.35 0.7" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="8">
        <inertial>
            <origin xyz="0 0.0496112032927426 0.2728539507140103" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.0496112032927426 0.2728539507140103" rpy="0 0 0"/>
            <geometry>
                <box size="0.05010503390228793 0.0992224065854852 0.5457079014280206" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.0496112032927426 0.2728539507140103" rpy="0 0 0"/>
            <geometry>
                <box size="0.05010503390228793 0.0992224065854852 0.5457079014280206" />
            </geometry>
        </collision>
    </link>
    <joint name="7_8" type="revolute">
       <parent link="7"/>
       <child  link="8"/>
       <origin rpy="0 0 0" xyz="0 0.22113208892029168 0.13340755482618705" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="9">
        <inertial>
            <origin xyz="0 0.2856081706523054 0.32051609858310504" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.2856081706523054 0.32051609858310504" rpy="0 0 0"/>
            <geometry>
                <box size="0.06677322560653898 0.5712163413046109 0.6410321971662101" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.2856081706523054 0.32051609858310504" rpy="0 0 0"/>
            <geometry>
                <box size="0.06677322560653898 0.5712163413046109 0.6410321971662101" />
            </geometry>
        </collision>
    </link>
    <joint name="8_9" type="revolute">
       <parent link="8"/>
       <child  link="9"/>
       <origin rpy="0 0 0" xyz="0 0.0992224065854852 0.5457079014280206" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="10">
        <inertial>
            <origin xyz="0 0.08668362912340549 0.43091703367266737" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.08668362912340549 0.43091703367266737" rpy="0 0 0"/>
            <geometry>
                <box size="0.6432389604915947 0.17336725824681098 0.8618340673453347" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.08668362912340549 0.43091703367266737" rpy="0 0 0"/>
            <geometry>
                <box size="0.6432389604915947 0.17336725824681098 0.8618340673453347" />
            </geometry>
        </collision>
    </link>
    <joint name="9_10" type="revolute">
       <parent link="9"/>
       <child  link="10"/>
       <origin rpy="0 0 0" xyz="0 0.5712163413046109 0.6410321971662101" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="11">
        <inertial>
            <origin xyz="0 0.14187620289599467 0.44564074725056246" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.14187620289599467 0.44564074725056246" rpy="0 0 0"/>
            <geometry>
                <box size="0.7102784127552225 0.28375240579198935 0.8912814945011249" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.14187620289599467 0.44564074725056246" rpy="0 0 0"/>
            <geometry>
                <box size="0.7102784127552225 0.28375240579198935 0.8912814945011249" />
            </geometry>
        </collision>
    </link>
    <joint name="10_11" type="revolute">
       <parent link="10"/>
       <child  link="11"/>
       <origin rpy="0 0 0" xyz="0 0.17336725824681098 0.8618340673453347" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="12">
        <inertial>
            <origin xyz="0 0.33780016886875125 0.27223815736406515" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.33780016886875125 0.27223815736406515" rpy="0 0 0"/>
            <geometry>
                <box size="0.42544407734419154 0.6756003377375025 0.5444763147281303" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.33780016886875125 0.27223815736406515" rpy="0 0 0"/>
            <geometry>
                <box size="0.42544407734419154 0.6756003377375025 0.5444763147281303" />
            </geometry>
        </collision>
    </link>
    <joint name="11_12" type="revolute">
       <parent link="11"/>
       <child  link="12"/>
       <origin rpy="0 0 0" xyz="0 0.28375240579198935 0.8912814945011249" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>