<robot name = "robot">
    <link name="0">
        <inertial>
            <origin xyz="0 0 0.35" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.35" rpy="0 0 0"/>
            <geometry>
                <box size="0.7 0.7 0.7" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.35" rpy="0 0 0"/>
            <geometry>
                <box size="0.7 0.7 0.7" />
            </geometry>
        </collision>
    </link>
    <link name="1">
        <inertial>
            <origin xyz="0 0.22482875276864644 0.018488822212708755" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.22482875276864644 0.018488822212708755" rpy="0 0 0"/>
            <geometry>
                <box size="0.10136162984087804 0.4496575055372929 0.03697764442541751" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.22482875276864644 0.018488822212708755" rpy="0 0 0"/>
            <geometry>
                <box size="0.10136162984087804 0.4496575055372929 0.03697764442541751" />
            </geometry>
        </collision>
    </link>
    <joint name="0_1" type="revolute">
       <parent link="0"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="0 0.35 0.7" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="2">
        <inertial>
            <origin xyz="0 0.41130534238627486 0.3932700243195366" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.41130534238627486 0.3932700243195366" rpy="0 0 0"/>
            <geometry>
                <box size="0.3688693186038886 0.8226106847725497 0.7865400486390732" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.41130534238627486 0.3932700243195366" rpy="0 0 0"/>
            <geometry>
                <box size="0.3688693186038886 0.8226106847725497 0.7865400486390732" />
            </geometry>
        </collision>
    </link>
    <joint name="1_2" type="revolute">
       <parent link="1"/>
       <child  link="2"/>
       <origin rpy="0 0 0" xyz="0 0.4496575055372929 0.03697764442541751" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="3">
        <inertial>
            <origin xyz="0 0.1526668133630013 0.010196028019022418" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.1526668133630013 0.010196028019022418" rpy="0 0 0"/>
            <geometry>
                <box size="0.9620225253559714 0.3053336267260026 0.020392056038044837" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.1526668133630013 0.010196028019022418" rpy="0 0 0"/>
            <geometry>
                <box size="0.9620225253559714 0.3053336267260026 0.020392056038044837" />
            </geometry>
        </collision>
    </link>
    <joint name="2_3" type="revolute">
       <parent link="2"/>
       <child  link="3"/>
       <origin rpy="0 0 0" xyz="0 0.8226106847725497 0.7865400486390732" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="4">
        <inertial>
            <origin xyz="0 0.2610770130134353 0.41237812161016063" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.2610770130134353 0.41237812161016063" rpy="0 0 0"/>
            <geometry>
                <box size="0.49776507591834196 0.5221540260268706 0.8247562432203213" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.2610770130134353 0.41237812161016063" rpy="0 0 0"/>
            <geometry>
                <box size="0.49776507591834196 0.5221540260268706 0.8247562432203213" />
            </geometry>
        </collision>
    </link>
    <joint name="3_4" type="revolute">
       <parent link="3"/>
       <child  link="4"/>
       <origin rpy="0 0 0" xyz="0 0.3053336267260026 0.020392056038044837" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>