<robot name = "robot">
    <link name="0">
        <inertial>
            <origin xyz="0 0 3" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 3" rpy="0 0 0"/>
            <geometry>
                <box size="1.5 1.5 0.8" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 3" rpy="0 0 0"/>
            <geometry>
                <box size="1.5 1.5 0.8" />
            </geometry>
        </collision>
    </link>
    <link name="1">
        <inertial>
            <origin xyz="-0.3311282028512097 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.3311282028512097 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6622564057024194 0.20614555135075086 0.9794331668238407" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.3311282028512097 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6622564057024194 0.20614555135075086 0.9794331668238407" />
            </geometry>
        </collision>
    </link>
    <joint name="0_1" type="revolute">
       <parent link="0"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="-0.75 0 3" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="2">
        <inertial>
            <origin xyz="-0.13401688621155633 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.13401688621155633 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.26803377242311266 0.5437878966391679 0.35598992390918127" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.13401688621155633 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.26803377242311266 0.5437878966391679 0.35598992390918127" />
            </geometry>
        </collision>
    </link>
    <joint name="1_2" type="revolute">
       <parent link="1"/>
       <child  link="2"/>
       <origin rpy="0 0 0" xyz="-0.6622564057024194 0 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="3">
        <inertial>
            <origin xyz="-0.4422962783657588 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.4422962783657588 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8845925567315176 0.34063281012631164 0.31344063751601947" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.4422962783657588 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8845925567315176 0.34063281012631164 0.31344063751601947" />
            </geometry>
        </collision>
    </link>
    <joint name="2_3" type="revolute">
       <parent link="2"/>
       <child  link="3"/>
       <origin rpy="0 0 0" xyz="-0.26803377242311266 0 0" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="4">
        <inertial>
            <origin xyz="-0.1867669523965721 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.1867669523965721 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3735339047931442 0.5555671479343683 0.7086243732712109" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.1867669523965721 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3735339047931442 0.5555671479343683 0.7086243732712109" />
            </geometry>
        </collision>
    </link>
    <joint name="3_4" type="revolute">
       <parent link="3"/>
       <child  link="4"/>
       <origin rpy="0 0 0" xyz="-0.8845925567315176 0 0" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="5">
        <inertial>
            <origin xyz="-0.18330941625255243 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.18330941625255243 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.36661883250510485 0.24491027979321345 0.37385194594874727" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.18330941625255243 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.36661883250510485 0.24491027979321345 0.37385194594874727" />
            </geometry>
        </collision>
    </link>
    <joint name="4_5" type="revolute">
       <parent link="4"/>
       <child  link="5"/>
       <origin rpy="0 0 0" xyz="-0.3735339047931442 0 0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="6">
        <inertial>
            <origin xyz="0 0 -0.4106688649047585" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.4106688649047585" rpy="0 0 0"/>
            <geometry>
                <box size="0.46761181305092403 0.5427279557163619 0.821337729809517" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.4106688649047585" rpy="0 0 0"/>
            <geometry>
                <box size="0.46761181305092403 0.5427279557163619 0.821337729809517" />
            </geometry>
        </collision>
    </link>
    <joint name="5_6" type="revolute">
       <parent link="5"/>
       <child  link="6"/>
       <origin rpy="0 0 0" xyz="-0.18330941625255243 0 -0.18692597297437363" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="7">
        <inertial>
            <origin xyz="0 0 -0.8308307944159152" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.8308307944159152" rpy="0 0 0"/>
            <geometry>
                <box size="0.9690822600291111 0.2650482017690525 1.6616615888318305" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.8308307944159152" rpy="0 0 0"/>
            <geometry>
                <box size="0.9690822600291111 0.2650482017690525 1.6616615888318305" />
            </geometry>
        </collision>
    </link>
    <joint name="6_7" type="revolute">
       <parent link="6"/>
       <child  link="7"/>
       <origin rpy="0 0 0" xyz="0 0 -0.821337729809517" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="8">
        <inertial>
            <origin xyz="0 0 -0.0585003406793263" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.0585003406793263" rpy="0 0 0"/>
            <geometry>
                <box size="0.012709392651046536 0.04809080519639308 0.1170006813586526" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.0585003406793263" rpy="0 0 0"/>
            <geometry>
                <box size="0.012709392651046536 0.04809080519639308 0.1170006813586526" />
            </geometry>
        </collision>
    </link>
    <joint name="7_8" type="revolute">
       <parent link="7"/>
       <child  link="8"/>
       <origin rpy="0 0 0" xyz="0 0 -1.6616615888318305" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="9">
        <inertial>
            <origin xyz="0.22170025481995714 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.22170025481995714 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4434005096399143 0.30862076756530643 0.07840709673643986" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.22170025481995714 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4434005096399143 0.30862076756530643 0.07840709673643986" />
            </geometry>
        </collision>
    </link>
    <joint name="0_9" type="revolute">
       <parent link="0"/>
       <child  link="9"/>
       <origin rpy="0 0 0" xyz="0.75 0 3" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="10">
        <inertial>
            <origin xyz="0.38752022545940024 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.38752022545940024 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7750404509188005 0.2389222470547111 0.8891390985243004" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.38752022545940024 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7750404509188005 0.2389222470547111 0.8891390985243004" />
            </geometry>
        </collision>
    </link>
    <joint name="9_10" type="revolute">
       <parent link="9"/>
       <child  link="10"/>
       <origin rpy="0 0 0" xyz="0.4434005096399143 0 0" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="11">
        <inertial>
            <origin xyz="0.3112536095684505 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.3112536095684505 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.622507219136901 0.29998162762390623 0.8764100300947393" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.3112536095684505 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.622507219136901 0.29998162762390623 0.8764100300947393" />
            </geometry>
        </collision>
    </link>
    <joint name="10_11" type="revolute">
       <parent link="10"/>
       <child  link="11"/>
       <origin rpy="0 0 0" xyz="0.7750404509188005 0 0" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="12">
        <inertial>
            <origin xyz="0.3372275872693109 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.3372275872693109 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6744551745386218 0.38773775427775237 0.7723852806561863" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.3372275872693109 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6744551745386218 0.38773775427775237 0.7723852806561863" />
            </geometry>
        </collision>
    </link>
    <joint name="11_12" type="revolute">
       <parent link="11"/>
       <child  link="12"/>
       <origin rpy="0 0 0" xyz="0.622507219136901 0 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="13">
        <inertial>
            <origin xyz="0.30806548506720866 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.30806548506720866 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6161309701344173 0.9897088892010136 0.11804623045936435" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.30806548506720866 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6161309701344173 0.9897088892010136 0.11804623045936435" />
            </geometry>
        </collision>
    </link>
    <joint name="12_13" type="revolute">
       <parent link="12"/>
       <child  link="13"/>
       <origin rpy="0 0 0" xyz="0.6744551745386218 0 0" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="14">
        <inertial>
            <origin xyz="0 0 -0.322799639358975" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.322799639358975" rpy="0 0 0"/>
            <geometry>
                <box size="0.2789712596514393 0.5552707059637486 0.64559927871795" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.322799639358975" rpy="0 0 0"/>
            <geometry>
                <box size="0.2789712596514393 0.5552707059637486 0.64559927871795" />
            </geometry>
        </collision>
    </link>
    <joint name="13_14" type="revolute">
       <parent link="13"/>
       <child  link="14"/>
       <origin rpy="0 0 0" xyz="0.30806548506720866 0 -0.05902311522968218" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="15">
        <inertial>
            <origin xyz="0 0 -0.9029134974818681" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.9029134974818681" rpy="0 0 0"/>
            <geometry>
                <box size="0.31958536163994244 0.21917732839418813 1.8058269949637362" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.9029134974818681" rpy="0 0 0"/>
            <geometry>
                <box size="0.31958536163994244 0.21917732839418813 1.8058269949637362" />
            </geometry>
        </collision>
    </link>
    <joint name="14_15" type="revolute">
       <parent link="14"/>
       <child  link="15"/>
       <origin rpy="0 0 0" xyz="0 0 -0.64559927871795" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="16">
        <inertial>
            <origin xyz="0 0 -0.074286863159157" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.074286863159157" rpy="0 0 0"/>
            <geometry>
                <box size="0.0729120215885889 0.556470223904381 0.148573726318314" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.074286863159157" rpy="0 0 0"/>
            <geometry>
                <box size="0.0729120215885889 0.556470223904381 0.148573726318314" />
            </geometry>
        </collision>
    </link>
    <joint name="15_16" type="revolute">
       <parent link="15"/>
       <child  link="16"/>
       <origin rpy="0 0 0" xyz="0 0 -1.8058269949637362" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="17">
        <inertial>
            <origin xyz="0 -0.2223922891896401 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.2223922891896401 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8592399844704953 0.4447845783792802 0.269449017833462" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.2223922891896401 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8592399844704953 0.4447845783792802 0.269449017833462" />
            </geometry>
        </collision>
    </link>
    <joint name="0_17" type="revolute">
       <parent link="0"/>
       <child  link="17"/>
       <origin rpy="0 0 0" xyz="0 -0.75 3" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="18">
        <inertial>
            <origin xyz="0 -0.07207783622327402 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.07207783622327402 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.692663716613581 0.14415567244654803 0.021362911112462024" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.07207783622327402 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.692663716613581 0.14415567244654803 0.021362911112462024" />
            </geometry>
        </collision>
    </link>
    <joint name="17_18" type="revolute">
       <parent link="17"/>
       <child  link="18"/>
       <origin rpy="0 0 0" xyz="0 -0.4447845783792802 0" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="19">
        <inertial>
            <origin xyz="0 -0.40833814615500846 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.40833814615500846 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7904886604410087 0.8166762923100169 0.7394736887670122" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.40833814615500846 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7904886604410087 0.8166762923100169 0.7394736887670122" />
            </geometry>
        </collision>
    </link>
    <joint name="18_19" type="revolute">
       <parent link="18"/>
       <child  link="19"/>
       <origin rpy="0 0 0" xyz="0 -0.14415567244654803 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="20">
        <inertial>
            <origin xyz="0 -0.2733558716504787 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.2733558716504787 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2972030995535161 0.5467117433009574 0.969455740282897" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.2733558716504787 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2972030995535161 0.5467117433009574 0.969455740282897" />
            </geometry>
        </collision>
    </link>
    <joint name="19_20" type="revolute">
       <parent link="19"/>
       <child  link="20"/>
       <origin rpy="0 0 0" xyz="0 -0.8166762923100169 0" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="21">
        <inertial>
            <origin xyz="0 -0.4423303983066417 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.4423303983066417 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2925947788033112 0.8846607966132835 0.4995888307430514" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.4423303983066417 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2925947788033112 0.8846607966132835 0.4995888307430514" />
            </geometry>
        </collision>
    </link>
    <joint name="20_21" type="revolute">
       <parent link="20"/>
       <child  link="21"/>
       <origin rpy="0 0 0" xyz="0 -0.5467117433009574 0" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="22">
        <inertial>
            <origin xyz="0 0 -1.223334937091067" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -1.223334937091067" rpy="0 0 0"/>
            <geometry>
                <box size="0.5302444212885911 0.022364226668012632 2.446669874182134" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -1.223334937091067" rpy="0 0 0"/>
            <geometry>
                <box size="0.5302444212885911 0.022364226668012632 2.446669874182134" />
            </geometry>
        </collision>
    </link>
    <joint name="21_22" type="revolute">
       <parent link="21"/>
       <child  link="22"/>
       <origin rpy="0 0 0" xyz="0 -0.4423303983066417 -0.2497944153715257" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="23">
        <inertial>
            <origin xyz="0 0 -0.006816922289110126" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.006816922289110126" rpy="0 0 0"/>
            <geometry>
                <box size="0.3016834221930478 0.8422515881814967 0.013633844578220252" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.006816922289110126" rpy="0 0 0"/>
            <geometry>
                <box size="0.3016834221930478 0.8422515881814967 0.013633844578220252" />
            </geometry>
        </collision>
    </link>
    <joint name="22_23" type="revolute">
       <parent link="22"/>
       <child  link="23"/>
       <origin rpy="0 0 0" xyz="0 0 -2.446669874182134" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="24">
        <inertial>
            <origin xyz="0 0 -0.06984814061982281" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.06984814061982281" rpy="0 0 0"/>
            <geometry>
                <box size="0.8289746722216801 0.042566244149808696 0.13969628123964561" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.06984814061982281" rpy="0 0 0"/>
            <geometry>
                <box size="0.8289746722216801 0.042566244149808696 0.13969628123964561" />
            </geometry>
        </collision>
    </link>
    <joint name="23_24" type="revolute">
       <parent link="23"/>
       <child  link="24"/>
       <origin rpy="0 0 0" xyz="0 0 -0.013633844578220252" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="25">
        <inertial>
            <origin xyz="0 0.23560709819251835 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.23560709819251835 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2089400523160252 0.4712141963850367 0.16706644691239503" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.23560709819251835 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2089400523160252 0.4712141963850367 0.16706644691239503" />
            </geometry>
        </collision>
    </link>
    <joint name="0_25" type="revolute">
       <parent link="0"/>
       <child  link="25"/>
       <origin rpy="0 0 0" xyz="0 0.75 3" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="26">
        <inertial>
            <origin xyz="0 0.29291599103869803 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.29291599103869803 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.24845508192815602 0.5858319820773961 0.4304448772410482" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.29291599103869803 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.24845508192815602 0.5858319820773961 0.4304448772410482" />
            </geometry>
        </collision>
    </link>
    <joint name="25_26" type="revolute">
       <parent link="25"/>
       <child  link="26"/>
       <origin rpy="0 0 0" xyz="0 0.4712141963850367 0" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="27">
        <inertial>
            <origin xyz="0 0.10863436937480947 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.10863436937480947 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8572664055690081 0.21726873874961894 0.1488357548590703" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.10863436937480947 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8572664055690081 0.21726873874961894 0.1488357548590703" />
            </geometry>
        </collision>
    </link>
    <joint name="26_27" type="revolute">
       <parent link="26"/>
       <child  link="27"/>
       <origin rpy="0 0 0" xyz="0 0.5858319820773961 0" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="28">
        <inertial>
            <origin xyz="0 0.43769009658498337 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.43769009658498337 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7574120936777898 0.8753801931699667 0.18155665615376926" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.43769009658498337 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7574120936777898 0.8753801931699667 0.18155665615376926" />
            </geometry>
        </collision>
    </link>
    <joint name="27_28" type="revolute">
       <parent link="27"/>
       <child  link="28"/>
       <origin rpy="0 0 0" xyz="0 0.21726873874961894 0" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="29">
        <inertial>
            <origin xyz="0 0.1181161286816168 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.1181161286816168 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5985157251015252 0.2362322573632336 0.22729053497364904" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.1181161286816168 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5985157251015252 0.2362322573632336 0.22729053497364904" />
            </geometry>
        </collision>
    </link>
    <joint name="28_29" type="revolute">
       <parent link="28"/>
       <child  link="29"/>
       <origin rpy="0 0 0" xyz="0 0.8753801931699667 0" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="30">
        <inertial>
            <origin xyz="0 0 -0.18459123874199523" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.18459123874199523" rpy="0 0 0"/>
            <geometry>
                <box size="0.18601230600788787 0.6391043965496057 0.36918247748399047" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.18459123874199523" rpy="0 0 0"/>
            <geometry>
                <box size="0.18601230600788787 0.6391043965496057 0.36918247748399047" />
            </geometry>
        </collision>
    </link>
    <joint name="29_30" type="revolute">
       <parent link="29"/>
       <child  link="30"/>
       <origin rpy="0 0 0" xyz="0 0.1181161286816168 -0.11364526748682452" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="31">
        <inertial>
            <origin xyz="0 0 -1.103768249946508" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -1.103768249946508" rpy="0 0 0"/>
            <geometry>
                <box size="0.4918554566572869 0.6675606702033915 2.207536499893016" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -1.103768249946508" rpy="0 0 0"/>
            <geometry>
                <box size="0.4918554566572869 0.6675606702033915 2.207536499893016" />
            </geometry>
        </collision>
    </link>
    <joint name="30_31" type="revolute">
       <parent link="30"/>
       <child  link="31"/>
       <origin rpy="0 0 0" xyz="0 0 -0.36918247748399047" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="32">
        <inertial>
            <origin xyz="0 0 -0.011640511311496793" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.011640511311496793" rpy="0 0 0"/>
            <geometry>
                <box size="0.14332830070753333 0.0796990763386285 0.023281022622993586" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.011640511311496793" rpy="0 0 0"/>
            <geometry>
                <box size="0.14332830070753333 0.0796990763386285 0.023281022622993586" />
            </geometry>
        </collision>
    </link>
    <joint name="31_32" type="revolute">
       <parent link="31"/>
       <child  link="32"/>
       <origin rpy="0 0 0" xyz="0 0 -2.207536499893016" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>