<robot name = "robot">
    <link name="0">
        <inertial>
            <origin xyz="0 0 3" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 3" rpy="0 0 0"/>
            <geometry>
                <box size="1.5 1.5 0.8" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 3" rpy="0 0 0"/>
            <geometry>
                <box size="1.5 1.5 0.8" />
            </geometry>
        </collision>
    </link>
    <link name="1">
        <inertial>
            <origin xyz="-0.338048742012601 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.338048742012601 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.676097484025202 0.7272105835562928 0.8253429600780295" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.338048742012601 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.676097484025202 0.7272105835562928 0.8253429600780295" />
            </geometry>
        </collision>
    </link>
    <joint name="0_1" type="revolute">
       <parent link="0"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="-0.75 0 3" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="2">
        <inertial>
            <origin xyz="0 0 -0.5550772001190707" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.5550772001190707" rpy="0 0 0"/>
            <geometry>
                <box size="0.4150883958540573 0.09739484294566936 1.1101544002381414" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.5550772001190707" rpy="0 0 0"/>
            <geometry>
                <box size="0.4150883958540573 0.09739484294566936 1.1101544002381414" />
            </geometry>
        </collision>
    </link>
    <joint name="1_2" type="revolute">
       <parent link="1"/>
       <child  link="2"/>
       <origin rpy="0 0 0" xyz="-0.338048742012601 0 -0.41267148003901477" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="3">
        <inertial>
            <origin xyz="0 0 -0.621769856281008" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.621769856281008" rpy="0 0 0"/>
            <geometry>
                <box size="0.18385893823785293 0.34399843093504223 1.243539712562016" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.621769856281008" rpy="0 0 0"/>
            <geometry>
                <box size="0.18385893823785293 0.34399843093504223 1.243539712562016" />
            </geometry>
        </collision>
    </link>
    <joint name="2_3" type="revolute">
       <parent link="2"/>
       <child  link="3"/>
       <origin rpy="0 0 0" xyz="0 0 -1.1101544002381414" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="4">
        <inertial>
            <origin xyz="0 0 -0.12315294359992135" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.12315294359992135" rpy="0 0 0"/>
            <geometry>
                <box size="0.012333752208143367 0.31477548558074775 0.2463058871998427" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.12315294359992135" rpy="0 0 0"/>
            <geometry>
                <box size="0.012333752208143367 0.31477548558074775 0.2463058871998427" />
            </geometry>
        </collision>
    </link>
    <joint name="3_4" type="revolute">
       <parent link="3"/>
       <child  link="4"/>
       <origin rpy="0 0 0" xyz="0 0 -1.243539712562016" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="5">
        <inertial>
            <origin xyz="0.07660505400242335 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.07660505400242335 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.1532101080048467 0.11705498168152695 0.699870112676801" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.07660505400242335 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.1532101080048467 0.11705498168152695 0.699870112676801" />
            </geometry>
        </collision>
    </link>
    <joint name="0_5" type="revolute">
       <parent link="0"/>
       <child  link="5"/>
       <origin rpy="0 0 0" xyz="0.75 0 3" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="6">
        <inertial>
            <origin xyz="0 0 -0.43714669532776085" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.43714669532776085" rpy="0 0 0"/>
            <geometry>
                <box size="0.3277907839813117 0.6421862388175169 0.8742933906555217" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.43714669532776085" rpy="0 0 0"/>
            <geometry>
                <box size="0.3277907839813117 0.6421862388175169 0.8742933906555217" />
            </geometry>
        </collision>
    </link>
    <joint name="5_6" type="revolute">
       <parent link="5"/>
       <child  link="6"/>
       <origin rpy="0 0 0" xyz="0.07660505400242335 0 -0.3499350563384005" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="7">
        <inertial>
            <origin xyz="0 0 -0.2992359509572371" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.2992359509572371" rpy="0 0 0"/>
            <geometry>
                <box size="0.6840958166545983 0.22103902868257586 0.5984719019144742" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.2992359509572371" rpy="0 0 0"/>
            <geometry>
                <box size="0.6840958166545983 0.22103902868257586 0.5984719019144742" />
            </geometry>
        </collision>
    </link>
    <joint name="6_7" type="revolute">
       <parent link="6"/>
       <child  link="7"/>
       <origin rpy="0 0 0" xyz="0 0 -0.8742933906555217" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="8">
        <inertial>
            <origin xyz="0 0 -0.5636173537150021" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.5636173537150021" rpy="0 0 0"/>
            <geometry>
                <box size="0.5603385858933535 0.018515275331374648 1.1272347074300042" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.5636173537150021" rpy="0 0 0"/>
            <geometry>
                <box size="0.5603385858933535 0.018515275331374648 1.1272347074300042" />
            </geometry>
        </collision>
    </link>
    <joint name="7_8" type="revolute">
       <parent link="7"/>
       <child  link="8"/>
       <origin rpy="0 0 0" xyz="0 0 -0.5984719019144742" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="9">
        <inertial>
            <origin xyz="0 -0.3281704897481162 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.3281704897481162 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.364116052748763 0.6563409794962324 0.6191488910002086" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.3281704897481162 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.364116052748763 0.6563409794962324 0.6191488910002086" />
            </geometry>
        </collision>
    </link>
    <joint name="0_9" type="revolute">
       <parent link="0"/>
       <child  link="9"/>
       <origin rpy="0 0 0" xyz="0 -0.75 3" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="10">
        <inertial>
            <origin xyz="0 0 -0.8077027709315264" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.8077027709315264" rpy="0 0 0"/>
            <geometry>
                <box size="0.488323542929308 0.4311041929826215 1.6154055418630529" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.8077027709315264" rpy="0 0 0"/>
            <geometry>
                <box size="0.488323542929308 0.4311041929826215 1.6154055418630529" />
            </geometry>
        </collision>
    </link>
    <joint name="9_10" type="revolute">
       <parent link="9"/>
       <child  link="10"/>
       <origin rpy="0 0 0" xyz="0 -0.3281704897481162 -0.3095744455001043" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="11">
        <inertial>
            <origin xyz="0 0 -0.0003824117275607201" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.0003824117275607201" rpy="0 0 0"/>
            <geometry>
                <box size="0.08807149610056464 0.2563095746615921 0.0007648234551214402" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.0003824117275607201" rpy="0 0 0"/>
            <geometry>
                <box size="0.08807149610056464 0.2563095746615921 0.0007648234551214402" />
            </geometry>
        </collision>
    </link>
    <joint name="10_11" type="revolute">
       <parent link="10"/>
       <child  link="11"/>
       <origin rpy="0 0 0" xyz="0 0 -1.6154055418630529" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="12">
        <inertial>
            <origin xyz="0 0 -0.4919148173409129" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.4919148173409129" rpy="0 0 0"/>
            <geometry>
                <box size="0.11055469618877589 0.4319953427441605 0.9838296346818258" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.4919148173409129" rpy="0 0 0"/>
            <geometry>
                <box size="0.11055469618877589 0.4319953427441605 0.9838296346818258" />
            </geometry>
        </collision>
    </link>
    <joint name="11_12" type="revolute">
       <parent link="11"/>
       <child  link="12"/>
       <origin rpy="0 0 0" xyz="0 0 -0.0007648234551214402" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="13">
        <inertial>
            <origin xyz="0 0.4360722886617055 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.4360722886617055 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.797087680251602 0.872144577323411 0.34130921784027757" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.4360722886617055 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.797087680251602 0.872144577323411 0.34130921784027757" />
            </geometry>
        </collision>
    </link>
    <joint name="0_13" type="revolute">
       <parent link="0"/>
       <child  link="13"/>
       <origin rpy="0 0 0" xyz="0 0.75 3" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="14">
        <inertial>
            <origin xyz="0 0 -0.802500898212107" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.802500898212107" rpy="0 0 0"/>
            <geometry>
                <box size="0.9223791906750889 0.05105890879011066 1.605001796424214" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.802500898212107" rpy="0 0 0"/>
            <geometry>
                <box size="0.9223791906750889 0.05105890879011066 1.605001796424214" />
            </geometry>
        </collision>
    </link>
    <joint name="13_14" type="revolute">
       <parent link="13"/>
       <child  link="14"/>
       <origin rpy="0 0 0" xyz="0 0.4360722886617055 -0.17065460892013878" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="15">
        <inertial>
            <origin xyz="0 0 -0.11599702099098368" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.11599702099098368" rpy="0 0 0"/>
            <geometry>
                <box size="0.5112824775364854 0.8759080460078528 0.23199404198196735" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.11599702099098368" rpy="0 0 0"/>
            <geometry>
                <box size="0.5112824775364854 0.8759080460078528 0.23199404198196735" />
            </geometry>
        </collision>
    </link>
    <joint name="14_15" type="revolute">
       <parent link="14"/>
       <child  link="15"/>
       <origin rpy="0 0 0" xyz="0 0 -1.605001796424214" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="16">
        <inertial>
            <origin xyz="0 0 -0.38150208079690934" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.38150208079690934" rpy="0 0 0"/>
            <geometry>
                <box size="0.7453670225693566 0.9694871404749748 0.7630041615938187" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.38150208079690934" rpy="0 0 0"/>
            <geometry>
                <box size="0.7453670225693566 0.9694871404749748 0.7630041615938187" />
            </geometry>
        </collision>
    </link>
    <joint name="15_16" type="revolute">
       <parent link="15"/>
       <child  link="16"/>
       <origin rpy="0 0 0" xyz="0 0 -0.23199404198196735" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>