<robot name = "robot">
    <link name="0">
        <inertial>
            <origin xyz="0 0 0.35" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.35" rpy="0 0 0"/>
            <geometry>
                <box size="0.7 0.7 0.7" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.35" rpy="0 0 0"/>
            <geometry>
                <box size="0.7 0.7 0.7" />
            </geometry>
        </collision>
    </link>
    <link name="1">
        <inertial>
            <origin xyz="-0.24132665106678897 0 0.30513107344670415" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.24132665106678897 0 0.30513107344670415" rpy="0 0 0"/>
            <geometry>
                <box size="0.48265330213357793 0.9852489970647419 0.6102621468934083" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.24132665106678897 0 0.30513107344670415" rpy="0 0 0"/>
            <geometry>
                <box size="0.48265330213357793 0.9852489970647419 0.6102621468934083" />
            </geometry>
        </collision>
    </link>
    <joint name="0_1" type="revolute">
       <parent link="0"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="-0.35 0 0.7" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="2">
        <inertial>
            <origin xyz="-0.3998218724248301 0 0.33029282510244706" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.3998218724248301 0 0.33029282510244706" rpy="0 0 0"/>
            <geometry>
                <box size="0.7996437448496602 0.08477848645038011 0.6605856502048941" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.3998218724248301 0 0.33029282510244706" rpy="0 0 0"/>
            <geometry>
                <box size="0.7996437448496602 0.08477848645038011 0.6605856502048941" />
            </geometry>
        </collision>
    </link>
    <joint name="1_2" type="revolute">
       <parent link="1"/>
       <child  link="2"/>
       <origin rpy="0 0 0" xyz="-0.48265330213357793 0 0.6102621468934083" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="3">
        <inertial>
            <origin xyz="-0.23901637229700012 0 0.3945677155101382" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.23901637229700012 0 0.3945677155101382" rpy="0 0 0"/>
            <geometry>
                <box size="0.47803274459400025 0.17852171833757358 0.7891354310202764" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.23901637229700012 0 0.3945677155101382" rpy="0 0 0"/>
            <geometry>
                <box size="0.47803274459400025 0.17852171833757358 0.7891354310202764" />
            </geometry>
        </collision>
    </link>
    <joint name="2_3" type="revolute">
       <parent link="2"/>
       <child  link="3"/>
       <origin rpy="0 0 0" xyz="-0.7996437448496602 0 0.6605856502048941" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="4">
        <inertial>
            <origin xyz="-0.23158027008692478 0 0.04245962472557524" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.23158027008692478 0 0.04245962472557524" rpy="0 0 0"/>
            <geometry>
                <box size="0.46316054017384956 0.7433527108043209 0.08491924945115048" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.23158027008692478 0 0.04245962472557524" rpy="0 0 0"/>
            <geometry>
                <box size="0.46316054017384956 0.7433527108043209 0.08491924945115048" />
            </geometry>
        </collision>
    </link>
    <joint name="3_4" type="revolute">
       <parent link="3"/>
       <child  link="4"/>
       <origin rpy="0 0 0" xyz="-0.47803274459400025 0 0.7891354310202764" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="5">
        <inertial>
            <origin xyz="-0.0755753501907449 0 0.40325099101609807" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.0755753501907449 0 0.40325099101609807" rpy="0 0 0"/>
            <geometry>
                <box size="0.1511507003814898 0.9048520957332393 0.8065019820321961" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.0755753501907449 0 0.40325099101609807" rpy="0 0 0"/>
            <geometry>
                <box size="0.1511507003814898 0.9048520957332393 0.8065019820321961" />
            </geometry>
        </collision>
    </link>
    <joint name="4_5" type="revolute">
       <parent link="4"/>
       <child  link="5"/>
       <origin rpy="0 0 0" xyz="-0.46316054017384956 0 0.08491924945115048" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="6">
        <inertial>
            <origin xyz="0 -0.04626967460442677 0.2743300219933896" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.04626967460442677 0.2743300219933896" rpy="0 0 0"/>
            <geometry>
                <box size="0.6572682927360199 0.09253934920885354 0.5486600439867791" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.04626967460442677 0.2743300219933896" rpy="0 0 0"/>
            <geometry>
                <box size="0.6572682927360199 0.09253934920885354 0.5486600439867791" />
            </geometry>
        </collision>
    </link>
    <joint name="0_6" type="revolute">
       <parent link="0"/>
       <child  link="6"/>
       <origin rpy="0 0 0" xyz="0 -0.35 0.7" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="7">
        <inertial>
            <origin xyz="0 -0.46681240252871337 0.2169047183787428" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.46681240252871337 0.2169047183787428" rpy="0 0 0"/>
            <geometry>
                <box size="0.5265810470990555 0.9336248050574267 0.4338094367574856" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.46681240252871337 0.2169047183787428" rpy="0 0 0"/>
            <geometry>
                <box size="0.5265810470990555 0.9336248050574267 0.4338094367574856" />
            </geometry>
        </collision>
    </link>
    <joint name="6_7" type="revolute">
       <parent link="6"/>
       <child  link="7"/>
       <origin rpy="0 0 0" xyz="0 -0.09253934920885354 0.5486600439867791" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="8">
        <inertial>
            <origin xyz="0 -0.1063898961729059 0.2505809599181242" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.1063898961729059 0.2505809599181242" rpy="0 0 0"/>
            <geometry>
                <box size="0.02799372562642999 0.2127797923458118 0.5011619198362484" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.1063898961729059 0.2505809599181242" rpy="0 0 0"/>
            <geometry>
                <box size="0.02799372562642999 0.2127797923458118 0.5011619198362484" />
            </geometry>
        </collision>
    </link>
    <joint name="7_8" type="revolute">
       <parent link="7"/>
       <child  link="8"/>
       <origin rpy="0 0 0" xyz="0 -0.9336248050574267 0.4338094367574856" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="9">
        <inertial>
            <origin xyz="0 -0.06553683825174167 0.45500852815777826" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.06553683825174167 0.45500852815777826" rpy="0 0 0"/>
            <geometry>
                <box size="0.41901255275454363 0.13107367650348334 0.9100170563155565" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.06553683825174167 0.45500852815777826" rpy="0 0 0"/>
            <geometry>
                <box size="0.41901255275454363 0.13107367650348334 0.9100170563155565" />
            </geometry>
        </collision>
    </link>
    <joint name="8_9" type="revolute">
       <parent link="8"/>
       <child  link="9"/>
       <origin rpy="0 0 0" xyz="0 -0.2127797923458118 0.5011619198362484" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="10">
        <inertial>
            <origin xyz="0 0.2583804183476726 0.41356984122738644" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.2583804183476726 0.41356984122738644" rpy="0 0 0"/>
            <geometry>
                <box size="0.815047032418078 0.5167608366953452 0.8271396824547729" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.2583804183476726 0.41356984122738644" rpy="0 0 0"/>
            <geometry>
                <box size="0.815047032418078 0.5167608366953452 0.8271396824547729" />
            </geometry>
        </collision>
    </link>
    <joint name="0_10" type="revolute">
       <parent link="0"/>
       <child  link="10"/>
       <origin rpy="0 0 0" xyz="0 0.35 0.7" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="11">
        <inertial>
            <origin xyz="0 0.009352433952710015 0.22006245619247167" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.009352433952710015 0.22006245619247167" rpy="0 0 0"/>
            <geometry>
                <box size="0.5235065855871663 0.01870486790542003 0.44012491238494333" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.009352433952710015 0.22006245619247167" rpy="0 0 0"/>
            <geometry>
                <box size="0.5235065855871663 0.01870486790542003 0.44012491238494333" />
            </geometry>
        </collision>
    </link>
    <joint name="10_11" type="revolute">
       <parent link="10"/>
       <child  link="11"/>
       <origin rpy="0 0 0" xyz="0 0.5167608366953452 0.8271396824547729" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="12">
        <inertial>
            <origin xyz="0 0.23674646623097817 0.36259663522368896" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.23674646623097817 0.36259663522368896" rpy="0 0 0"/>
            <geometry>
                <box size="0.17234671221344888 0.47349293246195634 0.7251932704473779" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.23674646623097817 0.36259663522368896" rpy="0 0 0"/>
            <geometry>
                <box size="0.17234671221344888 0.47349293246195634 0.7251932704473779" />
            </geometry>
        </collision>
    </link>
    <joint name="11_12" type="revolute">
       <parent link="11"/>
       <child  link="12"/>
       <origin rpy="0 0 0" xyz="0 0.01870486790542003 0.44012491238494333" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>