<robot name = "robot">
    <link name="0">
        <inertial>
            <origin xyz="0 0 0.35" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.35" rpy="0 0 0"/>
            <geometry>
                <box size="0.7 0.7 0.7" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.35" rpy="0 0 0"/>
            <geometry>
                <box size="0.7 0.7 0.7" />
            </geometry>
        </collision>
    </link>
    <link name="1">
        <inertial>
            <origin xyz="-0.2387959985107267 0 0.17956321712191747" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.2387959985107267 0 0.17956321712191747" rpy="0 0 0"/>
            <geometry>
                <box size="0.4775919970214534 0.7748115626955895 0.35912643424383495" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.2387959985107267 0 0.17956321712191747" rpy="0 0 0"/>
            <geometry>
                <box size="0.4775919970214534 0.7748115626955895 0.35912643424383495" />
            </geometry>
        </collision>
    </link>
    <joint name="0_1" type="revolute">
       <parent link="0"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="-0.35 0 0.7" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="2">
        <inertial>
            <origin xyz="-0.2284849102364946 0 0.06706497294019392" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.2284849102364946 0 0.06706497294019392" rpy="0 0 0"/>
            <geometry>
                <box size="0.4569698204729892 0.5403485025687448 0.13412994588038785" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.2284849102364946 0 0.06706497294019392" rpy="0 0 0"/>
            <geometry>
                <box size="0.4569698204729892 0.5403485025687448 0.13412994588038785" />
            </geometry>
        </collision>
    </link>
    <joint name="1_2" type="revolute">
       <parent link="1"/>
       <child  link="2"/>
       <origin rpy="0 0 0" xyz="-0.4775919970214534 0 0.35912643424383495" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="3">
        <inertial>
            <origin xyz="-0.3683324532944944 0 0.35632988346321076" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.3683324532944944 0 0.35632988346321076" rpy="0 0 0"/>
            <geometry>
                <box size="0.7366649065889888 0.5505940870227607 0.7126597669264215" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.3683324532944944 0 0.35632988346321076" rpy="0 0 0"/>
            <geometry>
                <box size="0.7366649065889888 0.5505940870227607 0.7126597669264215" />
            </geometry>
        </collision>
    </link>
    <joint name="2_3" type="revolute">
       <parent link="2"/>
       <child  link="3"/>
       <origin rpy="0 0 0" xyz="-0.4569698204729892 0 0.13412994588038785" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="4">
        <inertial>
            <origin xyz="-0.4083940375684384 0 0.3622183997562374" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.4083940375684384 0 0.3622183997562374" rpy="0 0 0"/>
            <geometry>
                <box size="0.8167880751368768 0.7468512593888593 0.7244367995124747" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.4083940375684384 0 0.3622183997562374" rpy="0 0 0"/>
            <geometry>
                <box size="0.8167880751368768 0.7468512593888593 0.7244367995124747" />
            </geometry>
        </collision>
    </link>
    <joint name="3_4" type="revolute">
       <parent link="3"/>
       <child  link="4"/>
       <origin rpy="0 0 0" xyz="-0.7366649065889888 0 0.7126597669264215" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="5">
        <inertial>
            <origin xyz="0.43796047424728585 0 0.26346695198004527" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.43796047424728585 0 0.26346695198004527" rpy="0 0 0"/>
            <geometry>
                <box size="0.8759209484945717 0.48046052299641717 0.5269339039600905" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.43796047424728585 0 0.26346695198004527" rpy="0 0 0"/>
            <geometry>
                <box size="0.8759209484945717 0.48046052299641717 0.5269339039600905" />
            </geometry>
        </collision>
    </link>
    <joint name="0_5" type="revolute">
       <parent link="0"/>
       <child  link="5"/>
       <origin rpy="0 0 0" xyz="0.35 0 0.7" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="6">
        <inertial>
            <origin xyz="0 -0.4564068943325322 0.37605022836701396" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.4564068943325322 0.37605022836701396" rpy="0 0 0"/>
            <geometry>
                <box size="0.6078757841671899 0.9128137886650644 0.7521004567340279" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.4564068943325322 0.37605022836701396" rpy="0 0 0"/>
            <geometry>
                <box size="0.6078757841671899 0.9128137886650644 0.7521004567340279" />
            </geometry>
        </collision>
    </link>
    <joint name="0_6" type="revolute">
       <parent link="0"/>
       <child  link="6"/>
       <origin rpy="0 0 0" xyz="0 -0.35 0.7" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="7">
        <inertial>
            <origin xyz="0 -0.013276171173862927 0.06813640617545613" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.013276171173862927 0.06813640617545613" rpy="0 0 0"/>
            <geometry>
                <box size="0.5099122999470503 0.026552342347725855 0.13627281235091226" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.013276171173862927 0.06813640617545613" rpy="0 0 0"/>
            <geometry>
                <box size="0.5099122999470503 0.026552342347725855 0.13627281235091226" />
            </geometry>
        </collision>
    </link>
    <joint name="6_7" type="revolute">
       <parent link="6"/>
       <child  link="7"/>
       <origin rpy="0 0 0" xyz="0 -0.9128137886650644 0.7521004567340279" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="8">
        <inertial>
            <origin xyz="0 -0.4601764708022151 0.4704054300493544" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.4601764708022151 0.4704054300493544" rpy="0 0 0"/>
            <geometry>
                <box size="0.6526385268995578 0.9203529416044302 0.9408108600987088" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.4601764708022151 0.4704054300493544" rpy="0 0 0"/>
            <geometry>
                <box size="0.6526385268995578 0.9203529416044302 0.9408108600987088" />
            </geometry>
        </collision>
    </link>
    <joint name="7_8" type="revolute">
       <parent link="7"/>
       <child  link="8"/>
       <origin rpy="0 0 0" xyz="0 -0.026552342347725855 0.13627281235091226" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="9">
        <inertial>
            <origin xyz="0 0.219297537919397 0.057394108148295986" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.219297537919397 0.057394108148295986" rpy="0 0 0"/>
            <geometry>
                <box size="0.407363329753061 0.438595075838794 0.11478821629659197" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.219297537919397 0.057394108148295986" rpy="0 0 0"/>
            <geometry>
                <box size="0.407363329753061 0.438595075838794 0.11478821629659197" />
            </geometry>
        </collision>
    </link>
    <joint name="0_9" type="revolute">
       <parent link="0"/>
       <child  link="9"/>
       <origin rpy="0 0 0" xyz="0 0.35 0.7" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="10">
        <inertial>
            <origin xyz="0 0.3445599083430806 0.36380598791280067" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.3445599083430806 0.36380598791280067" rpy="0 0 0"/>
            <geometry>
                <box size="0.8980697784799606 0.6891198166861612 0.7276119758256013" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.3445599083430806 0.36380598791280067" rpy="0 0 0"/>
            <geometry>
                <box size="0.8980697784799606 0.6891198166861612 0.7276119758256013" />
            </geometry>
        </collision>
    </link>
    <joint name="9_10" type="revolute">
       <parent link="9"/>
       <child  link="10"/>
       <origin rpy="0 0 0" xyz="0 0.438595075838794 0.11478821629659197" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="11">
        <inertial>
            <origin xyz="0 0.2564152460175478 0.09313245135750714" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.2564152460175478 0.09313245135750714" rpy="0 0 0"/>
            <geometry>
                <box size="0.11400252250797038 0.5128304920350956 0.18626490271501428" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.2564152460175478 0.09313245135750714" rpy="0 0 0"/>
            <geometry>
                <box size="0.11400252250797038 0.5128304920350956 0.18626490271501428" />
            </geometry>
        </collision>
    </link>
    <joint name="10_11" type="revolute">
       <parent link="10"/>
       <child  link="11"/>
       <origin rpy="0 0 0" xyz="0 0.6891198166861612 0.7276119758256013" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>