<robot name = "robot">
    <link name="0">
        <inertial>
            <origin xyz="0 0 0.35" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.35" rpy="0 0 0"/>
            <geometry>
                <box size="0.7 0.7 0.7" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.35" rpy="0 0 0"/>
            <geometry>
                <box size="0.7 0.7 0.7" />
            </geometry>
        </collision>
    </link>
    <link name="1">
        <inertial>
            <origin xyz="-0.35558818141699283 0 0.05547376398900733" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.35558818141699283 0 0.05547376398900733" rpy="0 0 0"/>
            <geometry>
                <box size="0.7111763628339857 0.23801220246653276 0.11094752797801466" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.35558818141699283 0 0.05547376398900733" rpy="0 0 0"/>
            <geometry>
                <box size="0.7111763628339857 0.23801220246653276 0.11094752797801466" />
            </geometry>
        </collision>
    </link>
    <joint name="0_1" type="revolute">
       <parent link="0"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="-0.35 0 0.7" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="2">
        <inertial>
            <origin xyz="-0.03166378577876633 0 0.39479746947472993" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.03166378577876633 0 0.39479746947472993" rpy="0 0 0"/>
            <geometry>
                <box size="0.06332757155753266 0.6884407429670157 0.7895949389494599" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.03166378577876633 0 0.39479746947472993" rpy="0 0 0"/>
            <geometry>
                <box size="0.06332757155753266 0.6884407429670157 0.7895949389494599" />
            </geometry>
        </collision>
    </link>
    <joint name="1_2" type="revolute">
       <parent link="1"/>
       <child  link="2"/>
       <origin rpy="0 0 0" xyz="-0.7111763628339857 0 0.11094752797801466" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="3">
        <inertial>
            <origin xyz="0.3371180006276856 0 0.2108776975034775" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.3371180006276856 0 0.2108776975034775" rpy="0 0 0"/>
            <geometry>
                <box size="0.6742360012553712 0.7257063522413049 0.421755395006955" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.3371180006276856 0 0.2108776975034775" rpy="0 0 0"/>
            <geometry>
                <box size="0.6742360012553712 0.7257063522413049 0.421755395006955" />
            </geometry>
        </collision>
    </link>
    <joint name="0_3" type="revolute">
       <parent link="0"/>
       <child  link="3"/>
       <origin rpy="0 0 0" xyz="0.35 0 0.7" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="4">
        <inertial>
            <origin xyz="0.19827145442807825 0 0.02159736007259494" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.19827145442807825 0 0.02159736007259494" rpy="0 0 0"/>
            <geometry>
                <box size="0.3965429088561565 0.3416597605460189 0.04319472014518988" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.19827145442807825 0 0.02159736007259494" rpy="0 0 0"/>
            <geometry>
                <box size="0.3965429088561565 0.3416597605460189 0.04319472014518988" />
            </geometry>
        </collision>
    </link>
    <joint name="3_4" type="revolute">
       <parent link="3"/>
       <child  link="4"/>
       <origin rpy="0 0 0" xyz="0.6742360012553712 0 0.421755395006955" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="5">
        <inertial>
            <origin xyz="0.027394678055542354 0 0.24585586838104878" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.027394678055542354 0 0.24585586838104878" rpy="0 0 0"/>
            <geometry>
                <box size="0.05478935611108471 0.37881640229975033 0.49171173676209756" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.027394678055542354 0 0.24585586838104878" rpy="0 0 0"/>
            <geometry>
                <box size="0.05478935611108471 0.37881640229975033 0.49171173676209756" />
            </geometry>
        </collision>
    </link>
    <joint name="4_5" type="revolute">
       <parent link="4"/>
       <child  link="5"/>
       <origin rpy="0 0 0" xyz="0.3965429088561565 0 0.04319472014518988" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="6">
        <inertial>
            <origin xyz="0 -0.0019373115943090435 0.38218157208971787" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.0019373115943090435 0.38218157208971787" rpy="0 0 0"/>
            <geometry>
                <box size="0.9640125602248731 0.003874623188618087 0.7643631441794357" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.0019373115943090435 0.38218157208971787" rpy="0 0 0"/>
            <geometry>
                <box size="0.9640125602248731 0.003874623188618087 0.7643631441794357" />
            </geometry>
        </collision>
    </link>
    <joint name="0_6" type="revolute">
       <parent link="0"/>
       <child  link="6"/>
       <origin rpy="0 0 0" xyz="0 -0.35 0.7" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="7">
        <inertial>
            <origin xyz="0 -0.04175179873847734 0.2698847201379294" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.04175179873847734 0.2698847201379294" rpy="0 0 0"/>
            <geometry>
                <box size="0.008252560291254651 0.08350359747695468 0.5397694402758588" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.04175179873847734 0.2698847201379294" rpy="0 0 0"/>
            <geometry>
                <box size="0.008252560291254651 0.08350359747695468 0.5397694402758588" />
            </geometry>
        </collision>
    </link>
    <joint name="6_7" type="revolute">
       <parent link="6"/>
       <child  link="7"/>
       <origin rpy="0 0 0" xyz="0 -0.003874623188618087 0.7643631441794357" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="8">
        <inertial>
            <origin xyz="0 -0.1778318252471079 0.034410094462837326" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.1778318252471079 0.034410094462837326" rpy="0 0 0"/>
            <geometry>
                <box size="0.09990419484775237 0.3556636504942158 0.06882018892567465" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.1778318252471079 0.034410094462837326" rpy="0 0 0"/>
            <geometry>
                <box size="0.09990419484775237 0.3556636504942158 0.06882018892567465" />
            </geometry>
        </collision>
    </link>
    <joint name="7_8" type="revolute">
       <parent link="7"/>
       <child  link="8"/>
       <origin rpy="0 0 0" xyz="0 -0.08350359747695468 0.5397694402758588" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="9">
        <inertial>
            <origin xyz="0 0.4698577322396947 0.35981763138743456" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.4698577322396947 0.35981763138743456" rpy="0 0 0"/>
            <geometry>
                <box size="0.14535719284828885 0.9397154644793894 0.7196352627748691" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.4698577322396947 0.35981763138743456" rpy="0 0 0"/>
            <geometry>
                <box size="0.14535719284828885 0.9397154644793894 0.7196352627748691" />
            </geometry>
        </collision>
    </link>
    <joint name="0_9" type="revolute">
       <parent link="0"/>
       <child  link="9"/>
       <origin rpy="0 0 0" xyz="0 0.35 0.7" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="10">
        <inertial>
            <origin xyz="0 0.37257487054284866 0.3684412091779854" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.37257487054284866 0.3684412091779854" rpy="0 0 0"/>
            <geometry>
                <box size="0.8519877057470714 0.7451497410856973 0.7368824183559708" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.37257487054284866 0.3684412091779854" rpy="0 0 0"/>
            <geometry>
                <box size="0.8519877057470714 0.7451497410856973 0.7368824183559708" />
            </geometry>
        </collision>
    </link>
    <joint name="9_10" type="revolute">
       <parent link="9"/>
       <child  link="10"/>
       <origin rpy="0 0 0" xyz="0 0.9397154644793894 0.7196352627748691" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="11">
        <inertial>
            <origin xyz="0 0.11839304924659322 0.30556372368675233" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.11839304924659322 0.30556372368675233" rpy="0 0 0"/>
            <geometry>
                <box size="0.9509227864901872 0.23678609849318644 0.6111274473735047" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.11839304924659322 0.30556372368675233" rpy="0 0 0"/>
            <geometry>
                <box size="0.9509227864901872 0.23678609849318644 0.6111274473735047" />
            </geometry>
        </collision>
    </link>
    <joint name="10_11" type="revolute">
       <parent link="10"/>
       <child  link="11"/>
       <origin rpy="0 0 0" xyz="0 0.7451497410856973 0.7368824183559708" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="12">
        <inertial>
            <origin xyz="0 0.10501530543778204 0.436461472919686" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.10501530543778204 0.436461472919686" rpy="0 0 0"/>
            <geometry>
                <box size="0.9843453464390053 0.21003061087556407 0.872922945839372" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.10501530543778204 0.436461472919686" rpy="0 0 0"/>
            <geometry>
                <box size="0.9843453464390053 0.21003061087556407 0.872922945839372" />
            </geometry>
        </collision>
    </link>
    <joint name="11_12" type="revolute">
       <parent link="11"/>
       <child  link="12"/>
       <origin rpy="0 0 0" xyz="0 0.23678609849318644 0.6111274473735047" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>