<robot name = "robot">
    <link name="0">
        <inertial>
            <origin xyz="0 0 3" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 3" rpy="0 0 0"/>
            <geometry>
                <box size="1.5 1.5 0.8" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 3" rpy="0 0 0"/>
            <geometry>
                <box size="1.5 1.5 0.8" />
            </geometry>
        </collision>
    </link>
    <link name="1">
        <inertial>
            <origin xyz="-0.3905846416070933 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.3905846416070933 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7811692832141865 0.14752916648010617 0.6977809950688156" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.3905846416070933 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7811692832141865 0.14752916648010617 0.6977809950688156" />
            </geometry>
        </collision>
    </link>
    <joint name="0_1" type="revolute">
       <parent link="0"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="-0.75 0 3" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="2">
        <inertial>
            <origin xyz="-0.3894409672947743 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.3894409672947743 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7788819345895486 0.4476246026173084 0.6549663403252338" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.3894409672947743 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7788819345895486 0.4476246026173084 0.6549663403252338" />
            </geometry>
        </collision>
    </link>
    <joint name="1_2" type="revolute">
       <parent link="1"/>
       <child  link="2"/>
       <origin rpy="0 0 0" xyz="-0.7811692832141865 0 0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="3">
        <inertial>
            <origin xyz="-0.4380058987249291 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.4380058987249291 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8760117974498582 0.06437312619746827 0.3966827656593944" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.4380058987249291 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8760117974498582 0.06437312619746827 0.3966827656593944" />
            </geometry>
        </collision>
    </link>
    <joint name="2_3" type="revolute">
       <parent link="2"/>
       <child  link="3"/>
       <origin rpy="0 0 0" xyz="-0.7788819345895486 0 0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="4">
        <inertial>
            <origin xyz="-0.3473949148596734 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.3473949148596734 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6947898297193468 0.16712260322072514 0.5995287570500232" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.3473949148596734 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6947898297193468 0.16712260322072514 0.5995287570500232" />
            </geometry>
        </collision>
    </link>
    <joint name="3_4" type="revolute">
       <parent link="3"/>
       <child  link="4"/>
       <origin rpy="0 0 0" xyz="-0.8760117974498582 0 0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="5">
        <inertial>
            <origin xyz="-0.1512648482022284 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.1512648482022284 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3025296964044568 0.18414490921242477 0.20299949551665675" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.1512648482022284 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3025296964044568 0.18414490921242477 0.20299949551665675" />
            </geometry>
        </collision>
    </link>
    <joint name="4_5" type="revolute">
       <parent link="4"/>
       <child  link="5"/>
       <origin rpy="0 0 0" xyz="-0.6947898297193468 0 0" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="6">
        <inertial>
            <origin xyz="0 0 -0.9984385694711223" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.9984385694711223" rpy="0 0 0"/>
            <geometry>
                <box size="0.1040242699489089 0.390583861486376 1.9968771389422446" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.9984385694711223" rpy="0 0 0"/>
            <geometry>
                <box size="0.1040242699489089 0.390583861486376 1.9968771389422446" />
            </geometry>
        </collision>
    </link>
    <joint name="5_6" type="revolute">
       <parent link="5"/>
       <child  link="6"/>
       <origin rpy="0 0 0" xyz="-0.1512648482022284 0 -0.10149974775832837" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="7">
        <inertial>
            <origin xyz="0 0 -0.26532850269056807" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.26532850269056807" rpy="0 0 0"/>
            <geometry>
                <box size="0.2121797222014995 0.7776373055956138 0.5306570053811361" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.26532850269056807" rpy="0 0 0"/>
            <geometry>
                <box size="0.2121797222014995 0.7776373055956138 0.5306570053811361" />
            </geometry>
        </collision>
    </link>
    <joint name="6_7" type="revolute">
       <parent link="6"/>
       <child  link="7"/>
       <origin rpy="0 0 0" xyz="0 0 -1.9968771389422446" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="8">
        <inertial>
            <origin xyz="0 0 -0.03623292783830967" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.03623292783830967" rpy="0 0 0"/>
            <geometry>
                <box size="0.09072212124853729 0.7187861741382413 0.07246585567661934" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.03623292783830967" rpy="0 0 0"/>
            <geometry>
                <box size="0.09072212124853729 0.7187861741382413 0.07246585567661934" />
            </geometry>
        </collision>
    </link>
    <joint name="7_8" type="revolute">
       <parent link="7"/>
       <child  link="8"/>
       <origin rpy="0 0 0" xyz="0 0 -0.5306570053811361" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="9">
        <inertial>
            <origin xyz="0.27917835002211083 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.27917835002211083 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5583567000442217 0.524853667761567 0.24384975882065907" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.27917835002211083 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5583567000442217 0.524853667761567 0.24384975882065907" />
            </geometry>
        </collision>
    </link>
    <joint name="0_9" type="revolute">
       <parent link="0"/>
       <child  link="9"/>
       <origin rpy="0 0 0" xyz="0.75 0 3" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="10">
        <inertial>
            <origin xyz="0.33946423490181493 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.33946423490181493 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6789284698036299 0.3974287787685803 0.514873040453435" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.33946423490181493 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6789284698036299 0.3974287787685803 0.514873040453435" />
            </geometry>
        </collision>
    </link>
    <joint name="9_10" type="revolute">
       <parent link="9"/>
       <child  link="10"/>
       <origin rpy="0 0 0" xyz="0.5583567000442217 0 0" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="11">
        <inertial>
            <origin xyz="0.11707694438142752 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.11707694438142752 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.23415388876285503 0.6024004075893616 0.43280903338159193" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.11707694438142752 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.23415388876285503 0.6024004075893616 0.43280903338159193" />
            </geometry>
        </collision>
    </link>
    <joint name="10_11" type="revolute">
       <parent link="10"/>
       <child  link="11"/>
       <origin rpy="0 0 0" xyz="0.6789284698036299 0 0" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="12">
        <inertial>
            <origin xyz="0.2087054258867001 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.2087054258867001 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4174108517734002 0.28537068520269826 0.21898950862658062" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.2087054258867001 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4174108517734002 0.28537068520269826 0.21898950862658062" />
            </geometry>
        </collision>
    </link>
    <joint name="11_12" type="revolute">
       <parent link="11"/>
       <child  link="12"/>
       <origin rpy="0 0 0" xyz="0.23415388876285503 0 0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="13">
        <inertial>
            <origin xyz="0.30616434093280603 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.30616434093280603 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6123286818656121 0.7387485031964804 0.7848197453167755" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.30616434093280603 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6123286818656121 0.7387485031964804 0.7848197453167755" />
            </geometry>
        </collision>
    </link>
    <joint name="12_13" type="revolute">
       <parent link="12"/>
       <child  link="13"/>
       <origin rpy="0 0 0" xyz="0.4174108517734002 0 0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="14">
        <inertial>
            <origin xyz="0 0 -0.9631495729670334" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.9631495729670334" rpy="0 0 0"/>
            <geometry>
                <box size="0.13910100252777147 0.32927564658731545 1.9262991459340668" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.9631495729670334" rpy="0 0 0"/>
            <geometry>
                <box size="0.13910100252777147 0.32927564658731545 1.9262991459340668" />
            </geometry>
        </collision>
    </link>
    <joint name="13_14" type="revolute">
       <parent link="13"/>
       <child  link="14"/>
       <origin rpy="0 0 0" xyz="0.30616434093280603 0 -0.3924098726583877" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="15">
        <inertial>
            <origin xyz="0 0 -0.040431875837706535" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.040431875837706535" rpy="0 0 0"/>
            <geometry>
                <box size="0.05695064253452842 0.14661472838573875 0.08086375167541307" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.040431875837706535" rpy="0 0 0"/>
            <geometry>
                <box size="0.05695064253452842 0.14661472838573875 0.08086375167541307" />
            </geometry>
        </collision>
    </link>
    <joint name="14_15" type="revolute">
       <parent link="14"/>
       <child  link="15"/>
       <origin rpy="0 0 0" xyz="0 0 -1.9262991459340668" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="16">
        <inertial>
            <origin xyz="0 0 -0.2964185511952601" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.2964185511952601" rpy="0 0 0"/>
            <geometry>
                <box size="0.04132627132683342 0.9721942687377338 0.5928371023905202" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.2964185511952601" rpy="0 0 0"/>
            <geometry>
                <box size="0.04132627132683342 0.9721942687377338 0.5928371023905202" />
            </geometry>
        </collision>
    </link>
    <joint name="15_16" type="revolute">
       <parent link="15"/>
       <child  link="16"/>
       <origin rpy="0 0 0" xyz="0 0 -0.08086375167541307" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="17">
        <inertial>
            <origin xyz="0 -0.39686234262866504 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.39686234262866504 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.08810890725822573 0.7937246852573301 0.3422015161872205" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.39686234262866504 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.08810890725822573 0.7937246852573301 0.3422015161872205" />
            </geometry>
        </collision>
    </link>
    <joint name="0_17" type="revolute">
       <parent link="0"/>
       <child  link="17"/>
       <origin rpy="0 0 0" xyz="0 -0.75 3" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="18">
        <inertial>
            <origin xyz="0 -0.4371598312444793 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.4371598312444793 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5956435154867878 0.8743196624889586 0.23056329011215693" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.4371598312444793 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5956435154867878 0.8743196624889586 0.23056329011215693" />
            </geometry>
        </collision>
    </link>
    <joint name="17_18" type="revolute">
       <parent link="17"/>
       <child  link="18"/>
       <origin rpy="0 0 0" xyz="0 -0.7937246852573301 0" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="19">
        <inertial>
            <origin xyz="0 -0.28564960227071845 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.28564960227071845 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.07264145242198339 0.5712992045414369 0.347920066866795" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.28564960227071845 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.07264145242198339 0.5712992045414369 0.347920066866795" />
            </geometry>
        </collision>
    </link>
    <joint name="18_19" type="revolute">
       <parent link="18"/>
       <child  link="19"/>
       <origin rpy="0 0 0" xyz="0 -0.8743196624889586 0" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="20">
        <inertial>
            <origin xyz="0 -0.03532548686939502 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.03532548686939502 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.513089265229826 0.07065097373879003 0.2944025680800483" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.03532548686939502 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.513089265229826 0.07065097373879003 0.2944025680800483" />
            </geometry>
        </collision>
    </link>
    <joint name="19_20" type="revolute">
       <parent link="19"/>
       <child  link="20"/>
       <origin rpy="0 0 0" xyz="0 -0.5712992045414369 0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="21">
        <inertial>
            <origin xyz="0 -0.24446631944742025 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.24446631944742025 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5876397354118248 0.4889326388948405 0.0894337013808687" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.24446631944742025 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5876397354118248 0.4889326388948405 0.0894337013808687" />
            </geometry>
        </collision>
    </link>
    <joint name="20_21" type="revolute">
       <parent link="20"/>
       <child  link="21"/>
       <origin rpy="0 0 0" xyz="0 -0.07065097373879003 0" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="22">
        <inertial>
            <origin xyz="0 0 -0.567811954075366" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.567811954075366" rpy="0 0 0"/>
            <geometry>
                <box size="0.23150154926114486 0.1671593643984991 1.135623908150732" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.567811954075366" rpy="0 0 0"/>
            <geometry>
                <box size="0.23150154926114486 0.1671593643984991 1.135623908150732" />
            </geometry>
        </collision>
    </link>
    <joint name="21_22" type="revolute">
       <parent link="21"/>
       <child  link="22"/>
       <origin rpy="0 0 0" xyz="0 -0.24446631944742025 -0.04471685069043435" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="23">
        <inertial>
            <origin xyz="0 0 -0.2537491816660444" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.2537491816660444" rpy="0 0 0"/>
            <geometry>
                <box size="0.4387051922464552 0.21664657706099388 0.5074983633320888" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.2537491816660444" rpy="0 0 0"/>
            <geometry>
                <box size="0.4387051922464552 0.21664657706099388 0.5074983633320888" />
            </geometry>
        </collision>
    </link>
    <joint name="22_23" type="revolute">
       <parent link="22"/>
       <child  link="23"/>
       <origin rpy="0 0 0" xyz="0 0 -1.135623908150732" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="24">
        <inertial>
            <origin xyz="0 0 -0.47843886425858967" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.47843886425858967" rpy="0 0 0"/>
            <geometry>
                <box size="0.8675897560450744 0.15724072192816352 0.9568777285171793" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.47843886425858967" rpy="0 0 0"/>
            <geometry>
                <box size="0.8675897560450744 0.15724072192816352 0.9568777285171793" />
            </geometry>
        </collision>
    </link>
    <joint name="23_24" type="revolute">
       <parent link="23"/>
       <child  link="24"/>
       <origin rpy="0 0 0" xyz="0 0 -0.5074983633320888" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="25">
        <inertial>
            <origin xyz="0 0.4979260679205654 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.4979260679205654 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.030506471642823496 0.9958521358411307 0.34200709290969933" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.4979260679205654 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.030506471642823496 0.9958521358411307 0.34200709290969933" />
            </geometry>
        </collision>
    </link>
    <joint name="0_25" type="revolute">
       <parent link="0"/>
       <child  link="25"/>
       <origin rpy="0 0 0" xyz="0 0.75 3" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="26">
        <inertial>
            <origin xyz="0 0.19167013797512 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.19167013797512 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8810791013046085 0.38334027595024 0.8482677616462886" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.19167013797512 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8810791013046085 0.38334027595024 0.8482677616462886" />
            </geometry>
        </collision>
    </link>
    <joint name="25_26" type="revolute">
       <parent link="25"/>
       <child  link="26"/>
       <origin rpy="0 0 0" xyz="0 0.9958521358411307 0" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="27">
        <inertial>
            <origin xyz="0 0.016581003196184718 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.016581003196184718 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.012956007359874122 0.033162006392369436 0.8408689608320962" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.016581003196184718 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.012956007359874122 0.033162006392369436 0.8408689608320962" />
            </geometry>
        </collision>
    </link>
    <joint name="26_27" type="revolute">
       <parent link="26"/>
       <child  link="27"/>
       <origin rpy="0 0 0" xyz="0 0.38334027595024 0" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="28">
        <inertial>
            <origin xyz="0 0.4879899961023558 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.4879899961023558 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.02968484887115941 0.9759799922047117 0.9581640964112416" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.4879899961023558 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.02968484887115941 0.9759799922047117 0.9581640964112416" />
            </geometry>
        </collision>
    </link>
    <joint name="27_28" type="revolute">
       <parent link="27"/>
       <child  link="28"/>
       <origin rpy="0 0 0" xyz="0 0.033162006392369436 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="29">
        <inertial>
            <origin xyz="0 0.43346172744429107 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.43346172744429107 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.45860709280625656 0.8669234548885821 0.7335624081729364" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.43346172744429107 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.45860709280625656 0.8669234548885821 0.7335624081729364" />
            </geometry>
        </collision>
    </link>
    <joint name="28_29" type="revolute">
       <parent link="28"/>
       <child  link="29"/>
       <origin rpy="0 0 0" xyz="0 0.9759799922047117 0" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="30">
        <inertial>
            <origin xyz="0 0 -1.2151477393104924" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -1.2151477393104924" rpy="0 0 0"/>
            <geometry>
                <box size="0.8907510769846545 0.6582547802160781 2.4302954786209847" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -1.2151477393104924" rpy="0 0 0"/>
            <geometry>
                <box size="0.8907510769846545 0.6582547802160781 2.4302954786209847" />
            </geometry>
        </collision>
    </link>
    <joint name="29_30" type="revolute">
       <parent link="29"/>
       <child  link="30"/>
       <origin rpy="0 0 0" xyz="0 0.43346172744429107 -0.3667812040864682" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="31">
        <inertial>
            <origin xyz="0 0 -0.07516392329199437" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.07516392329199437" rpy="0 0 0"/>
            <geometry>
                <box size="0.4758388039780459 0.9170762088862486 0.15032784658398873" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.07516392329199437" rpy="0 0 0"/>
            <geometry>
                <box size="0.4758388039780459 0.9170762088862486 0.15032784658398873" />
            </geometry>
        </collision>
    </link>
    <joint name="30_31" type="revolute">
       <parent link="30"/>
       <child  link="31"/>
       <origin rpy="0 0 0" xyz="0 0 -2.4302954786209847" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="32">
        <inertial>
            <origin xyz="0 0 -0.009688337397513319" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.009688337397513319" rpy="0 0 0"/>
            <geometry>
                <box size="0.5064650262868609 0.79177539469394 0.019376674795026638" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.009688337397513319" rpy="0 0 0"/>
            <geometry>
                <box size="0.5064650262868609 0.79177539469394 0.019376674795026638" />
            </geometry>
        </collision>
    </link>
    <joint name="31_32" type="revolute">
       <parent link="31"/>
       <child  link="32"/>
       <origin rpy="0 0 0" xyz="0 0 -0.15032784658398873" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>