<robot name = "robot">
    <link name="0">
        <inertial>
            <origin xyz="0 0 3" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 3" rpy="0 0 0"/>
            <geometry>
                <box size="1.5 1.5 0.8" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 3" rpy="0 0 0"/>
            <geometry>
                <box size="1.5 1.5 0.8" />
            </geometry>
        </collision>
    </link>
    <link name="1">
        <inertial>
            <origin xyz="-0.03925458475289978 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.03925458475289978 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.07850916950579956 0.7828334607068838 0.6651553341756208" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.03925458475289978 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.07850916950579956 0.7828334607068838 0.6651553341756208" />
            </geometry>
        </collision>
    </link>
    <joint name="0_1" type="revolute">
       <parent link="0"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="-0.75 0 3" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="2">
        <inertial>
            <origin xyz="-0.17826537527093017 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.17826537527093017 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.35653075054186034 0.2515784444369519 0.9906345958596695" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.17826537527093017 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.35653075054186034 0.2515784444369519 0.9906345958596695" />
            </geometry>
        </collision>
    </link>
    <joint name="1_2" type="revolute">
       <parent link="1"/>
       <child  link="2"/>
       <origin rpy="0 0 0" xyz="-0.07850916950579956 0 0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="3">
        <inertial>
            <origin xyz="-0.24481628718132104 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.24481628718132104 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.48963257436264207 0.004056251487331686 0.9771944638918633" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.24481628718132104 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.48963257436264207 0.004056251487331686 0.9771944638918633" />
            </geometry>
        </collision>
    </link>
    <joint name="2_3" type="revolute">
       <parent link="2"/>
       <child  link="3"/>
       <origin rpy="0 0 0" xyz="-0.35653075054186034 0 0" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="4">
        <inertial>
            <origin xyz="-0.1602136426612497 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.1602136426612497 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3204272853224994 0.7267091567475465 0.16790166279902397" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.1602136426612497 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3204272853224994 0.7267091567475465 0.16790166279902397" />
            </geometry>
        </collision>
    </link>
    <joint name="3_4" type="revolute">
       <parent link="3"/>
       <child  link="4"/>
       <origin rpy="0 0 0" xyz="-0.48963257436264207 0 0" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="5">
        <inertial>
            <origin xyz="-0.048358198198094615 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.048358198198094615 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.09671639639618923 0.6104977423030914 0.9381151054922251" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.048358198198094615 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.09671639639618923 0.6104977423030914 0.9381151054922251" />
            </geometry>
        </collision>
    </link>
    <joint name="4_5" type="revolute">
       <parent link="4"/>
       <child  link="5"/>
       <origin rpy="0 0 0" xyz="-0.3204272853224994 0 0" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="6">
        <inertial>
            <origin xyz="0 0 -0.16043615922620239" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.16043615922620239" rpy="0 0 0"/>
            <geometry>
                <box size="0.5191282446345501 0.21999657059092537 0.32087231845240477" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.16043615922620239" rpy="0 0 0"/>
            <geometry>
                <box size="0.5191282446345501 0.21999657059092537 0.32087231845240477" />
            </geometry>
        </collision>
    </link>
    <joint name="5_6" type="revolute">
       <parent link="5"/>
       <child  link="6"/>
       <origin rpy="0 0 0" xyz="-0.048358198198094615 0 -0.46905755274611255" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="7">
        <inertial>
            <origin xyz="0 0 -0.889159689355444" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.889159689355444" rpy="0 0 0"/>
            <geometry>
                <box size="0.5071970290196433 0.750011954298686 1.778319378710888" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.889159689355444" rpy="0 0 0"/>
            <geometry>
                <box size="0.5071970290196433 0.750011954298686 1.778319378710888" />
            </geometry>
        </collision>
    </link>
    <joint name="6_7" type="revolute">
       <parent link="6"/>
       <child  link="7"/>
       <origin rpy="0 0 0" xyz="0 0 -0.32087231845240477" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="8">
        <inertial>
            <origin xyz="0 0 -0.2504041514183536" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.2504041514183536" rpy="0 0 0"/>
            <geometry>
                <box size="0.7978925874665765 0.5192786184020024 0.5008083028367072" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.2504041514183536" rpy="0 0 0"/>
            <geometry>
                <box size="0.7978925874665765 0.5192786184020024 0.5008083028367072" />
            </geometry>
        </collision>
    </link>
    <joint name="7_8" type="revolute">
       <parent link="7"/>
       <child  link="8"/>
       <origin rpy="0 0 0" xyz="0 0 -1.778319378710888" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="9">
        <inertial>
            <origin xyz="0.3235719921926721 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.3235719921926721 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6471439843853442 0.04379571158340578 0.3820208628280194" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.3235719921926721 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6471439843853442 0.04379571158340578 0.3820208628280194" />
            </geometry>
        </collision>
    </link>
    <joint name="0_9" type="revolute">
       <parent link="0"/>
       <child  link="9"/>
       <origin rpy="0 0 0" xyz="0.75 0 3" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="10">
        <inertial>
            <origin xyz="0.3627476375920513 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.3627476375920513 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7254952751841026 0.2634252632834727 0.2455115247039199" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.3627476375920513 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7254952751841026 0.2634252632834727 0.2455115247039199" />
            </geometry>
        </collision>
    </link>
    <joint name="9_10" type="revolute">
       <parent link="9"/>
       <child  link="10"/>
       <origin rpy="0 0 0" xyz="0.6471439843853442 0 0" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="11">
        <inertial>
            <origin xyz="0.013691824513078266 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.013691824513078266 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.02738364902615653 0.520134963599632 0.5524332005163247" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.013691824513078266 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.02738364902615653 0.520134963599632 0.5524332005163247" />
            </geometry>
        </collision>
    </link>
    <joint name="10_11" type="revolute">
       <parent link="10"/>
       <child  link="11"/>
       <origin rpy="0 0 0" xyz="0.7254952751841026 0 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="12">
        <inertial>
            <origin xyz="0.4447365012139623 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.4447365012139623 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8894730024279246 0.4856697519622273 0.38526139170644214" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.4447365012139623 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8894730024279246 0.4856697519622273 0.38526139170644214" />
            </geometry>
        </collision>
    </link>
    <joint name="11_12" type="revolute">
       <parent link="11"/>
       <child  link="12"/>
       <origin rpy="0 0 0" xyz="0.02738364902615653 0 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="13">
        <inertial>
            <origin xyz="0.2705827555883512 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.2705827555883512 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5411655111767024 0.029993796865688704 0.30226485183570184" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.2705827555883512 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5411655111767024 0.029993796865688704 0.30226485183570184" />
            </geometry>
        </collision>
    </link>
    <joint name="12_13" type="revolute">
       <parent link="12"/>
       <child  link="13"/>
       <origin rpy="0 0 0" xyz="0.8894730024279246 0 0" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="14">
        <inertial>
            <origin xyz="0 0 -0.42265658807913453" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.42265658807913453" rpy="0 0 0"/>
            <geometry>
                <box size="0.07319773433540033 0.6134653404031102 0.8453131761582691" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.42265658807913453" rpy="0 0 0"/>
            <geometry>
                <box size="0.07319773433540033 0.6134653404031102 0.8453131761582691" />
            </geometry>
        </collision>
    </link>
    <joint name="13_14" type="revolute">
       <parent link="13"/>
       <child  link="14"/>
       <origin rpy="0 0 0" xyz="0.2705827555883512 0 -0.15113242591785092" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="15">
        <inertial>
            <origin xyz="0 0 -0.006839972413878148" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.006839972413878148" rpy="0 0 0"/>
            <geometry>
                <box size="0.29313286898613977 0.8376415006613999 0.013679944827756295" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.006839972413878148" rpy="0 0 0"/>
            <geometry>
                <box size="0.29313286898613977 0.8376415006613999 0.013679944827756295" />
            </geometry>
        </collision>
    </link>
    <joint name="14_15" type="revolute">
       <parent link="14"/>
       <child  link="15"/>
       <origin rpy="0 0 0" xyz="0 0 -0.8453131761582691" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="16">
        <inertial>
            <origin xyz="0 0 -0.8705034395069874" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.8705034395069874" rpy="0 0 0"/>
            <geometry>
                <box size="0.6536801279667851 0.4005183806441974 1.7410068790139748" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.8705034395069874" rpy="0 0 0"/>
            <geometry>
                <box size="0.6536801279667851 0.4005183806441974 1.7410068790139748" />
            </geometry>
        </collision>
    </link>
    <joint name="15_16" type="revolute">
       <parent link="15"/>
       <child  link="16"/>
       <origin rpy="0 0 0" xyz="0 0 -0.013679944827756295" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="17">
        <inertial>
            <origin xyz="0 -0.4649198695269641 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.4649198695269641 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5033280946356132 0.9298397390539282 0.5459855267244785" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.4649198695269641 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5033280946356132 0.9298397390539282 0.5459855267244785" />
            </geometry>
        </collision>
    </link>
    <joint name="0_17" type="revolute">
       <parent link="0"/>
       <child  link="17"/>
       <origin rpy="0 0 0" xyz="0 -0.75 3" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="18">
        <inertial>
            <origin xyz="0 -0.1727156206756964 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.1727156206756964 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7755426143178197 0.3454312413513928 0.3202583399161486" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.1727156206756964 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7755426143178197 0.3454312413513928 0.3202583399161486" />
            </geometry>
        </collision>
    </link>
    <joint name="17_18" type="revolute">
       <parent link="17"/>
       <child  link="18"/>
       <origin rpy="0 0 0" xyz="0 -0.9298397390539282 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="19">
        <inertial>
            <origin xyz="0 -0.44990569572229633 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.44990569572229633 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5984482905402106 0.8998113914445927 0.683034396810331" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.44990569572229633 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5984482905402106 0.8998113914445927 0.683034396810331" />
            </geometry>
        </collision>
    </link>
    <joint name="18_19" type="revolute">
       <parent link="18"/>
       <child  link="19"/>
       <origin rpy="0 0 0" xyz="0 -0.3454312413513928 0" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="20">
        <inertial>
            <origin xyz="0 -0.055122593403018894 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.055122593403018894 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6395329280129771 0.11024518680603779 0.6819859385664468" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.055122593403018894 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6395329280129771 0.11024518680603779 0.6819859385664468" />
            </geometry>
        </collision>
    </link>
    <joint name="19_20" type="revolute">
       <parent link="19"/>
       <child  link="20"/>
       <origin rpy="0 0 0" xyz="0 -0.8998113914445927 0" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="21">
        <inertial>
            <origin xyz="0 -0.016811297815614246 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.016811297815614246 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7313829162919006 0.03362259563122849 0.47860123925358067" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.016811297815614246 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7313829162919006 0.03362259563122849 0.47860123925358067" />
            </geometry>
        </collision>
    </link>
    <joint name="20_21" type="revolute">
       <parent link="20"/>
       <child  link="21"/>
       <origin rpy="0 0 0" xyz="0 -0.11024518680603779 0" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="22">
        <inertial>
            <origin xyz="0 0 -0.19704939236581123" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.19704939236581123" rpy="0 0 0"/>
            <geometry>
                <box size="0.06492346282476358 0.5940020499368456 0.39409878473162246" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.19704939236581123" rpy="0 0 0"/>
            <geometry>
                <box size="0.06492346282476358 0.5940020499368456 0.39409878473162246" />
            </geometry>
        </collision>
    </link>
    <joint name="21_22" type="revolute">
       <parent link="21"/>
       <child  link="22"/>
       <origin rpy="0 0 0" xyz="0 -0.016811297815614246 -0.23930061962679033" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="23">
        <inertial>
            <origin xyz="0 0 -0.508764125784569" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.508764125784569" rpy="0 0 0"/>
            <geometry>
                <box size="0.35109639632891654 0.28373970752886424 1.017528251569138" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.508764125784569" rpy="0 0 0"/>
            <geometry>
                <box size="0.35109639632891654 0.28373970752886424 1.017528251569138" />
            </geometry>
        </collision>
    </link>
    <joint name="22_23" type="revolute">
       <parent link="22"/>
       <child  link="23"/>
       <origin rpy="0 0 0" xyz="0 0 -0.39409878473162246" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="24">
        <inertial>
            <origin xyz="0 0 -0.5941864818496199" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.5941864818496199" rpy="0 0 0"/>
            <geometry>
                <box size="0.15493740552358293 0.8286035996203829 1.1883729636992397" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.5941864818496199" rpy="0 0 0"/>
            <geometry>
                <box size="0.15493740552358293 0.8286035996203829 1.1883729636992397" />
            </geometry>
        </collision>
    </link>
    <joint name="23_24" type="revolute">
       <parent link="23"/>
       <child  link="24"/>
       <origin rpy="0 0 0" xyz="0 0 -1.017528251569138" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="25">
        <inertial>
            <origin xyz="0 0.3229012889519557 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.3229012889519557 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9867001731704109 0.6458025779039114 0.521969088225196" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.3229012889519557 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9867001731704109 0.6458025779039114 0.521969088225196" />
            </geometry>
        </collision>
    </link>
    <joint name="0_25" type="revolute">
       <parent link="0"/>
       <child  link="25"/>
       <origin rpy="0 0 0" xyz="0 0.75 3" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="26">
        <inertial>
            <origin xyz="0 0.21699537446354922 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.21699537446354922 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8936850038086358 0.43399074892709844 0.9412375965135688" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.21699537446354922 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8936850038086358 0.43399074892709844 0.9412375965135688" />
            </geometry>
        </collision>
    </link>
    <joint name="25_26" type="revolute">
       <parent link="25"/>
       <child  link="26"/>
       <origin rpy="0 0 0" xyz="0 0.6458025779039114 0" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="27">
        <inertial>
            <origin xyz="0 0.05049239772942171 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.05049239772942171 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.1804459200376224 0.10098479545884342 0.5359108677586398" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.05049239772942171 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.1804459200376224 0.10098479545884342 0.5359108677586398" />
            </geometry>
        </collision>
    </link>
    <joint name="26_27" type="revolute">
       <parent link="26"/>
       <child  link="27"/>
       <origin rpy="0 0 0" xyz="0 0.43399074892709844 0" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="28">
        <inertial>
            <origin xyz="0 0.4098828258424774 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.4098828258424774 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.050435153708225045 0.8197656516849549 0.9619360468897682" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.4098828258424774 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.050435153708225045 0.8197656516849549 0.9619360468897682" />
            </geometry>
        </collision>
    </link>
    <joint name="27_28" type="revolute">
       <parent link="27"/>
       <child  link="28"/>
       <origin rpy="0 0 0" xyz="0 0.10098479545884342 0" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="29">
        <inertial>
            <origin xyz="0 0.32897499070076336 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.32897499070076336 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7607412984927803 0.6579499814015267 0.7622224659255872" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.32897499070076336 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7607412984927803 0.6579499814015267 0.7622224659255872" />
            </geometry>
        </collision>
    </link>
    <joint name="28_29" type="revolute">
       <parent link="28"/>
       <child  link="29"/>
       <origin rpy="0 0 0" xyz="0 0.8197656516849549 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="30">
        <inertial>
            <origin xyz="0 0 -0.26494464835127496" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.26494464835127496" rpy="0 0 0"/>
            <geometry>
                <box size="0.07768920457066042 0.4677480453208087 0.5298892967025499" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.26494464835127496" rpy="0 0 0"/>
            <geometry>
                <box size="0.07768920457066042 0.4677480453208087 0.5298892967025499" />
            </geometry>
        </collision>
    </link>
    <joint name="29_30" type="revolute">
       <parent link="29"/>
       <child  link="30"/>
       <origin rpy="0 0 0" xyz="0 0.32897499070076336 -0.3811112329627936" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="31">
        <inertial>
            <origin xyz="0 0 -0.5597001852530972" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.5597001852530972" rpy="0 0 0"/>
            <geometry>
                <box size="0.2770140146201453 0.9276609788456999 1.1194003705061943" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.5597001852530972" rpy="0 0 0"/>
            <geometry>
                <box size="0.2770140146201453 0.9276609788456999 1.1194003705061943" />
            </geometry>
        </collision>
    </link>
    <joint name="30_31" type="revolute">
       <parent link="30"/>
       <child  link="31"/>
       <origin rpy="0 0 0" xyz="0 0 -0.5298892967025499" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="32">
        <inertial>
            <origin xyz="0 0 -0.4753551663956279" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.4753551663956279" rpy="0 0 0"/>
            <geometry>
                <box size="0.03728089709302995 0.4151643943122302 0.9507103327912558" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.4753551663956279" rpy="0 0 0"/>
            <geometry>
                <box size="0.03728089709302995 0.4151643943122302 0.9507103327912558" />
            </geometry>
        </collision>
    </link>
    <joint name="31_32" type="revolute">
       <parent link="31"/>
       <child  link="32"/>
       <origin rpy="0 0 0" xyz="0 0 -1.1194003705061943" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>