<robot name = "robot">
    <link name="0">
        <inertial>
            <origin xyz="0 0 0.35" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.35" rpy="0 0 0"/>
            <geometry>
                <box size="0.7 0.7 0.7" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.35" rpy="0 0 0"/>
            <geometry>
                <box size="0.7 0.7 0.7" />
            </geometry>
        </collision>
    </link>
    <link name="1">
        <inertial>
            <origin xyz="-0.14775212875346666 0 0.07928334009322718" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.14775212875346666 0 0.07928334009322718" rpy="0 0 0"/>
            <geometry>
                <box size="0.2955042575069333 0.7721285970642104 0.15856668018645437" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.14775212875346666 0 0.07928334009322718" rpy="0 0 0"/>
            <geometry>
                <box size="0.2955042575069333 0.7721285970642104 0.15856668018645437" />
            </geometry>
        </collision>
    </link>
    <joint name="0_1" type="revolute">
       <parent link="0"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="-0.35 0 0.7" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="2">
        <inertial>
            <origin xyz="-0.3288591357395681 0 0.41716501280627083" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.3288591357395681 0 0.41716501280627083" rpy="0 0 0"/>
            <geometry>
                <box size="0.6577182714791362 0.5169956042460142 0.8343300256125417" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.3288591357395681 0 0.41716501280627083" rpy="0 0 0"/>
            <geometry>
                <box size="0.6577182714791362 0.5169956042460142 0.8343300256125417" />
            </geometry>
        </collision>
    </link>
    <joint name="1_2" type="revolute">
       <parent link="1"/>
       <child  link="2"/>
       <origin rpy="0 0 0" xyz="-0.2955042575069333 0 0.15856668018645437" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="3">
        <inertial>
            <origin xyz="0.07016361011320338 0 0.3053782688453517" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.07016361011320338 0 0.3053782688453517" rpy="0 0 0"/>
            <geometry>
                <box size="0.14032722022640676 0.20249253970605596 0.6107565376907034" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.07016361011320338 0 0.3053782688453517" rpy="0 0 0"/>
            <geometry>
                <box size="0.14032722022640676 0.20249253970605596 0.6107565376907034" />
            </geometry>
        </collision>
    </link>
    <joint name="0_3" type="revolute">
       <parent link="0"/>
       <child  link="3"/>
       <origin rpy="0 0 0" xyz="0.35 0 0.7" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="4">
        <inertial>
            <origin xyz="0.36938330850103085 0 0.37984708322435395" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.36938330850103085 0 0.37984708322435395" rpy="0 0 0"/>
            <geometry>
                <box size="0.7387666170020617 0.7432789424213572 0.7596941664487079" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.36938330850103085 0 0.37984708322435395" rpy="0 0 0"/>
            <geometry>
                <box size="0.7387666170020617 0.7432789424213572 0.7596941664487079" />
            </geometry>
        </collision>
    </link>
    <joint name="3_4" type="revolute">
       <parent link="3"/>
       <child  link="4"/>
       <origin rpy="0 0 0" xyz="0.14032722022640676 0 0.6107565376907034" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="5">
        <inertial>
            <origin xyz="0 -0.05167825894178374 0.20520891534416885" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.05167825894178374 0.20520891534416885" rpy="0 0 0"/>
            <geometry>
                <box size="0.41303380482514185 0.10335651788356748 0.4104178306883377" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.05167825894178374 0.20520891534416885" rpy="0 0 0"/>
            <geometry>
                <box size="0.41303380482514185 0.10335651788356748 0.4104178306883377" />
            </geometry>
        </collision>
    </link>
    <joint name="0_5" type="revolute">
       <parent link="0"/>
       <child  link="5"/>
       <origin rpy="0 0 0" xyz="0 -0.35 0.7" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="6">
        <inertial>
            <origin xyz="0 0.2859794838340323 0.20895506758222954" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.2859794838340323 0.20895506758222954" rpy="0 0 0"/>
            <geometry>
                <box size="0.9627424328992099 0.5719589676680646 0.4179101351644591" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.2859794838340323 0.20895506758222954" rpy="0 0 0"/>
            <geometry>
                <box size="0.9627424328992099 0.5719589676680646 0.4179101351644591" />
            </geometry>
        </collision>
    </link>
    <joint name="0_6" type="revolute">
       <parent link="0"/>
       <child  link="6"/>
       <origin rpy="0 0 0" xyz="0 0.35 0.7" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="7">
        <inertial>
            <origin xyz="0 0.4258426593701662 0.3463217037092984" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.4258426593701662 0.3463217037092984" rpy="0 0 0"/>
            <geometry>
                <box size="0.11102607383997976 0.8516853187403324 0.6926434074185968" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.4258426593701662 0.3463217037092984" rpy="0 0 0"/>
            <geometry>
                <box size="0.11102607383997976 0.8516853187403324 0.6926434074185968" />
            </geometry>
        </collision>
    </link>
    <joint name="6_7" type="revolute">
       <parent link="6"/>
       <child  link="7"/>
       <origin rpy="0 0 0" xyz="0 0.5719589676680646 0.4179101351644591" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="8">
        <inertial>
            <origin xyz="0 0.2776758283206094 0.19225045162514293" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.2776758283206094 0.19225045162514293" rpy="0 0 0"/>
            <geometry>
                <box size="0.39068445210249425 0.5553516566412188 0.38450090325028585" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.2776758283206094 0.19225045162514293" rpy="0 0 0"/>
            <geometry>
                <box size="0.39068445210249425 0.5553516566412188 0.38450090325028585" />
            </geometry>
        </collision>
    </link>
    <joint name="7_8" type="revolute">
       <parent link="7"/>
       <child  link="8"/>
       <origin rpy="0 0 0" xyz="0 0.8516853187403324 0.6926434074185968" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="9">
        <inertial>
            <origin xyz="0 0.1500113687821164 0.26843713337195185" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.1500113687821164 0.26843713337195185" rpy="0 0 0"/>
            <geometry>
                <box size="0.03414645735440358 0.3000227375642328 0.5368742667439037" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.1500113687821164 0.26843713337195185" rpy="0 0 0"/>
            <geometry>
                <box size="0.03414645735440358 0.3000227375642328 0.5368742667439037" />
            </geometry>
        </collision>
    </link>
    <joint name="8_9" type="revolute">
       <parent link="8"/>
       <child  link="9"/>
       <origin rpy="0 0 0" xyz="0 0.5553516566412188 0.38450090325028585" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="10">
        <inertial>
            <origin xyz="0 0.0439648658843263 0.4600808744508065" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.0439648658843263 0.4600808744508065" rpy="0 0 0"/>
            <geometry>
                <box size="0.581582384049425 0.0879297317686526 0.920161748901613" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.0439648658843263 0.4600808744508065" rpy="0 0 0"/>
            <geometry>
                <box size="0.581582384049425 0.0879297317686526 0.920161748901613" />
            </geometry>
        </collision>
    </link>
    <joint name="9_10" type="revolute">
       <parent link="9"/>
       <child  link="10"/>
       <origin rpy="0 0 0" xyz="0 0.3000227375642328 0.5368742667439037" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>