<robot name = "robot">
    <link name="0">
        <inertial>
            <origin xyz="0 0 0.35" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.35" rpy="0 0 0"/>
            <geometry>
                <box size="0.7 0.7 0.7" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.35" rpy="0 0 0"/>
            <geometry>
                <box size="0.7 0.7 0.7" />
            </geometry>
        </collision>
    </link>
    <link name="1">
        <inertial>
            <origin xyz="-0.0509872010869577 0 0.3655918583897121" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.0509872010869577 0 0.3655918583897121" rpy="0 0 0"/>
            <geometry>
                <box size="0.1019744021739154 0.24933071444268662 0.7311837167794242" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.0509872010869577 0 0.3655918583897121" rpy="0 0 0"/>
            <geometry>
                <box size="0.1019744021739154 0.24933071444268662 0.7311837167794242" />
            </geometry>
        </collision>
    </link>
    <joint name="0_1" type="revolute">
       <parent link="0"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="-0.35 0 0.7" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="2">
        <inertial>
            <origin xyz="-0.13974118300555516 0 0.38286272581457087" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.13974118300555516 0 0.38286272581457087" rpy="0 0 0"/>
            <geometry>
                <box size="0.2794823660111103 0.9163453718085519 0.7657254516291417" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.13974118300555516 0 0.38286272581457087" rpy="0 0 0"/>
            <geometry>
                <box size="0.2794823660111103 0.9163453718085519 0.7657254516291417" />
            </geometry>
        </collision>
    </link>
    <joint name="1_2" type="revolute">
       <parent link="1"/>
       <child  link="2"/>
       <origin rpy="0 0 0" xyz="-0.1019744021739154 0 0.7311837167794242" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="3">
        <inertial>
            <origin xyz="-0.380962713797193 0 0.3089630924815406" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.380962713797193 0 0.3089630924815406" rpy="0 0 0"/>
            <geometry>
                <box size="0.761925427594386 0.0719317357150272 0.6179261849630812" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.380962713797193 0 0.3089630924815406" rpy="0 0 0"/>
            <geometry>
                <box size="0.761925427594386 0.0719317357150272 0.6179261849630812" />
            </geometry>
        </collision>
    </link>
    <joint name="2_3" type="revolute">
       <parent link="2"/>
       <child  link="3"/>
       <origin rpy="0 0 0" xyz="-0.2794823660111103 0 0.7657254516291417" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="4">
        <inertial>
            <origin xyz="-0.06334961627513486 0 0.43570237236214104" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.06334961627513486 0 0.43570237236214104" rpy="0 0 0"/>
            <geometry>
                <box size="0.1266992325502697 0.0017748622025346439 0.8714047447242821" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.06334961627513486 0 0.43570237236214104" rpy="0 0 0"/>
            <geometry>
                <box size="0.1266992325502697 0.0017748622025346439 0.8714047447242821" />
            </geometry>
        </collision>
    </link>
    <joint name="3_4" type="revolute">
       <parent link="3"/>
       <child  link="4"/>
       <origin rpy="0 0 0" xyz="-0.761925427594386 0 0.6179261849630812" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="5">
        <inertial>
            <origin xyz="0.38679685151383714 0 0.48755148848064556" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.38679685151383714 0 0.48755148848064556" rpy="0 0 0"/>
            <geometry>
                <box size="0.7735937030276743 0.797173333333238 0.9751029769612911" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.38679685151383714 0 0.48755148848064556" rpy="0 0 0"/>
            <geometry>
                <box size="0.7735937030276743 0.797173333333238 0.9751029769612911" />
            </geometry>
        </collision>
    </link>
    <joint name="0_5" type="revolute">
       <parent link="0"/>
       <child  link="5"/>
       <origin rpy="0 0 0" xyz="0.35 0 0.7" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="6">
        <inertial>
            <origin xyz="0 -0.48073899447504176 0.2696117344354053" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.48073899447504176 0.2696117344354053" rpy="0 0 0"/>
            <geometry>
                <box size="0.2893051677469265 0.9614779889500835 0.5392234688708106" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.48073899447504176 0.2696117344354053" rpy="0 0 0"/>
            <geometry>
                <box size="0.2893051677469265 0.9614779889500835 0.5392234688708106" />
            </geometry>
        </collision>
    </link>
    <joint name="0_6" type="revolute">
       <parent link="0"/>
       <child  link="6"/>
       <origin rpy="0 0 0" xyz="0 -0.35 0.7" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="7">
        <inertial>
            <origin xyz="0 -0.4842783871689511 0.09843952196301631" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.4842783871689511 0.09843952196301631" rpy="0 0 0"/>
            <geometry>
                <box size="0.1816686685456037 0.9685567743379022 0.19687904392603262" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.4842783871689511 0.09843952196301631" rpy="0 0 0"/>
            <geometry>
                <box size="0.1816686685456037 0.9685567743379022 0.19687904392603262" />
            </geometry>
        </collision>
    </link>
    <joint name="6_7" type="revolute">
       <parent link="6"/>
       <child  link="7"/>
       <origin rpy="0 0 0" xyz="0 -0.9614779889500835 0.5392234688708106" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="8">
        <inertial>
            <origin xyz="0 -0.18059496736119207 0.0829780285648728" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.18059496736119207 0.0829780285648728" rpy="0 0 0"/>
            <geometry>
                <box size="0.30365013209192926 0.36118993472238414 0.1659560571297456" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.18059496736119207 0.0829780285648728" rpy="0 0 0"/>
            <geometry>
                <box size="0.30365013209192926 0.36118993472238414 0.1659560571297456" />
            </geometry>
        </collision>
    </link>
    <joint name="7_8" type="revolute">
       <parent link="7"/>
       <child  link="8"/>
       <origin rpy="0 0 0" xyz="0 -0.9685567743379022 0.19687904392603262" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="9">
        <inertial>
            <origin xyz="0 -0.16592724361031908 0.16806082283545848" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.16592724361031908 0.16806082283545848" rpy="0 0 0"/>
            <geometry>
                <box size="0.26381193894997024 0.33185448722063815 0.33612164567091696" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.16592724361031908 0.16806082283545848" rpy="0 0 0"/>
            <geometry>
                <box size="0.26381193894997024 0.33185448722063815 0.33612164567091696" />
            </geometry>
        </collision>
    </link>
    <joint name="8_9" type="revolute">
       <parent link="8"/>
       <child  link="9"/>
       <origin rpy="0 0 0" xyz="0 -0.36118993472238414 0.1659560571297456" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="10">
        <inertial>
            <origin xyz="0 -0.3389671247738456 0.16894843081393257" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.3389671247738456 0.16894843081393257" rpy="0 0 0"/>
            <geometry>
                <box size="0.003383119374356758 0.6779342495476912 0.33789686162786514" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.3389671247738456 0.16894843081393257" rpy="0 0 0"/>
            <geometry>
                <box size="0.003383119374356758 0.6779342495476912 0.33789686162786514" />
            </geometry>
        </collision>
    </link>
    <joint name="9_10" type="revolute">
       <parent link="9"/>
       <child  link="10"/>
       <origin rpy="0 0 0" xyz="0 -0.33185448722063815 0.33612164567091696" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>