<robot name = "robot">
    <link name="0">
        <inertial>
            <origin xyz="0 0 0.35" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.35" rpy="0 0 0"/>
            <geometry>
                <box size="0.7 0.7 0.7" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.35" rpy="0 0 0"/>
            <geometry>
                <box size="0.7 0.7 0.7" />
            </geometry>
        </collision>
    </link>
    <link name="1">
        <inertial>
            <origin xyz="-0.193781147936897 0 0.36864540127883033" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.193781147936897 0 0.36864540127883033" rpy="0 0 0"/>
            <geometry>
                <box size="0.387562295873794 0.21793204112805953 0.7372908025576607" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.193781147936897 0 0.36864540127883033" rpy="0 0 0"/>
            <geometry>
                <box size="0.387562295873794 0.21793204112805953 0.7372908025576607" />
            </geometry>
        </collision>
    </link>
    <joint name="0_1" type="revolute">
       <parent link="0"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="-0.35 0 0.7" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="2">
        <inertial>
            <origin xyz="0 -0.24305168695055357 0.0258832571465355" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.24305168695055357 0.0258832571465355" rpy="0 0 0"/>
            <geometry>
                <box size="0.12355521278119086 0.48610337390110714 0.051766514293071" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.24305168695055357 0.0258832571465355" rpy="0 0 0"/>
            <geometry>
                <box size="0.12355521278119086 0.48610337390110714 0.051766514293071" />
            </geometry>
        </collision>
    </link>
    <joint name="0_2" type="revolute">
       <parent link="0"/>
       <child  link="2"/>
       <origin rpy="0 0 0" xyz="0 -0.35 0.7" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="3">
        <inertial>
            <origin xyz="0 -0.21723683532527738 0.32620655544349986" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.21723683532527738 0.32620655544349986" rpy="0 0 0"/>
            <geometry>
                <box size="0.5451183329238011 0.43447367065055476 0.6524131108869997" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.21723683532527738 0.32620655544349986" rpy="0 0 0"/>
            <geometry>
                <box size="0.5451183329238011 0.43447367065055476 0.6524131108869997" />
            </geometry>
        </collision>
    </link>
    <joint name="2_3" type="revolute">
       <parent link="2"/>
       <child  link="3"/>
       <origin rpy="0 0 0" xyz="0 -0.48610337390110714 0.051766514293071" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="4">
        <inertial>
            <origin xyz="0 -0.07382918026735674 0.2832593725534212" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.07382918026735674 0.2832593725534212" rpy="0 0 0"/>
            <geometry>
                <box size="0.4315679565841025 0.14765836053471348 0.5665187451068424" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.07382918026735674 0.2832593725534212" rpy="0 0 0"/>
            <geometry>
                <box size="0.4315679565841025 0.14765836053471348 0.5665187451068424" />
            </geometry>
        </collision>
    </link>
    <joint name="3_4" type="revolute">
       <parent link="3"/>
       <child  link="4"/>
       <origin rpy="0 0 0" xyz="0 -0.43447367065055476 0.6524131108869997" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>