<robot name = "robot">
    <link name="0">
        <inertial>
            <origin xyz="0 0 0.35" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.35" rpy="0 0 0"/>
            <geometry>
                <box size="0.7 0.7 0.7" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.35" rpy="0 0 0"/>
            <geometry>
                <box size="0.7 0.7 0.7" />
            </geometry>
        </collision>
    </link>
    <link name="1">
        <inertial>
            <origin xyz="0 0.20138836150961587 0.49276798361577817" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.20138836150961587 0.49276798361577817" rpy="0 0 0"/>
            <geometry>
                <box size="0.9186566841277481 0.40277672301923173 0.9855359672315563" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.20138836150961587 0.49276798361577817" rpy="0 0 0"/>
            <geometry>
                <box size="0.9186566841277481 0.40277672301923173 0.9855359672315563" />
            </geometry>
        </collision>
    </link>
    <joint name="0_1" type="revolute">
       <parent link="0"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="0 0.35 0.7" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="2">
        <inertial>
            <origin xyz="0 0.26784471897258655 0.45437682940465857" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.26784471897258655 0.45437682940465857" rpy="0 0 0"/>
            <geometry>
                <box size="0.06050805818764249 0.5356894379451731 0.9087536588093171" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.26784471897258655 0.45437682940465857" rpy="0 0 0"/>
            <geometry>
                <box size="0.06050805818764249 0.5356894379451731 0.9087536588093171" />
            </geometry>
        </collision>
    </link>
    <joint name="1_2" type="revolute">
       <parent link="1"/>
       <child  link="2"/>
       <origin rpy="0 0 0" xyz="0 0.40277672301923173 0.9855359672315563" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>