<robot name = "robot">
    <link name="0">
        <inertial>
            <origin xyz="0 0 3" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 3" rpy="0 0 0"/>
            <geometry>
                <box size="1.5 1.5 0.8" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 3" rpy="0 0 0"/>
            <geometry>
                <box size="1.5 1.5 0.8" />
            </geometry>
        </collision>
    </link>
    <link name="1">
        <inertial>
            <origin xyz="-0.02792472499860571 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.02792472499860571 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.05584944999721142 0.5996320497015271 0.9307608834165315" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.02792472499860571 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.05584944999721142 0.5996320497015271 0.9307608834165315" />
            </geometry>
        </collision>
    </link>
    <joint name="0_1" type="revolute">
       <parent link="0"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="-0.75 0 3" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="2">
        <inertial>
            <origin xyz="-0.2031080009260699 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.2031080009260699 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4062160018521398 0.34241986978079 0.22628288354562054" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.2031080009260699 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4062160018521398 0.34241986978079 0.22628288354562054" />
            </geometry>
        </collision>
    </link>
    <joint name="1_2" type="revolute">
       <parent link="1"/>
       <child  link="2"/>
       <origin rpy="0 0 0" xyz="-0.05584944999721142 0 0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="3">
        <inertial>
            <origin xyz="0 0 -0.007626123909393212" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.007626123909393212" rpy="0 0 0"/>
            <geometry>
                <box size="0.08305104274540454 0.7340506019452964 0.015252247818786424" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.007626123909393212" rpy="0 0 0"/>
            <geometry>
                <box size="0.08305104274540454 0.7340506019452964 0.015252247818786424" />
            </geometry>
        </collision>
    </link>
    <joint name="2_3" type="revolute">
       <parent link="2"/>
       <child  link="3"/>
       <origin rpy="0 0 0" xyz="-0.2031080009260699 0 -0.11314144177281027" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="4">
        <inertial>
            <origin xyz="0 0 -0.6576491522315487" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.6576491522315487" rpy="0 0 0"/>
            <geometry>
                <box size="0.8903719027188457 0.7340441995109922 1.3152983044630975" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.6576491522315487" rpy="0 0 0"/>
            <geometry>
                <box size="0.8903719027188457 0.7340441995109922 1.3152983044630975" />
            </geometry>
        </collision>
    </link>
    <joint name="3_4" type="revolute">
       <parent link="3"/>
       <child  link="4"/>
       <origin rpy="0 0 0" xyz="0 0 -0.015252247818786424" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="5">
        <inertial>
            <origin xyz="0 0 -0.634724723859058" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.634724723859058" rpy="0 0 0"/>
            <geometry>
                <box size="0.6760816316452486 0.6217556645232919 1.269449447718116" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.634724723859058" rpy="0 0 0"/>
            <geometry>
                <box size="0.6760816316452486 0.6217556645232919 1.269449447718116" />
            </geometry>
        </collision>
    </link>
    <joint name="4_5" type="revolute">
       <parent link="4"/>
       <child  link="5"/>
       <origin rpy="0 0 0" xyz="0 0 -1.3152983044630975" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="6">
        <inertial>
            <origin xyz="0.2562293442577606 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.2562293442577606 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5124586885155212 0.027585499316428952 0.12903585459571354" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.2562293442577606 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5124586885155212 0.027585499316428952 0.12903585459571354" />
            </geometry>
        </collision>
    </link>
    <joint name="0_6" type="revolute">
       <parent link="0"/>
       <child  link="6"/>
       <origin rpy="0 0 0" xyz="0.75 0 3" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="7">
        <inertial>
            <origin xyz="0.4086432339773606 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.4086432339773606 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8172864679547212 0.24994713464980156 0.8040140905796318" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.4086432339773606 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8172864679547212 0.24994713464980156 0.8040140905796318" />
            </geometry>
        </collision>
    </link>
    <joint name="6_7" type="revolute">
       <parent link="6"/>
       <child  link="7"/>
       <origin rpy="0 0 0" xyz="0.5124586885155212 0 0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="8">
        <inertial>
            <origin xyz="0 0 -0.8753654903907788" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.8753654903907788" rpy="0 0 0"/>
            <geometry>
                <box size="0.5420606963629538 0.8989784306281234 1.7507309807815576" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.8753654903907788" rpy="0 0 0"/>
            <geometry>
                <box size="0.5420606963629538 0.8989784306281234 1.7507309807815576" />
            </geometry>
        </collision>
    </link>
    <joint name="7_8" type="revolute">
       <parent link="7"/>
       <child  link="8"/>
       <origin rpy="0 0 0" xyz="0.4086432339773606 0 -0.4020070452898159" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="9">
        <inertial>
            <origin xyz="0 0 -0.1613114794684011" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.1613114794684011" rpy="0 0 0"/>
            <geometry>
                <box size="0.7652858988198793 0.7633372065539059 0.3226229589368022" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.1613114794684011" rpy="0 0 0"/>
            <geometry>
                <box size="0.7652858988198793 0.7633372065539059 0.3226229589368022" />
            </geometry>
        </collision>
    </link>
    <joint name="8_9" type="revolute">
       <parent link="8"/>
       <child  link="9"/>
       <origin rpy="0 0 0" xyz="0 0 -1.7507309807815576" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="10">
        <inertial>
            <origin xyz="0 0 -0.26332303014082015" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.26332303014082015" rpy="0 0 0"/>
            <geometry>
                <box size="0.6654274561260632 0.7611049502366535 0.5266460602816403" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.26332303014082015" rpy="0 0 0"/>
            <geometry>
                <box size="0.6654274561260632 0.7611049502366535 0.5266460602816403" />
            </geometry>
        </collision>
    </link>
    <joint name="9_10" type="revolute">
       <parent link="9"/>
       <child  link="10"/>
       <origin rpy="0 0 0" xyz="0 0 -0.3226229589368022" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="11">
        <inertial>
            <origin xyz="0 -0.2716848547807384 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.2716848547807384 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7141447827209253 0.5433697095614768 0.31591264029114396" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.2716848547807384 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7141447827209253 0.5433697095614768 0.31591264029114396" />
            </geometry>
        </collision>
    </link>
    <joint name="0_11" type="revolute">
       <parent link="0"/>
       <child  link="11"/>
       <origin rpy="0 0 0" xyz="0 -0.75 3" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="12">
        <inertial>
            <origin xyz="0 -0.0021570639161770377 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.0021570639161770377 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5996387772773171 0.0043141278323540755 0.7249967498809692" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.0021570639161770377 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5996387772773171 0.0043141278323540755 0.7249967498809692" />
            </geometry>
        </collision>
    </link>
    <joint name="11_12" type="revolute">
       <parent link="11"/>
       <child  link="12"/>
       <origin rpy="0 0 0" xyz="0 -0.5433697095614768 0" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="13">
        <inertial>
            <origin xyz="0 0 -0.6307298578043327" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.6307298578043327" rpy="0 0 0"/>
            <geometry>
                <box size="0.06641009588133107 0.6598779512501691 1.2614597156086653" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.6307298578043327" rpy="0 0 0"/>
            <geometry>
                <box size="0.06641009588133107 0.6598779512501691 1.2614597156086653" />
            </geometry>
        </collision>
    </link>
    <joint name="12_13" type="revolute">
       <parent link="12"/>
       <child  link="13"/>
       <origin rpy="0 0 0" xyz="0 -0.0021570639161770377 -0.3624983749404846" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="14">
        <inertial>
            <origin xyz="0 0 -0.1108744093612541" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.1108744093612541" rpy="0 0 0"/>
            <geometry>
                <box size="0.4694770158840367 0.9861569066701112 0.2217488187225082" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.1108744093612541" rpy="0 0 0"/>
            <geometry>
                <box size="0.4694770158840367 0.9861569066701112 0.2217488187225082" />
            </geometry>
        </collision>
    </link>
    <joint name="13_14" type="revolute">
       <parent link="13"/>
       <child  link="14"/>
       <origin rpy="0 0 0" xyz="0 0 -1.2614597156086653" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="15">
        <inertial>
            <origin xyz="0 0 -0.5583957328344132" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.5583957328344132" rpy="0 0 0"/>
            <geometry>
                <box size="0.7538931950714465 0.7037943454250483 1.1167914656688265" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.5583957328344132" rpy="0 0 0"/>
            <geometry>
                <box size="0.7538931950714465 0.7037943454250483 1.1167914656688265" />
            </geometry>
        </collision>
    </link>
    <joint name="14_15" type="revolute">
       <parent link="14"/>
       <child  link="15"/>
       <origin rpy="0 0 0" xyz="0 0 -0.2217488187225082" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="16">
        <inertial>
            <origin xyz="0 0.31144203091123385 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.31144203091123385 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8858597951881896 0.6228840618224677 0.5802116596982738" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.31144203091123385 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8858597951881896 0.6228840618224677 0.5802116596982738" />
            </geometry>
        </collision>
    </link>
    <joint name="0_16" type="revolute">
       <parent link="0"/>
       <child  link="16"/>
       <origin rpy="0 0 0" xyz="0 0.75 3" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="17">
        <inertial>
            <origin xyz="0 0.33510511942122445 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.33510511942122445 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8072100099122572 0.6702102388424489 0.7010194729918033" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.33510511942122445 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8072100099122572 0.6702102388424489 0.7010194729918033" />
            </geometry>
        </collision>
    </link>
    <joint name="16_17" type="revolute">
       <parent link="16"/>
       <child  link="17"/>
       <origin rpy="0 0 0" xyz="0 0.6228840618224677 0" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="18">
        <inertial>
            <origin xyz="0 0 -1.1865797388812556" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -1.1865797388812556" rpy="0 0 0"/>
            <geometry>
                <box size="0.41941709426216256 0.845278760888357 2.373159477762511" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -1.1865797388812556" rpy="0 0 0"/>
            <geometry>
                <box size="0.41941709426216256 0.845278760888357 2.373159477762511" />
            </geometry>
        </collision>
    </link>
    <joint name="17_18" type="revolute">
       <parent link="17"/>
       <child  link="18"/>
       <origin rpy="0 0 0" xyz="0 0.33510511942122445 -0.35050973649590167" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="19">
        <inertial>
            <origin xyz="0 0 -0.005992784836676063" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.005992784836676063" rpy="0 0 0"/>
            <geometry>
                <box size="0.6612937422292399 0.9136067829957777 0.011985569673352126" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.005992784836676063" rpy="0 0 0"/>
            <geometry>
                <box size="0.6612937422292399 0.9136067829957777 0.011985569673352126" />
            </geometry>
        </collision>
    </link>
    <joint name="18_19" type="revolute">
       <parent link="18"/>
       <child  link="19"/>
       <origin rpy="0 0 0" xyz="0 0 -2.373159477762511" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="20">
        <inertial>
            <origin xyz="0 0 -0.10742747628206842" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.10742747628206842" rpy="0 0 0"/>
            <geometry>
                <box size="0.44863619004827104 0.3184483675427354 0.21485495256413684" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.10742747628206842" rpy="0 0 0"/>
            <geometry>
                <box size="0.44863619004827104 0.3184483675427354 0.21485495256413684" />
            </geometry>
        </collision>
    </link>
    <joint name="19_20" type="revolute">
       <parent link="19"/>
       <child  link="20"/>
       <origin rpy="0 0 0" xyz="0 0 -0.011985569673352126" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>