<robot name = "robot">
    <link name="0">
        <inertial>
            <origin xyz="0 0 0.35" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.35" rpy="0 0 0"/>
            <geometry>
                <box size="0.7 0.7 0.7" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.35" rpy="0 0 0"/>
            <geometry>
                <box size="0.7 0.7 0.7" />
            </geometry>
        </collision>
    </link>
    <link name="1">
        <inertial>
            <origin xyz="-0.27519448669764507 0 0.47530386140694814" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.27519448669764507 0 0.47530386140694814" rpy="0 0 0"/>
            <geometry>
                <box size="0.5503889733952901 0.283815494499562 0.9506077228138963" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.27519448669764507 0 0.47530386140694814" rpy="0 0 0"/>
            <geometry>
                <box size="0.5503889733952901 0.283815494499562 0.9506077228138963" />
            </geometry>
        </collision>
    </link>
    <joint name="0_1" type="revolute">
       <parent link="0"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="-0.35 0 0.7" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="2">
        <inertial>
            <origin xyz="-0.33267575710304476 0 0.29911789214081813" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.33267575710304476 0 0.29911789214081813" rpy="0 0 0"/>
            <geometry>
                <box size="0.6653515142060895 0.7404409879716287 0.5982357842816363" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.33267575710304476 0 0.29911789214081813" rpy="0 0 0"/>
            <geometry>
                <box size="0.6653515142060895 0.7404409879716287 0.5982357842816363" />
            </geometry>
        </collision>
    </link>
    <joint name="1_2" type="revolute">
       <parent link="1"/>
       <child  link="2"/>
       <origin rpy="0 0 0" xyz="-0.5503889733952901 0 0.9506077228138963" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="3">
        <inertial>
            <origin xyz="0.25452061916803126 0 0.19744372724732429" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.25452061916803126 0 0.19744372724732429" rpy="0 0 0"/>
            <geometry>
                <box size="0.5090412383360625 0.045524895624898476 0.39488745449464857" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.25452061916803126 0 0.19744372724732429" rpy="0 0 0"/>
            <geometry>
                <box size="0.5090412383360625 0.045524895624898476 0.39488745449464857" />
            </geometry>
        </collision>
    </link>
    <joint name="0_3" type="revolute">
       <parent link="0"/>
       <child  link="3"/>
       <origin rpy="0 0 0" xyz="0.35 0 0.7" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="4">
        <inertial>
            <origin xyz="0.3432847701260809 0 0.2659467081563182" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.3432847701260809 0 0.2659467081563182" rpy="0 0 0"/>
            <geometry>
                <box size="0.6865695402521618 0.8130583541501125 0.5318934163126364" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.3432847701260809 0 0.2659467081563182" rpy="0 0 0"/>
            <geometry>
                <box size="0.6865695402521618 0.8130583541501125 0.5318934163126364" />
            </geometry>
        </collision>
    </link>
    <joint name="3_4" type="revolute">
       <parent link="3"/>
       <child  link="4"/>
       <origin rpy="0 0 0" xyz="0.5090412383360625 0 0.39488745449464857" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="5">
        <inertial>
            <origin xyz="0 -0.2883402972416565 0.4383558687444765" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.2883402972416565 0.4383558687444765" rpy="0 0 0"/>
            <geometry>
                <box size="0.7579796670051155 0.576680594483313 0.876711737488953" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.2883402972416565 0.4383558687444765" rpy="0 0 0"/>
            <geometry>
                <box size="0.7579796670051155 0.576680594483313 0.876711737488953" />
            </geometry>
        </collision>
    </link>
    <joint name="0_5" type="revolute">
       <parent link="0"/>
       <child  link="5"/>
       <origin rpy="0 0 0" xyz="0 -0.35 0.7" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="6">
        <inertial>
            <origin xyz="0 -0.22269891472327524 0.3265098603399271" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.22269891472327524 0.3265098603399271" rpy="0 0 0"/>
            <geometry>
                <box size="0.5942962262479349 0.4453978294465505 0.6530197206798543" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.22269891472327524 0.3265098603399271" rpy="0 0 0"/>
            <geometry>
                <box size="0.5942962262479349 0.4453978294465505 0.6530197206798543" />
            </geometry>
        </collision>
    </link>
    <joint name="5_6" type="revolute">
       <parent link="5"/>
       <child  link="6"/>
       <origin rpy="0 0 0" xyz="0 -0.576680594483313 0.876711737488953" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="7">
        <inertial>
            <origin xyz="0 -0.00025270514636777097 0.3854369775505924" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.00025270514636777097 0.3854369775505924" rpy="0 0 0"/>
            <geometry>
                <box size="0.26434000466194685 0.0005054102927355419 0.7708739551011848" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.00025270514636777097 0.3854369775505924" rpy="0 0 0"/>
            <geometry>
                <box size="0.26434000466194685 0.0005054102927355419 0.7708739551011848" />
            </geometry>
        </collision>
    </link>
    <joint name="6_7" type="revolute">
       <parent link="6"/>
       <child  link="7"/>
       <origin rpy="0 0 0" xyz="0 -0.4453978294465505 0.6530197206798543" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="8">
        <inertial>
            <origin xyz="0 -0.3196027195807388 0.39396478346867864" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.3196027195807388 0.39396478346867864" rpy="0 0 0"/>
            <geometry>
                <box size="0.30377348366887436 0.6392054391614777 0.7879295669373573" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.3196027195807388 0.39396478346867864" rpy="0 0 0"/>
            <geometry>
                <box size="0.30377348366887436 0.6392054391614777 0.7879295669373573" />
            </geometry>
        </collision>
    </link>
    <joint name="7_8" type="revolute">
       <parent link="7"/>
       <child  link="8"/>
       <origin rpy="0 0 0" xyz="0 -0.0005054102927355419 0.7708739551011848" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="9">
        <inertial>
            <origin xyz="0 -0.18890862781279638 0.48727643801882675" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.18890862781279638 0.48727643801882675" rpy="0 0 0"/>
            <geometry>
                <box size="0.8806154250657772 0.37781725562559276 0.9745528760376535" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.18890862781279638 0.48727643801882675" rpy="0 0 0"/>
            <geometry>
                <box size="0.8806154250657772 0.37781725562559276 0.9745528760376535" />
            </geometry>
        </collision>
    </link>
    <joint name="8_9" type="revolute">
       <parent link="8"/>
       <child  link="9"/>
       <origin rpy="0 0 0" xyz="0 -0.6392054391614777 0.7879295669373573" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="10">
        <inertial>
            <origin xyz="0 0.08166062941995034 0.35152149430190555" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.08166062941995034 0.35152149430190555" rpy="0 0 0"/>
            <geometry>
                <box size="0.3101358811842231 0.16332125883990067 0.7030429886038111" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.08166062941995034 0.35152149430190555" rpy="0 0 0"/>
            <geometry>
                <box size="0.3101358811842231 0.16332125883990067 0.7030429886038111" />
            </geometry>
        </collision>
    </link>
    <joint name="0_10" type="revolute">
       <parent link="0"/>
       <child  link="10"/>
       <origin rpy="0 0 0" xyz="0 0.35 0.7" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="11">
        <inertial>
            <origin xyz="0 0.21157108622876225 0.3918361996082282" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.21157108622876225 0.3918361996082282" rpy="0 0 0"/>
            <geometry>
                <box size="0.7236917295544957 0.4231421724575245 0.7836723992164564" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.21157108622876225 0.3918361996082282" rpy="0 0 0"/>
            <geometry>
                <box size="0.7236917295544957 0.4231421724575245 0.7836723992164564" />
            </geometry>
        </collision>
    </link>
    <joint name="10_11" type="revolute">
       <parent link="10"/>
       <child  link="11"/>
       <origin rpy="0 0 0" xyz="0 0.16332125883990067 0.7030429886038111" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="12">
        <inertial>
            <origin xyz="0 0.21388880570039287 0.2598681889783259" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.21388880570039287 0.2598681889783259" rpy="0 0 0"/>
            <geometry>
                <box size="0.32329229512688584 0.42777761140078574 0.5197363779566518" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.21388880570039287 0.2598681889783259" rpy="0 0 0"/>
            <geometry>
                <box size="0.32329229512688584 0.42777761140078574 0.5197363779566518" />
            </geometry>
        </collision>
    </link>
    <joint name="11_12" type="revolute">
       <parent link="11"/>
       <child  link="12"/>
       <origin rpy="0 0 0" xyz="0 0.4231421724575245 0.7836723992164564" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>