<robot name = "robot">
    <link name="0">
        <inertial>
            <origin xyz="0 0 0.35" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.35" rpy="0 0 0"/>
            <geometry>
                <box size="0.7 0.7 0.7" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.35" rpy="0 0 0"/>
            <geometry>
                <box size="0.7 0.7 0.7" />
            </geometry>
        </collision>
    </link>
    <link name="1">
        <inertial>
            <origin xyz="-0.015624152259713309 0 0.049149756680360646" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.015624152259713309 0 0.049149756680360646" rpy="0 0 0"/>
            <geometry>
                <box size="0.031248304519426617 0.5186223668830535 0.09829951336072129" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.015624152259713309 0 0.049149756680360646" rpy="0 0 0"/>
            <geometry>
                <box size="0.031248304519426617 0.5186223668830535 0.09829951336072129" />
            </geometry>
        </collision>
    </link>
    <joint name="0_1" type="revolute">
       <parent link="0"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="-0.35 0 0.7" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="2">
        <inertial>
            <origin xyz="-0.08065979303594933 0 0.28459283099687044" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.08065979303594933 0 0.28459283099687044" rpy="0 0 0"/>
            <geometry>
                <box size="0.16131958607189867 0.44507249793901615 0.5691856619937409" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.08065979303594933 0 0.28459283099687044" rpy="0 0 0"/>
            <geometry>
                <box size="0.16131958607189867 0.44507249793901615 0.5691856619937409" />
            </geometry>
        </collision>
    </link>
    <joint name="1_2" type="revolute">
       <parent link="1"/>
       <child  link="2"/>
       <origin rpy="0 0 0" xyz="-0.031248304519426617 0 0.09829951336072129" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="3">
        <inertial>
            <origin xyz="0 -0.4311196611368276 0.045444770062494644" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.4311196611368276 0.045444770062494644" rpy="0 0 0"/>
            <geometry>
                <box size="0.2165742569743847 0.8622393222736552 0.09088954012498929" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.4311196611368276 0.045444770062494644" rpy="0 0 0"/>
            <geometry>
                <box size="0.2165742569743847 0.8622393222736552 0.09088954012498929" />
            </geometry>
        </collision>
    </link>
    <joint name="0_3" type="revolute">
       <parent link="0"/>
       <child  link="3"/>
       <origin rpy="0 0 0" xyz="0 -0.35 0.7" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="4">
        <inertial>
            <origin xyz="0 -0.1441673329553791 0.37525922424296176" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.1441673329553791 0.37525922424296176" rpy="0 0 0"/>
            <geometry>
                <box size="0.5235557347687718 0.2883346659107582 0.7505184484859235" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.1441673329553791 0.37525922424296176" rpy="0 0 0"/>
            <geometry>
                <box size="0.5235557347687718 0.2883346659107582 0.7505184484859235" />
            </geometry>
        </collision>
    </link>
    <joint name="3_4" type="revolute">
       <parent link="3"/>
       <child  link="4"/>
       <origin rpy="0 0 0" xyz="0 -0.8622393222736552 0.09088954012498929" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="5">
        <inertial>
            <origin xyz="0 -0.39838594878219025 0.09225960063619981" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.39838594878219025 0.09225960063619981" rpy="0 0 0"/>
            <geometry>
                <box size="0.4914840958655472 0.7967718975643805 0.18451920127239962" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.39838594878219025 0.09225960063619981" rpy="0 0 0"/>
            <geometry>
                <box size="0.4914840958655472 0.7967718975643805 0.18451920127239962" />
            </geometry>
        </collision>
    </link>
    <joint name="4_5" type="revolute">
       <parent link="4"/>
       <child  link="5"/>
       <origin rpy="0 0 0" xyz="0 -0.2883346659107582 0.7505184484859235" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="6">
        <inertial>
            <origin xyz="0 -0.47193494498318195 0.14186487650588503" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.47193494498318195 0.14186487650588503" rpy="0 0 0"/>
            <geometry>
                <box size="0.2605750827342822 0.9438698899663639 0.28372975301177006" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.47193494498318195 0.14186487650588503" rpy="0 0 0"/>
            <geometry>
                <box size="0.2605750827342822 0.9438698899663639 0.28372975301177006" />
            </geometry>
        </collision>
    </link>
    <joint name="5_6" type="revolute">
       <parent link="5"/>
       <child  link="6"/>
       <origin rpy="0 0 0" xyz="0 -0.7967718975643805 0.18451920127239962" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="7">
        <inertial>
            <origin xyz="0 0.4693556600679892 0.3834047730299927" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.4693556600679892 0.3834047730299927" rpy="0 0 0"/>
            <geometry>
                <box size="0.1657910280668976 0.9387113201359784 0.7668095460599854" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.4693556600679892 0.3834047730299927" rpy="0 0 0"/>
            <geometry>
                <box size="0.1657910280668976 0.9387113201359784 0.7668095460599854" />
            </geometry>
        </collision>
    </link>
    <joint name="0_7" type="revolute">
       <parent link="0"/>
       <child  link="7"/>
       <origin rpy="0 0 0" xyz="0 0.35 0.7" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="8">
        <inertial>
            <origin xyz="0 0.3139661003896751 0.17780853098313681" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.3139661003896751 0.17780853098313681" rpy="0 0 0"/>
            <geometry>
                <box size="0.7869331322949968 0.6279322007793502 0.35561706196627363" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.3139661003896751 0.17780853098313681" rpy="0 0 0"/>
            <geometry>
                <box size="0.7869331322949968 0.6279322007793502 0.35561706196627363" />
            </geometry>
        </collision>
    </link>
    <joint name="7_8" type="revolute">
       <parent link="7"/>
       <child  link="8"/>
       <origin rpy="0 0 0" xyz="0 0.9387113201359784 0.7668095460599854" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="9">
        <inertial>
            <origin xyz="0 0.3229313419206963 0.18597499730481498" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.3229313419206963 0.18597499730481498" rpy="0 0 0"/>
            <geometry>
                <box size="0.4221299952898083 0.6458626838413926 0.37194999460962996" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.3229313419206963 0.18597499730481498" rpy="0 0 0"/>
            <geometry>
                <box size="0.4221299952898083 0.6458626838413926 0.37194999460962996" />
            </geometry>
        </collision>
    </link>
    <joint name="8_9" type="revolute">
       <parent link="8"/>
       <child  link="9"/>
       <origin rpy="0 0 0" xyz="0 0.6279322007793502 0.35561706196627363" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>