<robot name = "robot">
    <link name="0">
        <inertial>
            <origin xyz="0 0 3" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 3" rpy="0 0 0"/>
            <geometry>
                <box size="1.5 1.5 0.8" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 3" rpy="0 0 0"/>
            <geometry>
                <box size="1.5 1.5 0.8" />
            </geometry>
        </collision>
    </link>
    <link name="1">
        <inertial>
            <origin xyz="-0.2914585371394709 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.2914585371394709 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5829170742789418 0.4448858713053012 0.5971477206738398" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.2914585371394709 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5829170742789418 0.4448858713053012 0.5971477206738398" />
            </geometry>
        </collision>
    </link>
    <joint name="0_1" type="revolute">
       <parent link="0"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="-0.75 0 3" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="2">
        <inertial>
            <origin xyz="-0.07253027438010506 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.07253027438010506 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.14506054876021013 0.6669715875095672 0.9947501681231934" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.07253027438010506 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.14506054876021013 0.6669715875095672 0.9947501681231934" />
            </geometry>
        </collision>
    </link>
    <joint name="1_2" type="revolute">
       <parent link="1"/>
       <child  link="2"/>
       <origin rpy="0 0 0" xyz="-0.5829170742789418 0 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="3">
        <inertial>
            <origin xyz="-0.45941624973315665 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.45941624973315665 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9188324994663133 0.21778762475937363 0.15726595975740432" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.45941624973315665 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9188324994663133 0.21778762475937363 0.15726595975740432" />
            </geometry>
        </collision>
    </link>
    <joint name="2_3" type="revolute">
       <parent link="2"/>
       <child  link="3"/>
       <origin rpy="0 0 0" xyz="-0.14506054876021013 0 0" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="4">
        <inertial>
            <origin xyz="-0.32420755584385574 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.32420755584385574 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6484151116877115 0.48221552978972604 0.16040809359437302" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.32420755584385574 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6484151116877115 0.48221552978972604 0.16040809359437302" />
            </geometry>
        </collision>
    </link>
    <joint name="3_4" type="revolute">
       <parent link="3"/>
       <child  link="4"/>
       <origin rpy="0 0 0" xyz="-0.9188324994663133 0 0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="5">
        <inertial>
            <origin xyz="-0.311693126820763 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.311693126820763 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.623386253641526 0.857516569731131 0.6451019471317052" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.311693126820763 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.623386253641526 0.857516569731131 0.6451019471317052" />
            </geometry>
        </collision>
    </link>
    <joint name="4_5" type="revolute">
       <parent link="4"/>
       <child  link="5"/>
       <origin rpy="0 0 0" xyz="-0.6484151116877115 0 0" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="6">
        <inertial>
            <origin xyz="0 0 -1.1891833943481458" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -1.1891833943481458" rpy="0 0 0"/>
            <geometry>
                <box size="0.1834006194977552 0.4303773111539747 2.3783667886962916" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -1.1891833943481458" rpy="0 0 0"/>
            <geometry>
                <box size="0.1834006194977552 0.4303773111539747 2.3783667886962916" />
            </geometry>
        </collision>
    </link>
    <joint name="5_6" type="revolute">
       <parent link="5"/>
       <child  link="6"/>
       <origin rpy="0 0 0" xyz="-0.311693126820763 0 -0.3225509735658526" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="7">
        <inertial>
            <origin xyz="0 0 -0.10330223642762967" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.10330223642762967" rpy="0 0 0"/>
            <geometry>
                <box size="0.973430220506652 0.04949790275308119 0.20660447285525935" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.10330223642762967" rpy="0 0 0"/>
            <geometry>
                <box size="0.973430220506652 0.04949790275308119 0.20660447285525935" />
            </geometry>
        </collision>
    </link>
    <joint name="6_7" type="revolute">
       <parent link="6"/>
       <child  link="7"/>
       <origin rpy="0 0 0" xyz="0 0 -2.3783667886962916" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="8">
        <inertial>
            <origin xyz="0 0 -0.007514369224224576" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.007514369224224576" rpy="0 0 0"/>
            <geometry>
                <box size="0.6988534941627814 0.8292708324092857 0.015028738448449153" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.007514369224224576" rpy="0 0 0"/>
            <geometry>
                <box size="0.6988534941627814 0.8292708324092857 0.015028738448449153" />
            </geometry>
        </collision>
    </link>
    <joint name="7_8" type="revolute">
       <parent link="7"/>
       <child  link="8"/>
       <origin rpy="0 0 0" xyz="0 0 -0.20660447285525935" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="9">
        <inertial>
            <origin xyz="0.16091448828648608 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.16091448828648608 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.32182897657297216 0.9667216200266605 0.026746201111199297" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.16091448828648608 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.32182897657297216 0.9667216200266605 0.026746201111199297" />
            </geometry>
        </collision>
    </link>
    <joint name="0_9" type="revolute">
       <parent link="0"/>
       <child  link="9"/>
       <origin rpy="0 0 0" xyz="0.75 0 3" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="10">
        <inertial>
            <origin xyz="0.17169705365354004 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.17169705365354004 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3433941073070801 0.311869337812962 0.6990627798632041" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.17169705365354004 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3433941073070801 0.311869337812962 0.6990627798632041" />
            </geometry>
        </collision>
    </link>
    <joint name="9_10" type="revolute">
       <parent link="9"/>
       <child  link="10"/>
       <origin rpy="0 0 0" xyz="0.32182897657297216 0 0" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="11">
        <inertial>
            <origin xyz="0.012257400702934407 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.012257400702934407 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.024514801405868814 0.3251352376559329 0.5580636012161649" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.012257400702934407 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.024514801405868814 0.3251352376559329 0.5580636012161649" />
            </geometry>
        </collision>
    </link>
    <joint name="10_11" type="revolute">
       <parent link="10"/>
       <child  link="11"/>
       <origin rpy="0 0 0" xyz="0.3433941073070801 0 0" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="12">
        <inertial>
            <origin xyz="0.18033974801111746 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.18033974801111746 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3606794960222349 0.4569603216795428 0.7292129933039275" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.18033974801111746 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3606794960222349 0.4569603216795428 0.7292129933039275" />
            </geometry>
        </collision>
    </link>
    <joint name="11_12" type="revolute">
       <parent link="11"/>
       <child  link="12"/>
       <origin rpy="0 0 0" xyz="0.024514801405868814 0 0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="13">
        <inertial>
            <origin xyz="0.0502841806367601 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0502841806367601 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.1005683612735202 0.05315900026208453 0.8195324496289543" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0502841806367601 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.1005683612735202 0.05315900026208453 0.8195324496289543" />
            </geometry>
        </collision>
    </link>
    <joint name="12_13" type="revolute">
       <parent link="12"/>
       <child  link="13"/>
       <origin rpy="0 0 0" xyz="0.3606794960222349 0 0" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="14">
        <inertial>
            <origin xyz="0 0 -0.6422189974265005" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.6422189974265005" rpy="0 0 0"/>
            <geometry>
                <box size="0.682199780915192 0.545973139396489 1.284437994853001" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.6422189974265005" rpy="0 0 0"/>
            <geometry>
                <box size="0.682199780915192 0.545973139396489 1.284437994853001" />
            </geometry>
        </collision>
    </link>
    <joint name="13_14" type="revolute">
       <parent link="13"/>
       <child  link="14"/>
       <origin rpy="0 0 0" xyz="0.0502841806367601 0 -0.40976622481447716" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="15">
        <inertial>
            <origin xyz="0 0 -0.3281283182542526" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.3281283182542526" rpy="0 0 0"/>
            <geometry>
                <box size="0.13757745005939181 0.4559135196930416 0.6562566365085052" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.3281283182542526" rpy="0 0 0"/>
            <geometry>
                <box size="0.13757745005939181 0.4559135196930416 0.6562566365085052" />
            </geometry>
        </collision>
    </link>
    <joint name="14_15" type="revolute">
       <parent link="14"/>
       <child  link="15"/>
       <origin rpy="0 0 0" xyz="0 0 -1.284437994853001" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="16">
        <inertial>
            <origin xyz="0 0 -0.329652684319247" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.329652684319247" rpy="0 0 0"/>
            <geometry>
                <box size="0.6463599535051919 0.7613119581903233 0.659305368638494" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.329652684319247" rpy="0 0 0"/>
            <geometry>
                <box size="0.6463599535051919 0.7613119581903233 0.659305368638494" />
            </geometry>
        </collision>
    </link>
    <joint name="15_16" type="revolute">
       <parent link="15"/>
       <child  link="16"/>
       <origin rpy="0 0 0" xyz="0 0 -0.6562566365085052" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="17">
        <inertial>
            <origin xyz="0 -0.06782286592007469 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.06782286592007469 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8058640574483312 0.13564573184014939 0.17693999658651338" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.06782286592007469 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8058640574483312 0.13564573184014939 0.17693999658651338" />
            </geometry>
        </collision>
    </link>
    <joint name="0_17" type="revolute">
       <parent link="0"/>
       <child  link="17"/>
       <origin rpy="0 0 0" xyz="0 -0.75 3" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="18">
        <inertial>
            <origin xyz="0 -0.07879909098975763 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.07879909098975763 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9886356431140311 0.15759818197951525 0.3770694143858925" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.07879909098975763 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9886356431140311 0.15759818197951525 0.3770694143858925" />
            </geometry>
        </collision>
    </link>
    <joint name="17_18" type="revolute">
       <parent link="17"/>
       <child  link="18"/>
       <origin rpy="0 0 0" xyz="0 -0.13564573184014939 0" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="19">
        <inertial>
            <origin xyz="0 -0.2790297045508181 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.2790297045508181 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.05625270443799335 0.5580594091016362 0.40722226658847216" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.2790297045508181 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.05625270443799335 0.5580594091016362 0.40722226658847216" />
            </geometry>
        </collision>
    </link>
    <joint name="18_19" type="revolute">
       <parent link="18"/>
       <child  link="19"/>
       <origin rpy="0 0 0" xyz="0 -0.15759818197951525 0" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="20">
        <inertial>
            <origin xyz="0 -0.4400398533037106 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.4400398533037106 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7750694650465623 0.8800797066074212 0.2198672998759612" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.4400398533037106 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7750694650465623 0.8800797066074212 0.2198672998759612" />
            </geometry>
        </collision>
    </link>
    <joint name="19_20" type="revolute">
       <parent link="19"/>
       <child  link="20"/>
       <origin rpy="0 0 0" xyz="0 -0.5580594091016362 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="21">
        <inertial>
            <origin xyz="0 -0.39231083857746013 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.39231083857746013 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9679157266934534 0.7846216771549203 0.5201705768595621" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.39231083857746013 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9679157266934534 0.7846216771549203 0.5201705768595621" />
            </geometry>
        </collision>
    </link>
    <joint name="20_21" type="revolute">
       <parent link="20"/>
       <child  link="21"/>
       <origin rpy="0 0 0" xyz="0 -0.8800797066074212 0" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="22">
        <inertial>
            <origin xyz="0 0 -1.0985356352111997" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -1.0985356352111997" rpy="0 0 0"/>
            <geometry>
                <box size="0.19268565407727312 0.7591972654647677 2.1970712704223994" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -1.0985356352111997" rpy="0 0 0"/>
            <geometry>
                <box size="0.19268565407727312 0.7591972654647677 2.1970712704223994" />
            </geometry>
        </collision>
    </link>
    <joint name="21_22" type="revolute">
       <parent link="21"/>
       <child  link="22"/>
       <origin rpy="0 0 0" xyz="0 -0.39231083857746013 -0.26008528842978107" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="23">
        <inertial>
            <origin xyz="0 0 -0.11899193185323172" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.11899193185323172" rpy="0 0 0"/>
            <geometry>
                <box size="0.9604903509613686 0.2233761031211441 0.23798386370646343" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.11899193185323172" rpy="0 0 0"/>
            <geometry>
                <box size="0.9604903509613686 0.2233761031211441 0.23798386370646343" />
            </geometry>
        </collision>
    </link>
    <joint name="22_23" type="revolute">
       <parent link="22"/>
       <child  link="23"/>
       <origin rpy="0 0 0" xyz="0 0 -2.1970712704223994" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="24">
        <inertial>
            <origin xyz="0 0 -0.08247243293556865" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.08247243293556865" rpy="0 0 0"/>
            <geometry>
                <box size="0.8720611124985372 0.39379783540412217 0.1649448658711373" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.08247243293556865" rpy="0 0 0"/>
            <geometry>
                <box size="0.8720611124985372 0.39379783540412217 0.1649448658711373" />
            </geometry>
        </collision>
    </link>
    <joint name="23_24" type="revolute">
       <parent link="23"/>
       <child  link="24"/>
       <origin rpy="0 0 0" xyz="0 0 -0.23798386370646343" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="25">
        <inertial>
            <origin xyz="0 0.20945782805795166 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.20945782805795166 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6839832594535322 0.4189156561159033 0.27043128052711796" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.20945782805795166 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6839832594535322 0.4189156561159033 0.27043128052711796" />
            </geometry>
        </collision>
    </link>
    <joint name="0_25" type="revolute">
       <parent link="0"/>
       <child  link="25"/>
       <origin rpy="0 0 0" xyz="0 0.75 3" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="26">
        <inertial>
            <origin xyz="0 0.24471321794854867 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.24471321794854867 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6192373646662367 0.48942643589709733 0.4612814063474181" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.24471321794854867 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6192373646662367 0.48942643589709733 0.4612814063474181" />
            </geometry>
        </collision>
    </link>
    <joint name="25_26" type="revolute">
       <parent link="25"/>
       <child  link="26"/>
       <origin rpy="0 0 0" xyz="0 0.4189156561159033 0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="27">
        <inertial>
            <origin xyz="0 0.32690702054406584 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.32690702054406584 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5241341057758905 0.6538140410881317 0.9831081556908627" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.32690702054406584 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5241341057758905 0.6538140410881317 0.9831081556908627" />
            </geometry>
        </collision>
    </link>
    <joint name="26_27" type="revolute">
       <parent link="26"/>
       <child  link="27"/>
       <origin rpy="0 0 0" xyz="0 0.48942643589709733 0" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="28">
        <inertial>
            <origin xyz="0 0.4322012211727669 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.4322012211727669 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.341773422940859 0.8644024423455338 0.029825683022599803" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.4322012211727669 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.341773422940859 0.8644024423455338 0.029825683022599803" />
            </geometry>
        </collision>
    </link>
    <joint name="27_28" type="revolute">
       <parent link="27"/>
       <child  link="28"/>
       <origin rpy="0 0 0" xyz="0 0.6538140410881317 0" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="29">
        <inertial>
            <origin xyz="0 0.3721673520741259 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.3721673520741259 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7457164704517998 0.7443347041482518 0.5630295819750541" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.3721673520741259 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.7457164704517998 0.7443347041482518 0.5630295819750541" />
            </geometry>
        </collision>
    </link>
    <joint name="28_29" type="revolute">
       <parent link="28"/>
       <child  link="29"/>
       <origin rpy="0 0 0" xyz="0 0.8644024423455338 0" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="30">
        <inertial>
            <origin xyz="0 0 -0.20346287157705228" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.20346287157705228" rpy="0 0 0"/>
            <geometry>
                <box size="0.12173466281380352 0.8280656852785885 0.40692574315410457" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.20346287157705228" rpy="0 0 0"/>
            <geometry>
                <box size="0.12173466281380352 0.8280656852785885 0.40692574315410457" />
            </geometry>
        </collision>
    </link>
    <joint name="29_30" type="revolute">
       <parent link="29"/>
       <child  link="30"/>
       <origin rpy="0 0 0" xyz="0 0.3721673520741259 -0.2815147909875271" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="31">
        <inertial>
            <origin xyz="0 0 -0.32057009392983105" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.32057009392983105" rpy="0 0 0"/>
            <geometry>
                <box size="0.7985554409040423 0.10169884949437935 0.6411401878596621" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.32057009392983105" rpy="0 0 0"/>
            <geometry>
                <box size="0.7985554409040423 0.10169884949437935 0.6411401878596621" />
            </geometry>
        </collision>
    </link>
    <joint name="30_31" type="revolute">
       <parent link="30"/>
       <child  link="31"/>
       <origin rpy="0 0 0" xyz="0 0 -0.40692574315410457" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="32">
        <inertial>
            <origin xyz="0 0 -0.7759670344931167" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.7759670344931167" rpy="0 0 0"/>
            <geometry>
                <box size="0.43618917764384557 0.6517721261175222 1.5519340689862333" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.7759670344931167" rpy="0 0 0"/>
            <geometry>
                <box size="0.43618917764384557 0.6517721261175222 1.5519340689862333" />
            </geometry>
        </collision>
    </link>
    <joint name="31_32" type="revolute">
       <parent link="31"/>
       <child  link="32"/>
       <origin rpy="0 0 0" xyz="0 0 -0.6411401878596621" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>