<robot name = "robot">
    <link name="0">
        <inertial>
            <origin xyz="0 0 0.35" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.35" rpy="0 0 0"/>
            <geometry>
                <box size="0.7 0.7 0.7" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.35" rpy="0 0 0"/>
            <geometry>
                <box size="0.7 0.7 0.7" />
            </geometry>
        </collision>
    </link>
    <link name="1">
        <inertial>
            <origin xyz="0.04807723063544789 0 0.35768240881773067" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.04807723063544789 0 0.35768240881773067" rpy="0 0 0"/>
            <geometry>
                <box size="0.09615446127089577 0.5940792219641848 0.7153648176354613" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.04807723063544789 0 0.35768240881773067" rpy="0 0 0"/>
            <geometry>
                <box size="0.09615446127089577 0.5940792219641848 0.7153648176354613" />
            </geometry>
        </collision>
    </link>
    <joint name="0_1" type="revolute">
       <parent link="0"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="0.35 0 0.7" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="2">
        <inertial>
            <origin xyz="0.4055411304539727 0 0.223399928787272" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.4055411304539727 0 0.223399928787272" rpy="0 0 0"/>
            <geometry>
                <box size="0.8110822609079454 0.7130088006022374 0.446799857574544" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.4055411304539727 0 0.223399928787272" rpy="0 0 0"/>
            <geometry>
                <box size="0.8110822609079454 0.7130088006022374 0.446799857574544" />
            </geometry>
        </collision>
    </link>
    <joint name="1_2" type="revolute">
       <parent link="1"/>
       <child  link="2"/>
       <origin rpy="0 0 0" xyz="0.09615446127089577 0 0.7153648176354613" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="3">
        <inertial>
            <origin xyz="0.47369295248102844 0 0.36987520370202076" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.47369295248102844 0 0.36987520370202076" rpy="0 0 0"/>
            <geometry>
                <box size="0.9473859049620569 0.7797743528747747 0.7397504074040415" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.47369295248102844 0 0.36987520370202076" rpy="0 0 0"/>
            <geometry>
                <box size="0.9473859049620569 0.7797743528747747 0.7397504074040415" />
            </geometry>
        </collision>
    </link>
    <joint name="2_3" type="revolute">
       <parent link="2"/>
       <child  link="3"/>
       <origin rpy="0 0 0" xyz="0.8110822609079454 0 0.446799857574544" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="4">
        <inertial>
            <origin xyz="0 -0.3729476100799341 0.22565441215655702" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.3729476100799341 0.22565441215655702" rpy="0 0 0"/>
            <geometry>
                <box size="0.8337779289158849 0.7458952201598682 0.45130882431311403" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.3729476100799341 0.22565441215655702" rpy="0 0 0"/>
            <geometry>
                <box size="0.8337779289158849 0.7458952201598682 0.45130882431311403" />
            </geometry>
        </collision>
    </link>
    <joint name="0_4" type="revolute">
       <parent link="0"/>
       <child  link="4"/>
       <origin rpy="0 0 0" xyz="0 -0.35 0.7" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>