<robot name = "robot">
    <link name="0">
        <inertial>
            <origin xyz="0 0 0.35" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.35" rpy="0 0 0"/>
            <geometry>
                <box size="0.7 0.7 0.7" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.35" rpy="0 0 0"/>
            <geometry>
                <box size="0.7 0.7 0.7" />
            </geometry>
        </collision>
    </link>
    <link name="1">
        <inertial>
            <origin xyz="-0.4248472122837917 0 0.11756430563224757" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.4248472122837917 0 0.11756430563224757" rpy="0 0 0"/>
            <geometry>
                <box size="0.8496944245675834 0.37091109876162176 0.23512861126449514" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.4248472122837917 0 0.11756430563224757" rpy="0 0 0"/>
            <geometry>
                <box size="0.8496944245675834 0.37091109876162176 0.23512861126449514" />
            </geometry>
        </collision>
    </link>
    <joint name="0_1" type="revolute">
       <parent link="0"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="-0.35 0 0.7" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="2">
        <inertial>
            <origin xyz="-0.4705837009549548 0 0.2764174673876623" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.4705837009549548 0 0.2764174673876623" rpy="0 0 0"/>
            <geometry>
                <box size="0.9411674019099096 0.05927678125168767 0.5528349347753246" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.4705837009549548 0 0.2764174673876623" rpy="0 0 0"/>
            <geometry>
                <box size="0.9411674019099096 0.05927678125168767 0.5528349347753246" />
            </geometry>
        </collision>
    </link>
    <joint name="1_2" type="revolute">
       <parent link="1"/>
       <child  link="2"/>
       <origin rpy="0 0 0" xyz="-0.8496944245675834 0 0.23512861126449514" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="3">
        <inertial>
            <origin xyz="-0.39318661955496026 0 0.3233433282436797" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.39318661955496026 0 0.3233433282436797" rpy="0 0 0"/>
            <geometry>
                <box size="0.7863732391099205 0.7096082697776753 0.6466866564873593" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.39318661955496026 0 0.3233433282436797" rpy="0 0 0"/>
            <geometry>
                <box size="0.7863732391099205 0.7096082697776753 0.6466866564873593" />
            </geometry>
        </collision>
    </link>
    <joint name="2_3" type="revolute">
       <parent link="2"/>
       <child  link="3"/>
       <origin rpy="0 0 0" xyz="-0.9411674019099096 0 0.5528349347753246" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="4">
        <inertial>
            <origin xyz="-0.15884128121640811 0 0.09947584449086028" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.15884128121640811 0 0.09947584449086028" rpy="0 0 0"/>
            <geometry>
                <box size="0.31768256243281623 0.005777515019331547 0.19895168898172055" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.15884128121640811 0 0.09947584449086028" rpy="0 0 0"/>
            <geometry>
                <box size="0.31768256243281623 0.005777515019331547 0.19895168898172055" />
            </geometry>
        </collision>
    </link>
    <joint name="3_4" type="revolute">
       <parent link="3"/>
       <child  link="4"/>
       <origin rpy="0 0 0" xyz="-0.7863732391099205 0 0.6466866564873593" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="5">
        <inertial>
            <origin xyz="-0.3789488995541462 0 0.16195920620742443" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.3789488995541462 0 0.16195920620742443" rpy="0 0 0"/>
            <geometry>
                <box size="0.7578977991082924 0.10541993730310628 0.32391841241484887" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.3789488995541462 0 0.16195920620742443" rpy="0 0 0"/>
            <geometry>
                <box size="0.7578977991082924 0.10541993730310628 0.32391841241484887" />
            </geometry>
        </collision>
    </link>
    <joint name="4_5" type="revolute">
       <parent link="4"/>
       <child  link="5"/>
       <origin rpy="0 0 0" xyz="-0.31768256243281623 0 0.19895168898172055" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="6">
        <inertial>
            <origin xyz="0 -0.22069241567871517 0.40377702244799324" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.22069241567871517 0.40377702244799324" rpy="0 0 0"/>
            <geometry>
                <box size="0.3796460641069499 0.44138483135743034 0.8075540448959865" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.22069241567871517 0.40377702244799324" rpy="0 0 0"/>
            <geometry>
                <box size="0.3796460641069499 0.44138483135743034 0.8075540448959865" />
            </geometry>
        </collision>
    </link>
    <joint name="0_6" type="revolute">
       <parent link="0"/>
       <child  link="6"/>
       <origin rpy="0 0 0" xyz="0 -0.35 0.7" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="7">
        <inertial>
            <origin xyz="0 0.09755187779236324 0.018006291825161003" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.09755187779236324 0.018006291825161003" rpy="0 0 0"/>
            <geometry>
                <box size="0.7172267132445189 0.19510375558472648 0.036012583650322005" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.09755187779236324 0.018006291825161003" rpy="0 0 0"/>
            <geometry>
                <box size="0.7172267132445189 0.19510375558472648 0.036012583650322005" />
            </geometry>
        </collision>
    </link>
    <joint name="0_7" type="revolute">
       <parent link="0"/>
       <child  link="7"/>
       <origin rpy="0 0 0" xyz="0 0.35 0.7" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="8">
        <inertial>
            <origin xyz="0 0.4443537769805203 0.06988139367966029" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.4443537769805203 0.06988139367966029" rpy="0 0 0"/>
            <geometry>
                <box size="0.8667519567392425 0.8887075539610406 0.13976278735932057" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.4443537769805203 0.06988139367966029" rpy="0 0 0"/>
            <geometry>
                <box size="0.8667519567392425 0.8887075539610406 0.13976278735932057" />
            </geometry>
        </collision>
    </link>
    <joint name="7_8" type="revolute">
       <parent link="7"/>
       <child  link="8"/>
       <origin rpy="0 0 0" xyz="0 0.19510375558472648 0.036012583650322005" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="9">
        <inertial>
            <origin xyz="0 0.3141853216109947 0.22616692249592862" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.3141853216109947 0.22616692249592862" rpy="0 0 0"/>
            <geometry>
                <box size="0.842249311668695 0.6283706432219894 0.45233384499185725" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.3141853216109947 0.22616692249592862" rpy="0 0 0"/>
            <geometry>
                <box size="0.842249311668695 0.6283706432219894 0.45233384499185725" />
            </geometry>
        </collision>
    </link>
    <joint name="8_9" type="revolute">
       <parent link="8"/>
       <child  link="9"/>
       <origin rpy="0 0 0" xyz="0 0.8887075539610406 0.13976278735932057" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="10">
        <inertial>
            <origin xyz="0 0.1830160399629469 0.16598953761775376" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.1830160399629469 0.16598953761775376" rpy="0 0 0"/>
            <geometry>
                <box size="0.11561038813131408 0.3660320799258938 0.3319790752355075" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.1830160399629469 0.16598953761775376" rpy="0 0 0"/>
            <geometry>
                <box size="0.11561038813131408 0.3660320799258938 0.3319790752355075" />
            </geometry>
        </collision>
    </link>
    <joint name="9_10" type="revolute">
       <parent link="9"/>
       <child  link="10"/>
       <origin rpy="0 0 0" xyz="0 0.6283706432219894 0.45233384499185725" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>