<robot name = "robot">
    <link name="0">
        <inertial>
            <origin xyz="0 0 3" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 3" rpy="0 0 0"/>
            <geometry>
                <box size="1.5 1.5 0.8" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 3" rpy="0 0 0"/>
            <geometry>
                <box size="1.5 1.5 0.8" />
            </geometry>
        </collision>
    </link>
    <link name="1">
        <inertial>
            <origin xyz="-0.016439584433132703 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.016439584433132703 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.03287916886626541 0.8816073052214638 0.638847895415852" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.016439584433132703 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.03287916886626541 0.8816073052214638 0.638847895415852" />
            </geometry>
        </collision>
    </link>
    <joint name="0_1" type="revolute">
       <parent link="0"/>
       <child  link="1"/>
       <origin rpy="0 0 0" xyz="-0.75 0 3" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="2">
        <inertial>
            <origin xyz="-0.059124792883801736 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.059124792883801736 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.11824958576760347 0.811772265094178 0.09873071016154034" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.059124792883801736 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.11824958576760347 0.811772265094178 0.09873071016154034" />
            </geometry>
        </collision>
    </link>
    <joint name="1_2" type="revolute">
       <parent link="1"/>
       <child  link="2"/>
       <origin rpy="0 0 0" xyz="-0.03287916886626541 0 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="3">
        <inertial>
            <origin xyz="-0.16726069842387709 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.16726069842387709 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.33452139684775417 0.5973991635620123 0.9908488195172858" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.16726069842387709 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.33452139684775417 0.5973991635620123 0.9908488195172858" />
            </geometry>
        </collision>
    </link>
    <joint name="2_3" type="revolute">
       <parent link="2"/>
       <child  link="3"/>
       <origin rpy="0 0 0" xyz="-0.11824958576760347 0 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="4">
        <inertial>
            <origin xyz="-0.17428894493344405 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.17428894493344405 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3485778898668881 0.11669921769681657 0.9386281189507533" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.17428894493344405 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.3485778898668881 0.11669921769681657 0.9386281189507533" />
            </geometry>
        </collision>
    </link>
    <joint name="3_4" type="revolute">
       <parent link="3"/>
       <child  link="4"/>
       <origin rpy="0 0 0" xyz="-0.33452139684775417 0 0" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="5">
        <inertial>
            <origin xyz="0 0 -0.1618493714398312" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.1618493714398312" rpy="0 0 0"/>
            <geometry>
                <box size="0.9384447456471212 0.36590546774130395 0.3236987428796624" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.1618493714398312" rpy="0 0 0"/>
            <geometry>
                <box size="0.9384447456471212 0.36590546774130395 0.3236987428796624" />
            </geometry>
        </collision>
    </link>
    <joint name="4_5" type="revolute">
       <parent link="4"/>
       <child  link="5"/>
       <origin rpy="0 0 0" xyz="-0.17428894493344405 0 -0.46931405947537663" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="6">
        <inertial>
            <origin xyz="0 0 -0.5075112099720227" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.5075112099720227" rpy="0 0 0"/>
            <geometry>
                <box size="0.8482627508988552 0.6460353899975478 1.0150224199440454" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.5075112099720227" rpy="0 0 0"/>
            <geometry>
                <box size="0.8482627508988552 0.6460353899975478 1.0150224199440454" />
            </geometry>
        </collision>
    </link>
    <joint name="5_6" type="revolute">
       <parent link="5"/>
       <child  link="6"/>
       <origin rpy="0 0 0" xyz="0 0 -0.3236987428796624" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="7">
        <inertial>
            <origin xyz="0 0 -0.6306394185881461" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.6306394185881461" rpy="0 0 0"/>
            <geometry>
                <box size="0.47798978911984746 0.0006336727051072799 1.2612788371762922" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.6306394185881461" rpy="0 0 0"/>
            <geometry>
                <box size="0.47798978911984746 0.0006336727051072799 1.2612788371762922" />
            </geometry>
        </collision>
    </link>
    <joint name="6_7" type="revolute">
       <parent link="6"/>
       <child  link="7"/>
       <origin rpy="0 0 0" xyz="0 0 -1.0150224199440454" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="8">
        <inertial>
            <origin xyz="0.4119214314594888 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.4119214314594888 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8238428629189776 0.8261664730735914 0.42059202290277087" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.4119214314594888 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8238428629189776 0.8261664730735914 0.42059202290277087" />
            </geometry>
        </collision>
    </link>
    <joint name="0_8" type="revolute">
       <parent link="0"/>
       <child  link="8"/>
       <origin rpy="0 0 0" xyz="0.75 0 3" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="9">
        <inertial>
            <origin xyz="0.2024936396619781 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.2024936396619781 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4049872793239562 0.017632386399169864 0.894274928262879" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.2024936396619781 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.4049872793239562 0.017632386399169864 0.894274928262879" />
            </geometry>
        </collision>
    </link>
    <joint name="8_9" type="revolute">
       <parent link="8"/>
       <child  link="9"/>
       <origin rpy="0 0 0" xyz="0.8238428629189776 0 0" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="10">
        <inertial>
            <origin xyz="0.23413305668094897 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.23413305668094897 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.46826611336189794 0.16947319468038724 0.11389301647256334" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.23413305668094897 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.46826611336189794 0.16947319468038724 0.11389301647256334" />
            </geometry>
        </collision>
    </link>
    <joint name="9_10" type="revolute">
       <parent link="9"/>
       <child  link="10"/>
       <origin rpy="0 0 0" xyz="0.4049872793239562 0 0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="11">
        <inertial>
            <origin xyz="0.45403646672115905 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.45403646672115905 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9080729334423181 0.4507517758662871 0.016449458763190372" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.45403646672115905 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9080729334423181 0.4507517758662871 0.016449458763190372" />
            </geometry>
        </collision>
    </link>
    <joint name="10_11" type="revolute">
       <parent link="10"/>
       <child  link="11"/>
       <origin rpy="0 0 0" xyz="0.46826611336189794 0 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="12">
        <inertial>
            <origin xyz="0 0 -0.0036710358575288817" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.0036710358575288817" rpy="0 0 0"/>
            <geometry>
                <box size="0.14005974942116528 0.38744078267244686 0.007342071715057763" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.0036710358575288817" rpy="0 0 0"/>
            <geometry>
                <box size="0.14005974942116528 0.38744078267244686 0.007342071715057763" />
            </geometry>
        </collision>
    </link>
    <joint name="11_12" type="revolute">
       <parent link="11"/>
       <child  link="12"/>
       <origin rpy="0 0 0" xyz="0.45403646672115905 0 -0.008224729381595186" />
     <axis xyz="1 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="13">
        <inertial>
            <origin xyz="0 0 -1.1226875653753121" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -1.1226875653753121" rpy="0 0 0"/>
            <geometry>
                <box size="0.366163481897104 0.885171595233245 2.2453751307506242" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -1.1226875653753121" rpy="0 0 0"/>
            <geometry>
                <box size="0.366163481897104 0.885171595233245 2.2453751307506242" />
            </geometry>
        </collision>
    </link>
    <joint name="12_13" type="revolute">
       <parent link="12"/>
       <child  link="13"/>
       <origin rpy="0 0 0" xyz="0 0 -0.007342071715057763" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="14">
        <inertial>
            <origin xyz="0 0 -0.173641398767159" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.173641398767159" rpy="0 0 0"/>
            <geometry>
                <box size="0.15359755907367567 0.263219442385618 0.347282797534318" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.173641398767159" rpy="0 0 0"/>
            <geometry>
                <box size="0.15359755907367567 0.263219442385618 0.347282797534318" />
            </geometry>
        </collision>
    </link>
    <joint name="13_14" type="revolute">
       <parent link="13"/>
       <child  link="14"/>
       <origin rpy="0 0 0" xyz="0 0 -2.2453751307506242" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="15">
        <inertial>
            <origin xyz="0 -0.3615856576800405 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.3615856576800405 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9486217820688599 0.723171315360081 0.27391651653769655" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.3615856576800405 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9486217820688599 0.723171315360081 0.27391651653769655" />
            </geometry>
        </collision>
    </link>
    <joint name="0_15" type="revolute">
       <parent link="0"/>
       <child  link="15"/>
       <origin rpy="0 0 0" xyz="0 -0.75 3" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="16">
        <inertial>
            <origin xyz="0 -0.1909413316183896 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.1909413316183896 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5167297004077714 0.3818826632367792 0.14569331623766657" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.1909413316183896 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5167297004077714 0.3818826632367792 0.14569331623766657" />
            </geometry>
        </collision>
    </link>
    <joint name="15_16" type="revolute">
       <parent link="15"/>
       <child  link="16"/>
       <origin rpy="0 0 0" xyz="0 -0.723171315360081 0" />
     <axis xyz="1 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="17">
        <inertial>
            <origin xyz="0 -0.4373414892171025 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.4373414892171025 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6496177045765203 0.874682978434205 0.8184844378085596" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.4373414892171025 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.6496177045765203 0.874682978434205 0.8184844378085596" />
            </geometry>
        </collision>
    </link>
    <joint name="16_17" type="revolute">
       <parent link="16"/>
       <child  link="17"/>
       <origin rpy="0 0 0" xyz="0 -0.3818826632367792 0" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="18">
        <inertial>
            <origin xyz="0 -0.4639581378990208 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.4639581378990208 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9808069588277571 0.9279162757980416 0.6023736523941419" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.4639581378990208 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9808069588277571 0.9279162757980416 0.6023736523941419" />
            </geometry>
        </collision>
    </link>
    <joint name="17_18" type="revolute">
       <parent link="17"/>
       <child  link="18"/>
       <origin rpy="0 0 0" xyz="0 -0.874682978434205 0" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="19">
        <inertial>
            <origin xyz="0 0 -0.8787349263120794" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.8787349263120794" rpy="0 0 0"/>
            <geometry>
                <box size="0.3295426203081846 0.973639158200957 1.7574698526241588" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.8787349263120794" rpy="0 0 0"/>
            <geometry>
                <box size="0.3295426203081846 0.973639158200957 1.7574698526241588" />
            </geometry>
        </collision>
    </link>
    <joint name="18_19" type="revolute">
       <parent link="18"/>
       <child  link="19"/>
       <origin rpy="0 0 0" xyz="0 -0.4639581378990208 -0.30118682619707093" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="20">
        <inertial>
            <origin xyz="0 0 -0.2036153885063912" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.2036153885063912" rpy="0 0 0"/>
            <geometry>
                <box size="0.6532207791356727 0.05852134014046295 0.4072307770127824" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.2036153885063912" rpy="0 0 0"/>
            <geometry>
                <box size="0.6532207791356727 0.05852134014046295 0.4072307770127824" />
            </geometry>
        </collision>
    </link>
    <joint name="19_20" type="revolute">
       <parent link="19"/>
       <child  link="20"/>
       <origin rpy="0 0 0" xyz="0 0 -1.7574698526241588" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="21">
        <inertial>
            <origin xyz="0 0 -0.21764968518152947" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.21764968518152947" rpy="0 0 0"/>
            <geometry>
                <box size="0.043407219734418634 0.44642601182987474 0.43529937036305894" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.21764968518152947" rpy="0 0 0"/>
            <geometry>
                <box size="0.043407219734418634 0.44642601182987474 0.43529937036305894" />
            </geometry>
        </collision>
    </link>
    <joint name="20_21" type="revolute">
       <parent link="20"/>
       <child  link="21"/>
       <origin rpy="0 0 0" xyz="0 0 -0.4072307770127824" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="22">
        <inertial>
            <origin xyz="0 0.4785662487366221 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.4785662487366221 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9963864522731841 0.9571324974732442 0.6042787472278616" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.4785662487366221 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.9963864522731841 0.9571324974732442 0.6042787472278616" />
            </geometry>
        </collision>
    </link>
    <joint name="0_22" type="revolute">
       <parent link="0"/>
       <child  link="22"/>
       <origin rpy="0 0 0" xyz="0 0.75 3" />
     <axis xyz="0 1 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="23">
        <inertial>
            <origin xyz="0 0.13062588943562137 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.13062588943562137 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.28827631344509475 0.26125177887124273 0.40043388026551907" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.13062588943562137 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.28827631344509475 0.26125177887124273 0.40043388026551907" />
            </geometry>
        </collision>
    </link>
    <joint name="22_23" type="revolute">
       <parent link="22"/>
       <child  link="23"/>
       <origin rpy="0 0 0" xyz="0 0.9571324974732442 0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="24">
        <inertial>
            <origin xyz="0 0.4628663686599469 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.4628663686599469 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.768648089802133 0.9257327373198938 0.2062098113129981" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.4628663686599469 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.768648089802133 0.9257327373198938 0.2062098113129981" />
            </geometry>
        </collision>
    </link>
    <joint name="23_24" type="revolute">
       <parent link="23"/>
       <child  link="24"/>
       <origin rpy="0 0 0" xyz="0 0.26125177887124273 0" />
     <axis xyz="1 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="25">
        <inertial>
            <origin xyz="0 0.1654941508192913 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.1654941508192913 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8938538864191449 0.3309883016385826 0.25858601993025976" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.1654941508192913 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.8938538864191449 0.3309883016385826 0.25858601993025976" />
            </geometry>
        </collision>
    </link>
    <joint name="24_25" type="revolute">
       <parent link="24"/>
       <child  link="25"/>
       <origin rpy="0 0 0" xyz="0 0.9257327373198938 0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="26">
        <inertial>
            <origin xyz="0 0 -0.5675611300622432" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.5675611300622432" rpy="0 0 0"/>
            <geometry>
                <box size="0.31117414818992317 0.5308320681513233 1.1351222601244864" />
            </geometry>
            <material name="Green">
                <color rgba="0 128 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.5675611300622432" rpy="0 0 0"/>
            <geometry>
                <box size="0.31117414818992317 0.5308320681513233 1.1351222601244864" />
            </geometry>
        </collision>
    </link>
    <joint name="25_26" type="revolute">
       <parent link="25"/>
       <child  link="26"/>
       <origin rpy="0 0 0" xyz="0 0.1654941508192913 -0.12929300996512988" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="27">
        <inertial>
            <origin xyz="0 0 -0.5631457368650649" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.5631457368650649" rpy="0 0 0"/>
            <geometry>
                <box size="0.5979753652162608 0.0691935855423329 1.1262914737301297" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.5631457368650649" rpy="0 0 0"/>
            <geometry>
                <box size="0.5979753652162608 0.0691935855423329 1.1262914737301297" />
            </geometry>
        </collision>
    </link>
    <joint name="26_27" type="revolute">
       <parent link="26"/>
       <child  link="27"/>
       <origin rpy="0 0 0" xyz="0 0 -1.1351222601244864" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="28">
        <inertial>
            <origin xyz="0 0 -0.169293133072692" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.169293133072692" rpy="0 0 0"/>
            <geometry>
                <box size="0.23237625087087266 0.08276684098471188 0.338586266145384" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 255 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.169293133072692" rpy="0 0 0"/>
            <geometry>
                <box size="0.23237625087087266 0.08276684098471188 0.338586266145384" />
            </geometry>
        </collision>
    </link>
    <joint name="27_28" type="revolute">
       <parent link="27"/>
       <child  link="28"/>
       <origin rpy="0 0 0" xyz="0 0 -1.1262914737301297" />
     <axis xyz="0 0 1"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
</robot>